[2017-06-17 19:06] leoba commented on #137
I did several hours of work on this but was not able to find a fix. The fix, I think, is somewhere in teihi.xsl and tplapparatus.xsl - around the hirend and hirend-print templates. I did have some luck adding supraline references parallel to diaeresis but those changes added unnecessary apparatus links to supraline references in the main text for reasons I wasn't able to suss out. I am going to gi

[2017-06-19 11:39] paregorios commented on #63
@wsalesky this is for the XSLT.

@rla2118 @rogerbagnall @HolgerEssler @jcowey unfortunately, the discussion above has ranged around the issue but not yet provided enough clarity for implementation. Please confirm or correct the following assertions (i.e., my best guesses regarding questions introduced above) regarding handling of ```<g type="apostrophe">``` in HTML transforms:

1. In the text itse

[2017-06-19 11:42] paregorios commented on #63
cc @jds15

[2017-06-19 12:06] rla2118 commented on #63
I'm fine with those assertions.

[2017-06-19 12:08] rogerbagnall commented on #63
I am also.

[2017-06-19 12:23] paregorios commented on #63
Thanks all.

@wsalesky, please see [above](https://github.com/DCLP/dclpxsltbox/issues/63#issuecomment-309415371)

[2017-06-19 13:52] jds15 commented on #63
Just seeing this now, but just to be clear:

these are all cases in which you mean to indicate that there is an ancient apostrophe on the papyrus, right? i only ask because there was a conflation lenis; so, want to make sure that this isn’t similar.

josh

--
Associate Professor in Class
ical Studies & History, Duke
University | Duke Collaborat
ory for Classics Computing |
Greek, Roman and Byzanti

[2017-06-19 14:00] jds15 commented on #63
If this indeed marks an ancient apostrophe, then I'd change Tom's formulation slightly, to:

1. In the text itself, enter παρ’<g type="apostrophe"/> and render παρ' (XSLT has to ignore <g type>

2. In the apparatus print παρ' papyrus.

3. XSLT has to ignore unicode '

Why? Because if I understand Tom's method assumes that where a scribe has written an apostrophe a modern editor will do the same; b

[2017-06-19 14:38] wsalesky commented on #137
@paregorios
I have found a few possible fixes... as usual.

Here are my questions that will help us resolve this in the best way.
First, the current rule for `hi/@rend='supraline'` does not use a macron (`&#772;`) it uses css to draw a line over a span element, resulting in the following output:
<img width="44" alt="screen shot 2017-06-19 at 10 18 18 am" src="https://user-images.githubusercontent.

[2017-06-19 14:42] wsalesky commented on #137
@paregorios 112 files are changed/affected
Here are a few:
[code]

[2017-06-19 15:05] wsalesky commented on #135
**XSLT changed:** `pn-xslt/metadata-dclp.xsl` and `pn-xslt/pi-functions.xsl`
I added grouping, sorting groups using a new function  `pn-xslt/pi-functions.xsl`  in `pi:bibl-type-order()` to follow the order requested above, and then sorting within each group by date.

**Branch**
`https://github.com/DCLP/navigator/tree/issue135-bis`

**Sample diff:**
[code]

@paregorios ready for review.

[2017-06-26 12:51] m-k-r opened #283 "epidoc-xslt from dclp causes http error 500"
using [epidoc-xslt from the dclp github repository](https://github.com/DCLP/epidoc-xslt) causes error 500 on text-preview and text-translation in the editor.
After switching back to the epidoc-xslt from the editor (papyri.info version 1755) both pages work as expected.

In webrick the error message is:

Java::JavaxXmlTransform::TransformerConfigurationException (net.sf.saxon.s9api.SaxonApiExceptio

[2017-06-27 10:37] rla2118 opened #284 "spiritus lenis falsely displayed when combined with circumflex and underdot"
This issue concerns http://www.litpap.info/dclp/65795.

At the beginning of col. 9, line 1, there is a display problem where circumflex+spiritus lenis is combined with an underdot
ε̣ῖ̣̣̓ν̣α̣
This spiritus (᾿) should appear below the circumflex, = ε̣ἶ̣ν̣α̣ι̣

[2017-06-27 14:36] paregorios commented on #284
I'll investigate.

[2017-06-27 15:42] rla2118 opened #285 "Biblio not reaching HTML from Editor"
This issue concerns

http://litpap.info/editor/publications/648/dclp_meta_identifiers/1335/edit
and
http://litpap.info/dclp/217929

In the editor, the biblio number (95345) is present and it appears in the XML as follows

[code]

In the HTML and prodo XML, however, it is absent.

[2017-06-27 15:50] rla2118 opened #286 "Commentary not working"
The commentary module is not functioning at all.  Clicking on it returns a blank page. See, e.g.,

http://litpap.info/editor/publications/651/dclp_text_identifiers/1342/commentary

[2017-06-27 21:20] paregorios commented on #264
@rla2118 has identified this capability as critical

[2017-06-27 21:21] paregorios commented on #264
I'm taking this ticket to drive conversation about what's needed.

[2017-06-29 04:54] rla2118 commented on #285
Just to follow up: part of the biblio record is now displaying for this record (http://litpap.info/dclp/217929).  It's only the article title, however, and not the author, journal, etc.

[2017-07-05 15:10] HolgerEssler opened #287 "Fragments from multiple collections belonging to the same TM-Number"
Collected from email conversation with Julia Luogovaya.

In case of multiple fragments which reside under one TM number we would like to have physical descriptions attached to each fragment. An example is http://www.trismegistos.org/ldab/text.php?tm=62913.

The suggestion is to expand our current scheme of using @corresp to address single fragments. Currently we can already assign a specific Name/

[2017-07-05 16:21] paregorios commented on #75
The desired Leiden+ syntax is:

[code]

[2017-07-05 17:29] paregorios commented on #287
per discussion this morining, unassigning and leaving on the backlog for now

[2017-07-07 12:50] wsalesky commented on #279
@jcowey Thoughts on the questions below?

1. Should the title found in the t:relatedItem[@type='appearsIn']/t:ptr take precedence over the t:title[@type='short-Checklist']?

Also, in this bibl record: https://github.com/papyri/idp.data/blob/master/Biblio/1/511.xml there are two titles:

1. Does the t:title/@type="short-BP" take precedence over the t:title/@type="main"?
2. Should t:title/@type="mai

[2017-07-07 14:18] wsalesky commented on #284
@paregorios The problematic display is due to extra string processing applied to text in `t:unclear`

See line: https://github.com/DCLP/idp.data/blob/master/DCLP/66/65795.xml#L221

In the HTML:
http://www.litpap.info/dclp/65795
The first word in the first line in column 9 displays incorrectly: `ε̣ῖ̣̣̓ν̣α̣`  and the first word in the second line displays correctly: `εἶναι`

The only difference is t

[2017-07-07 15:27] hcayless opened #288 "DCLP Browse/search not working on Atlantides"
I'm trying to set up DCLP on the ISAW Atlantides server, with mixed success. The pages are getting created, and at least partially indexed, but browsing doesn't work at all. The Apache config points at pages that were removed a few weeks ago. See https://github.com/DCLP/navigator/commit/bfa0219173ab655c7d4c34b8643e14fe7926aabc, but https://github.com/DCLP/navigator/commit/3f8d55a1f048c066098044285

[2017-07-07 15:48] paregorios commented on #288
@m-k-r can you provide answers to the above questions in this ticket? We are blocked on papyri.info  integration testing until we can get them answered. Thanks.

cc @rla2118 @rogerbagnall @jcowey @HolgerEssler @Edelweiss

[2017-07-07 18:20] paregorios commented on #283
@m-k-r I spoke this morning with @hcayless and @ryanfb. They had a couple of suggestions for making sure that the correct version of the XSLTs is being deployed for use with litpap.info. Specifically:

## For the Editor:

[DCLP:sosol/config/externals.yml](https://github.com/DCLP/sosol/blob/master/config/externals.yml) needs to be modified so that lines 6-9 read as follows:

[code]
The revision spe

[2017-07-07 18:21] paregorios commented on #283
cc @rla2118 @jcowey @rogerbagnall @Edelweiss @HolgerEssler

[2017-07-07 20:55] hcayless commented on #288
Think I figured it out. The script doesn't seem to work, but I was able to extract the Java command from it and run that to generate the files. Are we sure this is what we want for DCLP browsing?

[2017-07-07 21:54] jcowey commented on #288
The drop down menu is what we have used. It is not perfect and if it could be made to work in the same way as ddbdp it would be better. The categories series; tm number; authors and works are categories that are definitely wanted. Does that help and is it clear?

[2017-07-09 01:28] leoba opened #289 "Add "Diastole" to Leiden+ grammar"
Add "Diastole" to Leiden+ grammar.

[2017-07-09 01:30] leoba opened #290 "Add "Vertical stroke" to Leiden+ grammar"
Add "Vertical stroke" to Leiden+ grammar

[2017-07-09 01:32] leoba opened #291 "Add "Horizontal stroke" to Leiden+ grammar"
Add "Horizontal stroke" to Leiden+ grammar.

[2017-07-09 01:33] leoba opened #292 "Add "Drachma" to Leiden+ grammar"
Add "Drachma" to Leiden+ grammar.

[2017-07-09 01:34] leoba opened #293 "Add "ancient comma" to Leiden+ grammar"
Add "ancient comma" to Leiden+ grammar.

[2017-07-09 01:35] leoba opened #294 "Add "eisthesis" to Leiden+ grammar"
Add "eisthesis" to Leiden+ grammar.

[2017-07-09 01:36] leoba opened #295 "Add "ekthesis" to Leiden+ grammar"
Add "ekthesis" to Leiden+ grammar.

[2017-07-09 01:38] leoba opened #296 "Add "Line written centered" to Leiden+ grammar"
Add "Line written centered" to Leiden+ grammar.

[2017-07-09 01:39] leoba opened #297 "Add "Line written against the fibers" to Leiden+ grammar"
Add "Line written against the fibers" to Leiden+ grammar.

[2017-07-10 14:20] wsalesky opened #298 "Create branch to rebase DCLP pn-xslt files with papryi.info pn-xslt files"
Create branch to rebase DCLP pn-xslt files with papryi.info pn-xslt files, with the ultimate goal of having a single set of stylesheets running both DCLP and papryi.info data.

[2017-07-10 17:18] paregorios commented on #288
@rla2118 @rogerbagnall @HolgerEssler  please advise as to whether you want the drop-down menu for browsing or would prefer something more like ddbdp. Please note that there may not be time/resources available to implement anything different from what is already in place on litpap.info, but I think we should try to capture the preference in any case.

[2017-07-12 11:10] m-k-r commented on #288
I ran into this problem myself last week. This script assumes that saxon is exported in the classpath.
But if it was exported webrick doesn't work. A possible solution would be to provides saxon and call it by absolute path.

The navigator works for dclp the same way as for ddbdp, hgv or apis. The dropdown list is just an additional way to sort and categorize.

[2017-07-12 12:56] m-k-r commented on #288
saxon is already in [sosol](https://github.com/DCLP/sosol/tree/master/lib/java). Could this be used for the navigator or is it better to not have cross dependencies?

the exist-update script is called by [pn-sync](https://github.com/DCLP/navigator/blob/master/pn-sync/src/main/java/info/papyri/sync/Publisher.java#L110).
This way the dclp part is separated from papyri and can be replaced if another

[2017-07-12 13:15] hcayless commented on #288
Cross-dependencies aren't really the issue. SoSOL and the PN run in different containers, and pretty much have to because they have quite different resource usage profiles. The Editor is much more resource-intensive (because of JRuby its heap is basically a giant hairball of HashMaps), but the Navigator gets much more use and is much leaner, and we wouldn't want to have the Editor bring the whole

[2017-07-12 13:49] paregorios commented on #288
So what are the next steps here?

[2017-07-12 15:04] jcowey commented on #297
Line written against fibers should really go on the div and not each individual line. I do not fancy having to enter e.g. (1, against), (2, against), (3, against) etc for each and every line.
Are only going to encode (1, against) and not (1, with)?
The information is not in the category of @rend, I would have thought.
rend for ekthesis, eisthesis etc is a rendition of a line.
Lines against the fib

[2017-07-12 15:06] paregorios commented on #297
@jcowey that sounds sensible to me; we'll have to figure out how to encode

[2017-07-12 15:10] jcowey commented on #297
I am pretty sure that we had considered putting the info on the div at some stage in the past.
We have to tackle Leiden+ for divs because of xml:ids on divs.
So 1) what mark up do we use; 2) create the Leiden+ for it.

[2017-07-13 17:51] paregorios opened #299 "refactor epidoc-xslt to eliminate "example-p5-xslt" folder"
That top-level folder doesn't help anything and is getting in the way of easy deployments etc.

[2017-07-13 17:54] paregorios commented on #299
This issue is in work in DCLP:epidoc-xslt branch issue299

cc @rla2118 @wsalesky @hcayless @ryanfb @jcowey

[2017-07-13 18:01] paregorios commented on #299
[Pull request](https://github.com/DCLP/epidoc-xslt/pull/9) is now waiting for review from either @wsalesky or @hcayless

[2017-07-13 18:21] #299 closed

[2017-07-13 19:20] paregorios commented on #273
This sounds like a problem with the editor to me. Is that your impression @rla2118 @jcowey @Edelweiss? I've added the "editor" label based on that assumption.

[2017-07-13 19:21] paregorios commented on #270
This sounds to me like a problem with the mapping process. @hcayless would you concur? cc @jcowey @ryanfb

[2017-07-13 19:25] paregorios commented on #254
I don't understand what the problem or feature request is here. @rla2118 @jcowey please advise.

[2017-07-13 19:26] paregorios commented on #202
@hcayless for discussion downstream

[2017-07-13 19:27] paregorios commented on #162
@rla2118 please see above. Do you concur with closing this issue?

[2017-07-13 19:28] paregorios commented on #153
@jcowey given where we are in the project, I think we should mark this one as "priority low (defer)" and roll it to the backlog. Yes?

[2017-07-13 19:34] jcowey commented on #153
indeed, no problem

[2017-07-13 19:43] paregorios commented on #297
Tasks:

- [ ] determine target XML encoding
- [ ] determine desired Leiden+ syntax (since this is a change from the original line-by-line request and the associated syntax suggestion won't work for this ... we need to incorporate with the other variants on ```<div type="textpart">```.
- [ ] implement support in the grammar

[2017-07-13 19:50] paregorios commented on #296
Desired Leiden+:

[code]

Desired XML:

[code]

[2017-07-13 19:55] paregorios commented on #296
I cannot find any DDB or DCLP content that currently contains the XML markup in question, so I cannot test to see what the XML output is. I looked for xml files in which this regex matched: ```'rend\s*=\s*"centered'```.  This raises the question whether the recommended XML encoding (above) is TEI/EpiDoc appropriate.

Thoughts @leoba @wsalesky @hcayless @gabrielbodard @jds15 ?

[2017-07-13 20:02] paregorios opened #300 "clean up '<g type="ekthesis"/>' in XML"
A number of XML files have unexpected encoding like:

[code]

This is, to my understanding, wrong. What we want (per the long discussion archived on issue ) is xml like:

[code]

Unless there's something I'm not understanding ( @rla2118 @jcowey @HolgerEssler ? ), the XML files with the ```<g type="ekthesis"/>``` need to be converted.

[2017-07-13 20:02] paregorios commented on #300
This is a blocker for #295

[2017-07-13 20:03] paregorios commented on #295
blocked by #300

[2017-07-13 20:48] paregorios commented on #297
So, @jcowey I found this unattributed note in the LitPapText spreadsheet regarding the question of marking "across the fibers". Your thoughts?

[2017-07-14 02:28] wsalesky commented on #296
Wouldn't the `rend='centered'` make more sense on a `tei:ab` element?

[2017-07-14 07:54] jcowey commented on #296
The `tei:ab` element is not suitable in almost all cases. What we are having to deal with is lines in which the content (a letter, a word, several words) are `centered`. The next line within the same `ab` will then be normal, i.e. not centered and starting on the left hand side of the papyrus.

[2017-07-14 08:02] jcowey commented on #296
Since we have:
`<lb n="2" rend="perpendicular"/>`
`<lb n="8" rend="inverse"/>`
both of which refer to how the content of the line is rendered on the original, it seems to me that
`<lb n="1" rend="centered"/>`
would be consistent.

[2017-07-14 08:08] jcowey commented on #300
Yes the files in which `<g type="ekthesis"/>` appear should please be changed so that they then contain `<g type="outdent"/>`

[2017-07-17 15:58] paregorios commented on #300
@jcowey I think you mean ```<lb type="outdent"/>```, yes?

[2017-07-17 18:56] jcowey commented on #300
Yes, of course, I did. Sorry, slapped in a comment without thinking too much. :).

[2017-07-19 12:50] paregorios commented on #297
Per @jcowey and @rla2118 we need this, and it should be at a div level.

[2017-07-19 13:00] paregorios commented on #288
per @rla2118 and @jcowey the preference is to have DDB/HGV/APIS-style browse rather than the drop-down if at all possible. With the caveat that browse by authors+works, TM, and editions is essential.

[2017-07-19 13:02] paregorios commented on #288
Pinging @m-k-r and @hcayless RE my question above about what the tasks on this are now and also making reference to [my most recent comment](https://github.com/DCLP/dclpxsltbox/issues/288#issuecomment-316378317). Note priority upgrade.

[2017-07-19 13:07] paregorios commented on #282
@rla2118 and @jcowey to follow up with response/resolution of issues raised above by @jds15

[2017-07-19 13:12] paregorios commented on #279
@jcowey to respond

[2017-07-19 13:15] jcowey commented on #270
http://papyri.info/hgv/64347

[2017-07-19 13:19] paregorios commented on #255
closing as OBE

[2017-07-19 13:19] #255 closed

[2017-07-19 13:22] paregorios commented on #254
per @rla2118 the interface component that needs adjustment is:

<img width="779" alt="screen shot 2017-07-19 at 15 20 26" src="https://user-images.githubusercontent.com/263285/28368853-70fd66a2-6c5b-11e7-9a60-b3dd22e5f9fb.png">

[2017-07-19 13:25] paregorios commented on #254
question for @ryanfb and @hcayless and @m-k-r: where is the right place to make this change and what are the implications for eventual code-base merge? cc @wsalesky

[2017-07-19 13:26] paregorios commented on #164
per @rla2118 I will email @HolgerEssler about this

[2017-07-19 13:27] rla2118 commented on #162
Yes, I concur.

[2017-07-19 13:27] #162 closed

[2017-07-19 13:33] jcowey commented on #161
http://litpap.info/dclp/102801
http://litpap.info/dclp/112364
http://litpap.info/dclp/130167

[2017-07-19 13:36] #159 closed

[2017-07-19 13:45] paregorios commented on #158
per discussion with @rla2118 and @jcowey, the suggestion of ```<pc>``` sounds good, but implementation to be deferred with respect to higher priorities. There ought to be more research done on the meanings and symbols potentially involved in other examples, and that's not nearly as important as other things at this stage.

[2017-07-19 13:52] paregorios commented on #121
Task here is to find examples as discussed above and then figure out what encoding to change.

@wsalesky or @leoba is this something you could look into? If so, please self-assign and ask me any questions you have.

[2017-07-19 13:53] paregorios commented on #121
Blocker for #151

[2017-07-19 13:53] m-k-r commented on #283
The files are updated for the navigator in the master branch and for sosol in the development branch.
So far, nothing has changed.

[2017-07-19 13:53] paregorios commented on #151
Blocked for resolution of #121

[2017-07-19 13:55] paregorios commented on #142
@leoba @hcayless @gabrielbodard @wsalesky  do you think that the encoding suggestion made at the top of this ticket by @HolgerEssler is the right way to go in the XML?

[2017-07-19 14:01] m-k-r commented on #288
The DDB/HGV/APIS-style browse is already [working](http://litpap.info/browse/dclp/).

[2017-07-19 14:05] paregorios commented on #43
deferring per dependencies on #41 and #42, which have been deferred.

[2017-07-19 14:10] paregorios commented on #295
not blocked, this can go ahead

[2017-07-19 14:12] m-k-r commented on #254
[https://github.com/DCLP/sosol/blob/master/app/views/publications/advanced_create.haml](https://github.com/DCLP/sosol/blob/master/app/views/publications/advanced_create.haml#L20)
and
[https://github.com/DCLP/sosol/blob/master/app/views/publications/_create_from_pn_id_form.haml](https://github.com/DCLP/sosol/blob/master/app/views/publications/_create_from_pn_id_form.haml#L2l)

The first is yaml syn

[2017-07-19 14:12] paregorios commented on #164
per discussion @HolgerEssler to undertake when possible

[2017-07-19 14:17] paregorios commented on #215
per discussion @HolgerEssler to test, report back here, and reassign ticket thereafter to me

[2017-07-19 14:18] jcowey commented on #121
An example from papyri.info

https://github.com/papyri/idp.data/blob/master/DDB_EpiDoc_XML/p.bagnall/p.bagnall.7.xml#L63-L64:

[code]

[2017-07-19 14:18] paregorios commented on #149
assigning to @HolgerEssler for testing per discussion

[2017-07-19 14:20] paregorios commented on #139
per discussion assigning to @jcowey to resolve ambiguities about encoding and examples

[2017-07-19 14:22] paregorios commented on #134
no longer blocked by #120, which is resolved

[2017-07-19 14:34] paregorios commented on #283
@m-k-r thanks for the update. I will undertake to try to test again the XSLT locally today so we can try to get to a resolution of this issue.

[2017-07-19 14:49] paregorios commented on #288
Thanks @m-k-r . So I'm confused: what's all this about a drop-down and how it's different from the regular-style browse? And what are the other matters involved in this ticket (if any)?

@hcayless @m-k-r @jcowey can any of you help clarify?

[2017-07-19 15:06] m-k-r commented on #288
The dropdown menu was originally a dirty fix when the regular browsing wasn't working yet.
We kept the dropdown menu because the search picks up DCLP and DDBDP together and the dropdown menu only lists DCLP.

[2017-07-19 15:07] ryanfb commented on #288
I think one next step would be to move the [`pn-scripts/generateCorpusOverview.xsl`](https://github.com/DCLP/navigator/blob/master/pn-scripts/generateCorpusOverview.xsl) call out of the `exist-update.sh` script and into [`pn-indexer/src/info/papyri/indexer.clj`](https://github.com/DCLP/navigator/blob/master/pn-indexer/src/info/papyri/indexer.clj) (this may also require moving the XSL file itself i

[2017-07-19 15:51] paregorios commented on #288
@jcowey, @rla2118, and @rogerbagnall can you please comment on the observations and questions implied in @ryanfb's comment, immediately preceding? Thanks.

[2017-07-19 17:27] wsalesky commented on #270
@paregorios @jcowey The test environment is experiencing a similar issue. Not all of the related records are being processed. It is unclear to me why. @ryanfb or @hcayless any ideas?

[2017-07-19 19:18] rogerbagnall commented on #288
I don't have any comment on the technical questions at stake, but it's not obvious to me why the series view is essential. It may have value for someone else that I'm not aware of.

[2017-07-19 20:38] paregorios commented on #288
@jcowey and I discussed this on Skype. I'll be providing more clarity shortly.

[2017-07-19 20:59] paregorios opened #301 "linking separate documents on the same papyrus across DDB+HGV/DCLP divide"
A question for @rla2118 @jcowey @jds15 @rogerbagnall @hcayless @ryanfb ...

Consider the case of BGU 2 597. This papyrus seems to carry two documents, one presumably a case of reused whitespace:

 - First there's a letter, which has been assigned [TM 9253](http://www.trismegistos.org/text/9253) and has been treated by HGV+DDB: http://litpap.info/ddbdp/bgu;2;597
 - Then there's a hexameter, which h

[2017-07-19 21:03] paregorios commented on #262
It turns out that someone's already done what needed doing here, namely changing the oxygen schema directive to point at the "latest" version of the EpiDoc schema, rather than pinning to the down version. Closing because there's nothing left to do.

[2017-07-19 21:03] #262 closed

[2017-07-19 21:37] paregorios opened #302 "invalid XML has been committed to master for some Herculaneum texts"
The following XML files are currently invalid in DCLP/idp.data master:

 - TM 62384
 - TM 62393
 - TM 62499
 - TM 62500

Full transcript of errors generated by saxon during XML processing:

  SXXP0003: Error reported by XML parser: The element type "idno" must be terminated by the
  matching end-tag "</idno>".
org.xml.sax.SAXParseException; lineNumber: 38; columnNumber: 12; The element type "idno"

[2017-07-19 21:53] paregorios commented on #31
This ticket is now about the specific problem spotted by @rogerbagnall noted at the top of this ticket. I'll restate and annotate here:

Consider [TM 61438](https://github.com/DCLP/idp.data/blob/master/DCLP/62/61438.xml). Therein we find the following XML:

[code]

The corresponding bibliographic data is to be found in https://github.com/DCLP/idp.data/blob/master/Biblio/84/83747.xml:

[code]

But

[2017-07-19 22:03] paregorios commented on #135
resolved and merged

[2017-07-19 22:03] #135 closed

[2017-07-19 22:21] paregorios commented on #31
I've just retitled this ticket to indicate the (apparent) fact that there are other examples of this problem. I'm pulling one of them in from #285, which I intend to close as a duplicate for this one.

Consider the principal edition for TM 217929:

[code]

The corresponding biblio XML is:

[code]

The HTML output looks like:

![screen shot 2017-07-19 at 5 16 48 pm](https://user-images.githubuserco

[2017-07-19 22:22] paregorios commented on #285
It would appear that this is a duplicate for #31. I have transferred details there and am closing this ticket as a duplicate.

[2017-07-19 22:22] #285 closed

[2017-07-19 22:24] paregorios commented on #279
This is a duplicate for #31. I'm consolidating this information into that ticket and will reiterate the question for @jcowey there.

[2017-07-19 22:27] paregorios commented on #31
Another ticket arising from this same problem is #279, which I am about to close as duplicate. It was concerned with TM 61352. The solution for the problem has already been spelled out in #279, but @wsalesky has asked a couple of questions of @jcowey, which I will reiterate here so he can answer them:

[2017-07-19 22:28] paregorios commented on #279
Transferred info to #31. Closing this ticket as duplicate.

[2017-07-19 22:30] paregorios commented on #242
@jcowey have all the XML modifications you had in mind been implemented such that this ticket can be closed, or is there still work here to do?

[2017-07-19 22:32] paregorios commented on #218
@jcowey do you know or can you find out what the status of this work is? Are we waiting for things to be done or committed? What's the priority? Can we close this ticket? etc.

[2017-07-19 22:35] paregorios commented on #197
@m-k-r is this still a concern, or have other discussions with @hcayless and @ryanfb resolved the question? thanks.

[2017-07-19 22:36] paregorios commented on #197
cc @ryanfb

[2017-07-19 22:45] paregorios commented on #113
@jcowey this ticket is assigned to you. Can you address its status?

[2017-07-19 22:46] paregorios commented on #245
@jcowey do you know what needs to be done here?

[2017-07-19 23:55] rogerbagnall commented on #301
This is indeed a reasonable expectation. I haven't been in any discussions of how to handle this, but I think that the TM knowledge of the relationship is the key to a solution, as it has been pretty attentive to the relationships between texts and objects. That's not to claim that it will always have picked it up correctly, but I think in principle it tries to. If I'm mistaken, the others can cor

[2017-07-20 08:06] jcowey commented on #301
Just so that we are clear about what is on the **ONE** piece of papyrus.
There is a private letter on the recto with its accompanying address on the verso (http://litpap.info/hgv/9253 = http://papyri.info/hgv/9253: see also http://berlpap.smb.museum/01860/ for the distribution of the lines of these two components).
Also on the verso of the **ONE** piece of papyrus is one hexameter. It is written u

[2017-07-20 08:21] jcowey commented on #301
@paregorios, you brought up the fact that Trismegistos knows of the "reuse" of the above mentioned papyrus to write the hexameter.
That brings this issue into the area of the considerations raised by #259.

[2017-07-20 10:19] HolgerEssler commented on #149
Leiden+ Editor works fine with
http://litpap.info/dclp/60241
using ``[_ and _]`` in Leiden+ to produce
``<supplied evidence="parallel" reason="lost">`` in XML.
(e.g. at https://github.com/DCLP/idp.data/blob/master/DCLP/61/60241.xml#L103)
However there are other examples as
http://litpap.info/dclp/59332 where a different Leiden+ convention is used:
``[|_ and _|]`` to produce
``<supplied evidence="p

[2017-07-20 11:06] leoba commented on #142
If there are no concerns about overlapping markup between the sections of text, I see no reason why not to use `<seg corresp="Fragment_ID">` as @HolgerEssler suggests. I do feel as though I'd prefer a milestone element of some kind, acting as a divider pointing to both parts, but I don't see a way to do that using existing TEI elements and attributes. I think this is just a preference, though, and

[2017-07-20 11:52] HolgerEssler commented on #164
The additional data should be added with
https://github.com/DCLP/idp.data/commit/d523da3a1fb7e0bad08bd1a1eafa0b971c4cfcf3
However, it does not seem to have been merged since.

[2017-07-20 13:19] jcowey commented on #282
When Greek letters are used to indicate numbers I would prefer to see the use in DCLP of capital Greek letters to indicate that we are dealing with multiples of thousands (as we do in papyri.info for the documentary texts). It would then be consistent practice across ddbdp and dclp. If that decision were taken we would have to clean up a few files in DCLP and part of this problem would disappear.

[2017-07-20 17:51] rogerbagnall commented on #282
Agreed. Always use caps for thousands.

[2017-07-20 20:56] ryanfb commented on #301
So is the question whether `pn-mapping` should know/use the TM "reuse" metadata, if it has access to it, vs. using something in the XML itself as in #259? Maybe something could write the TM "reuse" metadata into our XML as a one-time (or periodic) process, and then `pn-mapping` could make use of that normally?

[2017-07-20 20:58] ryanfb commented on #259
Related to #301, it seems like whatever XML is decided on should have a corresponding XSLT in `pn-mapping` for the RDF conversion, so that the relation gets loaded into the triplestore (numbers server).

[2017-07-20 21:01] paregorios opened #303 "implement better top-level navigation"
This ticket has been split off from #288.

[2017-07-20 21:02] paregorios commented on #288
I think there are two related issues being discussed here:

1. As @hcayless put it above: "Are we sure this is what we want for DCLP browsing?"
2. How and where should the corresponding page generation code be implemented and executed.

I think this warrants two separate tickets. Accordingly, I am now proclaiming the current ticket (#288) to be about "how and where" (i.e., the technical aspects).

[2017-07-20 21:03] paregorios commented on #303
Resolution of this ticket is a blocker for #288.

[2017-07-20 21:05] paregorios commented on #303
The DCLP project has introduced new elements into the top-level navigation in order to facilitate access to DCLP content. A new link ("DCLP") has been added to the main menu bar, as is clear from comparison of these screen captures:

[2017-07-20 22:17] paregorios commented on #303
# Inadequacies, concerns, and suggested resolutions

## 1. "[ddbdp browse](http://litpap.info/browse/ddbdp/)" and "[dclp browse](http://litpap.info/browse/dclp/)" overlap

When one clicks through to the main "DDBDP" or the main "DCLP" browse pages, one is presented with a list of series represented in the corresponding collection. One then selects the link corresponding to the series of interest,

[2017-07-20 22:18] paregorios commented on #303
I invite comments from @rogerbagnall @rla2118 @jcowey @HolgerEssler and @jds15 on the recommendations laid out above. If we can get consensus on what you want to see, then we can move on to resolving the technical issues, including those in #288.

cc @hcayless @ryanfb @wsalesky @m-k-r

[2017-07-21 12:09] rogerbagnall commented on #303
Perhaps I am missing something, but I don't see in either recommended architecture an option for the user to decide whether to be looking for only DDbDP content, only DCLP content, or both. I thought we had talked about this at an early stage. Or is this applicable only to search? Recommendation 1 above does seem to apply this to browse, but I don't see how it fits into the diagram.

[2017-07-21 13:26] m-k-r commented on #197
This is still a concern.
With the sosol-navigator the xslt meta-preview doesn't work with the dclp-navigator the commentary.

Both times the error message is:
"Java::JavaxXmlTransform::TransformerConfigurationException (Failed to compile stylesheet. 1 error detected.):
net.sf.saxon.PreparedStylesheet.prepare(net/sf/saxon/PreparedStylesheet.java:249)"

[2017-07-21 14:30] ryanfb commented on #197
The only reason SoSOL locks a specific version of navigator is so that the external revision is locked within a release. I would think that https://github.com/DCLP/sosol/blob/master/config/externals.yml should point at https://github.com/dclp/navigator and a specific revision.

[2017-07-21 14:43] ryanfb commented on #254
@paregorios I think there are a few questions:

1. is the plan to have both litpap.info & papyri.info running side-by-side, or just merged/redirected to papyri.info?
2. does the numbers server and/or [`NumbersRDF::identifier_to_identifiers`](https://github.com/DCLP/sosol/blob/master/lib/numbers_rdf.rb) actually handle being given a litpap.info URI?
 3. what are we saying about the relationship bet

[2017-07-21 15:01] ryanfb commented on #134
Note that this should go in https://github.com/dclp/site-docs `leiden_plus.md`.

[2017-07-23 20:16] rla2118 commented on #278
Is there any way that this issue can be addressed before release?

[2017-07-23 20:17] rla2118 commented on #234
@HolgerEssler Does this problem persist?

[2017-07-23 20:21] rla2118 commented on #216
This appears to be resolved. I'm closing the issue.

[2017-07-23 20:21] #216 closed

[2017-07-23 20:23] rla2118 commented on #199
@jcowey Is this problem resolved?

[2017-07-23 20:25] rla2118 commented on #196
New translation files go missing once they are submitted to the board. This issue is not likely to be addressed before the first release.

[2017-07-23 20:27] rla2118 commented on #195
This now works. I'm closing the ticket.

[2017-07-23 20:27] #195 closed

[2017-07-23 20:51] rla2118 commented on #63
@paregorios I agree with jds15's amendment. How do you want to proceed with this?

[2017-07-24 02:51] wsalesky commented on #63
@rla2118 @paregorios
I can take care of this.

[2017-07-24 04:21] wsalesky commented on #63
@paregorios @rla2118 `t:g` does not trigger an apparatus entry, should it? If not, the code in this branch, should accomplish output in text and apparatus (when triggered by other apparatus elements) the suggestions by @jds15.

Branch: `https://github.com/DCLP/epidoc-xslt/tree/issue63`

**XSLT changed**
`epidoc-xslt/htm-teig.xsl`
Added:
`<xsl:param name="location" tunnel="yes" required="no"></xsl:

[2017-07-24 16:48] ryanfb commented on #270
Maybe this is happening because the processing/stylesheets associated with DDbDP in `pn-indexer` pick up and output the relationship, but the fallthrough processes/stylesheets for HGV don't? For example, http://litpap.info/dclp/61247 (which has the DCLP metadata) is from the generated HTML `DDB_EpiDoc_XML/bgu/bgu.6/bgu.6.1470.html`, while http://litpap.info/dclp/64347 (which doesn't have the DCLP

[2017-07-25 16:06] HolgerEssler commented on #215
The example above (i.e. TM number 59922) works fine and I tested some other files. In general the ``@correps`` seems to be catered for, but in some files there were still other problems that prevented opening them in Leiden+.

[2017-07-25 16:16] HolgerEssler commented on #176
@Edelweiss I am not sure what I shoud review - the spreadsheet or the single DCLP files.

[2017-07-25 18:40] HolgerEssler commented on #302
This should be solved now by the following commit
https://github.com/DCLP/idp.data/commit/c027df1470fb20be5dc983b1d309486923165a0f
@paregorios please check, if any problems persist.

[2017-07-26 15:05] rla2118 opened #304 "Remove Create New Publication button"
Because of problems we're experiencing with the "Create New Publication" feature in DCLP, it's probably best to remove the button from the Advanced Create page, http://litpap.info/editor/publications/advanced_create

[2017-07-26 15:21] paregorios commented on #304
Removing my assignment since this issue, per discussion in the weekly tagup, is to be handed by Marcel, who is already assigned.

[2017-07-26 15:33] m-k-r commented on #304
[comitted](https://github.com/DCLP/sosol/commit/3489cf922ef7f13d5bf43a4dbdd3b46e7cc34dbb) and tested on our testserver. I update litpap.info later this day when nobody is working on it.

[2017-07-27 08:13] rla2118 opened #305 "Hide surplus fields in author and works section of the editor"
From/to and certainty.

[2017-07-27 13:10] m-k-r commented on #304
Works on litpap.info. I think we can close this issue.

[2017-07-27 13:10] #304 closed

[2017-07-27 18:48] paregorios commented on #149
We now need consensus from the papryologists ( @jds15 @rla2118 @rogerbagnall ) regarding the suggestion made by @HolgerEssler immediately preceding, i.e., that we should dispense with the distinction between text supplied on the basis of a parallel **when text is lost** as opposed to text supplied on the basis of a parallel **when the reason for supplement is undefined.**

I was under the impressi

[2017-07-27 18:50] paregorios commented on #142
Since @leoba concurs and I have seen no objections, I propose that we accept the suggestion made by @HolgerEssler

@HolgerEssler do you know of a text to which this markup could be added relatively easily so that we can test behavior of XSLT and Leiden+?

Tom

[2017-07-27 18:54] rogerbagnall commented on #149
I'm baffled by this. What reason for a restoration would there be other than that the text is lost? Indeed, how could you restore text if nothing was lost?

[2017-07-27 18:56] paregorios commented on #164
@HolgerEssler what do you mean "it does not seem to have been merged since?"

I see the relevant lines in the XML files in the master branch, e.g. https://github.com/DCLP/idp.data/blob/master/DCLP/110/109360.xml#L83

[2017-07-27 19:00] paregorios commented on #282
@jcowey please clarify in two ways:

1. You want to see the text ENTERED with capital Greek letters (for thousands) or you want to see them entered however but ALWAYS have them OUTPUT BY XSLT in capitals?
2. I do not see that you have addressed whether you agree otherwise with the recommendation made by @jds15 at all.

Thanks

[2017-07-27 19:13] paregorios commented on #301
blocked by #259 per note from @jcowey , above

[2017-07-27 19:13] paregorios commented on #259
I am still waiting for a response to my question above regarding difficulty of implementation in the editor. Until we have that response, this ticket cannot move forward. Moreover, it should now be considered to be blocking #301.

[2017-07-27 19:14] paregorios commented on #259
@jcowey @rla2118 can you help me get an answer to my question, above?

[2017-07-27 19:18] paregorios commented on #303
@rogerbagnall search across/within collections is addressed in a separate ticket (#264) as indicated parenthetically and telegraphically above, sub "Inadequacies..." sub "1" sub "recommendations".

Can I get thumbs up or thumbs down on my suggestions above from the papyrologists ( @rogerbagnall @rla2118 @jcowey @HolgerEssler and @jds15 ) ? We're running out of runway to address this issue.

[2017-07-27 19:31] rogerbagnall commented on #303
I think I prefer the simplicity of option 1. The other recommendations seem OK to me.

[2017-07-27 20:06] paregorios commented on #197
@ryanfb and @wsalesky do you think that it would be possible for you to attempt to reduplicate in your test setup on atlantides the error that @m-k-r is seeing as described above?

[2017-07-27 20:08] paregorios commented on #254
@ryanfb answers to your questions:

1. we are attempting to see if we can do a full technical merge, but a decision won't be taken about committing to that until it's known whether it is technically possible at this time
2. how would I find out?
3. see number 1

[2017-07-27 20:16] paregorios commented on #278
@rla2118 do you have any preference for syntax to use in Leiden+ for line groups and lines? cc @jcowey @HolgerEssler @rogerbagnall @jds15

[2017-07-27 20:17] paregorios commented on #234
still waiting for a reply from @HolgerEssler to query from @rla2118 above

[2017-07-27 20:18] paregorios commented on #199
waiting for a reply from @jcowey to query from @rla2118 above

[2017-07-27 20:20] paregorios commented on #196
@rla2118 then should we mark it "priority low (defer)" and remove it from a milestone, or would you prefer some other disposition that maintains a mark of importance but still removes it from the "final release" milestone

[2017-07-27 20:29] paregorios commented on #63
@jds15 or @jcowey please clarify whether or not there should be whitespace in the XML between the Unicode apostrophe character and the ```<g type="apostrophe"/>``` element? So, for example, which of the following should we see in the XML:

[code]

(which is what I'm currently seeing in many files)

or

[code]

(which is what I would assume to be correct).

Once we get that question answered clearl

[2017-07-27 20:29] rogerbagnall commented on #278
I have no view on this.

[2017-07-27 21:36] HolgerEssler commented on #164
I did not see them before, but if the relevant lines are in the master branch now, I suggest closing this issue.

[2017-07-27 21:39] HolgerEssler commented on #303
I prefer option 1 as well.

[2017-07-27 23:48] wsalesky commented on #197
@ryanfb would you know how to do this?
@paregorios in the meantime, if there are any other errors messages, or log files (from saxon?) I could see if I could debug the issue remotely.

[2017-07-31 03:10] wsalesky commented on #197
@paregorios @ryanfb
Might the problem be here:
https://github.com/DCLP/sosol/blob/development/config/externals.yml#L13-L14

This is not using the DCLP navigator xslt. In which case the 'Failed to compile stylesheet' error makes sense.

[2017-08-01 09:38] m-k-r commented on #197
I figured it out.
The navigator for papyri sosol contains in the pn-xslt directory the content of epidoc-xslt.
This works with also the dclp navigator.

We have to create either a specific branch for the sosol navigator, or a new repository or or add the content of epidoc-xslt to pn-xslt to make this reproducable.

[2017-08-02 14:51] Edelweiss commented on #305
![bildschirmfoto 2017-08-02 um 16 43 46](https://user-images.githubusercontent.com/612862/28879576-cff220d8-77a2-11e7-8ca5-c730e4f35736.png)

[2017-08-02 14:56] Edelweiss commented on #305
![bildschirmfoto 2017-08-02 um 16 53 20](https://user-images.githubusercontent.com/612862/28879833-74e6faa0-77a3-11e7-8d03-748f0b0d5f50.png)

[2017-08-02 15:31] m-k-r commented on #286
This is resolved locally on litpap.
The error is connected to [Issue 197](https://github.com/DCLP/dclpxsltbox/issues/197).

[2017-08-02 15:36] m-k-r commented on #283
I narrowed down the error to the following files:

[htm-teig.xsl](https://github.com/DCLP/epidoc-xslt/blob/master/htm-teig.xsl)
[htm-teisupplied.xsl](https://github.com/DCLP/epidoc-xslt/blob/master/htm-teisupplied.xsl)
[teisupplied.xsl](https://github.com/DCLP/epidoc-xslt/blob/master/teisupplied.xsl)

[2017-08-03 14:11] m-k-r commented on #283
the error is in
[htm-teisupplied.xsl](https://github.com/DCLP/epidoc-xslt/blob/master/htm-teisupplied.xsl#L10)
[teisupplied.xsl](https://github.com/DCLP/epidoc-xslt/blob/master/teisupplied.xsl#L11)

the variable $collection is not defined.

[2017-08-03 14:15] #286 closed

[2017-08-03 15:24] paregorios commented on #283
@wsalesky do you have any bandwidth to look into this and see if you can adjust the stylesheets not to depend on the $collection variable at this level (i.e. in the epidoc-xslt)? We'd really like to have this working by Monday of next week (sorry!).

IIRC, MakeHTML.xsl looks at the $collection variable and does things in such a way as to not propagate that variable down to the templates defined in

[2017-08-03 15:26] paregorios commented on #197
@hcayless and @ryanfb can you guys comment on @m-k-r's note preceding, and suggest best approach?

[2017-08-03 15:27] paregorios commented on #305
@rla2118 please at your leisure assign priority and associate with a milestone (or not at your discretion).

[2017-08-03 15:35] #164 closed

[2017-08-03 15:36] paregorios commented on #149
@rla2118 @HolgerEssler @jcowey please respond to comment from @rogerbagnall immediately preceding.

[2017-08-03 15:37] paregorios commented on #215
thanks @HolgerEssler I'm going to close this ticket. Please open new tickets for any other problems you see, unless they are already addressed by open tickets.

[2017-08-03 15:37] #215 closed

[2017-08-03 15:48] wsalesky commented on #283
I will take a look tonight.

Sent from my iPhone

[2017-08-04 02:36] wsalesky commented on #283
@paregorios
**Relevant commit:**
https://github.com/DCLP/epidoc-xslt/commit/d2a9190ce546cb2d2ab5afd4567378375ef7f58f.

**Linked issue:**
https://github.com/DCLP/dclpxsltbox/issues/120

Key point, the issue does specify that this should not effect any collections other then DCLP.

The options as I see it are:

1. Handle this (collection specific display in of epidoc xslt output) via CSS. However th

[2017-08-04 21:34] paregorios commented on #283
I think there's a third option, already used where necessary in the EpiDoc stylesheets: the "leiden-style" parameter.

There is at present a "ddbdp" value used in some places for this variable when practice in rendering editorial sigla differs between the "Duke Databank of Documentary Papyri" (i.e., DDbDP == papyri.info). See the global-parameters.xml file for other values. For a behavior that is

[2017-08-04 21:35] paregorios commented on #283
cc @jcowey @HolgerEssler @rogerbagnall @hcayless @ryanfb

[2017-08-04 21:41] paregorios opened #306 "overlapping texts in DCLP and DDbDP"
From email from @rla2118:

there may be a conflict with the Duke data, http://www.papyri.info/ddbdp/sb;26;16458 . The Duke text (without Parma’s intro, comm., and extended app. crit.) is what appears in DCLP at http://www.litpap.info/dclp/64564. I would prefer to see the Parma text and metadata there.

@hermaion82 then followed up with this observation:

So a question for @hcayless and/or @ryanfb

[2017-08-04 21:44] paregorios commented on #306
Further commentary in another email from @hermaion82 👍

@hermaion82 can you provide a direct link to the spreadsheet in question? The "simplified link" in your email doesn't go directly to a spreadsheet.

[2017-08-04 21:44] paregorios commented on #306
cc @jds15 @rogerbagnall

[2017-08-04 21:46] paregorios commented on #306
I assume that what we want to see on a given HTML page in a DDBDP+DCLP combined papyri.info is *every* text available from every collection, plus *every* aspect of metadata from every collection. So, this issue is related to #270.

If I'm wrong about this assumption, someone should say so.

[2017-08-04 21:46] paregorios commented on #270
A related issue for texts is #306

[2017-08-04 23:15] wsalesky commented on #283
@paregorios I like the third option. I was not entirely sure what the `$leiden-style` parameter was used for, but it does seem to be the most appropriate option.

I do not think adding the new value to the` $leiden-style` parameter would be that much work, we would just need to add a `$leiden-style=("ddbdp","dclp")` to all current calls to `$leiden-style="ddbdp"` and then add the `$leiden-style="d

[2017-08-04 23:27] paregorios commented on #283
Great! Please proceed!

On Fri, Aug 4, 2017 at 6:15 PM Winona Salesky <notifications@github.com>
wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

Humanities Commons: @paregorios <https://hcommons.org/members/paregorios/>
OrcID: 0000-0002-4114-6677 <ht

[2017-08-04 23:56] rogerbagnall commented on #306
I agree with that assumption. It is, of course, possible that in a case like two different texts of a prescription, the DDbDP editorial board might wish to suppress its text in favor of that in DCLP if the latter is superior, but that will take time and probably not be a high priority. So displaying all data and metadata from both seems essential.

[2017-08-05 03:15] rla2118 commented on #283
I'm sorry but I'm not sure what this issue is about. Text preview looks ugly, we know that, but I can't reproduce the error.  If, however, there's an effective work around, then please go ahead.

[2017-08-05 03:23] rla2118 commented on #306
I spoke to James about this and we'd be inclined to suppressing the DDbDP text, to avoid multiple instances of single texts, which will skew search results.  This is a problem in PHI.

[2017-08-05 10:37] paregorios commented on #306
@rla2118 and @jcowey please elaborate. Do you imagine that the DDBDP text will be suppressed automagically (i.e., by code), or by editorial decision and implementation on a case-by-case basis as @rogerbagnall describes above?

cc @jds15

[2017-08-05 10:43] paregorios commented on #283
@rla2118 I imagine you're not seeing the error because @m-k-r is running a much earlier version of the XSLT transform on production (or so I understand him to indicate in his initial comment on this ticket). That's because the version we use in the navigator crashes in the editor (due, as @wsalesky has discovered, to some logic infelicities in the way we coded some unrelated changes).

[2017-08-05 13:42] m-k-r commented on #283
That's correct. At the moment it is:

editor: sosol development branch from july 31st.
navigator: dclp-navigator master branch with the copied dclp-epidoc-xslt
epidoc-xslt: papyri-epidoc with revision 1755

As long as dclp-epidoc only shows blank pages I think it is better to keep the papyri-epidoc

[2017-08-05 14:05] wsalesky commented on #283
@paregorios
New branches ready for review:

**navigator/pn-xslt**
Branch: https://github.com/DCLP/navigator/tree/issue283
Changes:  added the new `dclp` option to the leiden-style parameter in navigator/pn-xslt/pi-global-parameters.xml

**epidoc-xslt**
Branch: https://github.com/DCLP/epidoc-xslt/tree/issue283
Changes:
Added the new  `dclp` option to the leiden-style parameter
Added `dclp` to all l

[2017-08-06 21:00] rla2118 commented on #306
I'd say on a case-by-case basis.

[2017-08-06 21:25] m-k-r commented on #283
Works on testserver.
Should I deploy it on production?

[2017-08-07 11:21] paregorios commented on #283
I've merged the new code for epidoc-xslt and navigator to the master branch on both repositories; however, we still need to change the parameter value that the editor preview is using when it invokes the stylesheets. @m-k-r you can go ahead and update production with those branches, which will stop things crashing, but that still won't make editor preview match navigator HTML.

I don't know where

[2017-08-07 11:41] m-k-r commented on #283
These are the results for "leiden-style":
[https://github.com/DCLP/sosol/blob/development/app/models/dclp_text_identifier.rb](https://github.com/DCLP/sosol/blob/development/app/models/dclp_text_identifier.rb)
[https://github.com/DCLP/sosol/blob/development/app/models/publication.rb](https://github.com/DCLP/sosol/blob/development/app/models/publication.rb)
[https://github.com/DCLP/sosol/blob/develo

[2017-08-07 12:14] jcowey commented on #283
No rolling back or experiments while the workshop is ongoing. I scarcely need to say this but could not stop myself from doing so!

[2017-08-07 19:11] paregorios commented on #71
The LitPapText spreadsheet states that we want ```<milestone rend="diple"``` but there are a large number of texts already in the "DCLP" collection that use ```<g type="diple"/>```.  I prefer the use of ```<g>``` for this myself, because in the first instance this is a particular, visually distinctive mark.

Does anyone ( @rla2118 @jcowey @HolgerEssler @hermaion82 ) know why ```<milestone>``` was

[2017-08-07 19:12] paregorios commented on #71
cc @jds15 @hcayless @rogerbagnall

[2017-08-07 19:14] paregorios commented on #75
The LitPap spreadsheet imagines that we will use ```<milestone>``` for this, but we are already using ```<g>``` in the data. See also #171 for further discussion.

[2017-08-07 19:17] rogerbagnall commented on #75
I do not know anything about the origins of this issue.

[2017-08-07 19:25] jcowey commented on #71
Fairly sure that the decision to use milestone was because the diple often serves the function of breaking a text according to sense breaks, change of speaker etc. Maybe this is in another issues somewhere. I shall root around and see whether I can find anything

[2017-08-07 19:35] paregorios commented on #71
I fear this is tag abuse of ```<milestone>```. The [TEI Guidelines read](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-milestone.html):

and [again](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#CORS5):

Moreover, none of the examples correspond to actual characters or formatting being observed in the text being transcribed and edited. Viz: http://www.tei-c.org/release/doc/

[2017-08-07 19:44] paregorios opened #307 "capitalization and misspelling in <term>"
Extraction and comparison of unique values in ```<term>``` elements in DCLP data reveals a number of misspellings (and variant capitalization) that should be fixed. E.g.:

[code]

A full list:

[dclp-terms.txt](https://github.com/DCLP/dclpxsltbox/files/1205948/dclp-terms.txt)

[2017-08-07 19:45] paregorios commented on #307
@rla2118 please indicate what priority you would place on fixing this.

cc @rogerbagnall @jcowey @HolgerEssler @hermaion82

[2017-08-07 20:10] paregorios opened #308 "DCLP files that don't show up in navigator"
For example, there is an XML file for TM 75082, but if one visits http://litpap.info/dclp/75082 one only sees the corresponding HGV data.

[2017-08-07 20:14] paregorios opened #309 "combo box content in metadata editor is not alphabetical"
For example, in the DCLP metadata editor when editing bibliographic entries, there is a long list of possible values for the reference system. If these were to appear in alphabetical order, it would be easier to find and pick the one the user is looking for:

<img width="254" alt="screen shot 2017-08-07 at 4 12 44 pm" src="https://user-images.githubusercontent.com/263285/29043988-5d448b6a-7b8b-11e

[2017-08-07 20:14] paregorios commented on #309
@rla2118 please prioritize

cc @rogerbagnall, who reported this issue

[2017-08-07 21:15] HolgerEssler commented on #71
I suppose it was modelled on ``<milestone rend="paragraphos"`` for the reason James indicated, i.e. breaking a text according to sense breaks. Others might correct me, but from what I recall from our discussion we also wanted to distinguish between the two functions of diple (and other symbols):
a) used in the marging and within the lines as a symbol of various meanings -> g type
b) used between t

[2017-08-07 21:17] HolgerEssler commented on #75
I should follow the same lines as #71

[2017-08-07 21:20] HolgerEssler commented on #307
If we are only displaying this information, but do not use it for searching, I think it is not a high priority.

[2017-08-07 21:38] HolgerEssler commented on #142
I suggest http://litpap.info/dclp/59958, of which we have already a text with notes.

[2017-08-08 11:27] jcowey commented on #270
For the sake of recording instances of the inconsistency of display of metadata where there are two sources of differing metadata for the one piece/text.
http://litpap.info/dclp/75082
(O.Ont. Mus. 1 64)
displays data from "HGV_meta_EpiDoc" - defaulting to
https://github.com/DCLP/idp.data/blob/master/HGV_meta_EpiDoc/HGV76/75082.xml
rather than
https://github.com/DCLP/idp.data/blob/master/DCLP/76/75

[2017-08-08 12:21] paregorios commented on #63
ping @jds15 @jcowey cc @hcayless

If I don't hear back from one of you, I'm going to make a command decision about this on my own.

[2017-08-08 12:27] paregorios commented on #71
We previously started (but never finished) the diple encoding discussion in #74.

[2017-08-08 12:29] paregorios commented on #74
Further discussion in #71 (still without resolution on the encoding issue). I'm presently of the opinion that we should use ```<g type="diple"/>``` and decorate or wrap it to indicate function as necessary/interesting.

[2017-08-08 12:58] jcowey commented on #63
Repeating comment from @jds from 19 June

If this indeed marks an ancient apostrophe, then I'd change Tom's formulation slightly, to:
 * In the text itself, enter παρ’<g type="apostrophe"/>and render παρ' (XSLT has to ignore <g type>
 * In the apparatus print παρ' papyrus.
 *  XSLT has to ignore unicode '

Why? Because if I understand Tom's method assumes that where a scribe has written an apostro

[2017-08-08 13:08] jcowey commented on #63
I suppose insisting on NO whitespace as above could also be circumvented by making the display XSLT "clever"
In the case of
`<supplied reason="lost">π</supplied>αρ’ <g type="apostrophe"/> αὐ<unclear>τ</unclear>ό`
ignore `<g type="apostrophe"/>` and make sure that there is one whitespace between
`<supplied reason="lost">π</supplied>αρ’` and `αὐ<unclear>τ</unclear>ό`
for the text display

App displa

[2017-08-08 13:34] paregorios commented on #63
so @jcowey you'd never want to be able to encode a case where there *is* whitespace before the apostrophe? Or in that case would you insist on marking a vacat with ```<space>```?

[2017-08-08 13:49] jcowey commented on #63
Always wary of the word "never"! Whitespace before the apostrophe seems very unlikely, but your caution is probably good. Does that help?

[2017-08-08 15:18] HolgerEssler commented on #149
EpiDoc has also ``<supplied reason="omited">``, but I think with parallels there is no need to cater for a special reason="undefined" as opposed to/different from reason="lost".

[2017-08-08 15:24] paregorios opened #310 "image URLs with bare IP numbers"
Some of our image links have bare IP numbers (e.g., 163.1.169.40), rather than DNS names (clp.classics.ox.ac.uk). The bare numeric IPs should be edited to use the alpha DNS names wherever these exist.

[2017-08-08 15:27] HolgerEssler commented on #234
By now, it does not seem to occur any more.

[2017-08-08 15:36] paregorios commented on #63
Actually, I think the only reason (now having discussed it with @hermaion82) to abhor the space between the modern apostrophe and the ```<g>``` is that it might confuse a human reading the text. But there's no reason we shouldn't have the XSLT ignore the whitespace as @jcowey suggests.

[2017-08-08 15:36] HolgerEssler commented on #278
I suggest to use
``<verse=`` instead of the usual ``<=`` to express ``<lg>`` instead of ``<ab>``, e.g.
``<D=.1.column.<verse=``
that transforms to
``<div n="1" subtype="column" type="textpart"><lg>``
Within that block I would regularly use 1., 2. etc. for numbering lines with the difference that they do not transform to ``<lb/>`` (as they do now), but to ``<l>`` wrapped around the whole verse.

[2017-08-08 15:38] #234 closed

[2017-08-08 15:38] paregorios commented on #63
I'm taking this for testing.

[2017-08-08 15:42] HolgerEssler commented on #74
I concur with @paregorios that this would be the best solution in xml - the issue of how best to implement it in Leiden+ should probably be deferred.

[2017-08-08 16:05] ryanfb commented on #283
I've made a PR (above) against the DCLP `development` branch for this that just sets `leiden-style`. Do we also need to set any of the `apparatus-style`, `edn-structure`, or `css-loc` parameters as in DDB? See: https://github.com/DCLP/sosol/blob/development/app/models/ddb_identifier.rb#L358-L363

[2017-08-08 16:16] ryanfb commented on #197
It looks like on the DCLP `development` branch, `externals.yml` has been updated to point at DCLP XSLT: https://github.com/DCLP/sosol/blob/development/config/externals.yml

[2017-08-08 16:20] paregorios commented on #63
@wsalesky I'm using TM64473 for testing (first fragment A, line 27)

XML:
[code]

HTML generated by the code from issue63 branch is as I expect:
[code]

But we should also see an apparatus entry like:

[code]

or some such (I'm not sure what current apparatus code will do with the preceding ```<supplied>```).

So, to answer the question you asked above ("t:g does not trigger an apparatus entry, sh

[2017-08-08 16:26] ryanfb commented on #270
Here's the relevant explanation of the fall-through processing in `pn-indexer`: https://github.com/DCLP/navigator/blob/master/pn-indexer/src/info/papyri/indexer.clj#L7-L11

And associated code: https://github.com/DCLP/navigator/blob/master/pn-indexer/src/info/papyri/indexer.clj#L964-L981

I suspect that in all cases, as mentioned above, it's simply the HGV processing in `pn-indexer` not picking up

[2017-08-08 16:28] ryanfb commented on #306
There may be two separate places where this needs to be accounted for then, in both *display* as well as *search/indexing*.

[2017-08-08 17:37] paregorios commented on #307
#155 is the ticket for browse/search by genre/keyword

[2017-08-08 17:38] paregorios commented on #310
This is ugly but not (yet) breaking anything. Defer.

[2017-08-08 17:40] paregorios commented on #270
@jcowey has asked me to pull together a list of TMnumbers for texts for which we have both DCLP files and HGV metadata files, which I can do programmatically.

[2017-08-08 17:51] paregorios commented on #301
The ability to do this has arisen as a key desideratum of participants in the user workshop in NYC (August 2017).

[2017-08-08 17:52] paregorios commented on #259
@jcowey @rla2118 This has emerged as a significant concern of participants in the New York workshop.

[2017-08-08 19:10] paregorios opened #311 "illegal values in <objectDesc> "form" attribute cause errors in editor"
Some characters are prohibited from use in attribute values, but some illegal characters (e.g., "?") have been written into the "form" attribute on the ```<objectDesc>``` element in XML converted from LDAB (e.g., "roll?").

Files like this are invalid XML and shouldn't have been committed to the repository master branch without a successful attempt to validate them.

A user at the NYC workshop und

[2017-08-08 19:11] paregorios commented on #311
@jcowey @rla2118 please advise to whom this should be assigned for fixing

[2017-08-08 19:28] jcowey commented on #311
yes this is bad news - shall have this chased up tomorrow

[2017-08-08 19:29] jcowey commented on #311
which file was the one affected, so that it can be made available again?

[2017-08-08 19:40] paregorios commented on #311
We fixed the file in question manually by editing the metadata and just
removing the question mark. I will assemble a list of other offending
files.

T

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

Humanities Commons: @paregorios <https://hcommons.org/member

[2017-08-08 20:06] paregorios commented on #308
This is a duplicate for #270.

[2017-08-08 20:06] #308 closed

[2017-08-08 20:10] paregorios commented on #270
I think it is the case that when a particular papyrus is treated in HGV, DCLP, and DDBDP, then the information from all three collections is displayed. But when DDBDP does not treat the papyrus and only HGV and DCLP do, then HGV is the only thing displayed. This observation is consistent with what I think I understand from looking at the code pointed out by @ryanfb above.

[2017-08-08 20:11] paregorios commented on #270
Here's a list of the files represented in both HGV and DCLP. Note that it has not been filtered for those that are also treated by DDBDP (see preceding comment for context).

[pairs.txt](https://github.com/DCLP/dclpxsltbox/files/1209410/pairs.txt)

[2017-08-08 20:29] paregorios commented on #270
I'm unclear where to go from here. I think we've ascertained that there's a deficiency in how HGV records are handled vis-a-vis potentially matching DCLP records, but I'm unclear whether that's an XSLT failing (in navigator/pn-xslt) or a pn-indexer failing or something else involving the numbers server. Can @hcayless or @ryanfb suggest where I might look next?

[2017-08-08 21:12] ryanfb commented on #270
It looks like relations are built in `pn-indexer` (https://github.com/DCLP/navigator/blob/master/pn-indexer/src/info/papyri/indexer.clj#L570) by executing the SPARQL in `relation-query` against the Numbers Server: https://github.com/DCLP/navigator/blob/master/pn-indexer/src/info/papyri/indexer.clj#L368

Here's `relation-query` for http://papyri.info/ddbdp/bgu;6;1470 (our example that has DCLP meta

[2017-08-09 01:08] wsalesky commented on #63
@paregorios All occurrences of t:g? or just t:g[@type='apostrophe']

[2017-08-09 03:32] wsalesky commented on #63
@paregorios
The updated branch builds an apparatus entry for `t:g[@type='apostrophe']`

[2017-08-09 08:05] Edelweiss commented on #311
Validator versions:

SoSOL
http://www.stoa.org/epidoc/schema/8.22/tei-epidoc.rng

in eXist
/db/data/epidoc/schema/latest/tei-epidoc.rng

[2017-08-09 08:25] jcowey commented on #63
pretty sure that at this stage `t:g` should ONLY trigger apparatus when it is `t:g[@type='apostrophe']`
There are lots of `g types` that we do NOT want in the apparatus

[2017-08-09 08:27] Edelweiss commented on #311
Found one example

https://github.com/DCLP/idp.data/blob/master/DCLP/62/61362.xml#L34

[2017-08-09 08:51] Edelweiss opened #312 "Schema Update"
Update all DCLP EpiDoc xml files to schema 8.22 (current version in SoSOL editor) or 8.23 (latest schema on http://www.stoa.org/epidoc/schema/).

This comes from dealing with #311.

We currently have
[code]

[2017-08-09 10:57] Edelweiss commented on #273
In DCLP EpiDoc there is no specific xpath reserved for CWKB numbers (such as a TEI:idno).

The representation of CWKB numbers within EpiDoc is a URL inside a @ref attribute:

[code]

If you want to get rid of a CWKB number, you also have to remove the corresponding link.

If you don’t remove the URL, the editor will (for your convenience) restore the CWKB number from the given URL the next time yo

[2017-08-09 12:20] paregorios commented on #273
I will ask the users here at the workshop in NYC today which approach they would prefer.

[2017-08-09 12:20] Edelweiss commented on #273
Cool!

[2017-08-09 12:24] wsalesky commented on #63
Great. That matches current behavior.

[2017-08-09 12:24] paregorios commented on #312
I would prefer to see us take all files to http://www.stoa.org/epidoc/schema/latest/tei-epidoc.rng as discussed in #262, which I had closed because I thought this had been done comprehensively. Can we tell where the files came from that have the "xml-model" directive with the down-version URL in them? We can fix them in GitHub, but if they're coming in from an outside process/project (e.g., Würzbu

[2017-08-09 12:25] paregorios commented on #63
Yes, sorry, both @wsalesky and @jcowey are correct! ONLY trigger on g type apostrophe.

[2017-08-09 12:26] paregorios commented on #63
I will test.

[2017-08-09 14:08] ryanfb commented on #312
NB: The corresponding change should also be made in the SoSOL validator: https://github.com/DCLP/sosol/blob/master/lib/jruby_xml.rb#L144

Why `latest` instead of 8.23 (from #262)? I would caution against using `latest`, as any breaking change in EpiDoc will then no longer validate in the editor, which will disallow saving.

[2017-08-09 14:13] paregorios commented on #312
I’m ok with 8.23. Whatever we do, it should be made universal across all
the date.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

Humanities Commons: @paregorios <https://hcommons.org/members/paregorios/>
OrcID: 0000-0002-4114-6677 <http://orcid.org/0000-0002

[2017-08-09 16:34] paregorios commented on #273
Users here would prefer not to see the URLs at all.  Further, they recommend an interface that would look like this:

![dclp-authors-works](https://user-images.githubusercontent.com/263285/29132618-d1e5e99a-7cfe-11e7-8d38-1563fdda1355.png)

[2017-08-09 17:35] #279 closed

[2017-08-09 17:38] paregorios commented on #245
Multiple users at the NYC event have experienced the same problem with the editor that @rla2118 describes above, namely: attempting to change the type of a citation from "principal" to "reference" (or similar), saving the metadata, and then discovering that the change has not been made.

[2017-08-09 17:39] paregorios commented on #242
ping @jcowey please see query preceding

[2017-08-09 17:43] paregorios commented on #253
I have looked at the editor and this is complete. Closing.

[2017-08-09 17:43] #253 closed

[2017-08-09 18:07] paregorios opened #313 "apparently duplicate "principal" and "reference" editions in metadata"
Ticket #245 was originally about that problem, but it has been turned into a discussion of inability to change type of edition in the editor. I am moving the original concern -- which addresses problems in XML data -- to this new ticket so that it doesn't get lost in the shuffle.

I've stumbled across a couple of DCLP XML files in which both of the following appear:

 - a "Principal Edition" in a

[2017-08-09 18:13] paregorios commented on #313
Other examples can be found. Here's one ([TM66470](https://github.com/DCLP/idp.data/blob/de6ade3ada16976d3601d8e7a42a2d072d0b72e5/DCLP/67/66470.xml#L82)) in which the ```<bibl type="publication" subtype="principal">``` has no ```<ptr>``` to a biblio record, but the ```<bibl type="reference" subtype="principal">``` does have a ```<ptr>```. I note further that the one with the ```<ptr>``` does not h

[2017-08-09 18:16] paregorios commented on #313
@rla2118 @jcowey @HolgerEssler where this sort of thing occurs (presumably because of oddities in LDAB source or vagaries in the LDAB2EpiDoc crosswalk), is the expectation that users will note the redundancies and clean them up in the editor?

If not, does their need to be some sort of dragnet for these cases and a code cleanup effort organized against the XML?

[2017-08-09 18:29] paregorios opened #314 "some bibliographic references in XML are incompletely displayed in editor"
Consider [TM66470](https://github.com/DCLP/idp.data/blob/de6ade3ada16976d3601d8e7a42a2d072d0b72e5/DCLP/67/66470.xml#L82) in which we find the following XML:

[code]

This bibliographic information is rendered as follows in the editor:

<img width="680" alt="screen shot 2017-08-09 at 2 23 08 pm" src="https://user-images.githubusercontent.com/263285/29137466-6ae6e752-7d0e-11e7-8485-dc2e4d8c807b.png"

[2017-08-09 19:17] paregorios opened #315 "dclp metadata editor tab reads "HGV" instead of "meta" (or something)"
<img width="631" alt="screen shot 2017-08-09 at 3 16 33 pm" src="https://user-images.githubusercontent.com/263285/29139693-d040b888-7d15-11e7-9391-cff50cca85b3.png">

[2017-08-09 19:38] paregorios opened #316 "some entries have leading "=" in header in navigator"
E.g.: http://litpap.info/dclp/59495 (as http://dclp.github.io/dclpxsltbox/output/dclp/60/59495.html).

What's missing?

[2017-08-10 09:07] Edelweiss commented on #273
a few example author @refs that we currently have in the system:

- http://catalog.perseus.org/catalog/urn:cts:greekLit:tlg2643
- http://cwkb.org/author/id/97/rdf
- http://data.perseus.org/catalog/urn:cts:arabicLit:0150MuqatilIbnSulayman
- http://data.perseus.org/catalog/urn:cts:greekLit:tlg0001
- http://data.perseus.org/catalog/urn:cts:latinLit:phi0013
- http://data.perseus.org/catalog/urn:cts:la

[2017-08-10 09:16] Edelweiss commented on #273
examples for tei:title/@ref

- http://catalog.perseus.org/catalog/urn:cts:greekLit:tlg0006.tlg015
- http://cwkb.org/work/id/2032/rdf
- http://www.trismegistos.org/authorwork/25

[2017-08-10 14:32] m-k-r commented on #197
navigator and epidoc point now to the correct version.
[https://github.com/DCLP/sosol/commit/f2dc01049e2c1d6a31c2f8a00c9b8f0274dda807](https://github.com/DCLP/sosol/commit/f2dc01049e2c1d6a31c2f8a00c9b8f0274dda807)
But still you have to copy epidoc into navigator/pn-sync.

[2017-08-11 19:41] paregorios commented on #283
As the workshop is now over, I'd like to see us get this editor preview problem resolved as soon as possible.

@m-k-r are you able to review and accept @ryanfb's [pull request](https://github.com/DCLP/sosol/pull/1), noted above?

[2017-08-11 19:42] paregorios commented on #283
@ryanfb to answer your question, we need the same parameter settings that are used for DDB processing in the editor, with the exception of ```leiden-style```, which you have already addressed.

[2017-08-16 08:26] jcowey commented on #233
95050 appears to work fine for me. 79329 displays "P.Oxy. 76P.Oxy. 76"

[2017-08-16 10:50] jcowey commented on #231
This works for me. I am closing it.

[2017-08-16 10:50] #231 closed

[2017-08-16 10:55] jcowey commented on #228
This is now as desired. I am closing it.

[2017-08-16 10:55] #228 closed

[2017-08-16 12:20] paregorios commented on #283
It looks like @m-k-r has merged the pull request!

[2017-08-16 12:23] m-k-r commented on #283
I have accepted the pull request and tested it on our testserver. Seems fine so far.

[2017-08-16 13:03] hcayless commented on #270
Just looking at this in relation to getting browse working and @ryanfb's diagnosis looks spot on. If the DCLP doc is primary, the XSLT just ignores HGV and APIS. The Solr XSLT has the same problem (and I assume the text one as well). Fixing it.

[2017-08-16 13:11] hcayless commented on #270
Should be fixed in d785c8686f92fa53e31d60c0348044ba3094c115.

[2017-08-16 13:19] jcowey commented on #271
This now seems fine. I am closing.

[2017-08-16 13:19] #271 closed

[2017-08-16 13:22] jcowey commented on #217
Works now for me. I am closing.

[2017-08-16 13:22] #217 closed

[2017-08-16 13:24] jcowey commented on #233
This now works. eXist server had to be updated. As soon as that happened everything was OK.

[2017-08-16 13:24] #233 closed

[2017-08-16 13:26] paregorios commented on #270
@hcayless for some reason that commit hash didn't autolink. Was that a commit to DCLP master?

[2017-08-16 13:30] jcowey commented on #230
This is now OK. CLosing.

[2017-08-16 13:30] #230 closed

[2017-08-16 13:31] jcowey commented on #305
Has been done. Certainty and from to attributes no longer visible.

[2017-08-16 13:31] #305 closed

[2017-08-16 13:34] hcayless commented on #270
@paregorios it was. I forgot y'all keep your issues in a separate repo.

[2017-08-16 13:40] paregorios commented on #137
After discussing with @wsalesky I agree that we should produce Unicode combining stroke above in both the text and apparatus as appropriate, rather than using CSS.

[2017-08-16 13:57] jcowey commented on #196
In order to provide a package with editor code which functions without any problem we should "grey out" the "create translation" button. At present a translation can be created, voted on but NOT finalized. This means that any file with translation presumably cannot be finalized.
We will have to decide upon whether translations are saved to the only DCLP file (with metadata and text - that would be

[2017-08-16 14:02] jcowey commented on #137
Underlying mark up remains the same. XSLT is changed to produce different output. Correct?

[2017-08-16 14:04] rogerbagnall commented on #196
If it means having translation functionality sooner, then I would opt for the papyri.info system. I do not think there will be lots of cases of competing translations; but if there are, this does not seem much of a problem. We allow multiple translations in papyri.info, don't we?

[2017-08-16 14:05] wsalesky commented on #137
@jcowey That is correct. The change will be in how the HTML is rendered, no changes to the XML.

[2017-08-16 14:17] jcowey commented on #196
In papyri.info there are translations which come from APIS:
papyri.info/ddbdp/p.mich;5;226
They are marked as such and live in the APIS repository
papyri.info/apis/michigan.apis1352/source
(editable through the APIS interface)
one could also add an translation through the editor for Text, Metadata and Translations in papyri.info. Such a translation would then be saved to
https://github.com/papyri/

[2017-08-16 14:18] jcowey commented on #137
Thanks @wsalesky

[2017-08-16 14:51] paregorios commented on #165
per discussion with @jcowey in absence of such data, we are deferring this ticket.

[2017-08-16 15:31] jcowey commented on #312
We will now validate to 8.23.

[2017-08-16 15:36] paregorios commented on #199
Closing. Superseded by #283

[2017-08-16 15:36] #199 closed

[2017-08-16 15:38] jcowey commented on #283
Marcel please deploy as soon as possible.

[2017-08-16 15:44] paregorios commented on #197
@hcayless this is the issue that @m-k-r was raising during our skype call this morning. I think I actually muddied the waters with my attempted clarification of same.

@m-k-r now that I see this, I don't think you need to open a new ticket as @jcowey and I requested. Instead we just need to follow up your questions here.

@ryanfb when you are back I'd like to talk to you about this.

[2017-08-16 15:46] paregorios commented on #197
I think what needs doing here (@ryanfb please confirm/expand/correct) is making sure that the correct epidoc-xslt gets checked out during the setup along with the navigator xslt and that it's all in the right place.

[2017-08-16 15:49] paregorios commented on #116
Have discussed with @jcowey. This needs serious encoding research. Moving to post-release concerns.

[2017-08-16 15:59] jcowey commented on #113
Pretty sure that this is fixed, please check

[2017-08-16 16:01] jcowey commented on #218
Make sure that Hugh get these commits added to papyri.info/biblio

[2017-08-16 16:03] paregorios commented on #31
/me to clarify based on conversation earlier today with @jcowey

[2017-08-16 16:04] #302 closed

[2017-08-16 16:05] paregorios commented on #264
@hcayless this is one of the things you're looking at now, right?

[2017-08-16 16:08] paregorios commented on #139
/me to add comments and resolution here based on outcome of conversation today with @jcowey

[2017-08-16 16:15] paregorios commented on #149
/me to add comments from discussion with @jcowey (i.e., keeping the distinction and why) and then move out of final release milestone.

[2017-08-16 16:20] paregorios commented on #121
Because of the encoding changes and tack-on XSLT etc. this is going to have to be punted beyond final release.

[2017-08-16 16:28] paregorios commented on #282
/me to add clarification notes and assign for resolution.

[2017-08-16 16:31] paregorios commented on #288
questions on #303 are now sorted so this issue is no longer blocked. Over to @hcayless to decide disposition of this ticket in light of what he's working on.

[2017-08-16 17:33] m-k-r commented on #197
To clarify the problem:

[https://github.com/DCLP/sosol/blob/development/script/setup#L19](https://github.com/DCLP/sosol/blob/development/script/setup#L19) creates the external dependencies which are defined in [https://github.com/DCLP/sosol/blob/development/config/externals.yml](https://github.com/DCLP/sosol/blob/development/config/externals.yml).

These files are already configured for dclp.
The

[2017-08-16 21:27] paregorios commented on #237
a mechanism for this has been implemented by @ryanfb and @wsalesky

[2017-08-16 21:27] #237 closed

[2017-08-16 21:28] paregorios commented on #220
/me to check current status

[2017-08-16 21:31] paregorios commented on #220
I can confirm that the CSS change made above is indeed in DCLP/sosol master branch, so as long as that is what's running at litpap.info, the CSS change should be in place.

@jcowey can you please check to see if this is now working on litpap?

[2017-08-16 21:33] paregorios commented on #209
There is not time to conduct this research task before the "Final Release" milestone.

[2017-08-16 21:37] paregorios commented on #189
This does not yet appear to have been fixed in the XML. @jcowey please determine whether this should and can be addressed before "Final Release" or whether it should be deferred to the "post-final projects" milestone.

[2017-08-16 21:58] paregorios commented on #180
The example files now validate against EpiDoc schema 8.23.

[2017-08-16 21:58] #180 closed

[2017-08-16 22:21] paregorios commented on #179
They are valid.

[2017-08-16 22:21] #179 closed

[2017-08-16 22:24] paregorios commented on #175
Unfortunately, we don't have the bandwidth to undertake this modification/extension to the editor, so I am moving this ticket to the post-release milestone.

[2017-08-16 22:25] paregorios commented on #173
The open tasks above are for me to run down. I suspect they are all dealt with now in other tickets.

[2017-08-16 22:26] paregorios commented on #152
This is for me to review.

[2017-08-16 22:29] paregorios commented on #141
This now works in the editor at litpap.info.

[2017-08-16 22:29] #141 closed

[2017-08-16 22:29] paregorios commented on #136
This is for me to address so we can decide whether to move forward or to defer.

[2017-08-16 22:30] paregorios commented on #115
This is for me to address so we can decide whether to move forward now or to defer.

[2017-08-16 22:33] paregorios commented on #56
I am still unclear as to what is meant by "round brackets" and whether these are to be understood as glyphs or marks or figures that actually appear on the papyri or whether they are sigla used by modern editors in editions. As we don't have clarity, I am moving this to the post-release milestone so we can concentrate on other priorities.

[2017-08-16 22:34] paregorios commented on #6
This is for me to address to assess current editor and XSLT behavior.

[2017-08-16 23:03] hcayless commented on #136
FYI plain old `<sic>` is how we handle cruces in the DLL guidelines, so @leoba's suggestion is totally consistent with practice there.

[2017-08-17 00:49] rogerbagnall commented on #56
Round brackets, or parentheses as we say in English, appear in both roles. They are a Leiden convention editorial marking for abbreviations and the like, but they are also used with an entirely different function in papyri, both documentary and literary. To be sure, telling the difference between round and square in papyri is not always easy, but they do exist as ancient signs. Because the use of

[2017-08-17 01:37] wsalesky commented on #137
@paregorios Actually this solution will not work, because some of the 'supralinear' text is a string of characters not a single character.

Example:  https://github.com/DCLP/idp.data/blob/master/DCLP/141/140276.xml#L162

`<hi rend="supraline">λεία</hi>`

Current HTML rendering:
http://litpap.info/dclp/140276

The other solution is to output html tags in the `hirend` template. I will give that a tr

[2017-08-17 08:54] jcowey commented on #220
The XML functions properly, but the "Legacy Display Name" field does not disappear.

[2017-08-17 09:37] jcowey commented on #278
This is not going to happen quickly as it is relatively complex. I suggest to you @paregorios punting this to post merge projects

[2017-08-17 09:40] jcowey commented on #176
@HolgerEssler - this is going to have to wait. I shall get back to you after the merge of DCLP and papyri.info has taken place.
The task is probably not too big but I need to have a look at the state of play first. That is not going to happen in the next ten days.

[2017-08-17 09:57] jcowey commented on #218
This needs care to make sure that all updates are taken care of.

[2017-08-17 14:26] hcayless opened #317 "Malformed dclp-hybrid values"
There are 233 DCLP documents that have broken dclp-hybrid `<idno>` values. A full list can be found at https://gist.github.com/hcayless/0c99cb6af2b27239f397ca854e52e677. They all seem to be P.Herc. docs.

This error prevents correct indexing of the documents for search.

[2017-08-17 14:42] ryanfb commented on #309
It's difficult to tell where exactly these values are coming from. It seems to be here https://github.com/DCLP/sosol/blob/master/public/javascripts/dclp.js#L121-L184 or here https://github.com/DCLP/sosol/blob/master/public/javascripts/dclp.js#L325-L346

But those are missing several values in the screenshot, such as "Line" or "Chapter". Also there appear to be several repeated values, both in the

[2017-08-17 14:46] jcowey commented on #317
@HolgerEssler this needs to be sorted as soon as we can manage. Do you want to have all P.Herc. publications collected under one standardised dclp-hybrid so that they ressemble e.g. p.oxy;12;1234?
If the answer is yes then we have to change
`<idno type="dclp-hybrid">P.Herc. 1120</idno>`
into
`<idno type="dclp-hybrid">p.herc;;1120</idno>` (that assumes no volume)

If the answer is no, then we repla

[2017-08-17 15:11] Edelweiss commented on #309
https://github.com/DCLP/sosol/commit/4b10085a9540138b7ec0cd33646cc94216506bd8

[2017-08-17 15:16] Edelweiss commented on #312
**HGV**
[code]

**DDB**
[code]

[2017-08-17 15:18] ryanfb commented on #197
This is what the current version of papyri/navigator pn-xslt looks like (your link points to a very old commit): https://github.com/papyri/navigator/tree/master/pn-xslt (it looks very much like the current DCLP pn-xslt directory)

It defines an `epidoc-xslt` checkout to a sibling directory inside its Rakefile: https://github.com/papyri/navigator/blob/master/pn-xslt/Rakefile

The DCLP version of th

[2017-08-17 15:47] HolgerEssler commented on #317
Yes, please change
``<idno type="dclp-hybrid">P.Herc. 1120</idno>``
into
``<idno type="dclp-hybrid">p.herc;;1120</idno>``.
I suppose
``<idno type="dclp-hybrid">P.Herc. 1043 + 1045</idno>``
should then become
``<idno type="dclp-hybrid">p.herc;;1043;1045</idno>``
and
``<idno type="dclp-hybrid">P.Herc. 419, 697, 1634</idno>``
should become
``<idno type="dclp-hybrid">p.herc;;419;697;1634</idno>``.
Wou

[2017-08-17 15:58] hcayless commented on #317
I would recommend something like:

`<idno type="dclp-hybrid">P.Herc. 1043 + 1045</idno>` -> `<idno type="dclp-hybrid">p.herc;;1043+1045</idno>`
and
`<idno type="dclp-hybrid">P.Herc. 419, 697, 1634</idno>` -> `<idno type="dclp-hybrid">p.herc;;419,697,1634</idno>`

[2017-08-17 16:35] Edelweiss commented on #312
https://github.com/DCLP/sosol/commit/b22c45d5a951ac359739e94143d09abfa332c963
https://github.com/DCLP/idp.data/commit/9cd8dfea8dff1e1383197c1de85b634f369b93dd

[2017-08-17 16:51] #63 closed

[2017-08-17 17:11] paregorios commented on #152
The CSS problem is fixed, but we seem to have one more edge case that needs addressing. When the first line in a ```<div type="textpart">``` begins with ```<lb ... rend="inverse"/>```, the expected HTML is not generated. Our example from above (TM128952) exhibits this problem when transformed with the code in the "issue152" branch on epidoc-xslt and displayed with the code in the "issue152" branch

[2017-08-17 17:11] paregorios commented on #152
@wsalesky NB that I have pushed changes (master merges) to all of the associated branches.

[2017-08-17 18:06] jcowey commented on #312
@paregorios
with the two commits above the files in DCLP validate to the shema 8.23
e.g.
``<?xml-model href="http://www.stoa.org/epidoc/schema/8.23/tei-epidoc.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

[2017-08-17 19:17] paregorios commented on #139
There are mechanisms in place for constructing apparatus entries with lemmata and readings and for associating those readings with particular editions. Such constructs are sufficient, and probably to be preferred to this method. Won't fix.

[2017-08-17 19:17] #139 closed

[2017-08-17 19:25] paregorios commented on #136
It is NOT the case, as asserted above, that ```<sic>``` is not valid vs. the EpiDoc schema. I have just tested it and it is fine.

[2017-08-17 19:41] paregorios commented on #136
There are currently no examples of ```//t:sic[not(ancestor::t:choice)]``` anywhere in DCLP or DDB; therefore, code changes cannot be tested. Given time remaining, I'm moving this item to post-release.

[2017-08-17 20:06] paregorios commented on #31
Restating the remaining deficiencies, using TM 61438 as the example. Here's how the bibliographic portions of the metadata currently render to HTML:

![screen shot 2017-08-17 at 2 46 39 pm](https://user-images.githubusercontent.com/263285/29430694-fac3c91a-835a-11e7-9e55-2c629acdd01f.png)

The first "partial edition" is incomplete and wrongly styled. It should read:

 - Beate Beer, "Lukrez in Herk

[2017-08-17 20:11] HolgerEssler commented on #136
This is only slightly related, but when looking for the example mentioned above, i.e. http://litpap.info/dclp/62716, I could not find the text. However, I am fairly sure that @rla2118 did encode this one (the Sappho ostracon) and I am wondering where it ended up. I suppose with this text we would also have at least one example.

[2017-08-17 20:12] paregorios commented on #137
@wsalesky I suppose the other way to deal with this in the unicodeish way is to tokenize the string inside ```<hi rend="supraline">``` and then iterate through the resulting sequence, emiting each item therein with something like:

```<xsl:value-of select="$this_character"/><xsl:text>&#773;</xsl:text>```

[2017-08-17 20:19] paregorios commented on #282
Per @jcowey there is conflation in discussion above between technical requirements and papyri.info/dclp data entry conventions. To wit:

 - For Greek alphabetic numerals, the text is to be ENTERED by the user with capital Greek letters (for thousands). No XSLT modifications to capitalization are expected or desired.
 - For Greek alphabetic numerals, it is editorial policy in papyri.info for the us

[2017-08-17 20:19] #282 closed

[2017-08-17 20:20] paregorios commented on #130
Per resolution of #282, "ancient lenis" should be suppressed (i.e., not entered by the user) in numeric figures. Therefore I am closing this ticket "won't fix."

[2017-08-17 20:20] #130 closed

[2017-08-17 20:30] paregorios commented on #312
I have checked. @jcowey or @Edelweiss someone needs to issue a pull request from the "development" branch on idp.data to the master branch so that the changes in DCLP/idp.data@9cd8dfe get picked up in production etc.

[2017-08-17 20:31] paregorios commented on #312
Ditto for the SOSOL changes.

[2017-08-17 20:32] paregorios commented on #303
@hcayless Since I know you're working on the general technical problems underlying browse and search re-integration, I'm assigning this ticket to you so you are aware of what the users would like to see eventually.

[2017-08-17 20:48] paregorios commented on #300
This is more complicated than I realized. There are cases where users have entered ```<g type="ekthesis"/>``` somewhere other than at the beginning of the line and sometimes with intervening whitespace. For example:

 - TM69033: ```<lb n="1" xml:id="div1-lb1"/><g type="rho-cross"/> <g type="ekthesis"/>```
 - TM63877: ```<lb n="5"/><supplied reason="lost"><g type="ekthesis"/></supplied>```
 - TM638

[2017-08-17 20:50] paregorios opened #318 "clean up '<g type="eisthesis"/>' in XML"
Analogous to the problem with ```<g type="ekthesis"/>``` as outlined in #300

[2017-08-17 21:19] wsalesky commented on #137
@paregorios Yes that is an option as well, but it will output as a line for each character, not a single line across all the characters as the CSS does.

[2017-08-17 21:33] paregorios commented on #137
@jcowey please see recent comments above. Your preference?

On Thu, Aug 17, 2017 at 4:19 PM Winona Salesky <notifications@github.com>
wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

Humanities Commons: @paregorios <https://hcommons.org/members/parego

[2017-08-17 22:28] paregorios commented on #317
@jcowey can this be done in Heidelberg?

On Thu, Aug 17, 2017 at 10:58 AM Hugh A. Cayless <notifications@github.com>
wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

Humanities Commons: @paregorios <https://hcommons.org/members/paregorios/>
OrcID: 000

[2017-08-17 22:32] paregorios commented on #197
Is it possible that some DCLP repos is missing important upstream changes?

On Thu, Aug 17, 2017 at 10:18 AM Ryan Baumann <notifications@github.com>
wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

Humanities Commons: @paregorios <https://hcommons.org

[2017-08-17 22:36] paregorios commented on #278
@jcowey you're right given the handling of individual lines.

[2017-08-17 22:40] paregorios commented on #220
@jcowey can you provide a screen capture of where the problem is?

[2017-08-18 01:28] wsalesky commented on #152
The XSLT was set up to handle first `tei:lb` differently. I have added the xsl:choose for rend='inverse' and rend='perpendicular' to this section of the `tei:lb` template.

XSLT changed: `epidoc-xslt/htm-teilb.xsl`
Branch: https://github.com/DCLP/epidoc-xslt/compare/issue152
HTML output:
[code]

@paregorios back to you for review.

[2017-08-18 08:19] jcowey commented on #220
I have spoken to Carmen about this. It is not a big thing and Carmen will sort it out.

[2017-08-18 09:41] m-k-r commented on #197
@ryanfb I see a different behaviour.

I updated the [externals.yml](https://github.com/DCLP/sosol/blob/development/config/externals.yml) today so it points to our newest versions.

I ran "bundle exec cap local externals:setup" and after that "rake setup" in naviagator-root/pn-xslt/
[https://github.com/DCLP/navigator/blob/master/pn-xslt/Rakefile](https://github.com/DCLP/navigator/blob/master/pn-xsl

[2017-08-18 12:03] m-k-r commented on #270
The changes to [pn-xslt/htm-teibibl.xsl](https://github.com/DCLP/navigator/commit/d785c8686f92fa53e31d60c0348044ba3094c115#diff-67957b64f94986007729b1ae568145b8) cause during mapping the following error:

Processing Bibliography
Error at xsl:variable on line 46 column 193 of htm-teibibl.xsl:
  XPST0017 XPath syntax error at char 0 on line 46 near {...tr/@target, '/source'), 'xm...}:
    Cannot fin

[2017-08-18 12:50] hcayless commented on #270
@m-k-r: Should be fixed in DCLP/navigator@572f8d32880dc967813900cb9b602609ebb1f405.

[2017-08-18 14:23] ryanfb commented on #197
For "Commentary" you need to update https://github.com/DCLP/sosol/blob/development/data/xslt/ddb/commentary.xsl to point to the appropriate files. See: https://github.com/DCLP/sosol/pull/2

[2017-08-18 15:27] m-k-r commented on #197
Thanks, that worked.
I think we can close this issue.

[2017-08-18 15:40] paregorios commented on #197
Are the changes merged to master and pushed to GitHub?

On Fri, Aug 18, 2017 at 10:27 AM Marcel Keller <notifications@github.com>
wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

Humanities Commons: @paregorios <https://hcommons.org/members/paregorios

[2017-08-18 16:29] jcowey commented on #312
https://github.com/DCLP/idp.data/pull/10

[2017-08-18 16:32] jcowey commented on #312
@m-k-r would you please make sure that the sosol commit mentioned above
https://github.com/DCLP/sosol/commit/b22c45d5a951ac359739e94143d09abfa332c963
is also merged to where it needs to be in master

[2017-08-18 18:10] ryanfb commented on #312
A number of DCLP files are invalid when validated against 8.23: https://gist.github.com/ryanfb/231b37f0c8ef7910d04541082e95c6b4 (this was run against https://github.com/DCLP/idp.data/commit/9cd8dfe)

I've made a PR here to add the corresponding DCLP validation to Travis (though I can't enable Travis on the DCLP/idp.data repo as I don't have admin rights): https://github.com/DCLP/idp.data/pull/11

[2017-08-18 18:55] m-k-r commented on #197
The changes are merged to development.

[2017-08-18 20:47] jcowey commented on #312
https://github.com/DCLP/idp.data/blob/master/DCLP/62/61916.xml
/DCLP/62/61916.xml:108:554: error: attribute "type"
@type on bibl - as used in commentary and front matter (commentary and front matter were inherited from papyri.info)
https://github.com/DCLP/idp.data/blob/master/DCLP/62/61916.xml
validates against
[code]

[2017-08-19 14:31] wsalesky commented on #31
Fixed on branch: https://github.com/papyri/navigator/compare/master...DCLP:issue31

XSLT: `navigator/pn-xslt/metadata-dclp.xsl`
Added missing pi:get-docs() function for partial editions (and other t:bibl elements) to follow refs in t:ptr and t:ref elements.

XSLT:` navigator/pn-xslt/htm-teibibl.xsl`
Choose journal title to use, based on parameters in the previous comment by @paregorios

HTML outpu

[2017-08-21 12:57] hcayless opened #319 "Multiple Principal Editions"
There are 148 DCLP documents which have multiple principle editions. This is a completely new feature as far as the Navigator goes, and no provision has been made for it. How do you want this to work? A naïve implementation would lead to them showing up multiple times in search/browse results. A stupid implementation would mean my just grabbing the first one. Presumably neither of these is satisfa

[2017-08-21 16:08] hcayless opened #320 "P.Mich 541+539"
If I'm reading it right, https://github.com/DCLP/idp.data/blob/master/DCLP/144/143378.xml is an unpublished pair of Michigan papyri. It's not correct to assign it to p.mich then (which is a publication series, as far as the navigator is concerned), and causes problems for indexing as it appears alongside several volumes. I'd suggest giving it an ID like p.mich.ined or p.mich.unpub instead, or crea

[2017-08-22 14:32] m-k-r commented on #270
This error is fixed now. But now it ends with

16:02:53 WARN  BaseXMLWriter        :: Namespace prefix 'j.1' is reserved by Jena.
16:02:53 WARN  BaseXMLWriter        :: Namespace prefix 'j.3' is reserved by Jena.
16:02:53 WARN  BaseXMLWriter        :: Namespace prefix 'j.2' is reserved by Jena.
16:02:55 WARN  BaseXMLWriter        :: Namespace prefix 'j.1' is reserved by Jena.
16:02:55 WARN  BaseXM

[2017-08-22 14:43] hcayless commented on #270
Those warnings don't mean anything. I've got another set of updates queued up to push once I've finished testing that may help, but you may also have to give the process more memory or see what else is running on that machine that might be crowding it. FWIW it runs successfully in a few minutes on my laptop.

[2017-08-22 14:52] hcayless commented on #270
Latest set of commits should help with overall correctness, but if it's taking that long and running out of memory, that suggests an under-resourced environment rather than a bug to me.

[2017-08-22 15:38] paregorios commented on #312
So, what's the recommendation for what to do here?

[2017-08-22 15:41] paregorios commented on #320
@hcayless do you need reaction on this?

[2017-08-22 16:57] jcowey commented on #320
I spoke with Hugh yesterday evening, I think that we dealt with the problems and that no action is required immediately. On the basis of
https://docs.google.com/spreadsheets/d/1BKufrr8tV6eA22296p5K0OXcnSXEAZC8iabncaRfLro/edit#gid=1960435111
I will have to sort out the mess created. In the meanwhile I think that Hugh has found a way to continue regardless.

[2017-08-22 17:07] ryanfb opened #321 "No top-level edit bar tabs for DCLPTextIdentifier or DCLPMetaIdentifier"
In: https://github.com/dclp/sosol/blob/master/app/views/identifiers/_edit_bar.haml

For e.g. litpap.info/dclp/61246 I see:
![screen shot 2017-08-22 at 1 05 02 pm](https://user-images.githubusercontent.com/19781/29577769-a5b6a9e0-873a-11e7-92cd-4d45d4eded3b.png)

I would expect tabs next to "Overview" that say "DCLP Meta" and "DCLP Text".

There's a sub-menu for edit/commentary/xml/preview if you'r

[2017-08-22 17:15] paregorios commented on #320
@jcowey thanks. Should we assign this ticket to you and put in the "after final" milestone?

[2017-08-22 17:16] paregorios commented on #321
cc @jcowey

[2017-08-22 17:19] ryanfb commented on #270
You should be able to increase the memory for Fuseki with e.g. `JVM_ARGS=-Xmx4096M` (or higher) in your environment before running `fuseki-server`.

[2017-08-22 17:47] paregorios commented on #136
I have no idea how to try to run this down. @jcowey ?

[2017-08-22 18:24] jcowey commented on #320
Done

[2017-08-22 20:22] paregorios commented on #31
This does indeed fix cases like those found in TM61438, but TM 217929 still shows off [the problem highlighted above](https://github.com/DCLP/dclpxsltbox/issues/31#issuecomment-316536046), so there must be something different about that edge case.

I'm going to go ahead and merge the working changes we have now into DCLP:navigator master, but I will leave the issue31 branch in case we have a chanc

[2017-08-22 20:27] paregorios commented on #31
The results of transforms with the latest code can be reviewed on http://dclp.github.io/dclpxsltbox/output/dclp/. The next time @m-k-r updates from navigator:master on production and re-runs the transforms and mapping they will also be visible there.

[2017-08-22 20:28] paregorios commented on #31
Reassigning to @wsalesky to address apparent remaining edge case ^^^

[2017-08-22 20:29] paregorios commented on #197
@m-k-r if these changes are complete, tested, and working, then they should be merged to DCLP master. It would be ok with me if you want to do the merge yourself and then push the branch to github, or if you'd rather issue a pull request.

cc @jcowey

[2017-08-22 20:57] #152 closed

[2017-08-22 21:05] paregorios commented on #152
@jcowey @rla2118 display of "inverse" is now fixed. To see it on production, it will be necessary for @m-k-r to pull the latest master code from the epidoc-xslt *and* navigator repositories, and to re-run mapping/indexing/generation.

[2017-08-22 21:13] paregorios commented on #284
@wsalesky I assume the call to normalize-unicode is intended to **prevent** the sort of mess that we're seeing here. One would have thought that NFC (which is what we're supposed to get from normalize-unicode) wouldn't do what @rla2118 is seeing. So, either our expectations of the NFC spec are incorrect, or there's a bug in saxon's implementation of the function. I'm going to try taking that out e

[2017-08-22 21:16] paregorios commented on #284
120 changes

[2017-08-22 21:21] paregorios commented on #284
just a few spot checks seem to show that this improves things, but I would like to look at several more before we go this route. Here's a list of all the files whose transforms change if we eliminate the call to normalize-unicode when processing unclear:

[code]

[2017-08-22 22:34] paregorios commented on #284
I am now confident that eliminating the call to ```normalize-unicode()``` when processing ```<unclear>``` will fix the problem that @rla2118 reported here, plus another in which breathings simply are lost entirely. I'm going to make the commit direct to master, with a comment referencing this ticket.

[2017-08-22 22:38] #284 closed

[2017-08-22 22:40] paregorios commented on #284
@rla2118 and @jcowey when @m-k-r does his next pull from the epidoc-xslt master and regenerates/reindexes, you should see this fix in litpap.info.

[2017-08-22 22:47] paregorios commented on #74
Then ```<g type="diple"/>``` it is. Now we need to know what the papyrologists want to **see** in the HTML output. Right now one sees "((diple))", as (for example) in [TM 68614, column 2, line 7](http://litpap.info/dclp/68614).

Would you prefer to see something else @rogerbagnall @HolgerEssler @rla2118 @jcowey ?

[2017-08-22 22:48] paregorios commented on #142
Given the need to markup a text in order to deal with this, and the probable back-and-forth on getting the complex encoding right, I am moving this ticket to the post-final projects milestone.

[2017-08-22 22:53] paregorios opened #322 "encode information about multiple parts of a papyrus in msParts"
See https://gist.github.com/paregorios/be8e927d366129e1e0f605a5b6959e9d#file-59749_example_of_new_changes-xml-L203

[2017-08-22 22:56] paregorios opened #323 "encode multiple ranges of pages on biblScope"
e.g. ```<biblScope unit="pp" from="12a" to="45b">12a-45b</biblScope>```

https://gist.github.com/paregorios/be8e927d366129e1e0f605a5b6959e9d

[2017-08-22 23:19] #173 closed

[2017-08-22 23:23] paregorios commented on #283
@jcowey and @m-k-r when this has been deployed and checked on production, please close this ticket. Thanks.

[2017-08-23 00:49] rogerbagnall commented on #74
I have no problem with this; it's searchable, and I don't think we'll ever come up with a single graphic representation of the diple. A documentary voice here, of course.

[2017-08-23 02:17] wsalesky commented on #31
@paregorios
Referencing: http://litpap.info/dclp/217929
After some investigation I see several issues. For the particular case above, I think there is an encoding issue:
`<ptr target="http://papyri.info/biblio/papyri.info/biblio/1270"/>`

looks like a bad URL to me, shouldn't it be:

`<ptr target="http://papyri.info/biblio/1270"/>`

However, even with the correct URL the ptr is not processed becau

[2017-08-23 08:25] Edelweiss commented on #312
/Users/ryan/source/dc3/dclp/idp.data/DCLP/62/61916.xml
/Users/ryan/source/dc3/dclp/idp.data/DCLP/144/143319.xml
/Users/ryan/source/dc3/dclp/idp.data/DCLP/27/26761.xml
/Users/ryan/source/dc3/dclp/idp.data/DCLP/35/34810.xml
/Users/ryan/source/dc3/dclp/idp.data/DCLP/64/63367.xml
/Users/ryan/source/dc3/dclp/idp.data/DCLP/64/63383.xml
/Users/ryan/source/dc3/dclp/idp.data/DCLP/64/63477.xml
/Users/ryan/s

[2017-08-23 08:53] Edelweiss commented on #312
62/61916.xml: attribute "type" not allowed here
65/64223.xml: attribute "type" not allowed here
65/64473.xml: attribute "type" not allowed here
144/143319.xml: attribute "type" not allowed here
64/63383.xml: attribute "type" not allowed here

27/26761.xml: text not allowed here
35/34810.xml: text not allowed here
64/63367.xml: text not allowed here
64/63477.xml: text not allowed here
64/63504.xml:

[2017-08-23 12:10] jcowey commented on #307
https://docs.google.com/spreadsheets/d/16SePBXogV1pwuLHunLKzLHgSTL39Ta8Ix6F7sO0IPZ4/edit#gid=0

[2017-08-23 12:24] #283 closed

[2017-08-23 12:27] m-k-r commented on #197
I merged the changes to master

[2017-08-23 12:34] paregorios commented on #197
@ryanfb does this look to be resolved to you?

[2017-08-23 12:42] hcayless commented on #317
Possibly this warrants a new ticket, but a number of DCLP records have other problems in the dclp-hybrid idno, namely characters that cause problems in processing. See the list below:

https://github.com/DCLP/idp.data/tree/master/DCLP/220/219977.xml: o.frangé;;438
https://github.com/DCLP/idp.data/tree/master/DCLP/220/219978.xml: o.frangé;;439
https://github.com/DCLP/idp.data/tree/master/DCLP/221/2

[2017-08-23 12:48] paregorios commented on #317
@jcowey ?

[2017-08-23 12:53] m-k-r commented on #270
@ryanfb that worked.

indexing was without problems.
[http://litpap.info/dclp/64347](http://litpap.info/dclp/64347)

These warnings should show where in the process the problem occurred.
With these changes does  fuseki generally need more resources or only during the mapping?
Until now the default 1200mb were sufficent. How much ram should we consider for fuseki? 4gb is half of the ram for the vir

[2017-08-23 12:54] jcowey commented on #317
pretty sure I know how to fix this and will do so

o.frangé;;438 => o.frange;;438; as in ddbdp
o.wångstedt;;80 => o.wangstedt;;80; will have to be added to collection.rdf
p.genève[horssérie];;1 => p.geneve[horsserie];;1; will have to be added to collection.rdf
p.murabba'ât;2;108 => p.mur;2;108; as in ddbdp
p.demarée;;5 => p.demaree;;5; will have to be added to collection.rdf

is that analysis corr

[2017-08-23 12:55] Edelweiss commented on #245
https://github.com/DCLP/sosol/commit/6e663d526d9699c84fb4bf7bd358872b99aba043

[2017-08-23 12:59] hcayless commented on #317
I'm not sure how the square brackets will play. We'll have to see.

[2017-08-23 13:06] jcowey opened #324 "Malformed dclp-hybrid values: more"
New ticket, but a number of DCLP records have other problems in the dclp-hybrid idno, namely characters that cause problems in processing. See the list below:

https://github.com/DCLP/idp.data/tree/master/DCLP/220/219977.xml: o.frangé;;438
https://github.com/DCLP/idp.data/tree/master/DCLP/220/219978.xml: o.frangé;;439
https://github.com/DCLP/idp.data/tree/master/DCLP/221/220283.xml: o.frangé;;745

[2017-08-23 13:07] jcowey commented on #324
pretty sure I know how to fix this and will do so

o.frangé;;438 => o.frange;;438; as in ddbdp
o.wångstedt;;80 => o.wangstedt;;80; will have to be added to collection.rdf
p.genève[horssérie];;1 => p.geneve[horsserie];;1; will have to be added to collection.rdf
p.murabba'ât;2;108 => p.mur;2;108; as in ddbdp
p.demarée;;5 => p.demaree;;5; will have to be added to collection.rdf

is that analysis corr

[2017-08-23 13:08] jcowey commented on #317
So have now created a new issue #324, to keep these two separate.

[2017-08-23 13:15] Edelweiss commented on #220
https://github.com/DCLP/sosol/commit/a12e33b29c21b33e4cbcf93ebc5d41f28d73e8ee

[2017-08-23 13:54] jcowey commented on #317
@hcayless would you please check that
<idno type="dclp-hybrid">p.herc;;.+</idno>
is now fine.
There should now be no more
<idno type="dclp-hybrid">P.Herc.
left in
https://github.com/DCLP/idp.data/tree/master/DCLP

I have made a number of commits to make the corrections necessary.

[2017-08-23 14:40] ryanfb commented on #312
FWIW Travis CI should now be enabled for DCLP/idp.data with automated validation runs here: https://travis-ci.org/DCLP/idp.data

[2017-08-23 14:59] ryanfb commented on #197
Yes.

[2017-08-23 14:59] #197 closed

[2017-08-23 15:13] jcowey commented on #309
I have made a spreadsheet of the values used in column A and of the list that we would like to change to (in other words getting rid of the duplicates, noted by Ryan above) in column B:

https://docs.google.com/spreadsheets/d/1bnd9Mtuooj1PB8qwNGRphBnkUwB0QZxyLIDYmcbS3C4/edit#gid=0

Would you, @paregorios , please assess what knock on effects / requirements that would have for XSLT. Obviously Carme

[2017-08-23 15:42] jcowey commented on #324
@hcayless would you please check that above mentioned idnos are no longer troublesome.
None of these should now be left in
https://github.com/DCLP/idp.data/tree/master/DCLP

I have made a number of commits to make the required corrections.

[2017-08-23 17:24] paregorios commented on #31
So it sounds like the principal edition template is being overloaded and we made to split out the functions with two separate (moded? named?) templates.

For ```<h3>```, we should be outputting only the short title plus the biblScope values that give us volume and number (or the equivalent).

But when processing all the bibliography for the metadata listing, we want a full bibliographic citation,

[2017-08-23 17:30] wsalesky commented on #31
@paregorios  thank you for the clarification. I will have something to commit tonight.

[2017-08-23 19:13] paregorios opened #325 "XSLT for navigator and epidoc-xslt does not handle biblScope@unit"
We made a decision long ago with DCLP to come forward into the light of more recent TEI releases than DDBDP, and we have recently undertaken to police compliance with that decision (#312). One consequence is that we must comply with [the now-three-year-old decision by the TEI](http://tei-l.970651.n3.nabble.com/Removal-of-biblScope-type-from-the-next-TEI-release-td4026741.html) to get rid of the ``

[2017-08-23 19:13] jcowey commented on #137
A single line across all characters would be preferable.

[2017-08-23 19:16] paregorios commented on #137
@wsalesky ok we are back to doing this with CSS. Sorry for the diversion.

[2017-08-23 19:25] jcowey commented on #309
There is an issue from nearly two years ago, in which the @unit / @type on biblScope was flagged: https://github.com/papyri/idp.data/issues/9.

Carmen and I did go through the data in HGV and Biblio, but never got everything together in order to push for an upgrade of the XML in papyri.info. This is still something we would like to attend to sooner rather than later.

[2017-08-23 19:25] jcowey commented on #325
There is an issue from nearly two years ago, in which the @unit / @type on biblScope was flagged: https://github.com/papyri/idp.data/issues/9.

Carmen and I did go through the data in HGV and Biblio, but never got everything together in order to push for an upgrade of the XML in papyri.info. This is still something we would like to attend to sooner rather than later.

[2017-08-23 19:48] paregorios commented on #325
The following files are possibly affected:

[code]

[2017-08-23 20:38] ryanfb opened #326 "Clicking "create new" for DCLP meta or text throws errors"
If I "create new" DCLP text on an existing DDB publication, I get a "we're sorry" with the exception:

    undefined method `temporary_path' for #<DCLPTextIdentifier:0x48043ca2>

I also then get the same thing every time I click on the publication overview or the newly-created DCLP Text Identifier from the dashboard.

If I "create new" DCLP meta on an existing DDB publication, I get a "we're sorry

[2017-08-23 20:40] ryanfb commented on #326
Potentially related to #214, where the resolution was just to disable advanced create, which isn't a solution we can accept for merging to papyri.info.

[2017-08-23 21:30] paregorios commented on #31
NB, I'm fiddling with #325 in https://github.com/DCLP/navigator/compare/master...DCLP:issue325

[2017-08-23 23:35] #325 closed

[2017-08-23 23:36] paregorios commented on #31
#325 is resolved and merged back to master

[2017-08-23 23:40] paregorios commented on #309
While resolving #325, I also laid in flexibility for dealing with the various possible values of ```biblScope@type``` and ```biblScope@unit``` across the collections, so @jcowey and @Edelweiss I believe that you are clear to go ahead and make the data and code changes discussed above.

If you want to see all the values for which we now cater, have a look at https://github.com/DCLP/navigator/blob/m

[2017-08-23 23:56] paregorios commented on #316
full list of victims:

[code]

[2017-08-23 23:58] paregorios opened #327 "gigantic bibliographic citation in HTML heading"
@jcowey what do you think we should do (if anything) about monstrosities like http://litpap.info/dclp/61329 ?

[2017-08-24 00:03] paregorios opened #328 "addressing textual variants in the apparatus"
A typical variant case:

papyrus reads (ll. 1-2):
[code]

and we want to say that it follows part of the manuscript tradition:

[code]

I would envision something like what follows at the Leiden+ level:

[code]

which should conceal the following XML (or the like):

[code]
The HTML output should resemble the abovementioned apparatus.

[2017-08-24 00:07] paregorios commented on #328
I'm interested in aligning our approach to encoding this stuff with what the Digital Latin Library is doing, since they've thought about lemmata, manuscript families, etc. Their guidelines are here: https://github.com/DigitalLatin/guidelines

[2017-08-24 01:24] wsalesky commented on #31
See latest commit: https://github.com/DCLP/navigator/commit/380ffe7e3d60246343a93a71ac12c2b91aabb32c

Does this contradict https://github.com/DCLP/dclpxsltbox/issues/279? Where the request is to use `t:title[@type='short-Checklist']` should I include special handling for Principal Editions to use the `t:title[@type='short-Checklist']`

[2017-08-24 07:31] Edelweiss commented on #309
as of now

- book
- chapter
- col
- columns
- fasc
- fascicle
- folio
- fragment
- fragments
- generic
- inventory
- issue
- line
- lines
- no
- number
- numbers
- page
- pages
- pp
- parts
- plate
- poem
- side
- tome
- vol
- volume

[2017-08-24 07:33] Edelweiss commented on #309
as desired

- book
- chapter
- column
- fascicle
- folio
- fragment
- generic
- inventory
- issue
- line
- no
- number
- page
- part
- plate
- poem
- side
- tome
- volume

[2017-08-24 07:33] Edelweiss commented on #309
deprecated

- col
- columns
- fasc
- fragments
- lines
- numbers
- pages
- pp
- parts
- vol

[2017-08-24 08:10] Edelweiss commented on #309
https://github.com/DCLP/idp.data/commit/531efd190e50f4de45773d275fb5a011baffdc16

[2017-08-24 09:36] jcowey commented on #327
We should just live with it for the moment

[2017-08-24 17:28] ryanfb commented on #326
Following from discussion this morning, since DCLP meta and DLCP text use the same file, creating either for an existing publication means the publication should have both DCLP meta and text identifiers associated with the publication afterwards.

[2017-08-24 17:30] ryanfb opened #329 "No DCLP data templates"
I would expect a template for DCLP data here: https://github.com/DCLP/sosol/tree/master/data/templates

See e.g. https://github.com/DCLP/sosol/blob/master/app/models/identifier.rb#L217-L256

I would expect this to be used when creating a new DCLP text+meta file from scratch.

Related to #326.

[2017-08-24 18:14] paregorios commented on #329
cc @jcowey

[2017-08-24 18:44] paregorios commented on #316
https://github.com/DCLP/navigator/commit/f1e6564c53a119621353f3dc3da1ccb21ae5eba1

[2017-08-24 19:17] hcayless commented on #316
I've got a question about this one: (happened to come across my screen while waiting for a reindex) is there a reason why you wouldn't want all of the principal editions listed in the header? E.g. for http://litpap.info/dclp/38657 is

### sb.16.12403 = HGV SB 16 12403 = Trismegistos 38657

better than

### SB 16 12403 = P. Rainer Unterricht (MPER N.S. 15) 171 = Trismegistos 38657 = LDAB 6747

whic

[2017-08-24 19:22] rogerbagnall commented on #316
That's a much more elegant solution. My only uncertainty would be whether including the LDAB number is useful.

[2017-08-24 19:29] hcayless commented on #316
@rogerbagnall the LDAB number is a link to the LDAB database in TM (the link didn't come across in my copy/paste). But that makes me realize the LDAB link does not get generated if the DCLP record is attached to a DDb text, as this example is. So that's probably another bug...

[2017-08-24 20:12] jcowey commented on #329
@ryanfb

Is this in any way a helpful suggestion (made by my hack of ddb and hgv identifer templates) ?  :

[code]

Have I missed something out? I am sure I will have.

[2017-08-24 20:34] paregorios commented on #316
This further complicates a number of rather complicated (and previously contradictory) requirements that have been enunciated piecemeal across a large number of tickets (e.g., #31, which @wsalesky and I have been working on for days).

[2017-08-24 20:39] paregorios commented on #316
Please open new tickets for new requirements. This ticket is only about leading "=" in header, which is fixed with https://github.com/DCLP/navigator/commit/f1e6564c53a119621353f3dc3da1ccb21ae5eba1, which is currently on [the issue31 branch of DCLP navigator](https://github.com/DCLP/navigator/tree/issue31) and will be merged once #31 is resolved.

[2017-08-24 20:56] #31 closed

[2017-08-24 20:56] #316 closed

[2017-08-29 12:19] paregorios commented on #273
@Edelweiss where should we look to test this? cc @jcowey

[2017-08-29 14:57] paregorios commented on #273
per discussion with @jcowey @Edelweiss @m-k-r this morning, Heidelberg to provide links to committed code discussed above

[2017-08-29 16:56] Edelweiss commented on #309
https://github.com/DCLP/sosol/commit/0707a0a51f90fa65b1ad9a912552ff86e705cef7

[2017-08-29 17:10] Edelweiss commented on #273
This can be tested on litpap.info. Testing was meant to ensure that the new interface didn’t break the underlying logic that is responsible for loading from and saving to EpiDoc.

As this was lower priority the desiderata were not fully implemented.

Yet to be done:

- authority list based on CWKB’s rdfs
- »autocomplete« for author (TLG, CWKB, Stoa and Phi numbers [perhaps language as well?!])
- d

[2017-08-29 17:44] Edelweiss commented on #273
- https://github.com/DCLP/sosol/commit/1abd59790710c7a612f4d2a780e7695a8db367e3
- https://github.com/DCLP/sosol/commit/b8b30402a7260f5b4eb5a71a19eebff15f151181
- https://github.com/DCLP/sosol/commit/9a28bbd4ed60289a9b6d87a26eb6b5717bb537bc
- https://github.com/DCLP/sosol/commit/29dd690e585b87700bc1adde0214dc3336c2a13b
- https://github.com/DCLP/sosol/commit/a21fd526cab1d95c05adb97989e601315fd18650

[2017-08-29 18:57] ryanfb opened #330 "Add "Create New DCLP Publication" button"
This issue is for tracking a desideratum that has come out of our Skype discussions, that in addition to the "Create New Publication" button on the "Advanced Create" page in the editor (which will create a Publication with a stubbed HGVMetaIdentifier and DDbDPIdentifier), there should be a "Create New DCLP Publication" button (which will create a Publication with a stubbed DCLPMetaIdentifier and D

[2017-08-29 19:40] paregorios commented on #133
In my view, #245 is no longer a blocker for this task.

[2017-08-30 09:36] jcowey commented on #226
Works for me, when going through an old entry (entered in March workshop in Würzburg) to the editorial board.

[2017-08-30 09:39] jcowey commented on #226
Also works for me at entry level.

[2017-08-30 09:43] jcowey commented on #226
Closing

[2017-08-30 10:04] Edelweiss opened #331 "New layout and features for »Ancient Authors & Works«"
![29132618-d1e5e99a-7cfe-11e7-8d38-1563fdda1355](https://user-images.githubusercontent.com/612862/29867283-57a4146c-8d7b-11e7-8c9d-4967e30679d3.png)

[2017-08-30 10:06] Edelweiss commented on #331
Yet to be done:

-     authority list based on CWKB’s rdfs
-     »autocomplete« for author (TLG, CWKB, Stoa and Phi numbers [perhaps language as well?!])
-     drop down for work titles
-     »autocomplete« for works (TLG, CWKB, Stoa and TM numbers [perhaps language as well?!])
-     get rid of drop down box for language selection?!

[2017-08-30 10:09] Edelweiss commented on #273
The part of this ticket that concerns the new user interface lives on in #331

[2017-08-30 10:09] #273 closed

[2017-08-30 10:17] jcowey commented on #309
This has now been tested and functions well.
There is a warning not which tells the user / editor what the chosen value was and invites the user / editor to choose the appropriate one from the drop down menu.
Once the correct value has been chosen the warning disappears.

[2017-08-30 10:17] #309 closed

[2017-08-30 14:20] jcowey commented on #245
Tested and works for me

[2017-08-30 14:20] #245 closed

[2017-08-30 17:30] paregorios commented on #226
Where (repos and branch) were the relevant changes committed and have they been pushed to github?

[2017-08-30 17:45] wsalesky commented on #137
@paregorios this is ready for review.
**Branch:** https://github.com/DCLP/epidoc-xslt/compare/issue137-alt
**Commit:** https://github.com/DCLP/epidoc-xslt/commit/ff6f3645d7a0de882bd511c7257c47495b820370

This required major changes to `epidoc-xslt/tpl-apparatus.xsl` as well as several additional epidoc stylesheets to enable passing the `$location` parameter to the apparatus.

Updated HTML displayi

[2017-08-30 20:09] jcowey commented on #226
Related to https://github.com/DCLP/dclpxsltbox/issues/273, where the commits are listed.

[2017-08-30 20:11] ryanfb opened #332 "DCLPMetaIdentifier/DCLPTextIdentifier need special rename logic"
Related: #326 #330

Since DCLPMetaIdentifier/DCLPTextIdentifier map to the same file, they need special logic for when either of the DCLP identifiers associated with a publication is renamed during finalization.

DCLPMetaIdentifier/DCLPTextIdentifier could have logic in an `after_rename` method which calls `rename` with the new name on the opposite DCLP identifier associated with the publication (

[2017-08-31 01:28] wsalesky commented on #137
@paregorios
It is actually unclear to me when the [-ca.?-] should appear, and when it should be suppressed in the apparatus. The current code may regularize this behavior. (A feature, not a bug?)

[2017-08-31 05:59] Edelweiss commented on #226
Plus the one mentioned above

[ generate refs for TLG, TM, STOA, PHI and CWKB (Ticket #226, SoSOL Meta Editor: CWKB numbers are not saved)](https://github.com/DCLP/sosol/commit/ea46b26fd4ed50832097d3c04a2af702e14e6d24)

[2017-08-31 11:00] paregorios commented on #137
@wsalesky I don't think the "ca.?" bit is a bug; I think it's an improvement. It indicates that the editor thinks that there is missing text, but is uncertain how many characters are involved. All of the XML associated with these make use of a ```<gap>``` with appropriate attributes in those locations. So, I think this is, in fact, another fix you've made to the apparatus generation code.

[2017-08-31 11:04] paregorios commented on #137
Moreover, all of the "title" changes I noted in my spot checks look like improvements to me as well.

[2017-08-31 11:07] paregorios commented on #137
@jcowey @HolgerEssler @rla2118 this is resolved, plus a few other fixes to some "edge case" apparatus display. You will see the difference on litpap.info if and when @m-k-r or @Edelweiss pull epidoc-xslt master and rerun HTML generation.

[2017-08-31 11:07] #137 closed

[2017-08-31 13:08] m-k-r commented on #330
https://github.com/DCLP/sosol/commit/3a9a663910a86d30fea762bc9f12896d5f68f87e

[2017-08-31 13:12] Edelweiss opened #333 "Add schema 8.23 to preprocess.xml"
DCLP Text identifiers should use the same preprocess.xml as DDB, or the transformation rules from DDB’s preprocess.xsl musst be copied over to whatever file DCLP Text is using.

**preprocess.xsl XSLT for DDB, HGV and DCLPMeta**
- https://github.com/DCLP/sosol/blob/development/data/xslt/ddb/preprocess.xsl#L110
- https://github.com/DCLP/sosol/blob/development/data/xslt/metadata/preprocess.xsl#L19

*

[2017-08-31 13:32] Edelweiss commented on #333
https://github.com/DCLP/sosol/commit/738085a0e6acf504cec65e9c2b8d7bf447144b5c

[2017-08-31 13:58] Edelweiss commented on #333
@ryanfb, @paregorios, @jcowey, @m-k-r could you please review the changes made in the commit above as to whether they are necessary and valid. I think if they don’t break anything they should be comprised in the version for the new server.

[2017-08-31 14:53] wsalesky commented on #133
@paregorios
Clarification question: Links only on principalEdition? Or on all the citations, ie, partial, reference, previous editions.

[2017-08-31 15:09] paregorios commented on #133
On all citations if possible please

On Thu, Aug 31, 2017 at 10:53 AM Winona Salesky <notifications@github.com>
wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

Humanities Commons: @paregorios <https://hcommons.org/members/paregorios/>
OrcID: 0000-000

[2017-08-31 15:46] wsalesky commented on #133
Branch: https://github.com/DCLP/navigator/tree/issue133
Commit: https://github.com/DCLP/navigator/commit/38d6f66bde6dce48c0ac9d6dcb9fac715e5948fa

Changes: Adds links around titles to take users to bibliographic record. Link follows the form already set up in the htm-teibibl.xsl:

`<a href="/biblio/{t:idno[@type='pi']}/">[TITLE]</a>`

Notes: This link does not work here: http://litpap.info/dclp/62

[2017-08-31 21:27] ryanfb opened #334 "Create from identifier / open in editor doesn't bring in DCLP relations"
For example with http://litpap.info/ddbdp/bgu;6;1470 which has DDbDP, HGV, and DCLP identifiers associated with it, if I use the corresponding `papyri.info/ddbdp/bgu;6;1470` identifier in "advanced create", or click "open in editor", I don't get an associated DCLPMetaIdentifier/DCLPTextIdentifier with that publication.

[2017-08-31 22:12] ryanfb commented on #333
The changes seem OK from the DDB side. I ran the resulting `preprocess.xsl` across DCLP/idp.data/DCLP with:

     find DCLP -type d | parallel --bar -j8 -u 'mkdir -p /Users/ryan/mess/current/dclp_preprocess/{}; java  -jar ~/source/dc3/dclp/sosol/lib/java/saxon9he.jar -xsl:/Users/ryan/source/dc3/dclp/sosol/data/xslt/ddb/preprocess.xsl -s:{} -o:/Users/ryan/mess/current/dclp_preprocess/{}'

The resul

[2017-09-01 11:19] paregorios commented on #333
I don't see any problems from my end.

[2017-09-01 14:14] jcowey opened #335 "Change type to unit for biblScope in commentary.xsg"
In
https://github.com/DCLP/xsugar/blob/master/commentary.xsg#L120-L124

change type to unit

deploy so that it can be tested.

Then change type to unit in
https://github.com/DCLP/idp.data/blob/master/DCLP/62/61916.xml

load in the editor
and see whether it works

[2017-09-01 14:38] Edelweiss commented on #335
https://github.com/DCLP/xsugar/commit/e224606054e22784518ef9edb44c236a11b10f77

[2017-09-01 14:42] jcowey commented on #312
We now have 7 instances in 5 files, see:
https://docs.google.com/spreadsheets/d/1v7bMtAXDyzb2folOQ5rdyKzXJaDnxsIrvJGVwcwTDrM/edit#gid=0

[2017-09-01 14:56] hcayless opened #336 "More DCLP-hybrid problems"
This has surfaced in a couple of places already, but DCLP seems to have a habit of treating unpublished papyri in their IDs as though they had been published. This causes problems when you have a series with volumes (e.g. P.Gen.) and then DCLP documents are treated as though they belong directly to the series, with ids like `<series>;;<inventory no>`, instead of `<series>;<volume>;<item no>`. This

[2017-09-01 15:30] jcowey commented on #336
@hcayless

In the case of
http://litpap.info/dclp/100162
is the section
https://github.com/DCLP/idp.data/blob/master/DCLP/101/100162.xml#L80-L88

[code]

the part that is causing trouble for you?
Or is it the dclp-hybrid at
https://github.com/DCLP/idp.data/blob/master/DCLP/101/100162.xml#L15

`<idno type="dclp-hybrid">p.gen;;208</idno>`

Or both?

Both are unsatisfactory.

I would however be very

[2017-09-01 15:32] Edelweiss commented on #330
After the creation of a new DCLP file, the dashboard keeps throwing errors because the title of the publication and the name of the identifier are empty:

https://github.com/DCLP/sosol/blob/issue330/app/models/publication.rb#L386
https://github.com/DCLP/sosol/blob/issue330/app/models/dclp_meta_identifier.rb#L62

Once this hurdle has been cleared, there is still the need to create a DCLPTextIdentif

[2017-09-01 22:34] rogerbagnall commented on #336
I'm getting nothing but 404 error messages when I try to look at these. I can understand why people would use inventory numbers this way, in the absence of a volume and serial number reference, and no literary equivalent to SB, but I think it would be better to replace these with the publication information, like journal citation.

[2017-10-05 14:22] ryanfb commented on #326
There's some partial work for this in this commit (adding a `temporary_path` method to `DCLPTextIdentifier`): https://github.com/ryanfb/sosol/commit/58403cc4b80cf8fbd45d61a8f283c23cab0ee912

But it doesn't fully resolve the errors.

[2017-10-05 14:32] jcowey commented on #326
OK, thanks!

[2017-10-16 10:23] Edelweiss commented on #259
I don’t think implementing a re-use feature for the editor would be a huge amount of work. I estimate finding the appropriate xpaths a far greater task. Thanks for going to the trouble of finding meaningful and viable encoding strategies. As for the editor, all we need to do is add the respective xpaths to the dclp configuration and provide some helper functions and GUI elements.

Are there any id

[2017-10-16 14:11] paregorios commented on #259
It seems to me now that the next step would be for the papyrologists ( @rla2118 , @rogerbagnall , @jcowey  and colleagues ) to come up with answers to the questions about appearance and user interface raised in the second and third paragraphs of @Edelweiss's [immediately preceding comment on this issue](https://github.com/DCLP/dclpxsltbox/issues/259#issuecomment-336845255).

[2017-10-16 14:21] jcowey commented on #259
Have already spoken to Carmen concerning this. I think that our priority should be to fix the Create New Publication business (#326 , #330 etc), then go through the process of getting that deployed.
Thereafter we can return to this.

[2017-10-16 14:23] jds15 commented on #259
We have access to TM re-use data, via tab-sep dump provided by Mark. It is *not* automatically updated. So, it does not in current implementation provide solution to all desired use cases (e.g. papyri.info user wants to associate two or more o/w unassociated texts). But it will surely be an assent if we mean to include re-use data somewhere in the records.

This means that this is a UI issue and a

[2017-10-16 14:37] rla2118 commented on #259
I also think Create New Pub should be the priority.

2017-10-16 16:23 GMT+02:00 jds15 <notifications@github.com>:

[2017-10-19 09:26] Edelweiss commented on #174
https://docs.google.com/spreadsheets/d/1j0fDU-FTM6pbBj8-tQ8rr3tu4w2Cj8PTgWYuzA-tfJI/edit?usp=sharing

[2017-10-20 08:50] Edelweiss opened #337 "Layout: @columns attribute not saved"
entered the value 2 (both as the numeral ‘2’ and as the word ’two') in the ‘columns' field and then tried to save the file, it threw up the following error message:

Error updating file: element "layoutDesc" incomplete; expected element "ab", "layout", "p" or "summary". This file was NOT SAVED.

[2017-10-20 08:52] Edelweiss commented on #337
**xpath for columns:**

[code]
**example:**

[code]

[2017-10-25 13:20] Edelweiss commented on #174
To be checked on the above list are:

is the abbreviation OK, in most cases it is

correct the page number indication in each case

[2017-10-25 14:12] Edelweiss commented on #176
@HolgerEssler  please click on the following link to review the additions:

https://github.com/DCLP/idp.data/commit/09353a45274e581f7bfd74ad076eb60b1033a19a

they should now be fine.

[2017-10-26 14:02] Edelweiss commented on #313
tei:biblScope/@unit in DCLP

- column
- fragment
- generic
- line
- number
- page
- side
- volume

[2017-10-26 14:03] Edelweiss commented on #314
all values of tei:biblScope/@unit that are currently used in DCLP

- column
- fragment
- generic
- line
- number
- page
- side
- volume

[2017-10-26 14:22] jcowey opened #338 "Date functions not working in DCLP"
The choice of "first half (?)" and anything else with "(?)" results in error. The rest seems to work.

[2017-10-26 15:17] jcowey opened #339 "Use of "ca." in Date section"
This is also an HGV date issue.

Under "precision" one can use the choice "ca." in conjunction with century. This is not desired and should not be possible.

![bildschirmfoto 2017-10-26 um 17 15 27](https://user-images.githubusercontent.com/612992/32061293-832ee53a-ba71-11e7-8055-90ee7c4debe9.png)

One gets in HGV Format "ca. VI". The underlying XML is correct.

[2017-11-02 14:41] Edelweiss commented on #338
Dates like »Anfang (?) I« cannot be saved because the following markup is not compliant with DCLP’s version of the EpiDoc schema, which is 8.23:

[code]
The attribute ```@degree``` is not allowed here. It’s ok, though, with HGV’s EpiDoc version, which is 8.13.

[2017-11-02 15:55] Edelweiss commented on #314
google spread sheet that lists all DCLP files with missing biblio pointers (DCLP bibliography, biblio and appearsIn)

https://docs.google.com/spreadsheets/d/1zS8D859XVja4XaI-2G-5BDe3t63cJ_N4ldjUHDCkoTc/edit#gid=1469196938

(navigate to tab “fix074_findMissingBiblioReferences“)

[2017-11-08 09:55] Edelweiss commented on #324
DCLP idnos that contain special characters, such as

* ```,``` (e.g. p.herc;;220,1078,1080,1669,1693)
* ```_``` (e.g. p.herc;;21_7)
* ```+``` (e.g. p.herc;;1043+1045)

p.herc;;19,698
p.herc;;220,1078,1080,1669,1693
p.herc;;221,245,463,1423
p.herc;;222,223,1082,1089,1643,1675
p.herc;;224,1007,1114
p.herc;;225,411,1094,1497,1572,1575,1578
p.herc;;228,403,407,1425,1581
p.herc;;229,242,243,247,248,433

[2017-11-08 10:38] Edelweiss commented on #336
In DCLP, there are 90 bibliographic records that come along with the information ‘ined.’ (that is, ```<biblScope unit="generic">ined.</biblScope>``` or ```<biblScope unit="generic">ined.?</biblScope>``` or ```<biblScope unit="generic">qua ined.</biblScope>```)

https://github.com/DCLP/idp.data/blob/master/DCLP/57/56179.xml#L100
https://github.com/DCLP/idp.data/blob/master/DCLP/63/62317.xml#L86
htt

[2017-11-08 13:37] Edelweiss commented on #336
https://github.com/DCLP/idp.data/commit/d2e8d5707c19c1ea7a8ab7f8bce664c12d4cc82f

[2017-11-08 14:07] jcowey commented on #336
Spoke with @hcayless about this.
Agreed to change the dclp-hybrid from

`<idno type="dclp-hybrid">p.gen;;208</idno>`

to

`<idno type="dclp-hybrid">na;;100162</idno>`

as suggested in the comment from 1 sept.

Also got rid of the bibliographic reference in

https://github.com/DCLP/idp.data/blob/master/DCLP/101/100162.xml#L80-L88

which made no sense.

The above commit should now be merged to maste

[2017-11-08 14:14] Edelweiss commented on #336
https://github.com/DCLP/idp.data/commits/master

[2017-11-08 14:14] #336 closed, assigned to hcayless, jcowey

[2017-11-08 14:49] Edelweiss opened #340 "Language missing (tei:div[type='edition']/@xml:lang)"
Some DCLP files don‘t have a language attribute, e.g. https://github.com/DCLP/idp.data/blob/master/DCLP/1/555.xml#L101

[code]

It would be favourable, however, if we could provide lanuage information for these stubs like with the other files:

[code]

@jcowey suggested that we ask Trismegistos for a language list for a given set of TM numbers.

[2017-11-08 15:12] Edelweiss opened #341 "Stray empty text divs"
Some DCLP files have two text divs, one of which is empty, like in this case:

https://github.com/DCLP/idp.data/blob/master/DCLP/64/63477.xml

[2017-11-08 15:18] Edelweiss commented on #341
Is it mandatory that the commentary information (```<div type="commentary" subtype="frontmatter" xml:space="preserve">```) is written in one line?

as in the file mentioned above:

https://github.com/DCLP/idp.data/blob/master/DCLP/64/63477.xml#L79

[2017-11-08 15:21] Edelweiss commented on #341
It’d be best to get rid of these empty text divs before assembling a TM list for Marc as requested in tickt #340

[2017-11-08 15:31] Edelweiss opened #342 "SoSOL editor: bibliography, line separators"
Remove horizontal line above passage list, have instead a line above each biblio entry

![bildschirmfoto 2017-11-08 um 16 26 33](https://user-images.githubusercontent.com/612862/32557386-49245b50-c4a2-11e7-9807-86437420fbc9.png)

[2017-11-09 07:31] Edelweiss commented on #341
Here I found a file that has two text divs both of which have content:

https://github.com/DCLP/idp.data/blob/master/DCLP/66/65740.xml

[2017-11-09 09:22] Edelweiss commented on #341
Here I found a file that has two text divs both of which have content:

https://github.com/DCLP/idp.data/blob/master/DCLP/66/65740.xml

[2017-11-09 09:23] Edelweiss commented on #341
in issue branch and master branch:

https://github.com/DCLP/idp.data/commit/9acdb170ec8b4cd750489cd047b944823a59a53f

[2017-11-09 10:01] Edelweiss opened #343 "Add language information to text divs"
Use language information provided in the following documnt to enrich DCLP’s text divs:

https://docs.google.com/spreadsheets/d/1BKufrr8tV6eA22296p5K0OXcnSXEAZC8iabncaRfLro/edit#gid=1960435111

(move to tab »Languages«)

**languages as they appear in the spreadsheet**

- Coptic → cop
- Coptic? → cop
- Demotic → egy-Egyd
- Greek → grc
- Greek-Coptic → grc
- Greek? → grc
- Latin → la

**DDB languages

[2017-11-09 16:19] Edelweiss commented on #341
Has been fixed

https://github.com/DCLP/idp.data/blob/master/DCLP/66/65740.xml#L109

[2017-11-09 16:19] #341 closed, assigned to Edelweiss, jcowey

[2017-11-09 16:56] Edelweiss commented on #343
in issue branch and in master:

https://github.com/DCLP/idp.data/commit/68f9a8e7d1cd60780b938e965333aadcf600c33b

[2017-11-15 07:43] Edelweiss commented on #340
List of DCLP’s TM numbers that have no language information:

https://docs.google.com/spreadsheets/d/1BKufrr8tV6eA22296p5K0OXcnSXEAZC8iabncaRfLro/edit#gid=1340090555

[2017-11-15 07:56] Edelweiss opened #344 "ancient authors: phi, tlg, stoa, cwkb and ancient works: tm, tlg, stoa, cwkb"
Make a list of all available information about ancient editions

[2017-11-15 11:11] Edelweiss commented on #344
**author**

- name
- language
- phi
- tlg
- stoa
- cwkb

**work**

- title
- language
- date
- tm
- tlg
- stoa
- cwkb

[2017-11-15 11:12] Edelweiss commented on #344
https://docs.google.com/spreadsheets/d/1BKufrr8tV6eA22296p5K0OXcnSXEAZC8iabncaRfLro/edit#gid=1340090555

[2017-11-15 11:38] Edelweiss commented on #344
https://docs.google.com/spreadsheets/d/1zS8D859XVja4XaI-2G-5BDe3t63cJ_N4ldjUHDCkoTc/edit#gid=541353458

[2017-11-15 15:28] Edelweiss opened #345 "SoSOL: rename button »Create New Publication«"
on page »advanced create«, ~~set new caption »Create New DDB Publication«~~

[2017-11-15 16:10] jcowey commented on #345
At the level of

http://papyri.info/editor/publications/advanced_create

![bildschirmfoto 2017-11-15 um 17 08 40](https://user-images.githubusercontent.com/612992/32846499-b43d4a8e-ca27-11e7-8feb-06431a8c3b20.png)

It is at this level that we should see:

Create New DDB Publication

Create a new DDB publication record and text.

instead of

Create New Publication

Create a new publication record a

[2017-11-15 16:11] jcowey commented on #345
Below that we should have the same for

Create New DCLP Publication

[2017-11-16 10:17] Edelweiss commented on #345
So this is what you want (the pink boxes are only for highlighting)?
![bildschirmfoto 2017-11-16 um 11 14 24](https://user-images.githubusercontent.com/612862/32885957-77ac7f34-cabf-11e7-834d-8c8b25978f97.png)

Do we then need a horizontal line above »Create New DCLP Publication« as it is a level 3 heading?

[2017-11-16 10:17] Edelweiss commented on #345
Rather than this?
![bildschirmfoto 2017-11-16 um 10 31 42](https://user-images.githubusercontent.com/612862/32886038-baf22884-cabf-11e7-8fd7-6d22376ad77d.png)

[2017-11-22 09:43] Edelweiss opened #346 "Use number server to lookup DCLP files"
Make use of the number server when calling up dclp records

[code]

**Get Catalog Link**

- https://github.com/DCLP/sosol/blob/development/app/views/identifiers/_pn_link.haml#L3
- https://github.com/DCLP/sosol/blob/development/app/models/dclp_meta_identifier.rb#L63
- https://github.com/DCLP/sosol/blob/development/app/models/dclp_text_identifier.rb#L20
- https://github.com/DCLP/sosol/blob/developme

[2017-11-22 10:28] Edelweiss opened #347 "Rename problem"
create an entirely new publication in DCLP and submit, then at the finalization stage, change the name from e.g. SoSOL;2017;0007 to e.g. papyri.info/dclp/397915 → error message

<img width="1427" alt="screen shot 2017-11-20 at 17 39 22" src="https://user-images.githubusercontent.com/612862/33122544-cffbea5a-cf77-11e7-9386-f10c416e1fea.png">

click on Leiden+ below DCLP Text the screen goes blank

[2017-11-22 10:49] Edelweiss opened #348 "Accessing empty model members causes the editor to crash"
[code]

etc.

[2017-11-22 11:51] Edelweiss commented on #348
https://github.com/DCLP/sosol/commits/issue348
(also in dclp/master)

[2017-11-22 11:51] #348 closed, assigned to Edelweiss

[2017-11-22 13:01] Edelweiss commented on #345
https://github.com/DCLP/sosol/commits/issue345
(also in master)

[2017-11-29 10:49] Edelweiss commented on #347
https://github.com/DCLP/sosol/tree/issue347

[2017-11-29 15:23] Edelweiss opened #349 "SoSOL Meta Editor: add edition (javascript)"
hide extraneous fields when clicking »edition«

![bildschirmfoto 2017-11-29 um 16 21 28](https://user-images.githubusercontent.com/612862/33382624-7ef5aa6a-d521-11e7-9581-453e4050de75.png)

[2017-11-30 10:37] Edelweiss commented on #347
YTBD

- **new view** with text field for dclp hybrid (new file name, new dclp-hybrid name (optional), dummy header) ok
- set **dclp-hybrid** ok
- ~~set **dummy header** / **reprint** (update header, dummy header as in ddb)~~
- implement similar functionality for **DCLP Text Identifier** as well (vote?, rename!) ok
- rename text/meta **relatives** as well ok

[2017-12-06 10:13] Edelweiss opened #350 "Add new editor field »LDAB«"
Just where to place it? Perhaps under »Editions & Bibliography« alongside »TM-No.«, or under »General Notes« where »MP3« is residing?

[2017-12-06 10:17] Edelweiss opened #351 "provenance not working properly for DCLP files"
@rla2118 in an e-mail

[2017-12-06 10:23] Edelweiss commented on #347
@rla2118 in an e-mail

[2017-12-07 08:41] Edelweiss commented on #350
in issue branch and development branch

[issue50](https://github.com/DCLP/sosol/commits/issue350)

[2017-12-07 09:05] Edelweiss commented on #347
new problems

- won’t finalize ok [repository problem]
- timestamp in publication title / broken **publication title** after rename (only sometimes)
- rename publication title if dclp-hybrid is given [no, this is no standard behaviour]

[2017-12-07 09:18] rla2118 commented on #350
I would say next to the TM no.

[2017-12-07 09:20] Edelweiss opened #352 "g-type *apostrophe* is not getting picked up by the XSLT"
@rla2118 in an e-mail

[2017-12-07 15:19] paregorios commented on #352
I remember a long discussion about this and associated encoding issues. I'll try to dig it up and reconcile with what you're seeing here. @rla2118 can you give us a link to one or more texts where you're not seeing the behavior you expect?

[2017-12-07 15:21] paregorios commented on #352
The previous thread was on #63, which was closed as resolved.

[2017-12-18 09:29] Edelweiss commented on #351
Workshopped

[2017-12-18 09:29] #351 closed, assigned to Edelweiss

[2017-12-18 09:42] Edelweiss commented on #349
In issue branch and development branch
https://github.com/DCLP/sosol/commits/issue349

[2017-12-18 09:42] #349 closed, assigned to Edelweiss

[2017-12-18 09:42] #350 closed, assigned to Edelweiss

[2017-12-18 10:56] Edelweiss commented on #339
in issue branch and in development branch
https://github.com/DCLP/sosol/commits/issue339

[2017-12-18 11:10] Edelweiss commented on #337
in development branch an in master branch

https://github.com/DCLP/sosol/commit/4999466cc9dafd84ac6f5c20905f844f831053a6
https://github.com/DCLP/sosol/commit/185810b4592bd057de1353420784ba39086df221

[2017-12-18 11:10] #337 closed, assigned to Edelweiss

[2017-12-18 11:54] Edelweiss opened #353 "Preserve biblio comments in DCLP files"
see #333

[2017-12-20 13:02] Edelweiss commented on #353
in issue branch and in development branch
https://github.com/DCLP/sosol/tree/issue353

[2017-12-20 13:02] #353 closed, assigned to Edelweiss

[2017-12-20 15:40] Edelweiss opened #354 "Double profileDesc"
affected files

- 101306
- 108582
- 115393
- 115499
- 143329
- 66139
- 66426
- 66505
- 67062

[2017-12-20 15:41] Edelweiss commented on #354
see diff in #333

[2017-12-20 16:16] Edelweiss commented on #354
https://github.com/DCLP/idp.data/commit/3eccd81e9b202dcf3b9911dd844663d0dea664a6

also in master

[2017-12-20 16:16] #354 closed, assigned to Edelweiss

[2017-12-20 16:31] Edelweiss opened #355 "Consolidate tei:langUsage according to DDB standards"
see file sosol/data/xslt/ddb/sosol_langs.xml

[code]

[2017-12-20 16:31] Edelweiss commented on #355
see diff in #333

[2017-12-21 09:11] Edelweiss commented on #355
And we need a language tag in the TEI document root
[code]

[2017-12-21 10:04] Edelweiss commented on #355
Languages in DCLP

- **ara** (Arabic)
- arc (**Official Aramaic**)
- cop (Coptic)
- egy-Egyd (**Egyptian  (Ancient)**)
- en (English)
- **got (Gothic)**
- grc (Greek)
- **he (Hebrew)**
- **ka (Georgian)**
- la (Latin)
- la-Grek (Latin in Greek script)
- **syc (Classical Syriac)**

[2017-12-21 10:06] Edelweiss commented on #355
Combined List (JC approved)

[code]

[2017-12-21 15:41] Edelweiss commented on #355
There is a mistake in SoSOL’s languag list:

This
```    <language ident="ar">Arabic</language>```
should be this
```    <language ident="ara">Arabic</language>```
and needs to be changed.

[2018-01-24 13:48] #355 closed, assigned to Edelweiss

[2018-01-24 13:56] Edelweiss commented on #352
http://litpap.info/dclp/59814

It seems to work here.

[2018-01-24 13:56] #352 closed, assigned to Edelweiss

[2018-01-24 14:23] Edelweiss commented on #347
problems that still need to be solved:

- timestamp in publication title / broken **publication title** after rename (happens after »finalize« and propagates back to parent publications within the board’s hierarchy)

[2018-01-24 14:24] #176 closed

[2018-01-24 14:25] #276 closed

[2018-01-24 14:26] #311 closed

[2018-01-24 15:10] Edelweiss commented on #319
My approach woud be to change
[code]
at
https://github.com/DCLP/idp.data/blob/master/DCLP/60/59007.xml#L15-L16

to
[code]

And all publication::principals will become reference::partial in

https://github.com/DCLP/idp.data/blob/master/DCLP/60/59007.xml#L96-L115

[2018-01-24 15:16] #333 closed, assigned to Edelweiss

[2018-01-24 15:30] #330 closed

[2018-01-25 10:46] #220 closed

[2018-01-25 12:26] Edelweiss commented on #346
https://github.com/DCLP/navigator/commit/2b4dca9298e893dced9179f75e281abc2f5e80c5

[2018-01-25 12:28] #329 closed

[2018-01-25 12:29] #332 closed

[2018-01-25 12:31] Edelweiss commented on #334
Related to #346

[2018-01-25 12:38] Edelweiss opened #356 "Remove options »Create new DCLP Meta« and »Create new DCLP Text« from DDB/HGV/APIS overview"
![bildschirmfoto 2018-01-25 um 13 36 04](https://user-images.githubusercontent.com/612862/35388674-02626e8a-01d5-11e8-8584-8c05e8aad305.png)

[2018-01-25 12:46] Edelweiss opened #357 "Non validating files: 7 instances in 5 files"
We now have 7 instances in 5 files, see:
https://docs.google.com/spreadsheets/d/1v7bMtAXDyzb2folOQ5rdyKzXJaDnxsIrvJGVwcwTDrM/edit#gid=0

Left over from #312

[2018-01-25 12:47] #312 closed

[2018-01-25 13:07] Edelweiss opened #358 "Give examples for valid entries into fields »new name« and »new hybrid name« in rename form"
something like »papyri.info/dclp/555« for one field, somehting like »xyz;;13« for the other

[2018-01-25 13:08] jcowey commented on #226
CWKB numbers are now being saved as expected (most recently in January 2018)

[2018-01-25 13:08] #226 closed

[2018-01-25 15:19] ryanfb commented on #334
See also: #270

[2018-01-31 10:15] Edelweiss opened #359 "New TM number overview"
refactoring and clean up

[2018-01-31 10:16] Edelweiss commented on #359
https://github.com/DCLP/navigator/commit/e7b1f459b81f443406171d0bf6fe1c7f380743dc

[2018-01-31 10:16] #359 closed, assigned to Edelweiss

[2018-02-07 15:32] Edelweiss opened #360 "Mapping doesn’t produce expected xpaths"
compare xpaths from different rdf files that refer to the same TM no:

* http://papyri.info/hgv/129793/source/rdf
* http://litpap.info/hgv/129793/source/rdf
* http://litpap.info/dclp/129793/source/rdf

xpath as expected by SoSOL’s interface to the number sever:
[code]
**RDF » Description » relation » @resource**

[2018-02-08 10:02] Edelweiss commented on #358
https://github.com/DCLP/sosol/tree/issue358

[2018-02-08 10:04] Edelweiss commented on #321
https://github.com/DCLP/sosol/commit/c56ea643d1f1c2fcc611f5fa6fd27f443d0f8a5a

[2018-02-08 10:05] Edelweiss commented on #315
https://github.com/DCLP/sosol/commit/e4f948e5556087d844f7132e9bf513ab81c1f771

[2018-02-08 14:03] Edelweiss commented on #347
publication titles before »finalize«
[code]
publications titles after »finalize«

[code]

**Elemmire/SoSOL;2018;0001**
becomes
**Elemmire/SoSOL;2018;0001 (2018/02/08-14.56.01)**

However, at the same time the entry disappears from the board’s dashboard. This seems to be normal behaviour when a publication is moved from status »approved/finalizing« to status »archived/finalized«. (It doesn’t propag

[2018-02-13 20:58] jcowey commented on #321
Not working for me:
http://litpap.info/editor/publications/1242/dclp_text_identifiers/2566/edit

![bildschirmfoto 2018-02-13 um 21 58 23](https://user-images.githubusercontent.com/612992/36173359-11f219de-1109-11e8-916a-4c6f9aea12dc.png)

[2018-02-14 08:40] Edelweiss commented on #321
Derzeit nur auf [Test](http://dclp-test.zaw.uni-heidelberg.de)

[2018-02-15 05:40] Edelweiss commented on #360
step by step analysis to track down error…

**[1]** Compare papyri and DCLP (navigator, master branch, mapping for HGV)

* [hgv-rdf.xsl (papyri)](https://github.com/papyri/navigator/blob/master/pn-mapping/xslt/hgv-rdf.xsl)

* [hgv-rdf.xsl (dclp)](https://github.com/DCLP/navigator/blob/master/pn-mapping/xslt/hgv-rdf.xsl)

(files are identical: git diff papyri/master...dclp/master -- pn-mapping/xslt

[2018-02-15 08:07] Edelweiss commented on #360
blocker for #346

[2018-02-15 08:08] Edelweiss commented on #346
see Hugh’s comment in #360

[2018-02-15 08:13] Edelweiss commented on #347
Cannot reproduce error, but I’m sure it exists…

[2018-02-15 08:16] Edelweiss commented on #281
Should work now with the new board that can handle translations.

[2018-02-15 08:25] Edelweiss commented on #281
SQL to set up dummy boards for Webrick development environment

[code]

[2018-02-15 12:46] Edelweiss commented on #274
https://github.com/DCLP/sosol/commit/2479e8ddd6088fb2bc04adbe37f1c9bbe506e1e6

[2018-02-15 13:36] Edelweiss commented on #274
It seems there are two problems, both owing to DCLP identifiers always appearing as a pair of twins. Alongside a DCLPTextIdentifier, there is always a DCLPMetaIdentifier and the other way around. You cannot have one without the other. So when a comment is saved, it’s actually saved twice (once for the text and once for the meta), and when a comment is displayed, it’s displayed twice (again text an

[2018-02-15 13:45] Edelweiss commented on #274
This may have infected some of the DCLP files that are in the repository. So this issue also concerns our EpiDoc xml files.

[2018-02-15 14:37] Edelweiss commented on #274
There are almost 100 such files:

[130499](https://github.com/DCLP/idp.data/blob/master/DCLP/131/130499.xml)
[131510](https://github.com/DCLP/idp.data/blob/master/DCLP/132/131510.xml)
[139884](https://github.com/DCLP/idp.data/blob/master/DCLP/140/139884.xml)
[140273](https://github.com/DCLP/idp.data/blob/master/DCLP/141/140273.xml)
[140275](https://github.com/DCLP/idp.data/blob/master/DCLP/141/140

[2018-02-21 15:25] Edelweiss commented on #274
Beware: Changes not made by the system (consider timestamp)

https://github.com/DCLP/idp.data/blame/master/DCLP/60/59436.xml

[2018-02-21 16:07] Edelweiss commented on #274
https://github.com/DCLP/idp.data/commits/issue274

also in development and master

[2018-02-22 13:57] Edelweiss commented on #274
https://github.com/DCLP/sosol/commit/6a85a957433038b2ab03e0c969e8c2dce0962c21

[2018-02-22 15:04] Edelweiss commented on #274
Can now be tested on

http://dclp-test.zaw.uni-heidelberg.de

(old copies in board repositories have not been re-processed, though, their counterparts in idp.data, however, have been fixed)

[2018-02-28 07:25] Edelweiss commented on #360
Hugh in an e-mail:

[2018-02-28 11:16] jcowey commented on #326
At present Create New DCLP Publication works. One can create a new DCLP Publication and at least one real instance has been pushed right through the system with voting, finalizing etc.

This is the file in question:

http://litpap.info/dclp/372062

[2018-02-28 11:16] #326 closed

[2018-02-28 11:22] jcowey commented on #358
This looks fine to me, now

[2018-02-28 11:23] jcowey commented on #321
This now looks fine.

[2018-02-28 11:23] jcowey commented on #315
Looks fine now.

[2018-02-28 14:08] jcowey commented on #281
Tested by Rodney. Fine. He could and did rename the translation, but he did not finalize it, because I asked him to hold off. We still do not know where the translations are going to live: alongside hgvtrans or as separate dclptrans.

[2018-02-28 14:38] jcowey commented on #274
Appears to be fine. Tested on a couple of files. Vote messages were not repeated.

[2018-02-28 14:43] #360 closed, assigned to Edelweiss

[2018-02-28 14:49] Edelweiss commented on #270
fixed navigator side of things, SoSOL editor still pending

[2018-02-28 14:49] #270 closed

[2018-02-28 14:51] Edelweiss commented on #334
blocked by #346

[2018-02-28 14:52] Edelweiss commented on #346
blocks #334

[2018-02-28 15:11] Edelweiss commented on #303
Option 1 already implemented in litpap.info

[2018-02-28 15:11] #303 closed

[2018-02-28 15:19] Edelweiss commented on #317
files that still need repair

./63/62411.xml: P.Herc. 228, 403, 407, 1425, 1581
./63/62425.xml: P.Herc. 495
./63/62426.xml: P.Herc. 558
./63/62476.xml: P.Herc. 1471

change to…

./63/62411.xml: p.herc;;228,403,407,1425,1581
./63/62425.xml: p.herc;;495
./63/62426.xml: p.herc;;558
./63/62476.xml: p.herc;;1471

[2018-02-28 15:25] Edelweiss commented on #324
https://github.com/DCLP/idp.data/commit/5f24f325a18bb1df34a71af52e650ee013a52804
https://github.com/DCLP/idp.data/commit/9ca1a605c617000ee999683fcff5c62de3c14f70
https://github.com/DCLP/idp.data/commit/e82a65aab5531692a55e736a42d1a37c438a177e
https://github.com/DCLP/idp.data/commit/1a1a3a7b7e7661248c8b926b49068c8b3df29ce8
https://github.com/DCLP/idp.data/commit/83f213a53292e7fe42d73eb895ec95a7374f

[2018-02-28 15:25] #324 closed

[2018-02-28 15:36] jcowey commented on #342
If this one could be fitted in as well to those things that you are fixing that would be great

[2018-02-28 15:56] jcowey commented on #320
Once #319 has been dealt with this can be closed

[2018-03-07 11:41] #281 closed

[2018-03-07 11:41] #274 closed

[2018-03-07 11:41] #315 closed

[2018-03-07 11:41] #321 closed

[2018-03-07 11:41] #358 closed, assigned to Edelweiss

[2018-03-07 13:43] Edelweiss commented on #342
https://github.com/DCLP/sosol/tree/issue342

https://github.com/DCLP/sosol/commit/92dbc9996eb2e636975da741b1ea3fa8e6d9a53e

(merged to development and master)

[2018-03-07 13:56] Edelweiss commented on #317
case-sensitive search for `P.Herc.` in xpath `tei:idno[@type='dclp-hybrid']` didn’t bring forth any further idnos of the kind

[2018-03-07 14:13] Edelweiss commented on #317
https://github.com/DCLP/idp.data/tree/issue317

(in development and master)

[2018-03-08 09:11] Edelweiss commented on #319
file `idp.data/DCLP/144/143378.xml` was already fixed in the following commit

https://github.com/DCLP/idp.data/commit/d2e8d5707c19c1ea7a8ab7f8bce664c12d4cc82f

[2018-03-08 09:17] Edelweiss commented on #319
https://github.com/DCLP/idp.data/tree/issue319

(also in development and master)

Affected dclp-hybrids (same files as the one in the list provided by Tom Elliot, except for TM no. 143378)

[bku;1;165, bku;1;166](http://litpap.info/dclp/107918)
[p.lond.copt;;130, p.lond.copt;;133](http://litpap.info/dclp/107951)
[p.lond.copt;;962, p.lond.copt;;122](http://litpap.info/dclp/107952)
[bku;3.1;322, bku

[2018-03-08 09:19] Edelweiss commented on #317
Files can be viewed on github and will be picked up with the next sync.

[2018-03-08 09:20] Edelweiss commented on #319
Files can be viewed on github and will be picked up with the next sync.

[2018-03-08 09:43] Edelweiss commented on #342
now available for testing on http://dclp-test.zaw.uni-heidelberg.de

[2018-03-08 12:35] Edelweiss commented on #356
Also…

![bildschirmfoto 2018-03-08 um 13 31 30](https://user-images.githubusercontent.com/612862/37151366-7f579ec6-22d5-11e8-84ea-b5aa636fdad9.png)

[2018-03-08 12:36] #342 closed, assigned to jcowey

[2018-03-08 12:37] #319 closed

[2018-03-08 12:37] #317 closed

[2018-03-08 14:13] Edelweiss commented on #356
Matching TM nos in DCLP and DDB
https://docs.google.com/spreadsheets/d/1BKufrr8tV6eA22296p5K0OXcnSXEAZC8iabncaRfLro/edit#gid=601739276

[2018-03-08 14:45] Edelweiss commented on #356
https://github.com/DCLP/sosol/tree/issue356
(in development and in master)

[2018-03-08 14:50] Edelweiss commented on #356
can now be tested on http://dclp-test.zaw.uni-heidelberg.de/editor

[2018-03-14 07:58] Edelweiss commented on #356
can also be tested on [production](http://litpap.info/editor)

[2018-03-14 17:38] Edelweiss commented on #360
https://github.com/DCLP/sosol/tree/issue330

[2018-03-15 08:54] Edelweiss commented on #360
»**replaces**« constraint remains unclear (last part of the xpath)

[code]

I would have expected one of the following two examples to come along with a »replaces« tag as one file replaces the other

http://papyri.info/ddbdp/bgu;1;1/rdf
http://papyri.info/ddbdp/p.louvre;1;4/rdf

as defined in the [reprint](https://github.com/DCLP/idp.data/blob/master/DDB_EpiDoc_XML/bgu/bgu.1/bgu.1.1.xml#L45) claus

[2018-03-15 09:18] Edelweiss commented on #360
reprint definition taken from P. Louvre I 4

[code]

[2018-03-15 09:24] Edelweiss commented on #360
Example P. Louvre I 4, which is a reprint from BGU I 1 and various other publications (`bgu;1;1|bgu;1;337|chr.wilck;;92`):

Even though the reprint information is in the EpiDoc file

https://github.com/DCLP/idp.data/blob/master/DDB_EpiDoc_XML/p.louvre/p.louvre.1/p.louvre.1.4.xml#L58

and even though the xslt obviously picks up the information

https://github.com/DCLP/navigator/blob/master/pn-mappi

[2018-03-15 10:40] Edelweiss commented on #360
But the »replaces« relations are there in the xml code generated by ddbdp-rdf.xsl

[code]
I therefore consider it obsolete and will omit it

[2018-03-15 12:14] Edelweiss commented on #346
With the number server working for DCLP, ddb files and hgv files get picked up alonside translations when calling up a DCLP file in the editor (see pink box):

![bildschirmfoto 2018-03-15 um 13 10 17](https://user-images.githubusercontent.com/612862/37462525-8da1cb96-2852-11e8-8ff1-efbabb8071cb.png)

This behaviour needs to be changed so that only translations are picked up.

[2018-03-15 12:32] Edelweiss commented on #346
Change url of numbers server and xpath
https://github.com/DCLP/sosol/tree/issue360

use numbers server for DCLP
https://github.com/DCLP/sosol/tree/issue346

[2018-03-15 12:35] Edelweiss commented on #346
good test case TM no. 129793 (DCLP file that has relations to DDB, HGV and HGV_trans)

[2018-03-15 13:07] Edelweiss commented on #346
When a translation is loaded alongside a DCLP record, the translation get the lead position (appearing in the title, being listed as the first item on the overview page, jumping automatically to the translations section after creation, see pink boxes)

![bildschirmfoto 2018-03-15 um 14 04 56](https://user-images.githubusercontent.com/612862/37464885-ffb5a782-2859-11e8-93b6-97834835d9ce.png)

[2018-03-15 13:40] Edelweiss commented on #346
merged to development and master

https://github.com/DCLP/sosol/tree/development
https://github.com/DCLP/sosol/tree/master

Can now be tested on [DCLP test](http://dclp-test.zaw.uni-heidelberg.de/)

[2018-03-15 13:47] Edelweiss commented on #334
Seems to be solved as a side effect of ticket #346.

However, I’m not sure whether this is how the editor is supposed to work. Perhaps pulling up DCLP records alongside their DDBDP and HGV counterparts needs to be supressed in order to maintain a clear distinction between the two corpora?!

[2018-03-21 09:56] Edelweiss commented on #346
can also be tested on [production](http://litpap.info/editor)

[2018-03-21 10:40] Edelweiss opened #361 "Empty date tags"
There are 196 instance of dclp files that are missing an HGV formatted date string, e.g.

[code]

[2018-03-21 10:40] Edelweiss commented on #361
All affected files:

http://litpap.info/dclp/99576
http://litpap.info/dclp/100219
http://litpap.info/dclp/101198
http://litpap.info/dclp/102114
http://litpap.info/dclp/113535
http://litpap.info/dclp/115159
http://litpap.info/dclp/115163
http://litpap.info/dclp/115171
http://litpap.info/dclp/115195
http://litpap.info/dclp/115197
http://litpap.info/dclp/115211
http://litpap.info/dclp/115214
http://l

[2018-03-21 11:38] Edelweiss opened #362 "wrong abbreviation for month »February«"
HGV abbreviates »February« as »Febr.«

Therefore, on this line of code

https://github.com/DCLP/sosol/blob/master/app/helpers/hgv_meta_identifier_helper.rb#L1904

```Feb.``` should become ```Febr.```

[code]

[2018-03-21 11:59] Edelweiss commented on #361
https://github.com/DCLP/idp.data/commit/2b639158d360984f2dcb4ecaca364591869c3dc2

in development and in master (unfortunately, there’s no separate issue branch)

[2018-03-21 12:13] Edelweiss commented on #361
Some dates are completely empty…
[code]

List of files:
https://github.com/DCLP/idp.data/blob/master/DCLP/116/115244.xml#L47
https://github.com/DCLP/idp.data/blob/master/DCLP/118/117866.xml#L42
https://github.com/DCLP/idp.data/blob/master/DCLP/127/126152.xml#L47
https://github.com/DCLP/idp.data/blob/master/DCLP/17/16422.xml#L42
https://github.com/DCLP/idp.data/blob/master/DCLP/49/48691.xml#L42
htt

[2018-03-22 08:42] Edelweiss commented on #361
relevant commits

https://github.com/DCLP/idp.data/commit/2b639158d360984f2dcb4ecaca364591869c3dc2
https://github.com/DCLP/idp.data/commit/5a31bc449d94add872393213b4589fe9a44e2d5a

(in development and in master)

[2018-03-22 08:42] #361 closed, assigned to Edelweiss

[2018-03-22 09:03] Edelweiss commented on #362
grep result for »Feb\.«

[code]

[2018-03-22 09:24] Edelweiss commented on #335
xsugar (https://github.com/DCLP/xsugar/tree/issue335)
https://github.com/DCLP/xsugar/commit/e224606054e22784518ef9edb44c236a11b10f77
https://github.com/DCLP/xsugar/commit/de1708d823d6d14b75a79b7ab6e576279fc5216a

idp.data (https://github.com/DCLP/idp.data/tree/issue335)
https://github.com/DCLP/idp.data/commit/73ebfe0488160ca5eec17e3812e374905d2c0be7

[2018-03-22 10:09] Edelweiss commented on #362
On papyri/idp.data (cherry-picked from DCLP https://github.com/DCLP/idp.data/tree/issue362)
https://github.com/papyri/idp.data/commit/c9de79c6b80af426a60dc9060302ec1b7b3536b2

SoSOL (https://github.com/DCLP/sosol/tree/issue362)
https://github.com/DCLP/sosol/commit/40fdb48a5c1b0b29a5023f3ebae8165c5e865013
(merged to development and master)

[2018-03-22 15:00] Edelweiss opened #363 "Peep into another user’s dashboard"
Allow admins to view another user’s dashboard to find corrupted publications that cause dashboard crashes.

[2018-03-22 15:11] Edelweiss commented on #363
SoSOL (https://github.com/DCLP/sosol/tree/issue363)

https://github.com/DCLP/sosol/commit/c42cf4c182aaaec0e183b81e401dcb06518fda6f

(dev + master)

[2018-04-03 14:16] ryanfb commented on #362
The tests in `date_test.rb` should also be updated to the new abbreviation (currently [this](https://github.com/DCLP/sosol/commit/40fdb48a5c1b0b29a5023f3ebae8165c5e865013) causes the tests to fail): https://github.com/DCLP/sosol/blob/master/test/unit/date_test.rb

[2018-04-04 11:12] Edelweiss commented on #362
Yes, thank you for this report and sorry for the trouble. Updated tests accordingly in the following commit:

https://github.com/DCLP/sosol/commit/f8515f0dfd7dc09598d030b3d45ed5d01b99ee5d
(merged to development and master)

[2018-04-04 17:28] ryanfb commented on #362
Thanks!

[2018-06-27 14:04] Edelweiss opened #364 "TM 372070 (P.Oxy. 79.5205), documents not joined properly"
Rodney in an e-mail

[2018-06-27 14:09] Edelweiss commented on #364
idnos HGV file

[code]

idnos DCLP file

[code]
idnos DDB file

[code]

[2018-09-19 08:11] jcowey opened #365 "Add xml:lang info to files"
Using the spreadsheet Language4litOstraca

https://docs.google.com/spreadsheets/d/1vRV4gai4x9SRpNwn1o87mZba2AEDCQLuhyAvxDm3V-A/edit#gid=0

please change the edition div to include the relevant language info.

E.g.

https://github.com/DCLP/idp.data/blob/master/DCLP/64/63420.xml#L97

`<div type="edition" xml:space="preserve"/>`

should become

`<div xml:lang="grc" type="edition" xml:space="preserve"

[2018-09-19 13:11] jcowey commented on #365
Please commit directly to DCLP master.

[2018-09-21 17:39] jcowey commented on #365
https://github.com/DCLP/idp.data/commit/1d3d28a4d1887525d28b6af0870b6c6e998a9f4e

[2018-10-10 14:19] jcowey opened #366 "Insert appropriate nome name in relevant files"
The tag
`<placeName type="ancient" subtype="nome">U</placeName>`

must be replaced with the relevant one. All that we have is the above tag. This is a result of the data we received.

[2018-10-10 14:21] jcowey commented on #365
This can now be closed

[2018-10-10 14:21] #365 closed, assigned to Edelweiss

[2018-10-12 07:47] Edelweiss commented on #366
There are 6438 files containing this kind of information.

Examples

Pathyris
https://github.com/DCLP/idp.data/blob/master/DCLP/1/555.xml#L46

Oxyrynchos
https://github.com/DCLP/idp.data/blob/master/DCLP/61/60066.xml#L46

Tentyris
https://github.com/DCLP/idp.data/blob/master/DCLP/99/98077.xml#L53

What should the placeholder »U« be replaced with?

[2018-10-12 08:38] jcowey commented on #366
Would you please generate a distinct list of those placeNames which are siblings of
`<placeName type="ancient" subtype="nome">U</placeName>` in a googlespreadsheet

[2018-10-12 08:40] jcowey commented on #366
I generated a distinct list of `<placeName type="ancient" ref="[^<]+">[^<]+</placeName>` at 311, but many of those were not accompanied by `<placeName type="ancient" subtype="nome">U</placeName>`

[2018-10-12 09:37] jcowey commented on #366
I would then fill in the relevant replacements for »U«
On the basis of such a list you would then be able to change and replace in appropriate fashion.

[2018-10-12 14:15] Edelweiss commented on #366
https://docs.google.com/spreadsheets/d/1uNsT53My4l0JdcE8jogBsqVZyYHjWsWuIw5Dh5GoCI0/edit?usp=sharing

[2018-11-15 21:36] ryanfb commented on #332
See also: #347

[2018-12-12 09:52] jcowey commented on #366
https://github.com/DCLP/idp.data/blob/master/DCLP/1/555.xml#L46-L48
now looks like
[code]
should look be
[code]

The same should of course be the case for
https://github.com/DCLP/idp.data/blob/master/DCLP/1/555.xml#L53-L55

https://github.com/DCLP/idp.data/blob/master/DCLP/1/555.xml#L41
now offers
[code]

It should be
[code]

[2018-12-12 10:15] jcowey commented on #366
https://github.com/DCLP/idp.data/blob/master/DCLP/61/60066.xml#L46-L48
offers
[code]

It should be
[code]

Please note "Oxyrynchos" => "Oxyrhynchos"

https://github.com/DCLP/idp.data/blob/master/DCLP/61/60066.xml#L41
offers
[code]

it should be
[code]

[2018-12-12 10:15] jcowey commented on #366
Please leave the purple ones

[2018-12-12 14:15] Edelweiss commented on #366
Beispiele für verschiedene Schreib- und Fundorte

**/DCLP/109/108739.xml**

[code]

Weitere Beispiele
--
http://www.trismegistos.org/place/269\|http://www.trismegistos.org/place/1227
http://www.trismegistos.org/place/471\|http://www.trismegistos.org/place/801
http://www.trismegistos.org/place/576\|http://www.trismegistos.org/place/1589
http://www.trismegistos.org/place/801\|http://www.trismegistos

[2018-12-12 14:31] Edelweiss commented on #366
**Typen**

- Found|written
- Fundort|Schreibort
- Schreibort|Fundort

**Mapping auf die Datenelemente**

- Schreibort / written > composed
- Fundort / found > found

**Mögliche Kombinationen**

- found|composed
- composed|found

[2018-12-19 13:46] Edelweiss commented on #366
https://github.com/DCLP/idp.data/commit/346523e9150aec4a620b7a4e23b438662455c387
https://github.com/DCLP/idp.data/commit/1a64dda73ef2ee0d0771361596eea978630443e0

Beispiele:

https://github.com/DCLP/idp.data/blob/master/DCLP/65/64487.xml
https://github.com/DCLP/idp.data/blob/master/DCLP/66/65099.xml
https://github.com/DCLP/idp.data/blob/master/DCLP/66/65067.xml
https://github.com/DCLP/idp.data/blo

[2018-12-19 14:12] jcowey commented on #366
Looks excellet thank you.
Would you now please create another pass at the Sheet "X für ein U" in the spreadsheet DCLP Geo
https://docs.google.com/spreadsheets/d/1uNsT53My4l0JdcE8jogBsqVZyYHjWsWuIw5Dh5GoCI0/edit#gid=0

For the remaining cases of the use of "u" which you did not change because I was unsure of which nome was to be used.

Then I can go ahead and do the necessary work.
If you do a new

[2018-12-19 14:57] jcowey commented on #366
Thank you. I see that you have now marked rows 16, 18-19 and 21-23 as one which correspond the the purple I had in the previous version.

Are the ones you are marking with HTTPS ones you did not catch previously. I had been surprised to see them, because I thought they would have been dealt with anyway.

So a second read out was indeed a very useful check.

[2018-12-19 14:59] jcowey commented on #366
Oh sorry, that was my fault. I had pasted a https URL and not cleaned it as I had done with the others

[2018-12-19 15:00] Edelweiss commented on #366
Ja, absolut! Gute Idee… Danke! Uff, ich bin gerade am sondieren, warum manche aufgenommen wurden, von denen man es nicht erwartet hätte, und warum andere offenbar nicht gematcht wurden.

[2018-12-19 15:02] Edelweiss commented on #366
Ja, das mit dem HTTP(S) ist wohl deswegen entstanden, weil die Daten in Spalte »place name« und »place ref« nur Beispiele waren. Das war etwas irreführend und mir später selbst nicht mehr bewusst.

[2018-12-19 15:04] Edelweiss commented on #366
Frage: Sollen die refs alle einheitlich auf entweder HTTP oder HTTPS lauten? Als Vorab-Clean-Up.

[2018-12-19 15:10] jcowey commented on #366
I think we should go for HTTPS. It is what the URL (e.g. www.trismegistos.org/place/1008) resolves to. And everything is moving towards HTTPS nowadays

[2018-12-19 15:10] jcowey commented on #366
I feel sure it is not like that in papyri.info, but that would be easy to fix and is for another day.

[2018-12-20 08:58] Edelweiss commented on #366
httpS

https://github.com/DCLP/idp.data/commit/1535ee172ae587fd01f32f98c6298775511c0d1f
https://github.com/DCLP/idp.data/commit/f115e30a28c961eaef15156f2233f4f128d8301d

X for U
https://github.com/DCLP/idp.data/commit/b10bffe80859b3672baf9b8688ef9247cc656e7d

X for U 2
https://github.com/DCLP/idp.data/commit/5f288c93fcb82998fcf6773c20b985a652edd801
https://github.com/DCLP/idp.data/commit/f59ecf977

[2019-01-16 09:46] Edelweiss commented on #366
Nach dem heutigen commit gibt es nun keine U-Orte mehr.

[2019-01-16 12:06] jcowey commented on #366
Splendid.

[2019-01-16 12:08] jcowey commented on #366
Closing this as completed

[2019-01-16 12:08] #366 closed, assigned to Edelweiss, jcowey