[2014-06-18 19:51] paregorios opened #1 "set up regression test framework"
We need a semi-automated way to make sure that we are not clobbering existing functionality for the other collections (i.e.,, DDB, HGV, APIS, etc.). My idea is to select 4 or 5 items from each of these collections and set up a script that runs whatever modifications to stylesheets are sitting in the local working copy against those items. Then diffs results against known good results (or takes a s

[2014-06-19 02:00] #1 closed, assigned to paregorios

[2014-06-19 02:10] paregorios opened #2 "coerce regression test examples so they don't produce false positives"

[2014-07-01 18:00] #2 closed, assigned to paregorios

[2014-07-02 09:58] jcowey opened #3 "Author/Editor for Reference edition."
http://dclp.github.io/dclpxsltbox/output/dclp/60/59360.html
works well. It displays: " Knut Kleve , How to read an illegible papyrus. Towards an edition of PHerc. 78, Caecilius Statius, Obolostates sive Faenerator , 1996 "
https://github.com/DCLP/navigator/blob/xslt-master/pn-xslt/metadata.xsl#L580
processes
https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59360.xml#L80

http://dclp.github.io/dc

[2014-07-02 13:39] paregorios opened #4 "insert comma between work and author"
e.g., instead of

produce

[2014-07-02 13:45] paregorios opened #5 "stop repetition of material in display when it is the only thing associated with the support"
low priority?

[2014-07-02 13:52] paregorios opened #6 "handle multiple provenances of different types (elegantly)"
e.g., https://github.com/DCLP/idp.data/blob/dclp/DCLP/62/61438.xml#L42 see also http://sourceforge.net/p/epidoc/feature-requests/69/

[2014-07-02 14:18] paregorios opened #7 "use human-readable fragment descriptions in custodial events display"
right now, we're serializing the IDREFs from the corresp attribute; instead, we'd like to see the text nodes from the corresponding elements in the file that have xml:id values that correspond to those IDREFs. For example, instead of:

try something like:

[2014-07-02 14:19] paregorios opened #8 "serialize custodial events in a more reader-friendly fashion"
Instead of:

something like:

[2014-07-02 14:21] paregorios opened #9 "include value of custEvent@type in display of custodial events"
Instead of:

something like:

[2014-07-02 14:22] paregorios opened #10 "link individual fragment references in custodial events to scanned images elsewhere"
This is blocked until the XML contains (for Herc papyri) one ptr to an image for each fragment.

[2014-07-02 14:47] paregorios opened #11 "In items with more than one edition, the editor of the principal edition is not displayed"
e.g.
http://dclp.github.io/dclpxsltbox/output/dclp/63/62400.html
(editor n="1" in line 808ff. in the xml)
http://dclp.github.io/dclpxsltbox/output/dclp/63/62477.html
(editor n="1" in line 474ff. in the xml)

[2014-07-02 15:00] #11 closed, assigned to nobody

[2014-07-09 09:26] #3 closed, assigned to cgajjar05

[2014-07-09 09:26] #4 closed, assigned to nobody

[2014-07-09 09:27] #7 closed, assigned to nobody

[2014-07-09 09:27] #8 closed, assigned to nobody

[2014-07-09 09:27] #9 closed, assigned to nobody

[2014-07-10 01:36] paregorios opened #12 "insert commas in lists of fragments"
E.g., instead of

produce

Apply the approach to both the "Fragments" listing and the corresponding fragments lists in the individual custodial events.

[2014-07-10 01:39] paregorios opened #13 "insert space between name and parenthetical dates in custodial events entries"
Instead of:

produce:

It may be necessary to force the whitespace using something like:

[code]

in the XSLT.

[2014-07-10 01:56] paregorios opened #14 "Capitalize the first letter of the first word in each custodial event"
Right now we have, e.g.:

Instead, we would like to see:

It looks to me like this change will most easily be made [at line 576 in metadata.xsl](https://github.com/DCLP/navigator/blob/xslt-master/pn-xslt/metadata.xsl#L576) where the value of the "type" attribute on the "custEvent" element is emitted. Since XSLT does not have a convenient title-case or camel-case function, it will be necessary to i

[2014-07-10 09:46] HolgerEssler opened #15 "Add dot after P.Herc"
Instead of
P.Herc
it should always read
P.Herc.

[2014-07-10 10:19] HolgerEssler opened #16 "Add book number after work"
E.g. of TM 59754
Instead of
Work    Epicurus, De natura
display
Work    Epicurus, De natura 25

[2014-07-10 10:34] cgajjar05 opened #17 "Clean title for the html files"
Please give some suggestions for the clean and text only title to replace the one which is currently having href tags too.

[2014-07-10 10:40] paregorios opened #18 "make tab titles more distinctive"
From Rodney in email:

[2014-07-10 12:19] #18 closed, assigned to cgajjar05

[2014-07-10 12:19] #12 closed, assigned to cgajjar05

[2014-07-10 12:20] #13 closed, assigned to cgajjar05

[2014-07-10 12:20] #14 closed, assigned to cgajjar05

[2014-07-10 12:20] #16 closed, assigned to nobody

[2014-07-10 12:20] #17 closed, assigned to nobody

[2014-07-15 14:26] paregorios opened #19 "cater for texts in DCLP records"
Presently, the transform pipeline for DCLP content passes over the presence of `<div type="edition">...</div>` when producing HTML. This needs to change. If such a `<div>` is present, it needs to be handled the same way as for DDbDP records, probably through the addition of some logic in [MakeHTML.xsl](https://github.com/DCLP/navigator/blob/xslt-master/pn-xslt/MakeHTML.xsl).

[2014-07-15 18:34] #15 closed, assigned to Edelweiss

[2014-07-16 05:20] rla2118 opened #20 "Remove repeated info from Custodial Events"
In some records, info is repeated multiple times, both in custodial events and (still) under 'fragments', see https://dclp.github.io/dclpxsltbox/output/dclp/221/220478.html.  Can this be weeded out?

Rodney

[2014-07-17 03:45] #19 closed, assigned to cgajjar05

[2014-07-17 03:48] paregorios opened #21 "support Place Stored (ancient) in metadata transform"
The XML encoding information about the place in which the papyrus was stored in antiquity is to be found inside the `<provenance type="stored">` element. Whenever such an element occurs in an XML file, a corresponding line in the HTML output should be created with the title "Place Stored (Ancient)". So, for example, if we encounter the following in an XML file:

[code]

we would want to see someth

[2014-07-17 03:49] paregorios opened #22 "handle new encoding for object description in transforms"
Metadata components of interest here will have to be assembled from multiple places in the XML. Note that any given XML file may be sparse, i.e., it may not contain all of these items. Logical tests will therefore be necessary to ensure that we do not emit subheadings, punctuation, or annotations that are not associated with actual data. Book form is encoded in the `form` attribute on the `objectD

[2014-07-17 03:49] paregorios opened #23 "support notes on genre in metadata transform"

[2014-07-17 03:53] paregorios opened #24 "refine handling of subjects/keywords"
Address culture, genre, and religion in more detail, and in separate sections in the HTML.

[2014-07-17 03:57] paregorios opened #25 "change order in which the key components of the metadata section are presented"
Desired order is as follows:

Work
Reference Edition
Fragments
Support/Dimensions
Date
Provenance
Place Stored (Ancient)
Material
Form (includes book form, no. of columns, no. of lines, no. of pages on a single line)
Notes on Genre
Culture
Religion
Printed Illustration
Custodial Events

[2014-07-17 04:31] #23 closed, assigned to paregorios

[2014-07-17 04:56] paregorios opened #26 "display printed illustration and custodial information together with text"
From @HolgerEssler in email:

[2014-07-17 05:01] #10 closed, assigned to cgajjar05

[2014-07-17 06:42] rla2118 opened #27 "Line Numbers Missing"
Line numbers are not displaying in the text transformations.  They should appear at intervals of 5, beginning with line 5.

[2014-07-17 11:29] Edelweiss opened #28 "custEvent stubs for sketchings"
TM-Nr. [62477](https://raw.githubusercontent.com/DCLP/idp.data/dclp/DCLP/63/62477.xml), Fragment Id 3584

[code]

Something went wrong here, needs investigation and re-transformation from Herculaneum FileMaker XML to EpiDoc XML.

Search for
`<custEvent type="sketched" corresp="#[^"]+"/>`

[2014-07-17 18:46] paregorios opened #29 "ref links to Trismegistos places on placeName elements are invalid"
The TEI Guidelines stipulate that values in the `ref` attribute must be URIs. Throughout the data, we have `<placeName>` elements carrying `ref` attributes with values like "www.trismegistos.org/place/3365". In order to be valid URIs, such strings must be prefixed with either "http://" or "https://" (whichever is canonical for Trismegistos).

[2014-07-17 20:03] paregorios opened #30 "some reference editions are repeated"
From @rogerbagnall via email:

See: [DCLP/TM 62477](https://dclp.github.io/dclpxsltbox/output/dclp/63/62477.html), sub "Reference Edition".

[2014-07-17 20:05] paregorios opened #31 "some editions referencing journal articles are incompletely rendered in HTML"
From @rogerbagnall via email:

[2014-07-17 22:10] paregorios opened #32 "some bibliographic data for reference editions is incomplete"
See discussion and example in #31.

[2014-07-18 07:30] #28 closed, assigned to Edelweiss

[2014-07-18 09:11] #24 closed, assigned to cgajjar05

[2014-07-18 09:11] #25 closed, assigned to cgajjar05

[2014-07-18 16:05] paregorios opened #33 "regression error in pn-xslt commit db0f63511e"
Commit [db0f63511e](https://github.com/DCLP/navigator/commit/db0f63511e74375fea8c8b5550333118648d95ef#diff-2da1d3c31b86c01e1d7bf953b5f81a53) of metadata.xsl has introduced regression errors against HGV and APIS:

This is because the implementation of re-ordering items (issue #25) applied the changes globally instead of just for the DCLP collection. I will undertake to make the appropriate adjustme

[2014-07-18 18:23] paregorios opened #34 "DCLP XML files need appropriate copyright and license statements encoded in them"
Compare DDB texts, e.g., https://github.com/papyri/idp.data/blob/master/DDB_EpiDoc_XML/bgu/bgu.1/bgu.1.10.xml#L16

[2014-07-18 19:08] paregorios opened #35 "XSLT asserts a particular license for content, whether or not there is one in the original XML"
This is bad practice. If no copyright or license information is found in the XML, then some sort of generic "all rights reserved" status should be asserted.

[2014-07-18 19:24] #33 closed, assigned to nobody

[2014-07-18 19:27] #21 closed, assigned to cgajjar05

[2014-07-18 21:33] #35 closed, assigned to paregorios

[2014-07-18 21:37] paregorios opened #36 "formatting in custodial events could be improved"
Initial letter should be capitalized; double-space before name of responsible individual should be single space, space needed preceding parentheses around dates, when there is no date, something should be said, etc.

[2014-07-18 22:17] #36 closed, assigned to paregorios

[2014-07-18 22:20] paregorios opened #37 "fragment listings need separation punctuation"

[2014-07-18 22:28] paregorios opened #38 "text contents of idno@type=invNo not consistent"
Some text nodes inside `<idno type="invNo">` elements end in a semicolon, others don't. This inconsistency is showing up in the formatting. Consider, for example, the fragments in [TM 62477](https://github.com/DCLP/idp.data/blob/dclp/DCLP/63/62477.xml).

Assigning to @rla2118 for review and discussion.

[2014-07-18 22:38] #37 closed, assigned to paregorios

[2014-07-18 22:41] paregorios opened #39 "serialization of reference edition bibliography has odd whitespace handling"
spaces appearing before commas and so forth

[2014-07-18 23:12] #39 closed, assigned to paregorios

[2014-07-21 17:50] paregorios opened #40 "links to XML from HTML are broken"
A recent update to the code -- probably one of mine on Friday -- has broken several of the "xml" links from the transforms to the github content.

[2014-07-21 18:17] paregorios opened #41 "determine proper encoding for alternative dates in custodial events"
Currently, our draft data uses multiple `<date>` elements inside a wrapper `<date>` element inside `<custEvent>` and inserts an interstitial "oder" to indicate that these are alternatives. TEI has robust mechanisms for expressing date ranges, alternatives, granularity, and certainty and we should leverage these in specifying a more machine-actionable encoding model for these cases.

[2014-07-21 18:53] paregorios opened #42 "determine proper encoding for uncertainty in dates in custodial events"
See first #41, which contains discussion about encoding practice that is relevant in this case as well.

At present, our custodial events deal with uncertainty in the historical record by using a `<certainty>` element, targeting the `when` attribute on the parent `<custEvent>` element, and a `cert` attribute of “low”.

Asked about this in IRC, @hcayless opined that the use of the `<certainty>` ele

[2014-07-21 19:07] paregorios opened #43 "XSLT needs revision to address revised encoding of date information in custodial events"
At present, the DCLP version of the PN XSLT files constructs a textual representation of each custodial event that [draws upon date information encoded in the `from` and `to` attributes on the `<custEvent>` element](https://github.com/DCLP/navigator/blob/xslt-master/pn-xslt/metadata.xsl#L687). Some `<custEvent>` elements in the data now have no `from` or `to` attributes. Some of these make use ins

[2014-07-21 19:21] paregorios opened #44 "revise HTML transform handling of object description in response to revised XML encoding"
An on-going discussion about dates in custodial events (#41, #42, #43) has raised an issue that warrants a reconsideration of how we're encoding the object description. Specifically, the use of XML attributes as the sole carriers of data meant for direct post-transform display to human users is frowned upon in TEI P5. We ought, instead, to prefer element content for these purposes and use attribut

[2014-07-21 19:45] paregorios opened #45 "oddities in text transforms"
I have noted the following oddities (in passing) in the html transform of [TM. 62477 (Philodemus, De musica)](https://dclp.github.io/dclpxsltbox/output/dclp/63/62477.html). They need further investigation. A thoroughgoing collation of one or more of our transcriptions as transformed (perhaps a shorter one) by a papyrologist familiar with the text would seem to me to be a worthwhile enterprise.

**

[2014-07-22 06:34] #40 closed, assigned to cgajjar05

[2014-07-22 15:23] #27 closed, assigned to cgajjar05

[2014-07-23 15:03] #29 closed, assigned to jcowey

[2014-07-24 10:39] #38 closed, assigned to jcowey

[2014-07-25 14:40] paregorios opened #46 "revise XSLT to include links to places"
Sometimes `<placeName>` elements in `<provenance>` elements will have a `ref` attribute. When this attribute is present and is a URL (i.e., it starts with the string "http") then we should wrap our HTML output in an `<a>` element with the value of the `href` attribute equal to the value of the `ref` attribute in the source XML.

For examples of data, see: https://github.com/DCLP/idp.data/commit/4b

[2014-07-25 14:45] #44 closed, assigned to nobody

[2014-07-28 14:47] #46 closed, assigned to cgajjar05

[2014-07-29 09:15] #22 closed, assigned to cgajjar05

[2014-07-29 15:24] paregorios opened #47 "suppress display of "material" in HTML"
Via email from Rodney:

I think that this should be as simple as removing the corresponding "apply-templates" section from [metadata-dclp.xsl](https://github.com/DCLP/navigator/blob/xslt-master/pn-xslt/metadata-dclp.xsl#L63).

[2014-07-30 09:56] #47 closed, assigned to cgajjar05

[2014-07-30 17:51] paregorios opened #48 "XML does not validate: no authority element in publicationStmt"
The TEI/EpiDoc schema requires an ```<authority>``` element inside ```<publicationStmt>``` before our series of ```<idno>``` elements, but we don't have one (this omission has long obtained in the HGV metadata as well, but that is outside our remit here). [According to the TEI Guidelines](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-authority.html), the ```<authority>``` element "suppli

[2014-08-01 18:43] paregorios opened #49 "figure out how to run xsugar coverage tests with the xsugar standalone server"
For speed, efficiency, and scaleability. Script the resulting commands so it's easy to execute.

[2014-08-01 18:59] paregorios opened #50 "invalid XML in <objectDesc>"
The recently implemented solution for more prosey object description was to introduce an initial typed paragraph for use in display and then to follow it with ```<supportDesc>``` etc. Here's an example:

[code]

Unfortunately, this example throws a number of validation errors against the EpiDoc schema, all of which are exemplary of similar problems across the entire dataset:

We can probably easil

[2014-08-06 12:18] #30 closed, assigned to Edelweiss

[2014-08-06 14:03] rla2118 opened #51 "Collapsing Fragments Field"
Can we put Fragments in a collapsible window? It would make examples like this easier to ignore,
http://dclp.github.io/dclpxsltbox/output/dclp/63/62400.html, if one isn't interested in seeing all of the fragment info.

[2014-08-27 22:44] #45 closed, assigned to HolgerEssler

[2014-09-03 14:31] HolgerEssler opened #52 "Display word division with paragraphos"
When there is a paragraphos between two lines, the sign of word division seems to be displayed after the paragraphos instead of the preceeding line.
Example:
http://dclp.github.io/dclpxsltbox/output/dclp/63/62400.html
Col. 51, lines 13-14:
Displays:
    ἀν]θ̣ρ̣[ώ]
—— -
ποιϲ
Should display:
     ἀν]θ̣ρ̣[ώ-]
——
ποιϲ

[2014-09-10 14:21] jcowey opened #53 "User selectable display of Greek / Latin text"
It would be good to have a way of displaying reg in the text and orig in the apparatus (likewise corr and sic). Literary texts are sometimes better handled in a different way from documentary ones.
Quite how we best do this I am not sure. I had thought of having a button which could use appropriate XSLT on the fly to display the text in a new window.
XSLT could have a DCLP parameter attached under

[2014-09-23 19:25] cgajjar05 opened #54 "Remove duplicate rows : Provenance and Support/Dimensions"
In html files, Provenance and Support/Dimensions rows appear 2 times.
e.g. https://dclp.github.io/dclpxsltbox/output/dclp/63/62387.html

We need to remove redundancy.

[2014-10-17 14:20] #54 closed, assigned to cgajjar05

[2014-11-19 21:55] HolgerEssler opened #55 "Display of multiple lacunas"
In TM 62419
the beginning of col. 15, 2 in the edition reads:
---   ̣ ̣ ̣ ̣ ̣ φ]αῦλον
Leiden+ encoding would be
[.?][.5] [φ]αῦλον
XML :
`<gap reason="lost" extent="unknown" unit="character"/><gap reason="lost" quantity="5" unit="character"/> <supplied reason="lost">φ</supplied>αῦλον`
However, preview is grouping the gaps in the wrong way:
[ -ca.?- ][φ]αῦλον

[2014-11-19 21:59] HolgerEssler opened #56 "Round brackets in literary texts"
Allow to encode round brackets which occasionally occur in literary texts in a syntactical function.

[2014-11-25 20:27] cgajjar05 opened #57 "Add "Middot" to Leiden+ documentation examples"
"Middot" is not present in Leiden+ documentation. Add "Middot" to Leiden+ documentation, examples.

[2014-11-25 20:28] cgajjar05 opened #58 "create GUI helper / menu item for "Middot""
There is not GUI helper for "Middot". So, create GUI helper / menu item for "Middot".

[2014-11-25 20:31] cgajjar05 opened #59 "Add to Leiden+ documentation examples for "Triple dot""
"Triple dot" is not added in Leiden+ documentation. Add to Leiden+ documentation, examples for "Triple dot".

[2014-11-25 20:36] cgajjar05 opened #60 "Create GUI helper / menu item for "Triple dot""
There is no help in GUI helper for "Triple dot". So, create GUI helper / menu item for "Triple dot".

[2014-11-25 20:38] cgajjar05 opened #61 "Create GUI helper / menu item for "Line filler""

[2014-11-25 20:41] cgajjar05 opened #62 "Add to Leiden+ documentation examples for "Apostrophe""
Add to Leiden+ documentation examples for "Apostrophe". As, no documentation is provided for "Apostrophe".

[2014-11-25 20:42] cgajjar05 opened #63 "Implement handling for ancient "apostrophe" mark in XSLT"
Create or change representation in preview (XSLT) for "Apostrophe".

[2014-11-25 20:43] cgajjar05 opened #64 "Create GUI helper / menu item for "Slanting stroke""
Create GUI helper / menu item for "Slanting stroke".

[2014-11-25 20:45] cgajjar05 opened #65 "Add to Leiden+ documentation examples for "Stigmai""
Add to Leiden+ documentation examples for "Stigmai".

[2014-11-25 20:45] cgajjar05 opened #66 "Create GUI helper / menu item for "Stigmai""
Create GUI helper / menu item for "Stigmai".

[2014-11-25 20:47] cgajjar05 opened #67 "Change representation in XSLT for "Stigmai""
Create or change representation in preview (XSLT) for "Stigmai".

[2014-11-25 20:47] cgajjar05 opened #68 "Add to Leiden+ documentation examples for "Dicolon""
Add to Leiden+ documentation examples for "Dicolon".

[2014-11-25 20:48] cgajjar05 opened #69 "Create GUI helper / menu item for "Dicolon""
Create GUI helper / menu item for "Dicolon".

[2014-11-25 20:48] cgajjar05 opened #70 "Create or change representation in XSLT for "Dicolon""
Create or change representation in preview (XSLT) for "Dicolon".

[2014-11-25 20:49] cgajjar05 opened #71 "Add "Diple" to Leiden+ grammar"
Add "Diple" to Leiden+ grammar.

[2014-11-25 20:50] cgajjar05 opened #72 "Add "Diple" to Leiden+ documentation examples."
Add "Diple" to Leiden+ documentation examples.

[2014-11-25 20:51] cgajjar05 opened #73 "Create GUI helper / menu item for "Diple""
Create GUI helper / menu item for "Diple".

[2014-11-25 20:51] cgajjar05 opened #74 "Create or change representation in XSLT for "Diple""
Create or change representation in preview (XSLT) for "Diple".

[2014-11-25 20:52] cgajjar05 opened #75 "Add "Diple obelismene" to Leiden+ grammar"
Add "Diple obelismene" to Leiden+ grammar.

[2014-11-25 20:52] cgajjar05 opened #76 "Add to Leiden+ documentation examples for "Diple obelismene""
Add to Leiden+ documentation examples for "Diple obelismene".

[2014-11-25 20:53] cgajjar05 opened #77 "Create GUI helper / menu item for "Diple obelismene""
Create GUI helper / menu item for "Diple obelismene".

[2014-11-25 20:53] cgajjar05 opened #78 "Create or change representation in preview (XSLT) for "Diple obelismene""
Create or change representation in preview (XSLT) for "Diple obelismene".

[2014-11-25 20:54] cgajjar05 opened #79 "Add "Coronis" to Leiden+ grammar"
Add "Coronis" to Leiden+ grammar.

[2014-11-25 20:54] cgajjar05 opened #80 "Add to Leiden+ documentation examples for "Coronis""
Add to Leiden+ documentation examples for "Coronis".

[2014-11-25 20:55] cgajjar05 opened #81 "Create GUI helper / menu item for "Coronis""
Create GUI helper / menu item for "Coronis".

[2014-11-25 20:55] cgajjar05 opened #82 "Create or change representation in XSLT for "Coronis""
Create or change representation in preview (XSLT) for "Coronis".

[2014-11-25 20:56] cgajjar05 opened #83 "Add to Leiden+ documentation examples for "Diastole""
Add to Leiden+ documentation examples for "Diastole".

[2014-11-25 20:56] cgajjar05 opened #84 "Create GUI helper / menu item for "Diastole""
Create GUI helper / menu item for "Diastole".

[2014-11-25 20:57] cgajjar05 opened #85 "Create or change representation in XSLT for "Diastole""
Create or change representation in preview (XSLT) for "Diastole".

[2014-11-25 20:57] cgajjar05 opened #86 "Add to Leiden+ documentation examples for "Drachma""
Add to Leiden+ documentation examples for "Drachma".

[2014-11-25 20:58] cgajjar05 opened #87 "Create GUI helper / menu item for "Drachma""
Create GUI helper / menu item for "Drachma".

[2014-11-25 20:59] cgajjar05 opened #88 "Add to Leiden+ documentation examples for "eisthesis""
Add to Leiden+ documentation examples for "eisthesis".

[2014-11-25 21:00] cgajjar05 opened #89 "Create GUI helper / menu item for "eisthesis""
Create GUI helper / menu item for "eisthesis".

[2014-11-25 21:00] cgajjar05 opened #90 "Handle "eisthesis" (indent) in XSLT"
Create or change representation in preview (XSLT) for "eisthesis".

[2014-11-25 21:01] cgajjar05 opened #91 "Add to Leiden+ documentation examples for "ekthesis""
Add to Leiden+ documentation examples for "ekthesis".

[2014-11-25 21:01] cgajjar05 opened #92 "Create GUI helper / menu item for "ekthesis""
Create GUI helper / menu item for "ekthesis".

[2014-11-25 21:02] cgajjar05 opened #93 "Handle "ekthesis" (outdent) with XSLT"
The "LitPapText" spreadsheet (line 30) envisions the following:

XML: ```<lb n="2" rend="ekthesis"/>```

Leiden+ : ```(2, ekthesis)```

and reports that these "work", but XSLT doesn't handle them as desired.

[2014-11-25 21:02] cgajjar05 opened #94 "Add to Leiden+ documentation examples for "centered""
Add to Leiden+ documentation examples for "centered".

[2014-11-25 21:06] cgajjar05 opened #95 "Add to Leiden+ documentation examples for special monograms "(*monogram,σχι*(στοῦ))(*monogram,πρ*(ός))""
Add to Leiden+ documentation examples for special monograms "(_monogram,σχι_(στοῦ))(_monogram,πρ_(ός))".

[2014-11-25 21:11] cgajjar05 opened #96 "Add dagger to Leiden+ grammar"
Add dagger to Leiden+ grammar for example : <: ττριννοις|corruption| possibly conjectures not accepted into the text:>.

[2014-11-25 21:12] cgajjar05 opened #97 "Add to Leiden+ documentation examples for "dagger""
Add to Leiden+ documentation examples for "dagger" such as <: ττριννοις|corruption| possibly conjectures not accepted into the text:>.

[2014-11-25 21:13] cgajjar05 opened #98 "Create GUI helper / menu item for dagger"
Create GUI helper / menu item for dagger such as <: ττριννοις|corruption| possibly conjectures not accepted into the text:>.

[2014-11-25 21:13] cgajjar05 opened #99 "Add "=abc=" to Leiden+ grammar"
Add "=abc=" to Leiden+ grammar.

[2014-11-25 21:14] cgajjar05 opened #100 "Add to Leiden+ documentation examples for "=abc=""
Add to Leiden+ documentation examples for "=abc=".

[2014-11-26 15:58] paregorios opened #101 "write code to insert P.Herc. texts into existing XML files"

[2014-11-26 15:58] paregorios opened #102 "run and post a new set of transforms with newly updated P.Herc. metadata and texts"
blocked for #101 ; take into account all new data uploads through idp.data commit by @Edelweiss : https://github.com/DCLP/idp.data/commit/a413b502a0925bc3042c617b5f2a7577798f984e ; will also need new XML text files from @HolgerEssler

[2014-11-26 16:05] paregorios opened #103 "review latest metadata for EpiDoc conformance and tasks"
Engage @Edelweiss  @jcowey  @cgajjar05  and members of the EpiDoc community (e.g., @hcayless @gabrielbodard) in reviewing all of the newly cross-walked data (through  idp.data commit: https://github.com/DCLP/idp.data/commit/a413b502a0925bc3042c617b5f2a7577798f984e) for XML validity, conformance to EpiDoc practice in other projects, and for any issues  that might need to be escalated to the EpiDoc

[2014-12-13 15:21] rla2118 opened #104 "Multiple work names appearing on separate lines."
Here's an example  http://dclp.github.io/dclpxsltbox/output/dclp/129/128512.html
Is this the display we want?  Or can we give a better idea of where on the object the given work appears?

[2014-12-13 15:27] rogerbagnall opened #105 "missing information"
If I take as an absolutely random example I landed on, http://dclp.github.io/dclpxsltbox/output/dclp/113/112364.html, the display omits the actual title of the piece as given in LDAB, as well as the actual reference to P.Oxy. 71 4809. The nome number has also vanished: U is there, but not 19. Are not these things we would want in the display?

[2014-12-17 13:54] Edelweiss opened #106 "Invalid XML <div type="figure">"
Value of attribute "type" is invalid; must be equal to "apparatus", "bibliography", "commentary", "edition", "textpart" or "translation"

e.g.

https://github.com/DCLP/idp.data/blob/dclp/DCLP/65/64120.xml

[code]
could be changed into:

[code]

This also affects HGV, e.g.

https://github.com/DCLP/idp.data/blob/dclp/HGV_meta_EpiDoc/HGV111/110164.xml

[2014-12-17 15:24] jcowey opened #107 "XSLT for principal edition information of the type P.Oxy. 71 4809"
In the case of https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112364.xml
at
https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112364.xml#l83
there is information about the place of edition. This should be displayed in Reference edition. There is I am sure a question here about
div type="bibliography" subtype="referenceEdition"> as in
https://github.com/DCLP/idp.data/blob/dclp/DCLP/63/62494.

[2014-12-18 08:58] Edelweiss opened #108 "Invalid XML <publicationStmt>"
[code]
Perhaps we could state the project's name in an tei:authority tag or give the name of the original data source.

[2015-01-05 20:57] paregorios opened #109 "handle principalEdition and referenceEdition bibliography in the same way"
At present, some of our data uses the value "principalEdition" in the "subtype" attribute on "div" elements with "type" attributes set to "bibliography". Other data makes use of "referenceEdition". There is a discussion underway about whether and how to normalize this practice and what form the corresponding markup would take (see #107, which grew out of #105).

Meantime, please modify the XSLT to

[2015-01-05 21:09] paregorios commented on #105
As @jcowey has assigned this ticket to me, I see one remaining analysis task for me: determine whether the LDAB title is missing from the XML as well as the HTML, or is just effectively suppressed by the XSL transform in the same manner as the "actual reference to P.Oxy. 71 4809). That will result in the creation of a new ticket, either for the renovation of the data crosswalk or for the enhanceme

[2015-01-05 21:16] paregorios commented on #105
@rogerbagnall please clarify: when you wrote "the display omits the actual title of the piece as given in LDAB" did you mean that our version omits to include the string "P. Oxy. 71 4809 (Parsons, PeterJ.)" or some other component(s) of [the LDAB information as shown in its own web interface](http://www.trismegistos.org/text/112364)?

[2015-01-05 21:26] paregorios commented on #102
This is in fact done, pending review of results of #101. Closing this ticket, but leaving #101 open until @HolgerEssler has confirmed that everything is ok with the results.

[2015-01-05 21:26] #102 closed

[2015-01-05 21:31] rogerbagnall commented on #105
I think that when I looked at it (and this is now not so recent) I was
thinking of "On Hellenistic Monarchs", the title given in the edition.
That is the field "book" at
http://www.trismegistos.org/ldab/text.php?tm=112364

--
Roger S. Bagnall
Leon Levy Director
Institute for the Study of the Ancient World
New York University

[2015-01-05 21:32] paregorios commented on #104
The transform is fairly faithfully reproducing what's in the corresponding XML, as derived from LDAB via the Heidelberg crosswalk. If more specificity is desired (e.g., which portions of the Gospels of Matthew and Mark), then that will have to be added to the XML by someone. As far as I can tell, there is additional information in LDAB (or linked to LDAB from elsewhere in TM): viz http://www.trism

[2015-01-05 21:33] paregorios commented on #104
@rla2118 (apart from the question of adding more specific data and figuring out how it should appear) would you prefer to see something more like this?:

Works:
* Testamentum Novum, Matthaeus (Greek), Evangelium secundum Matthaeum
* Testamentum Novum, Marcus (Greek), Evangelium secundum Marcum

[2015-01-05 21:54] paregorios commented on #34
Hi @rla2118 what would you like to do about this issue?

[2015-01-05 22:04] cgajjar05 opened #110 "Add support for unicode output of ancient monetary symbols"
We require to add support for unicode output of ancient monetary symbols, refer to line numbers from 81 to 86 in document https://docs.google.com/a/nyu.edu/spreadsheets/d/15Lnu9THFkYpCCUJIfnq3_DCJw72ivjUhHu3GLJQWY1k/edit#gid=0
List of "type" needs to handle:
drachma
obolon
diobolon
triobolon
terobolon
pentobolon

@rla2118  : can you please confirm that DCLP wants this change made to the stylesheet

[2015-01-07 04:41] rla2118 commented on #110
These symbols are low priority.  Change to the stylesheet can be made only
if it doesn't affect searching.

I've added this as an agenda item for further discussion at next Skype
meeting.

On Mon, Jan 5, 2015 at 11:04 PM, Chirag <notifications@github.com> wrote:

[2015-01-07 04:43] rla2118 commented on #34
Add copyright and license statements, as in DDbDP.

On Mon, Jan 5, 2015 at 10:54 PM, Tom Elliott <notifications@github.com>
wrote:

[2015-01-08 14:16] HolgerEssler commented on #101
It seems that the list provided by @paregorios contains the old transforms, not the new text which are intended to supersede them.

[2015-01-16 15:43] jcowey commented on #107
Carmen will make changes next week. Then Chirag can go ahead and write XSLT

[2015-01-16 16:02] cgajjar05 commented on #109
Blocked for resolution of #107

[2015-01-16 16:25] paregorios commented on #34
This is probably a job for a modified unity transform to be run across all XML. But whatever template or code the Heidelberg crosswlak uses should probably be updated to match. Does that make sense @jcowey and @Edelweiss ? If you two are OK with this, then we can assign @cgajjar05 to implement. I'm taking back ownership of this ticket pending that decision.

[2015-01-16 16:26] paregorios commented on #110
We need to investigate whether this will have an impact on search (I doubt it), but that is a question probably for @hcayless ... Meanwhile, I"m taking back ownership of this ticket until we're clear to go ahead.

[2015-01-16 16:32] paregorios commented on #105
So, in addition to the P.Oxy reference (which is *in* the XML), @rogerbagnall thinks we also should see the contents of the TM "book" field (which is NOT in the XML). Over to @jcowey @Edelweiss to confer with TM about how and whether to get this sort of info into the XML.

[2015-01-16 18:34] paregorios commented on #107
Reassigning to @Edelweiss

[2015-01-16 18:35] paregorios commented on #106
@hcayless can you comment on the above question?

[2015-01-17 08:10] rla2118 commented on #105
It would be nice to get this from TM as a simple dump.  I am a bit wary of
using precious resources right now to structure it for bibl, especially
with other important tasks waiting to be tackled.

On Fri, Jan 16, 2015 at 6:32 PM, Tom Elliott <notifications@github.com>
wrote:

[2015-01-20 15:51] cgajjar05 commented on #101
Previous list provided by @paregorios  contains wrong URLs for xmls. So, correcting them :

* 59436: [transform](https://dclp.github.io/dclpxsltbox/output/dclp/60/59436.html)  [xml](https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59436.xml)
* 59450: [transform](https://dclp.github.io/dclpxsltbox/output/dclp/60/59450.html)  [xml](https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59450.xml)
* 59

[2015-01-20 18:32] HolgerEssler commented on #101
@cgajjar05
These appear to be still the same old files as before.
We have updated the link to the drop-box folder where the new ones are available:
https://www.dropbox.com/sh/2jhxa3qe7e2olry/AACmU4S2psra9bMqVlKARx--a?dl=0

[2015-01-21 19:29] cgajjar05 commented on #101
@paregorios  has updated html files. @HolgerEssler  : will you please check the transforms again.

[2015-01-22 10:33] HolgerEssler commented on #101
Everything appears to be fine now.

[2015-01-22 13:25] HolgerEssler commented on #101
Dear Chirag,
   many thanks. Everything appears to be fine now.
   Best,
Würzburg, 22. January 2015  Holger.

------------------------------------
Dr. Holger Essler, AR
Institut für Klassische Philologie I
Residenzplatz 2 (Südflügel)
D-97070 Würzburg

Tel.:            +49-931-31-85632
email:           Holger.Essler@uni-wuerzburg.de
Institutsseite:  www.klassphil.uni-wuerzburg.de
Epikurzentrum:   w

[2015-01-22 16:17] paregorios commented on #101
Hooray! Closing...

[2015-01-22 16:17] #101 closed

[2015-01-28 15:54] jcowey opened #111 "List of Greek text entry for existing DCLP files (match by TM number and insert text body section)"
Here is a list of links (copied out of a mail sent by Rodney to Tom and James). The texts should be extracted from the XML version in the editor and placed appropriately in the relevant DCLP file (matching by TM number)

 * Entered: SoSOL 2014 383: <http://papyri.info/editor/publications/43018/ddb_identifiers/97308/edit
 * Entered: SoSOL 2014 504: <http://papyri.info/editor/publications/42925/ddb_

[2015-01-29 18:41] paregorios opened #112 "cannot insert <l> in <ab>"
Reported by @HolgerEssler who also said it seemed to be impossible to use <lg>.

[2015-01-29 18:47] paregorios commented on #112
I have just tested with the EpiDoc schema at http://www.stoa.org/epidoc/schema/latest/tei-epidoc.rng and found that @HolgerEssler is correct the ```<l>``` is not valid inside ```<ab>```. This is consistent with [TEI documentation](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-l.html).

Further testing demonstrates that the following construct, which is the one specified for [verse line m

[2015-01-29 20:14] HolgerEssler commented on #112
@paregorios This seems to lead to the further problem that <lg> may not contain other crucial elements like <supplied> or <unclear>.

[2015-02-04 16:14] Edelweiss opened #113 "Biblio Editor"
When saving back to xml, page numbers are swapped so that the higher number appears infront of the lower number:

https://github.com/papyri/sosol/blob/master/app/models/biblio_identifier.rb#L554

When this issue has been fixed, the code changes should also be reflected in the master branch. Additionally there should be a xwalk to mend all biblio files where the higher page number appears first.

[2015-02-25 15:09] andreabernini opened #114 "New Leiden+ for upper and lower margin"
There is one for left and right, but not for the upper and the lower. As far as the lower, see P.Oxy. 75.5048 (TM 128975) https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128975.xml#l189 (it is accepted, but not correctly displayed)

[2015-02-25 15:13] andreabernini opened #115 "Lectional signs by a second hand"
How to display when a second hand added lectional signs?

[2015-02-25 15:16] andreabernini opened #116 "Restoration in different columns, one of which is not preserved"
A text preserves for example col. 1 and col. 3, and the editor restores the end of col. 1 and the beginning of col. 2.

[2015-02-26 20:32] HolgerEssler commented on #116
So far we would mark up the whole column consisting of restorations. I take an (adjusted) example from TM 62419. Leiden+ would look like:
<S=.grc
<D=.78.column<=
1. lost.ca.26lin
27. [.8]η̣ν [φ]ω̣νο̣[ῦν]
=>=D>
<D=.79.column<=
1.- [ται][.16]
2. lost.ca.26lin
27. [.18][ἀ]
=>=D>
<D=.80.column<=
1.- [πὸ] τῆ[ς] [.15]
2. παντί, πο[.18]
=>=D>

XML of that part>
<div n="78" subtype="column" type="textpart

[2015-02-26 20:40] HolgerEssler commented on #116
There seems to be a problem with display, so I copied the xml and Leiden+ part to our common spreadsheet "Symbol Sanity for DCLS", line 92. Please let me know, if there is a better way of making these things available here.

[2015-03-05 08:51] Edelweiss commented on #107
https://github.com/DCLP/idp.data/commit/fd9e747afc9cf1e732b45c58c5b59d7833a18489

[2015-03-05 08:51] #107 closed

[2015-03-13 13:35] andreabernini opened #117 "littera incerta or filler?"
P.Oxy. 5026 fr. 1, col. I 13 (TM 128955):

Leiden+:    `<:.1|alt|*filler*:>`

Preview:       1.i.13. or not   ̣ ((filler))

[2015-03-19 10:19] andreabernini opened #118 "Regularization including diaeresis"
P.Oxy. 71.4804 (TM 112359)

https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112359.xml#l88

Leiden+
<:εἱ4.- στήκει|reg| ι̣(¨)4.- [στηκει]:>

EpiDoc

[code]

Apparatus:
v.3-4. l. εἱ|στήκει : Ϊ|[ΣΤΗΚΕΙ]ϊ papyrus

What we would like to see is:
v.3-4. l. εἱ|στήκει : ϊ[στηκει] papyrus
or, perhaps,
v.3-4. l. εἱ|στήκει : ϊστηκει papyrus

[2015-03-19 10:30] andreabernini commented on #116
Another similar case: P.Oxy. 70.4759, re-edited with some improvements in ZPE 165 (2008) 209-211: the restoration in the first line begins in the previous (and lost) line, so I add line 1a:

1a. <:[.?][δε]
1.- [σμώτ]ης ἡ[μ]ῶ[ν γὰρ]
2. [ἀλλοτ]ριοῦται τῆ[ς οἰ]
3.- [κ]ονομίας αὐτο[ῦ ὅ]
4.- σῳ μᾶλλον <:ἐφύβ
5.- ρισας|reg|ἐφύ[β] 5.- ρ̣ησας:>=L. Horváth, ZPE 165 (2008) 211|ed|1. [ca.4]ηση.1ω[.1]2. <:[.3

[2015-03-19 14:14] andreabernini opened #119 "Line breaks improperly handled inside <choice><sic></sic><corr></corr></choice>"
## A case taken from [TM 128953 (P.Oxy. 75.5024)](https://github.com/DCLP/idp.data/blob/master/DCLP/129/128953.xml), ll. 3-7

Leiden+ per @andreabernini:

[code]

XML:
[code]

HTML displayed as:

[code]

with corresponding apparatus:

[code]

Desired HTML for the main part of the text (per @andreabernini):

[code]

**Here @paregorios notes** that @andreabernini, in addition to fixing the lineation

[2015-03-20 13:36] andreabernini opened #120 "handle supplement parallel in XSLT"
See for instance TM 112362 (P.Oxy. 71.4807)

https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112362.xml#l107
https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112362.xml#l108

[2015-03-20 14:27] HolgerEssler commented on #120
I suppose the current convention would be:
Leiden+: _[αβγ]_
xml: <supplied reason="undefined" evidence="parallel">αβγ</supplied>

Cf. however my request in your LitPapText spreadsheet, line 62.

[2015-03-23 16:11] andreabernini opened #121 "More than one line of text in the tag ||right:αβγ||"
P.Oxy. 75.5048 (TM 128975) https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128975.xml#l179
There is no correspondence with the lines of the main text, so the added text could maybe divided into three lines; in addition, the word ἀκρα|τεῖς (written before and after the text in the right margin) is not displayed correctly

[2015-03-25 08:38] jcowey commented on #111
Have now asked Andrea Bernini to look after this task and get it done. He agreed.

[2015-03-25 08:59] paregorios commented on #120
by "low corner brackets" do you mean http://www.fileformat.info/info/unicode/char/23a3/index.htm and http://www.fileformat.info/info/unicode/char/23a6/index.htm as oppposed to "[" and "]"?

[2015-03-25 09:55] andreabernini opened #122 "Round brackets in the modern edition"
I wrote *round-bracket* in the case of P.Oxy. 70.4763 (TM 92143) col. I, 17-18
https://github.com/DCLP/idp.data/blob/dclp/DCLP/93/92143.xml#l95
https://github.com/DCLP/idp.data/blob/dclp/DCLP/93/92143.xml#l96

[2015-03-25 10:38] jcowey commented on #109
#107 is now closed. The commit that changed the subtypes is:
https://github.com/DCLP/idp.data/commit/2a66eb239ffaf5fbef7e760eb46ea84d0aba5ed4

[2015-03-25 10:43] paregorios opened #123 "Display of PrincipalPubl Info"
Originally opened by @rla2118 [on another tracker](https://github.com/paregorios/dclpxsltbox/issues/14) as follows:

Publication info is absent from HTML (see, e.g., https://dclp.github.io/dclpxsltbox/output/dclp/129/128967.html). Please add it, drawing on (https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128967.xml#l99)

I would suggest an HTML display similar to what we get in HGV. In the cas

[2015-03-25 10:45] paregorios commented on #123
This is probably just an example of what we aimed to resolve with #109. @cgajjar05 please address that issue (which is now unblocked) and then circle back to this ticket to make sure it is resolved. Meantime, I'm marking this ticket "blocked" pending resolution of #109.

[2015-03-25 10:46] paregorios commented on #109
Hi @cgajjar05 please put this ticket back in your work queue.

[2015-03-25 11:13] rla2118 commented on #120
Yes, Tom, that looks right.

[2015-03-25 11:15] paregorios commented on #120
And what is the semantic significance a-la Leiden of such brackets?

[2015-03-25 11:42] HolgerEssler commented on #120
I resend my original comment as it was not displayed as I intended it:

I suppose the current convention would be:
Leiden+: _[αβγ]_
xml: <supplied reason="undefined" evidence="parallel">αβγ</supplied>

Cf. however my request in your LitPapText spreadsheet, line 62.

--
Dr. Holger Essler, AR
Institut für Klassische Philologie I
Residenzplatz 2 (Südflügel)
D-97070 Würzburg

Tel.:            +49-931-

[2015-03-25 13:41] HolgerEssler commented on #122
Cf. #56
https://github.com/DCLP/dclpxsltbox/issues/56

------------------------------------
Dr. Holger Essler, AR
Institut für Klassische Philologie I
Residenzplatz 2 (Südflügel)
D-97070 Würzburg

Tel.:            +49-931-31-85632
email:           Holger.Essler@uni-wuerzburg.de
Institutsseite:  www.klassphil.uni-wuerzburg.de
Epikurzentrum:   www.epikur-wuerzburg.de

[2015-03-25 13:49] andreabernini opened #124 "Alternatives (and regularizations) involving also diaeresis"
In https://github.com/DCLP/idp.data/tree/dclp/DCLP/114/113269.xml#l164 (P.Oxy. 72.4854 = TM 113269) the Leiden+ is displayed as follows (problems with the diaeresis):

```C.v.4. or του ι̣', or τουι̣(  ) (or τούτ̣(ων)), or τουι̣(ϊ) (or τουί̣(ϊ) (i.e. τουτουί̣(ϊ))) : τουίτουι̣' papyrus : ''τουϊ. papyrus : ''τουϊ. papyrus```

[2015-03-25 13:57] paregorios commented on #111
Great, thanks!

[2015-03-25 13:59] paregorios commented on #120
So, @HolgerEssler the task for the technical team then is to modify the XSLT stylesheets to insert the relevant Unicode characters, yes?

[2015-03-25 14:00] paregorios commented on #56
I have the sense that we looked at an example of this, with photograph, but I cannot now find the note.

[2015-03-25 14:00] jcowey commented on #111
Even better. All texts have now been entered. Ticket is being closed.

[2015-03-25 14:00] #111 closed

[2015-03-25 14:00] paregorios commented on #124
What is the desired or intended output?

[2015-03-25 14:05] HolgerEssler commented on #120
Yes, that is correct.

[2015-03-25 14:29] HolgerEssler commented on #120
Probably the Text Leiden+ Documentation at
http://papyri.info/editor/documentation?docotype=text should also be
updated:
   The entry under "supplied parallel lost" (without specific content)
could be merged with/replaced by the entry under "supplied parallel"
(with example http://papyri.info/ddbdp/p.berl.leihg;2;39).

[2015-03-25 15:49] andreabernini commented on #124
This is the Leiden+:

<:του ι̣(´)||alt||του <#ι̣'=10#>|<:(|τουι̣|)|alt|(τούτ̣(ων)):>|<:του ι̣(¨)|alt|<:τουτου ί̣(¨)|corr|του ί̣(¨):>:>:>

I wrote it three times, but it is displayed five times.

[2015-03-25 15:56] jcowey commented on #123
There are two types of data to be dealt with here.

The xpath is always

../<div type="bibliography" subtype="principalEdition">

When the path is

<div type="bibliography" subtype="principalEdition">/<listBibl>/<bibl type="publication" subtype="principal">

then concatenate all text nodes with \s{1} between each one until </bibl>

e.g.
https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112358.xm

[2015-03-26 09:57] andreabernini opened #125 "Vowel length"
The supralinear stroke indicating the vowel length (in the following cases used together with diacritical symbols) cannot be accepted by simply adding it above the vowel; see e.g. P.Oxy. 75.5028 (TM 128956)

https://github.com/DCLP/idp.data/blob/master/DCLP/129/128956.xml#L85 ἐ̣δίνεον (ln. 2)

https://github.com/DCLP/idp.data/blob/master/DCLP/129/128956.xml#L87 ὕληι (ln. 4)

[2015-03-26 11:05] andreabernini opened #126 "nested "hi" elements in text produce multiple entries in apparatus"
In P.Oxy. 75.5028 (TM 128956; https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128956.xml#l87) the Leiden+:

 ὕ( ῾´)ληι.

is displayed as:

ὑληι. papyrus : ὑύὑληι. papyrus

we would expect:

ὕληι. papyrus

[2015-03-26 15:30] HolgerEssler commented on #56
So far we encode the brackets directly in the xml. It is apparently not a problem of display, but of the Leiden+ converter, presumably due to the ambiguity with abbreviations (cf. abbreviated (Καρ(ανίδι)) vs. the parenthesis in this sentence).

[2015-03-26 15:34] paregorios commented on #56
Yes, it's likely that the regular expression used in the xsugar grammar doesn't accommodate this particular variant, so we'll need to look at changing that.

[2015-03-31 16:59] cgajjar05 commented on #123
@jcowey : We already have one title "Reference Edition" for subtype = "referenceEdition". So, what do you suggest for that?

For your reference check here code of metadata.xsl :
https://github.com/DCLP/navigator/blob/xslt-master/pn-xslt/metadata.xsl#L778

[2015-03-31 17:40] jcowey commented on #123
Here is a list of the different types of bibliography:

[code]

[2015-03-31 17:49] jcowey commented on #123
The last comments in #107
gave the commits which brought about the change to all bibliography.
https://github.com/DCLP/idp.data/commit/2a66eb239ffaf5fbef7e760eb46ea84d0aba5ed4

Perhaps this entails slight reworking of the XSLT. I hope this is sufficient info.

[2015-03-31 17:54] cgajjar05 commented on #123
Ok, but we are planning to give title "Reference Edition" for <bibl type="reference" subtype="principal">...</bibl>
and we already have one "Reference Edition" title for type="bibliography" subtype="referenceEdition"

So, I guess we need one different title for <bibl type="reference" subtype="principal">...</bibl>

[2015-03-31 17:56] paregorios commented on #123
@jcowey I think the question is: did we entirely get rid of the encoding @cgajjar05 is describing?

[2015-03-31 18:02] jcowey commented on #123
@paregorios and @cgajjar05 - I am not entirely sure, but I think the answer is yes. All bibliography has been change to the new style as given in the fictional entry in #107

[2015-03-31 18:15] paregorios commented on #123
@cgajjar05 can you do a pull on the repository and then try using grep to see if any of the old-style encoding remains, or if it has all been replaced?

[2015-04-01 14:33] jcowey commented on #123
As you may well have noticed:
type="bibliography" subype="referenceEdition"
does not exist any more in
https://github.com/DCLP/idp.data/tree/dclp/DCLP

[2015-04-01 14:43] paregorios commented on #123
Great. @cgajjar05 is it clear now how to proceed?

[2015-04-01 15:05] cgajjar05 commented on #123
yes, perfect. Thanks both of you.

[2015-04-02 17:19] paregorios commented on #123
This ticket now supersedes #109, which I am going to mark "won't fix" and close. Removing block label on this ticket.

[2015-04-02 17:19] paregorios commented on #109
This ticket is superseded by #123 . Marking this won't fix and re-assigning to @jcowey to get his confirmation before closing.

[2015-04-06 18:05] cgajjar05 commented on #123
@jcowey : Can you please explain from where will I get information about second author in the examples that you pointed out?. Referencing your previous comment on this thread : https://github.com/DCLP/dclpxsltbox/issues/123#issuecomment-86093997

[2015-04-15 14:48] jcowey commented on #123
When I wrote:

"then using the XSLT that is used to create the Provisional papyri.info output in

http://papyri.info/biblio/75990

create from

https://github.com/DCLP/idp.data/blob/dclp/Biblio/76/75990.xml"

I meant use the code (I am pretty sure it is this one)

https://github.com/papyri/navigator/blob/master/pn-xslt/Biblio2HTML.xsl

the output

"remembering to cater for

https://github.com/DCLP

[2015-04-15 14:49] jcowey commented on #123
https://github.com/DCLP/idp.data/blob/dclp/DCLP/109/108908.xml#l81
is where you find the biblio record that you have to go to

[2015-04-16 13:49] andreabernini opened #127 ""Tripunct" consisting of four dots"
https://github.com/DCLP/idp.data/blob/master/DCLP/66/65258.xml#L159

The punctuation after σας (I digitized it as a tripunct) seems to be written with four dots (see the image in Pap.Colon. 28 Tafel IV): should we regularize it? (see also MPER N.S. 17.49).

[2015-04-20 14:49] andreabernini commented on #116
In Pap.Colon 28.5
https://github.com/DCLP/idp.data/blob/dclp/DCLP/65/64926.xml#l74
https://github.com/DCLP/idp.data/blob/dclp/DCLP/65/64926.xml/#86

I added a line 0 following the commentary of the edition, at page 99.

[2015-04-21 20:12] cgajjar05 commented on #123
@jcowey  : Thank you for the comment, but I am still in confusion. I still don't have any file to get content "Zeitschrift fur Papyrologie und Epigraphik, ". I can see that this is available in output file :  http://papyri.info/biblio/75990. But what would be the xml? I tried to click on the "xml" hyperlink on output page (http://papyri.info/biblio/75990).

[2015-04-21 22:57] paregorios commented on #123
@cgajjar05 the XML is housed in a parallel directory inside idp.data, and uses a similar numbering convention. So if the biblio ID is 75990, you'd want to pull the XML from https://github.com/DCLP/idp.data/blob/dclp/Biblio/76/75990.xml . This will need to happen locally on the filesystem, I assume. Look through the XSL code for other examples of the use of the xpath "document()" function to see if

[2015-04-21 23:22] cgajjar05 commented on #123
Thank you @paregorios  for that. But I am still in search for the required text, i.e. information about second author ("Zeitschrift fur Papyrologie und Epigraphik, "). I couldn't find these in the specified xml too.

[2015-04-21 23:27] paregorios commented on #123
ah, I think the question is over to @jcowey to help us sort out whether this is a deficiency in the XML or in the example or something else.

[2015-04-21 23:29] cgajjar05 commented on #123
Ok, thank you for your time. I can see the required texts in http://papyri.info/biblio/75990. So, it must be somewhere else.

[2015-04-22 11:57] jcowey commented on #123
OK, let me try to explain. A journal article and an article in a collection of articles "appearsIn" a journal / book made up of articles written by different people and edited by an editor (or number of editors). In the XML of each relevant entry of "Biblio"
https://github.com/DCLP/idp.data/tree/dclp/Biblio
we make a statement about the journal / book in which the relevant article appears in. In t

[2015-04-22 14:51] HolgerEssler opened #128 "linking to images in custodial events"
At the moment inside custEvent we use the ptr-element
for encoding links to images. This should be replaced by the graphic-element:
So instead of
<ptr target="..."
we should have:
<graphic url="..."

[2015-04-24 15:03] andreabernini commented on #124
As far as the |reg|, in Pap. Colon. 28.18 (TM 65436) there are three cases:

line 3: https://github.com/DCLP/idp.data/blob/dclp/DCLP/66/65436.xml#l78
Leiden+: <:ἑξαπτέρυγα Σεραφίμ|reg|ε ι(¨)ξαπτερ ι(¨)κα ι(¨) σο ι(¨)ραφιν:>
displayed (apparatus): l. ἑξαπτέρυγα Σεραφίμ : εϊξαπτερϊκαϊ papyrus : εϊξαπτερϊκαϊ papyrus : εϊξαπτερϊκαϊ papyrus: ϊραφιν papyrus
expected (apparatus): l. ἑξαπτέρυγα

[2015-04-27 16:41] cgajjar05 commented on #123
@jcowey  :  I have one doubt in Reference Edition.
Why two authors are separated here :

https://github.com/DCLP/idp.data/blob/dclp/DCLP/109/108908.xml#l78-#l92

Reference Edition John LUNDON, "PSI inv. 320 verso: Fragment einer Rede?," Zeitschrift fur Papyrologie und Epigraphik, 159 (2007) 56-60. biblio link

But here, two authors are represented different way

https://github.com/DCLP/idp.data/bl

[2015-04-29 09:21] jcowey commented on #123
@jcowey  :  I have one doubt in Reference Edition.
Why two authors are separated here :

https://github.com/DCLP/idp.data/blob/dclp/DCLP/109/108908.xml#l78-#l92

Reference Edition John LUNDON, "PSI inv. 320 verso: Fragment einer Rede?," Zeitschrift fur Papyrologie und Epigraphik, 159 (2007) 56-60. biblio link

There is only one author here. Do not fully understand your question.
I am sure that you

[2015-04-29 09:24] jcowey commented on #123
But here, two authors are represented different way

https://github.com/DCLP/idp.data/blob/dclp/DCLP/33/32950.xml#l73-#l92

Reference Edition Robert W. DANIEL and Franco MALTOMINI, Supplementum Magicum. Vol. I (Suppl. Mag. I)., (Opladen 1990). biblio link

In this case there are two authors.
https://github.com/papyri/idp.data/blob/master/Biblio/13/12016.xml#l8-15
and it is from here that you shoul

[2015-04-29 09:25] jcowey commented on #123
Please feel free to contact Carmen on this, if you continue to have difficulties.

[2015-04-29 19:16] paregorios opened #129 "handle abbreviated titles in full citation displays"
DCLP metadata for e.g., principal editions makes regular and frequent use of abbreviated titles (```<title type="abbreviated">```) but the [```buildCitation``` template in htm-teibibl.xsl](https://github.com/DCLP/navigator/blob/xslt-master/pn-xslt/htm-teibibl.xsl#L45), which we are using to create full citations, does not cater for this type (it only works with ```type="main"``` and ```type="abbre

[2015-04-29 19:16] paregorios commented on #123
blocked for #129

[2015-04-30 08:20] andreabernini opened #130 "|subst| involving letters with breath"
O.Claud. II 414 (TM 63423)

https://github.com/DCLP/idp.data/blob/dclp/DCLP/64/63423.xml#l82

Leiden+: ```<:<# Α( ᾿)σμβ=1242#>|subst|<# Α( ᾿)σμγ=1243#>:>```

Displayed
```corr. ex Α(ἀ)σμγ : ἀσμβ papyrus```

Expected  to see:
```corr. ex Ασμγ : ἀσμγ papyrus : ἀσμβ papyrus```

[2015-04-30 13:34] paregorios commented on #129
On closer review, we are not actually doing biblio lookups and associated full citation of "principal edition" bibliography embedded in DCLP files at present. Therefore deferring this task and removing it as a blocker for #123 . No need to work on this until and unless we find a case where there's a problem. I don't find any cases of the use of "abbreviated" in the Biblio XML files, including thos

[2015-04-30 13:35] paregorios commented on #123
Not blocked for #129 after all (see comment there). I'm taking ownership of this ticket for the moment.

[2015-04-30 15:31] andreabernini opened #131 "How to render high corner brackets?"
In Pap. Colon. 28.10 line 4 (TM 64920) https://github.com/DCLP/idp.data/blob/dclp/DCLP/65/64920.xml#l76

there are high corner brackets above τ̣ῶ̣[ν,

for low corner brackets see https://github.com/DCLP/dclpxsltbox/issues/120

[2015-04-30 15:35] paregorios commented on #123
addressed in a series of commits, culminating in https://github.com/DCLP/navigator/commit/aefdb51b0b40c84fef9a5de76daa65124947d395 ... moving status to testing

[2015-04-30 15:36] paregorios commented on #123
@jcowey please inspect at your leisure latest transforms at http://dclp.github.io/dclpxsltbox/ to verify completeness of implementation etc.

[2015-04-30 19:34] paregorios opened #132 "handle biblScope type="pp" in bibliographic citations"
Via @jcowey in Skype.

E.g., [TM 108908](https://github.com/DCLP/idp.data/blob/dclp/DCLP/109/108908.xml), which makes reference to [biblio 75990](https://github.com/DCLP/idp.data/blob/dclp/Biblio/76/75990.xml). In the XML for the latter, [pages are indicated at line 9](https://github.com/DCLP/idp.data/blob/dclp/Biblio/76/75990.xml#L9), but not expressed in [the HTML output](https://github.com/DCLP

[2015-04-30 19:44] paregorios opened #133 "click through biblio number in principalEdition citation display"
At present, the standard biblio-collection code that we're hijacking to serialize citations for bibliography in the principalEdition div of DCLP texts prints first the bibliographic ID number and then the standard-format citation. @jcowey would like to see, when we produce citations inside HTML pages for DCLP items, this id number be a link to the corresponding bibliographic record in HTML.

So, f

[2015-04-30 19:51] paregorios commented on #131
By "how to render" do you mean "how to encode in the XML"?

If so, what do these brackets look like and what do they signify? Are they addressed yet in either of the following google docs:

 * [Symbol Sanity for DCLP](https://docs.google.com/a/nyu.edu/spreadsheets/d/15Lnu9THFkYpCCUJIfnq3_DCJw72ivjUhHu3GLJQWY1k/edit#gid=0)
 * [LitPapText](https://docs.google.com/a/nyu.edu/spreadsheets/d/1F6_Du8DIji

[2015-04-30 19:59] paregorios opened #134 "update Leiden+ documentation for supplied reason parallel"
per @HolgerEssler as originally posted to #120:

Probably the Text Leiden+ Documentation at http://papyri.info/editor/documentation?docotype=text should also be updated: The entry under "supplied parallel lost" (without specific content) could be merged with/replaced by the entry under "supplied parallel" (with example http://papyri.info/ddbdp/p.berl.leihg;2;39).

Breaking this task out as a separ

[2015-04-30 19:59] paregorios commented on #120
See #134 for a separate ticket about updating Leiden+ documentation.

[2015-04-30 20:22] paregorios commented on #120
Reformulating the remaining technical task here:

For XML like ```<supplied evidence="parallel">...</supplied>``` the behavior of the XSL should be modified/extended to:

 * prepend [U+23A3](http://www.fileformat.info/info/unicode/char/23a6/index.htm)
 * process the child nodes
 * append [U+23A6](http://www.fileformat.info/info/unicode/char/23a6/index.htm)

Caveats:

 * whatever the value of the `

[2015-04-30 20:24] paregorios commented on #120
See also:

 * [EpiDoc Guidelines bug report](https://sourceforge.net/p/epidoc/bugs/141/)
 * [Papyri.info basecamp discussion](https://basecamp.com/2517156/projects/6217125/messages/41497119)

[2015-04-30 20:26] paregorios commented on #120
@HolgerEssler and @andreabernini please review my summation of the tasks [as indicated above](https://github.com/DCLP/dclpxsltbox/issues/120#issuecomment-97955271). If you concur, we will move forward to implement.

[2015-04-30 20:28] paregorios commented on #134
blocked for #120

[2015-04-30 20:28] paregorios commented on #120
blocker for #134

[2015-04-30 20:32] paregorios commented on #130
relevant XML for this example is:

[code]

[2015-04-30 20:48] paregorios commented on #130
There are two problems here, both apparently arising from the XSLT.

The first seems to be a real bug, namely, that we should see "corr. ex Ασμγ" in the apparatus for line 5 of O. Claud. 2 414, but instead get "corr. ex Α(ἀ)σμγ". The introduction of ```<hi rend="lenis">``` is presumably confusing whatever code is trying to put together the relevant string based on the encoding.

Is the second a b

[2015-04-30 20:49] paregorios commented on #128
@HolgerEssler should this be assigned to you?

[2015-04-30 20:50] paregorios commented on #127
I think this is a question on which the papyrologists should consult, no? @rla2118 @HolgerEssler @rogerbagnall @jcowey

[2015-04-30 20:55] paregorios commented on #126
This bug is presumably because the XSLT doesn't handle the presence of the ```hi``` elements indicating accent and breathing:

[code]

At first glance, I was troubled by the apparent redundancy in this encoding: using the unicode upsilon with lenis and asper and also marking up with ```<hi>```, but I assume (can you correct me @andreabernini ?) that this is because the diacriticals actually appear

[2015-04-30 20:57] paregorios commented on #130
My guess is that at least part of the problem here is proper handling of ```<hi>``` as we see in the case documented in #126. I think #126 should be addressed first.

[2015-04-30 21:02] paregorios commented on #126
@cgajjar05 please investigate the navigator XSLT (and possibly the underlying epidoc XSLT) to see if you can find where (and whether) ```<hi rend="asper">``` and ```<hi rend="acute">``` are being handled? Prelim to figuring out what we're getting the odd output [reported by @andreabernini above](https://github.com/DCLP/dclpxsltbox/issues/126#issue-64497202) (see also [HTML of P. Oxy. 75 5028](http

[2015-04-30 21:06] paregorios commented on #125
@andreabernini does the supra-linear stroke in question appear on the papyrus or is it an editorial intervention?

[2015-04-30 21:10] paregorios commented on #130
Block for #126

[2015-04-30 21:11] paregorios commented on #124
This smells like another case of ```<hi>``` not being handled properly in apparatus. Compare #126 and #130. I think we should solve #126 first (marking blocked for same).

[2015-04-30 21:12] paregorios commented on #126
Blocker for #124 and #130.

[2015-04-30 21:16] paregorios commented on #120
[Have verified that DDB does not want to see this change affect their collection](https://basecamp.com/2517156/projects/6217125/messages/41497119#comment_277964187), so note again [my caveat above](https://github.com/DCLP/dclpxsltbox/issues/120#issuecomment-97955271): this behavior change should be for DCLP texts only.

[2015-04-30 21:20] paregorios commented on #56
Example XML encoding by @andreabernini imported from #122:

P.Oxy. 70.4763 (TM 92143) col. I, 17-18
 * https://github.com/DCLP/idp.data/blob/dclp/DCLP/93/92143.xml#l95
 * https://github.com/DCLP/idp.data/blob/dclp/DCLP/93/92143.xml#l96

[2015-04-30 21:24] paregorios commented on #56
@HolgerEssler and @andreabernini:

I have a distinct memory of seeing this matter addressed either [Symbol Sanity for DCLP](https://docs.google.com/a/nyu.edu/spreadsheets/d/15Lnu9THFkYpCCUJIfnq3_DCJw72ivjUhHu3GLJQWY1k/edit#gid=0) or [LitPapText](https://docs.google.com/a/nyu.edu/spreadsheets/d/1F6_Du8DIjixRD4mnvfpbkcn3E0H2_SfBIztCO6Vl6gQ/edit#gid=1879498412) but I don't now find it in either place

[2015-04-30 21:29] paregorios commented on #122
I have copied the example information into the thread for issue #56. Recommend we close this issue as a now-duplicate. Do you have any objections @andreabernini or @HolgerEssler ?

[2015-04-30 21:30] paregorios commented on #121
This probably merits an encoding discussion with @hcayless @HolgerEssler @jcowey and/or other EpiDoc folks.

[2015-04-30 21:34] paregorios commented on #118
@cgajjar05 would you please sift through the XSLT to see where ```<supplied reason="lost">``` is handled? I'd like you to investigate why, in the production of the apparatus entry, all the text contained therein is capitalized. It may be the case that this is an expected DDB style, but let's find the spot in the code where it's handled first, then discuss how to proceed.

[2015-04-30 22:02] paregorios commented on #109
@jcowey ok if I close this one per discussion above?

[2015-04-30 22:03] paregorios commented on #106
pinging @hcayless

[2015-04-30 22:05] paregorios commented on #105
I'm taking this ticket back to assess whether we've dealt fully with everything therin.

[2015-05-01 09:10] rla2118 opened #135 "ordering of bibl output"
In connection with the ordering of bibl output, Tom asks, "Would some other model be preferred in the HTML output, e.g., by date or grouped by type then sorted by date) see also e.g., TM 59749 (Epicurus, De natura; Herculaneum)?"

My inclination is to group by type sorted by date, with types perhaps arranged thus:

Principal Edition
Reference Edition
Partial Edition
Previous Edition
Readings

Rodn

[2015-05-01 13:24] paregorios commented on #135
@rla2118 should we check with other papyrologists on this before implementing, or just go ahead?

[2015-05-01 13:32] paregorios commented on #133
@jcowey has suggested via Skype that the number be moved to the end of the citation. @rogerbagnall has observed via email that the number as presently deployed is non-sensical to most users. I wonder whether we should not only move it to the end, but gloss it. Another possibility is to suppress the output of the id number entirely, instead linking the title of the article, book, or chapter to the

[2015-05-01 13:39] hcayless commented on #106
It looks like this was missed when EpiDoc removed div[@type='figure'] a
couple of years ago. Yes, you should be using tei:facsimile. And I have a
bunch of work to do. Sigh.

On Fri, Jan 16, 2015 at 1:35 PM, Tom Elliott <notifications@github.com>
wrote:

[2015-05-01 13:43] paregorios commented on #106
So @Edelweiss @jcowey it looks to me like DCLP, for fullest EpiDoc conformance, should move to using tei:facsimile, with the expectation that legacy encodings already in papyri.info will follow suit at some stage. We thereby (meaning me) are signing up to verify and extend XSLT support to handle them. I'm assigning this ticket back to @Edelweiss to see if you concur. We can this discuss an impleme

[2015-05-01 14:24] jcowey commented on #133
Author and title underlined and being the link to the full biblio record, would be my suggestion.

[2015-05-01 18:00] HolgerEssler commented on #135
I agree with Rodney's suggestion, but would group "readings" before
"previous edition", because "readings" contain textual notes published
after the "reference edition" (and therefore not taken into account
there) whereas every "previous edition" has been superseeded by the
"reference edition".
The order of the groups would be thus:

Principal Edition
Reference Edition

Partial Edition

Readings

[2015-05-02 12:35] rla2118 commented on #135
I'm fine with Holger's suggestion and think you can go ahead and implement
it, Tom.  Nevertheless, I still don't quite understand what is meant by
*reference edition and how it differs from *principal edition.

Rodney

On Fri, May 1, 2015 at 8:00 PM, HolgerEssler <notifications@github.com>
wrote:

[2015-05-02 16:41] rogerbagnall commented on #133
I agree with James's suggestions of linking, underlining, and number at the end.

[2015-05-02 16:45] rogerbagnall commented on #135
I suppose that a principal edition might be what we tend to call editio
princeps in the trade. Supposing a papyrus were published with very full
commentary that remains useful, but with some significant problems of
reading. A subsequent edition corrects these readings and is used for
citation. I think, for example, on the documentary front of something
published in a journal article, which one mig

[2015-05-02 19:42] rla2118 commented on #133
I also like the idea of linking to the full biblio record, and would be
inclined to suppress the number.

On Sat, May 2, 2015 at 6:41 PM, rogerbagnall <notifications@github.com>
wrote:

[2015-05-02 21:07] HolgerEssler commented on #122
No objections.

[2015-05-02 21:11] HolgerEssler commented on #128
Our IT-people are going to do the change in the Anagnosis branch and
then merge to DCLP.

[2015-05-02 21:19] HolgerEssler commented on #120
I concur.

[2015-05-03 10:26] HolgerEssler commented on #133
I like the idea of linking to the full biblio reference.

[2015-05-03 10:35] HolgerEssler commented on #121
I think it would be desirable to encode text in margins with their
original layout (i.e. line breaks etc.). However, I doubt this can be
done with the <add> element.
Furthermore in this case the editor points out "the marginal note seems
to be a variant rather than an addition". So I am wondering whether
using <add> is not misleading.

[2015-05-04 09:54] andreabernini commented on #122
No problem.

[2015-05-04 10:02] andreabernini commented on #56
In LitPapText, ln. 11 there is an entry "Parentheses": in the XML and Leiden+ columns it is written          "(various types)".
Such parentheses (as in the aforementioned P.Oxy. 70.4763 col. I, 17-18) occur in the ed.pr.: they are not in the text.

[2015-05-04 15:33] paregorios commented on #122
closing as duplicate for #56

[2015-05-04 15:33] #122 closed

[2015-05-04 15:36] paregorios commented on #133
OK. There seems to be consensus around linking, but less so about the number. No need to resolve at the moment; we will have to add logic to detect the fact we're processing for DCLP display anyway (as opposed to BP), so let's get that in train first.

[2015-05-04 15:37] paregorios commented on #120
I did some related work on this in the EpiDoc stylesheets on Friday. Will continue to work on rolling through the relevant changes to us and adding our DCLP-related logic this week.

[2015-05-04 18:35] paregorios commented on #118
odd capitalization seems to have been fixed when another similar problem was fixed, but we're still seeing problems with the order in which the contents of the ```<orig>``` are being rendered. For the XML cited above, we'd expect to see (in the apparatus):

 v.3-4. l. εἱ|στήκει : ϊ[στηκει] papyrus

(as indicated by @andreabernini) above, but now we're seeing:

 v.3-4. l. εἱ|στήκει : |[στηκει]ϊ p

[2015-05-04 18:51] paregorios commented on #34
I don't have a record of @jcowey or @Edelweiss commenting on this. Assigning to @jcowey to get his opinion.

[2015-05-05 13:17] andreabernini opened #136 "Dagger"
Cruces desperationis should be written in Pap. Colon. 28.11 (TM 64255)
- recto 18 https://github.com/DCLP/idp.data/blob/dclp/DCLP/65/64255.xml#l94
- verso 15 https://github.com/DCLP/idp.data/blob/dclp/DCLP/65/64255.xml#l117
- verso 16 https://github.com/DCLP/idp.data/blob/dclp/DCLP/65/64255.xml#l118

but the XML of LitPapText,57 is not accepted by the system.

[2015-05-06 10:39] andreabernini commented on #136
Used also in Pap. Colon. 28.4 (TM 65053)
- verso 6 https://github.com/DCLP/idp.data/blob/dclp/DCLP/66/65053.xml#l113
- verso 8 https://github.com/DCLP/idp.data/blob/dclp/DCLP/66/65053.xml#l115
- verso 9 https://github.com/DCLP/idp.data/blob/dclp/DCLP/66/65053.xml#l116

[2015-05-06 10:47] Edelweiss commented on #34
I don't think there is such a thing as a »Heidelberg xwalk« any more. There are just zillions of xslt files, each designed for a very specific purpose, such as »xwalk stuff from herculaneum« or »insert bibliographic information«.

However, in order to be on the safe side I added a code fragment to all the files dealing with the publicationStmt that, if they should ever be called to action again, t

[2015-05-06 14:38] jcowey commented on #34
When added #108 will no longer be a problem.

[2015-05-06 14:46] jcowey commented on #123
Finished.

[2015-05-06 14:46] #123 closed

[2015-05-07 13:05] andreabernini opened #137 "Supralinear stroke not displayed"
In P.Oxy. 71.4820,19 (TM 112372) https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112372.xml#l97 a spot of ink can be interpreted as a supralinear stroke, but no letter is preserved under the traces; I should write the following Leiden+

<:.1|alt| ̄:>

displayed in the apparatus as: 19. or

if I write

<:.1|alt|.1̄:> it is displayed in the apparatus as: 19. or .1

I would expect to see the supr

[2015-05-08 09:57] andreabernini commented on #119
In Pap. Colon. 28.17 (TM 102801)
https://github.com/DCLP/idp.data/tree/dclp/DCLP/103#l63
https://github.com/DCLP/idp.data/tree/dclp/DCLP/103#l64

Leiden+

<:[ἁγί]
3.- ας|corr|[αγι]3.- α̣:>

displayed as

αγι-]|α̣

expected

αγι-]
α̣

[2015-05-08 10:21] andreabernini commented on #119
In Pap. Colon. 28.9, 10-12 (TM 370024)
https://github.com/DCLP/idp.data/blob/dclp/DCLP/371/370024.xml#l72
https://github.com/DCLP/idp.data/blob/dclp/DCLP/371/370024.xml#l73
https://github.com/DCLP/idp.data/blob/dclp/DCLP/371/370024.xml#l74

Leiden+
τῆς ἁγίας <:μό
10.- νης|corr| μο10.- [νη]:> <:καθολικῆς|corr|<:καθολικη|reg|[κα]θ̣οληκη:>:> (κ(αὶ)) <:ἀ
11.- ποστολικῆς|corr|α11.- [ποστολικ]η̣:> σ̣ο̣υ

[2015-05-08 17:01] paregorios commented on #52
This is fixed; viz http://dclp.github.io/dclpxsltbox/output/dclp/63/62400.html. One will note there whitespace between the end of the preceding text and the hyphen; I will be opening a new ticket for this bug. @HolgerEssler please review.

[2015-05-08 17:18] HolgerEssler commented on #52
There is still a problem with the position of the hyphen in the case of
supplements:
In the above mentioned example now the display is:
ἀν]θ̣ρ̣[ώ] -, but the hyphen should be inside the bracket (as in the lines
above and below:
ἀν]θ̣ρ̣[ώ-]

[2015-05-08 19:54] paregorios commented on #52
@HolgerEssler right, thanks

[2015-05-08 21:22] paregorios commented on #119
My guess is that this has to do with DDB expectations around apparatus formatting (and maybe therein an expectation about apparatus not confronting this level of complexity in markup). In any case, it will take some significant thinking to find and address this one, which I've presently assigned to myself.

[2015-05-08 21:29] paregorios commented on #34
per @rla2118 via email, we are go for CC

[2015-05-08 21:43] paregorios commented on #135
In work in branch https://github.com/DCLP/navigator/tree/issue135

[2015-05-08 22:19] paregorios commented on #135
As of [this commit](https://github.com/DCLP/navigator/commit/888ec28bdff5d942850fc0a709463e30879ae38d) we're successfully grouping by type and handling header and content output properly. Next steps: ordering the groups and sorting within groups.

[2015-05-09 19:59] cgajjar05 commented on #132
Resolved this issue.

[2015-05-09 19:59] #132 closed

[2015-05-11 12:50] andreabernini commented on #116
In Pap.Colon. 28.6 (TM 370029)

https://github.com/DCLP/idp.data/blob/dclp/DCLP/371/370029.xml#l133

if I write ".1" at the beginning of the restored line 1 (that is, the second restored line), it is displayed as

3c.r.1-1. or [ἐφ’ἧ(ι) θυσί]|[α(ι) κ(αὶ) προσφορᾶ(ι)], or [ -6-7- διό]

that is, not a nice display.

[2015-05-11 13:00] andreabernini commented on #121
Another example: Pap.Colon. 28.6 fr. III a/b, 15 (TM 370029)

https://github.com/DCLP/idp.data/blob/dclp/DCLP/371/370029.xml#l79

[2015-05-11 13:10] andreabernini commented on #131
They can be used when the lacking of some letters is due to a damage in the papyrus. For instance, in Pap.Colon. 28.6 fr. III a/b recto, 14 λθα https://github.com/DCLP/idp.data/blob/dclp/DCLP/371/370029.xml#l78
and 15: ] ὁ and, in the text added to the right, the π of περί
https://github.com/DCLP/idp.data/blob/dclp/DCLP/371/370029.xml#l79

[2015-05-11 14:34] andreabernini commented on #131
See also Pap.Colon. 28.16 verso, 12 (TM 65239)
https://github.com/DCLP/idp.data/blob/dclp/DCLP/66/65239.xml#l132
the first letter of Χ̣ριστός

[2015-05-11 18:58] HolgerEssler commented on #131
I am not sure, whether I have understood this meaning of the upper
square brackets correctly (and I do not have access to the edition at
the moment). However, if the letters are lost due to damage in the
papyrus would we not use "normal" square brackets (transforming to <gap
reason="lost" etc.)?
In the LitPapText spreadsheet, line 59
(https://docs.google.com/spreadsheets/d/1F6_Du8DIjixRD4mnvfpbkcn

[2015-05-11 20:24] andreabernini commented on #131
The photo of Pap.Colon. 28.6 shows that the papyrus is preserved in correspondence of these letters, but it is bended on itself, so that they are not visible.

[2015-05-11 20:30] HolgerEssler commented on #131
So it would mean that the letters are preserved, but not visible on the
photograph? If they became visible once the fibers were turned over
during restoration, I would encode them like any other letter.

[2015-05-11 20:39] andreabernini commented on #131
This is what I understood. But encoding them 'normally' seems the best solution to me.

[2015-05-12 14:16] paregorios commented on #131
So, do I understand correctly that, in a case such as Pap.Colon. 28.6 there will be no additional tagging around the letters that are in fact on the papyrus but not visible on the photo, even though the printed edition uses high corner brackets for this purpose? That's how I read the above discussion, and what I would expect for normal EpiDoc.

[2015-05-12 14:45] paregorios commented on #137
In the XML, we are getting what I would expect for the first example of Leiden+ that you quote:

[code]

but I think we may need to insist that a ```<space>``` or ```<gap>``` element go in there to clarify that there's no character there on the papyrus. @HolgerEssler what do you think?

[2015-05-12 17:29] paregorios commented on #136
@andreabernini please advise on the following:

1. What is the significance of the "cruces desperationis", i.e., what does it signify to the reader?
2. When you say "the XML of LitPapText,57 is not accepted by the system", what do you mean? What system? What error message are you getting?

Thanks.

[2015-05-12 19:03] HolgerEssler commented on #137
I agree with Tom. However in this particular case I am unable to tell
from the photograph whether below the trace the papyrus is simply blank
(i.e. <space>) or abraded (i.e. <gap>). Since the apparatus calls it
part of "supralineation" I assume the editor intended the latter.

[2015-05-12 19:06] HolgerEssler commented on #131
That was my understanding as well. Should I create a separate issue for
upper square brackets in Herculaneum texts as described above?

[2015-05-12 19:11] paregorios commented on #131
@HolgerEssler if there is not already such a ticket, then yes please do.

[2015-05-12 19:12] HolgerEssler commented on #128
There is now a pull request from our IT people:
https://github.com/DCLP/idp.data/pull/2

[2015-05-12 19:19] HolgerEssler opened #138 "Upper square brackets for marking up readings from apographs"
Cf. the LitPapText spreadsheet, line 59
(https://docs.google.com/spreadsheets/d/1F6_Du8DIjixRD4mnvfpbkcn3E0H2_SfBIztCO6Vl6gQ/edit#gid=1879498412)
U+23A1 and U+23A4 should be introduced as markup for letters only preserved in
apographs (drawings in the case of Herculaneum Papyri), but now lost in the original papyrus.
Leiden+ and Display should read:
ταὐτ⌈ὸ⌉
corresponding xml:
ταὐτ< supplied reason

[2015-05-12 19:22] HolgerEssler commented on #131
Done as https://github.com/DCLP/dclpxsltbox/issues/138#.

[2015-05-12 19:26] paregorios commented on #131
Since this issue is sorted, I recommend we close. OK @andreabernini and @HolgerEssler ?

[2015-05-12 19:30] HolgerEssler commented on #136
Andrea is referring to my suggestion in our LitPapText spreadsheet line
57
(https://docs.google.com/spreadsheets/d/1F6_Du8DIjixRD4mnvfpbkcn3E0H2_SfBIztCO6Vl6gQ/edit#gid=1879498412).
The xml I proposed there has not yet been implemented.

[2015-05-12 19:31] HolgerEssler commented on #131
ok

[2015-05-12 19:32] andreabernini commented on #131
OK!

2015-05-12 21:31 GMT+02:00 HolgerEssler <notifications@github.com>:

[2015-05-12 19:35] #131 closed

[2015-05-13 10:40] rla2118 commented on #136
Tom, is this clear now?  The dagger is used to signal a corrupt passage in
the original manuscript.

On Tue, May 12, 2015 at 9:30 PM, HolgerEssler <notifications@github.com>
wrote:

[2015-05-13 12:35] rla2118 commented on #137
It's hard to tell; looks rather blank to me, perhaps a marginal symbol?  At
any rate, it sounds from what Tom says like there should be either a
<space> or <gap> element.  Is that clear, Andrea?

On Tue, May 12, 2015 at 9:03 PM, HolgerEssler <notifications@github.com>
wrote:

[2015-05-13 13:16] paregorios commented on #136
I now understand the significance of the symbols. I could still use clarification on what was done and what happened that led @andreabernini to write "the XML of LitPapText,57 is not accepted by the system".

[2015-05-13 13:56] paregorios commented on #136
Or perhaps I'm now misunderstanding @HolgerEssler when he says "the xml I proposed there has not yet been implemented." Do we mean one of more of the following?:

1. The XSugar grammar has not yet been modified to produce the corresponding XML
2. The desired XML is not allowed by the current EpiDoc schema
3. There are not yet any files in idp.data/DCLP which the corresponding XML has been entered.

[2015-05-13 14:05] andreabernini commented on #137
I tried with this Leiden+

[ca.5]<:.1|alt|¯.1¯:>[.?]

but the problems of displaying remain

[2015-05-13 14:15] jcowey commented on #137
First of all we should here use the gap element.
Secondly. The way that Andrea has entered it is correct: ``<:.1|alt|¯.1¯:>``

[2015-05-13 19:03] HolgerEssler commented on #136
I should have written:
1) The XSugar grammar has not yet been modified to produce the
corresponding XML.
2) The desired XML is not allowed by the current EpiDoc schema.
3) There are not yet any files in idp.data/DCLP which the corresponding
XML has been entered.
4) The XSLT files are not handling the proposed XML in the desired way

Example from Sappho, fr. 2
Display should look like:
†ττριννοις†

[2015-05-14 14:02] paregorios commented on #137
understood! Thanks all.

[2015-05-14 14:04] paregorios commented on #136
OK, I think we should loft the proposed XML encoding on the Markup list to see if anybody else in the EpiDoc community has an opinion. Shall I do that?

[2015-05-14 14:07] HolgerEssler commented on #136
That would be great. Mine was just a rough suggestion and I would be
very pleased, if others came up with something more suitable and more
sophisticated.

[2015-05-14 14:17] paregorios commented on #136
OK will do.

[2015-05-15 13:00] paregorios commented on #109
@jcowey ping ^^^^^

[2015-05-15 13:31] paregorios commented on #108
I don't think this is quite exactly a duplicate for #34, which is specifically about copyright statement. We also need an authority statement. As these are clearly related issues, I'm going to accept this ticket and put it on the backlog for implementation.

[2015-05-15 14:05] jcowey commented on #109
Sorry that this got forgotten about. Yes it can be closed and I am doing so.

[2015-05-15 14:05] #109 closed

[2015-05-15 14:44] HolgerEssler commented on #136
#96 (https://github.com/DCLP/dclpxsltbox/issues/96) can be closed as doubling this issue.

[2015-05-15 14:46] HolgerEssler opened #139 "Text visible to previous editor, but now lost"
According to the documentation (e.g. Cheatsheet by G. Bodard) Leiden+ offers a way to mark up text that was visible to previous editors, but is now lost in the original.
Leiden+:
-[asd]-
XML:
< supplied reason="undefined" evidence="previouseditor">αβγ< /supplied>
The xml is valid,
required: add above to Leiden+(XSugar)
add way of displaying (one solution might be underlining the letters concerned

[2015-05-15 15:09] HolgerEssler opened #140 "handle sottopposti/sovraposti in Leiden+"
These are specific to Herculaneum papyri. They are fragments which were detached wrongly during the unrolling process and thus ended up one (ore more) circumferences before or after the place they belong to. We need to mark them up in some way, because on a photograph of the original the reader would not find these letters in the place they are printed.
Example: of ἀϲθένειαν two letters, θέ, have

[2015-05-15 15:27] HolgerEssler opened #141 "Leiden+: clear, but incomprehensible letters"
This is listed on G. Bodards cheatsheet, valid xml, but not implemented in Leiden+ converter and not displayed.
a) Desired display:
ABC
b) Suggested Leiden+:
G. Bodard suggests =abc=, but to the papyri.info editor documentation, the equals sign indication is not for `<orig>` but for letters both underlined and overlined: =εὐτύχει=.
I wonder whether we should change Leiden+ for "underlined and over

[2015-05-15 15:51] HolgerEssler opened #142 "Joint fragments from different papyri/collections"
Request of a markup for joint fragments from different papyri/collections (which thus have different metadata).
There is no convention in xml yet. My suggestion would be to tag letters belonging to a specific papyrus with <seg corresp="Fragment_ID"> which would be valid in EpiDoc.
The conventional display would be to insert "//" at the place where we change fragment, e.g.
asd//jkl means "asj" is o

[2015-05-19 15:41] paregorios commented on #142
I will raise this on the markup list with the wider EpiDoc community.

[2015-05-19 15:58] paregorios commented on #121
I will raise this issue on the EpiDoc markup list.

[2015-05-19 16:00] paregorios commented on #116
I need to look at these examples to get a better sense of what is going on.

[2015-05-19 16:03] paregorios commented on #115
[EpiDoc addresses changes of hand](http://www.stoa.org/epidoc/gl/latest/trans-handshift.html) with the ```<handShift>``` element, in conjunction with ```<handNote>``` in the header.  Please forgive the question @andreabernini but what do you mean by "lectional signs"?

[2015-05-19 16:04] paregorios commented on #114
I need to look at the Leiden+ for left and right margin.

[2015-05-19 16:06] paregorios commented on #106
I'm putting this ticket on the backlog pending a decision about when to implement and who should implement the fix across existing files. I will add it to list of issues to discuss 20 May 2015.

[2015-05-19 16:18] paregorios commented on #105
Putting this ticket on the backlog and scheduling for discussion on 20 May 2015 as the question of the "book" field from TM does not seem to have been given a more descriptive ticket of its own. The P.Oxy. reference is now showing up in the HTML transform.

[2015-05-19 16:24] paregorios commented on #41
blocker for #42

[2015-05-19 16:25] paregorios commented on #41
Putting on the backlog and tabling for discussion on 20 May 2015.

[2015-05-19 16:27] paregorios commented on #42
putting on the backlog pending resolution of #41

[2015-05-19 16:27] paregorios commented on #32
blocker for #31

[2015-05-19 16:28] paregorios commented on #32
putting on the backlog pending discussion on 20 May 2015

[2015-05-19 16:30] paregorios commented on #31
putting on the backlog pending resolution of #32

[2015-05-19 16:32] paregorios commented on #20
I'm scheduling this ticket for discussion 20 May 2015, meanwhile assigning to backlog.

[2015-05-19 16:34] paregorios commented on #6
I'll investigate what we're getting now in light of implementation of http://sourceforge.net/p/epidoc/feature-requests/69/ with a view toward updating or closing as appropriate.

[2015-05-19 16:41] rla2118 commented on #115
I'll try to explain: a papyrus may have the word ως in one hand, but above
the letter omega there could be a breathing mark in a second hand.  Andrea
asks how to show that the breathing mark is in a different hand.  Breathing
marks are indicated in the XML as hi rends, e.g., <hi rend="asper">ὡ</hi>ς.
The XML doesn't allow one to put a handshift around just the breathing
mark, it seems.

On Tue, Ma

[2015-05-19 16:58] paregorios commented on #115
Thanks @rla2118 I understand now. I'll raise this question on the markup EpiDoc list.

[2015-05-20 14:45] paregorios commented on #20
@HolgerEssler thinks these issues are resolved, per discussion 20 May 2015. @rla2118 points out that #51 still needs to be addressed (HTML view).

[2015-05-20 14:48] #20 closed

[2015-05-20 14:54] #32 closed

[2015-05-20 14:55] rla2118 opened #143 "Duplicate Reference Edition"
The reference edition, # 83376, is being duplicated at https://dclp.github.io/dclpxsltbox/output/dclp/62/61438.html

[2015-05-20 14:56] Edelweiss opened #144 "Number Server: Provide RDF relations for dclp-hybrid and TM No."
Number Server needs to produce RDF like this:

[code]

There are two kinds of dclp identifiers, one that comes along with a TM No. and one giving the name, volume number and document number of the respective publication, which is called dclp-hybrid idno in the EpiDoc files' publication statements.

[code]

The Number Server needs to learn to distinguish the two.

Since a huge mass of dclp data doe

[2015-05-20 15:00] paregorios commented on #106
keep track of what we did so we can share the recipe back to papyri.info where the old encoding still obtains.

[2015-05-20 21:18] paregorios opened #145 "add TM "book" field data to XML"
[As identified in discussion on issue 105](https://github.com/DCLP/dclpxsltbox/issues/105#issuecomment-68785314), @rogerbagnall @rla2118 et al. would like to see this data added.

[2015-05-20 21:18] paregorios commented on #105
"book" data from TM has been given its own ticket: #145. Closing this ticket as complete per discussion in weekly standup this morning.

[2015-05-20 21:18] #105 closed

[2015-05-20 21:28] jcowey commented on #145
Probably find a place for this information in:
[code]

[2015-05-20 21:35] jcowey commented on #145
XSLT will have to be modified in order to display this information.

[2015-05-20 21:40] HolgerEssler commented on #106
I wonder whether we should try to unify these references to images and those within `<custEvent>´ in #128.

[2015-05-20 21:45] HolgerEssler commented on #128
For our Anagnosis project it would be desirable to have the changes made by our IT people merged to the main branch in the June milestone.

[2015-05-20 21:54] HolgerEssler commented on #51
This should be resolved, once #26 is in place.

[2015-05-21 06:20] rla2118 commented on #144
Carmen,

Can we have this »To find the appropriate TM number search here
<http://www.trismegistos.org/ldab>« point rather to this page:
http://www.trismegistos.org/ldab/search.php?

Rodney

On Wed, May 20, 2015 at 4:56 PM, Elemmire <notifications@github.com> wrote:

[2015-05-21 13:54] paregorios commented on #106
I'm taking this ticket temporarily while I ponder @HolgerEssler's suggestion above.

[2015-05-21 13:55] paregorios commented on #128
Concur, but probably can do even sooner; i.e., in May.. I'm taking ownership of this issue and moving to May milestone.

[2015-05-21 13:57] paregorios commented on #51
Blocked by #26

[2015-05-21 13:57] paregorios commented on #26
Blocker for #51

[2015-05-21 13:58] paregorios commented on #26
I'm taking this ticket to try to figure out why I marked it blocked on 17 July 2014 but there's no link to the blocker.

[2015-05-21 14:46] paregorios opened #146 "whitespace and formatting issues in bibliographic dates and page numbers"
This should be a minor XSLT intervention. There's whitespace inside parentheses around years on journal articles and no whitespace (nor punctuation) between page numbers and the preceding parts of the citations.

[2015-05-22 07:46] Edelweiss commented on #144
I have setup an xslt that can be called up by the mapping process’ [clojure](https://github.com/papyri/navigator/blob/dclp/pn-mapping/src/info/papyri/map.clj) file that is responsible for the creation of the rdf files.

If you pair up a given DCLP EpiDoc file, such as [P.Oxy 61 1015](https://github.com/DCLP/idp.data/blob/dclp/DCLP/101/100152.xml), with the [rdf xslt](https://github.com/papyri/navi

[2015-05-22 08:03] Edelweiss commented on #144
...this is only half the loaf.

Of course we also need the counterpart to this file, which should look like this:

[code]
(It's the same example as above, just the two identifiers swapped)

The xslt part of the job can be accomplished within a couple of minutes, but we have to consider how it can be done best:

* Should the rdf xslt simply produce another rdf:Description tag if dclp-hybrid informa

[2015-05-22 19:51] HolgerEssler commented on #128
That would be great. Thank you. However, I should point out that our IT people have made the change only in the xml-documents. Thus after the merge the xPath in our XSLT will have to be adapted accordingly (from something like custEvent/ptr/@target to custEvent/graphic/@url ?).

[2015-06-05 14:48] andreabernini commented on #119
Two cases from P.Oxy. 11.1382 (TM 63699)

I. Leiden+ https://github.com/DCLP/idp.data/blob/dclp/DCLP/64/63699.xml#l79
<:\π̣/|subst|τ:>η

displayed in the apparatus as:
\π̣/η\π̣/ corr. ex τ

expected:
corr. ex τ

II. Leiden+ https://github.com/DCLP/idp.data/blob/dclp/DCLP/64/63699.xml#l106
https://github.com/DCLP/idp.data/blob/dclp/DCLP/64/63699.xml#l107
<:κυβερνή
25.- ###την|subst|κεβερνή25.- την:

[2015-06-08 14:59] andreabernini commented on #114
See also P.Oxy. 75.5021 (TM 128923): the first two lines of the text (at p. 3) are written in the upper margin (I entered them as 1a and 1b)

https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128923.xml#l91
https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128923.xml#l92

And, in addition, line 1 should be restored as [ἐπὶ χειρῶ]|ν https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128923.xml

[2015-06-17 10:38] HolgerEssler commented on #128
Our IT people have now carried out the merge (it was a maior blocker to their work), if there are no other problems, the task now consists just in changig the xPath in our XSLT for display as describe above.

[2015-06-17 13:24] Edelweiss commented on #144
I just noticed that I have been committing to the wrong repository. So I merged the new xslt file from papyri’s dclp branch to dclp’s xslt-master branch:

[dclp-rdf.xsl](https://github.com/DCLP/navigator/blob/xslt-master/pn-mapping/xslt/dclp-rdf.xsl)

[2015-06-18 08:07] andreabernini commented on #114
Another example for upepr margin is P.Oxy. 71.4808 (TM 112363)

https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112363.xml#l86

[2015-06-18 08:42] andreabernini opened #147 "Text added above the line (within another tag)"
P.Oxy. 71.4808 (TM 112363) col. II 31-33
https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112363.xml#l158
https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112363.xml#l159
https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112363.xml#l160

Leiden+

[code]

Displayed in the apparatus

[code]

Expected

[code]

[2015-06-18 09:46] andreabernini opened #148 "Superfluous displaying of square brackets"
In P.Oxy. 71.4808 (TM 112363), within the tag `|alt|`, square brackets superfluously appear in this way: `[]`

https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112363.xml#l129
https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112363.xml#l130
https://github.com/DCLP/idp.data/blob/dclp/DCLP/113/112363.xml#l131

Leiden+

[code]

Displayed

[code]

Expected

[code]

[2015-06-19 14:31] andreabernini commented on #114
In P.Oxy. 5032 col. II 1a (TM 128960) there is more than one line of text written in the upper margin (see #121) that, in turn, preserves text in its right margun:

https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128960.xml#l128 : at the end of the line add
1. <:ου̣[.1]σ̣τ̣ι̣ν[.?]||alt||οὐ̣[κ ἐ]σ̣τ̣ὶ̣ν| οὐ̣κ̣ ἦ̣ν:> [ἐν τοῖς] 2. <:ακρβ\ε̣/ ου̣τ̣[.?]|alt|(ἀκρ(ι)βε(στέροις οὗ̣τ̣[ος])):>

[2015-06-19 14:36] andreabernini commented on #121
See also P.Oxy. 5032 col. II 104 (TM 128960)

https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128960.xml#l133  (left)

1. [.?].1<:δ\ι/||alt||(δι(ττῶς))|(δι(ορθωτέον)):> εἰς τοὺς <:ε.1|alt|(ἑπ(ομένους))(?):> 2. [.?]ερ̣[.1]υ̣ς <:αρ.1[.?]|alt|αἰ̣[ε]ι̣[γεν] [.?](?):>

[2015-06-19 15:11] andreabernini commented on #126
P.Oxy. 5032 (TM 128960) contains various samples:

col. II 139 https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128960.xml#l151
Leiden+: Ἀχι]λ ῆ(^)’
Displayed in the apparatus: ῆ’ papyrus
Expected: ῆ papyrus

col. II 139 https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128960.xml#l151
Leiden+:  ἴ(¨´)σ̣χ̣ωσι
Displayed in the apparatus: ϊσ̣χ̣ωσι papyrus : ϊίϊσ̣χ̣ωσι papyrus
Expected: ΐσ̣

[2015-06-22 09:23] andreabernini commented on #147
P.Oxy. 75.5045,14 (TM 128972)
https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128972.xml#l91

Leiden+
<:ποδῶν|subst|π\ α(´)/α\ο/δων:>

Displayed in the apparatus:
corr. ex π\α(ά) (α\ο (δωνο corr. ex )δωνα(ά) corr. ex )α\ο (δωνο corr. ex )δων

Expected:
corr. ex π\α/\ο/δων : (ά) papyrus

[2015-06-22 09:30] andreabernini commented on #119
P.Oxy. 75.5045,4-5 (TM 128972) [see also #130]
https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128972.xml#l81
https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128972.xml#l82

Leiden+:
ἀργυρω
	5.- θέντες|corr|αργυρ ω̣(`)5.- [ρ]ω̣θεντες̣

Displayed in the main text [italics is not mine]:
αργυρω̣(*)-|[ρ]ω̣θεντες̣(*)
Expected:
4. αργυρω̣(*)-
5. [ρ]ω̣θεντες̣(*)

Displayed in the apparatus:
“l. ἀ

[2015-06-23 09:57] andreabernini commented on #116
See also P.Oxy. 72.4855 (TM 113270): https://github.com/DCLP/idp.data/blob/dclp/DCLP/114/113270.xml#l126

the alternatives at fr. 1 col. 2,1-2 should begin at fr. col. 1,27 (just after ἄδικος), but the system does not accept it.

[2015-06-24 13:49] paregorios commented on #145
@jcowey has this data been added to the XML files yet? If not, then nothing should be done about XSLT in my opinion until we have actual data upon which to operate and test.

[2015-07-15 14:21] jcowey commented on #48
Now dealt with under #108.

[2015-07-17 09:51] HolgerEssler opened #149 "Leiden+ markup for text restored by comparison with parallel copy"
There is a problem when using the Leiden+ tags for text restored by
comparison with parallel copy:
When the tags _[αβγ]_ are preceeded or followed by a lacuna [αβγ] it encounters an error message. Presumably this is because in [αβγ]_[αβγ]_ it is not clear where the first _ is belonging to - whether forming ]_ or _[.
I suggest to change the tag in Leiden+ (to [_ and _]?).

[2015-07-17 10:03] jcowey commented on #149
Instead of entering [αβγ]_[αβγ]_ enter [αβγ] _[αβγ]_ . I.e. leave an extra space between [αβγ] and _[αβγ]_
A bit like the space needed before a letter which has diairesis on top of it. I cannot test just at the moment as papyri.info seems to be down.

[2015-07-17 10:13] HolgerEssler commented on #149
That is what we are doing. We then manually remove the space in xml to avoid words being split up. Is this removing of the space necessary - i.e. would these split words still come up in a search?

[2015-07-17 10:26] jcowey commented on #149
So it is showing up wrongly (with split in word where it is not correct) in Preview? That is probably something that the XSLT could be tweaked to deal with in a proper fashion.

[2015-07-19 12:27] HolgerEssler commented on #149
Example: PHerc. 1674, col. 2, l. 19:
Leiden+ not working:
1) ``19.- π' [ἰα]_[τρ]_[ι]κῆς  [ἀ]π̣ολ̣[είπε]σ``
With spaces inserted it is working (NB in other combinations spaces were not necessary):
2) ``19.- π' [ἰα] _[τρ]_ [ι]κῆς  [ἀ]π̣ολ̣[είπε]σ``
However preview shows divided word:
3) ``π' [ἰα] τρ [ι]κῆς [ἀ]π̣ολ̣[είπε]σ-``.

The corresponding xml:
4) ``<lb n="19" break="no"/>π' <supplied reason="l

[2015-07-20 13:53] andreabernini commented on #118
Another example (involving an alternative) is P.Oxy. 11.1380 (TM 63688), 142:

https://github.com/DCLP/idp.data/blob/dclp/DCLP/64/63688.xml#l244

Leiden+: <:Ἶσι|alt| Ἶ(¨)σι:>

Displayed: or Ἶ(ϊ)σι

Expected: or Ἶσι : ϊσι papyrus

[2015-07-22 15:08] andreabernini opened #150 "text added above the line not properly handled in apparatus generation"
P.Oxy. 67.4555,814 (= TM 68628)

https://github.com/DCLP/idp.data/blob/master/DCLP/69/68628.xml

Leiden+: ```<:με̣\τ/α[λγεῖ]|subst|με̣.1\τ/α[λγεῖ]:>```

XML: ```<subst><add place="inline">μ<unclear>ε</unclear><add place="above">τ</add>α<supplied reason="lost">λγεῖ</supplied></add><del rend="corrected">μ<unclear>ε</unclear><gap reason="illegible" quantity="1" unit="character"/><add place="above">τ<

[2015-07-29 08:18] andreabernini commented on #114
Another example for upper margin: P.Oxy. 74.4968, 7a Col. II, line 1 (TM 119313)

https://github.com/DCLP/idp.data/blob/dclp/DCLP/120/119313.xml#l573

[2015-08-03 16:05] andreabernini opened #151 "Display of the tag ||right:αβγ||"
When the tag occurs in the middle of a word that continues in the following line, the display is not correct, in relation to the symbol -

P.Oxy. 75.5043 (TM 128970) Fr. 5,9-10 https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128970.xml#l133

Leiden+:
9. [Φθίαι· Νεοπτόλεμος δ’ ἀ] ||right:.3 vac.2-3 .1[.?]||
10.- [πείρωι διαπρυσίαι,]

Displayed:
9 Φθίαι· Νεοπτόλεμος δ’ ἀ] (added at right:   ̣  ̣

[2015-08-12 08:54] andreabernini commented on #147
P.Oxy. 75.5023 (TM 128952) part A, 8
https://github.com/DCLP/idp.data/blob/dclp/DCLP/129/128952.xml#l97

Leiden+: <:\δ̣/ έ(´)ξῃ|corr|\δ̣/ ή(´)ξι:>

Displayed in the apparatus: l. \δ̣ (έξῃδ̣ corr. ex )έ(έ)ξῃ (corr) : ήξι papyrus

Expected: l. \δ̣/έξῃ (corr.) : ήξι papyrus

[2015-08-12 08:57] andreabernini opened #152 "Displaying the tag “inverse”"
It is accepted by the system, but not displayed: in P.Oxy. 75.5023 (TM 128952) part. C, 1 (and ff.), I would expect something like “(turned 180°)”
https://github.com/DCLP/idp.data/blob/master/DCLP/129/128952.xml#L164

Leiden+:

```(1, inverse) (ἦ\χ/(ος)) <#β=2#> ```

XML:

[code]

[Displayed](http://dclp.github.io/dclpxsltbox/output/dclp/129/128952.html):

```ἦ\χ/(ος) β```

(see now #251 for incor

[2015-09-10 09:15] jcowey opened #153 "Explore incorporating links to Medicalia Online"
In Parma the Medical Papyri team has been active in producing a glossary of medical terms.
http://www.papirologia.unipr.it/CPGM/medicalia/vocab/index.php
This is a database created with the open source
http://sourceforge.net/projects/tematres/files/
Each word seems to have a unique identifier:
http://www.papirologia.unipr.it/CPGM/medicalia/vocab/index.php?tema=21
http://www.papirologia.unipr.it/CP

[2015-09-10 10:47] jcowey opened #154 "Keywords copied into XML file check"
https://github.com/DCLP/idp.data/blob/dclp/DCLP/120/119324.xml#L66-L72

check that this works

[2015-09-10 13:26] margheritacent commented on #154
Dear James,
it works!
Thank you indeed,
Margherita

2015-09-10 12:47 GMT+02:00 James M.S. Cowey <notifications@github.com>:

[2015-09-16 14:56] paregorios opened #155 "create HTML indexes"
For our static browse/development/test environment, it would be helpful to have HTML pages that perform an index function: linking to all generated HTML that meets certain criteria (e.g., there's text in a ```<div type="edition">``` or one or another keyword is assigned to the work).

[2015-09-16 15:14] jcowey opened #156 "Display of "Front Matter" and "Commentary""
The following "medical papyri" now have front matter and commentary in the XML files:

https://github.com/DCLP/idp.data/blob/dclp/DCLP/70/69006.xml
https://github.com/DCLP/idp.data/blob/dclp/DCLP/70/69032.xml
https://github.com/DCLP/idp.data/blob/dclp/DCLP/65/64507.xml
https://github.com/DCLP/idp.data/blob/dclp/DCLP/120/119317.xml
https://github.com/DCLP/idp.data/blob/dclp/DCLP/120/119323.xml
http

[2015-09-16 18:55] jcowey commented on #154
http://dclp.github.io/dclpxsltbox/output/dclp/120/119324.html

They are displayed. Still not sure whether we want to differentiate between
https://github.com/DCLP/idp.data/blob/dclp/DCLP/120/119324.xml#L66-L72
(these come from HGV style entry through the editor - then copied into the XML files)
and
https://github.com/DCLP/idp.data/blob/dclp/DCLP/120/119324.xml#L73-L75
(these come from LDAB)
In dis

[2015-09-17 14:20] rla2118 commented on #154
I see no reason to differentiate between the two.  They can be displayed together.

[2015-09-17 14:25] jcowey commented on #154
Changed by:
https://github.com/DCLP/idp.data/commit/fa3437467c158f74f6a8a0dc6a27d6cc04d73856

[2015-09-17 14:28] jcowey commented on #154
See now at:
https://github.com/DCLP/idp.data/blob/dclp/DCLP/120/119324.xml#L66-L73

so closing this issue

[2015-09-17 14:28] #154 closed

[2015-09-17 15:22] paregorios commented on #156
@jcowey I gather from a quick look at http://dclp.github.io/dclpxsltbox/output/dclp/70/69006.html that the front matter and commentary are not currently displaying, so what you're suggesting above is we hunt down presumed existing code for display of same and wire it in for items in the DCLP collection.

If that's the case, can you tell me (if you know) for which collections (e.g., DDB) said code

[2015-09-17 16:40] jcowey commented on #156
The following files show front matter and commentary:
http://papyri.info/ddbdp/p.got;;54dgtl
http://papyri.info/ddbdp/p.got;;29dgtl

The XML files they draw on is:
https://github.com/papyri/idp.data/blob/master/DDB_EpiDoc_XML/p.got/p.got.54dgtl.xml
https://github.com/papyri/idp.data/blob/master/DDB_EpiDoc_XML/p.got/p.got.29dgtl.xml

[2015-09-17 16:51] jcowey commented on #156
And yes I was indeed suggesting that it is a case of "hunt down presumed existing code for display of same and wire it in for items in the DCLP collection."

[2015-09-20 20:29] leoba commented on #55
I'd like to work on this, but the TM 62419 file that I am using (from the dclp branch of idp.data: https://github.com/DCLP/idp.data/blob/dclp/DCLP/63/62419.xml) doesn't have the Greek text in it. @HolgerEssler are you using a data file from a different branch?

[2015-09-20 20:31] leoba commented on #146
I'd like to work on this, but when I grep level="j" on idp.data/DCLP I get nothing (although I do get many hits on level="m" and level="s") - it looks like there aren't any citations to journal articles (although the htm-teibibl.xsl file has references to level="j", so it's expecting them to be there). I'm in the dclp branch of idp.data. Should I be using another branch?

[2015-09-20 20:46] jcowey commented on #146
Is this where you are?
https://github.com/DCLP/idp.data/tree/dclp/Biblio

[2015-09-20 20:47] jcowey commented on #146
I am a bit puzzled that you are not getting results for ```<title level="j"```
Or I am misunderstanding something

[2015-09-20 21:37] leoba commented on #156
Both
<div type="commentary" subtype="frontmatter" xml:space="preserve"> and <div type="commentary" subtype="linebyline"> are processed in htm-teidiv.xml (https://github.com/DCLP/dclpxsltbox/blob/master/xslt/pn-xslt/htm-teidiv.xsl#L18-L19), but it's obviously not working correctly. This file should provide the heading and apply templates for the div contents.

[2015-09-20 21:54] leoba commented on #146
I was just coming back to say that I was, in fact, looking in DCLP, not in Biblio - which would explain my confusion. I hadn't looked in Biblio yet - still very new here and working out where things are.

[2015-09-21 07:03] jcowey commented on #146
No problem! Glad to have pushed you in the right direction. :)

[2015-09-21 15:04] paregorios commented on #156
It may not be getting invoked when processing metadata for collection==dclp. The relevant control flow, iirc, is in metadata-dclp.xslt

[2015-09-21 15:06] paregorios commented on #146
DCLP has a lot of fun with cross-references...

[2015-09-21 15:14] paregorios commented on #55
I can't find it either. I did the following inside idp.data/DCLP (dclp branch) and got no hits:

[code]

@jcowey any ideas?

[2015-09-21 15:39] jcowey commented on #55
I also searched for this last night and failed to find the Greek. I suspect Greek was entered using the editor in papyri.info for testing and entering and then not added to the existing XML file

[2015-09-21 15:39] jcowey commented on #146
:)

[2015-09-21 19:30] jcowey opened #157 "Red hat which version, please?"
Which version von Red Hat or CentOS is used on our server? Marcel is about to try building his own develpoment SoSOL on his own computer and wants to replicate as exactly as possible the configurations.

[2015-09-21 19:36] paregorios commented on #157
CentOS release 6.7 (Final)

[2015-09-21 19:52] jcowey commented on #157
Thanks!

[2015-09-21 19:56] #157 closed

[2015-10-04 21:26] leoba commented on #156
@jcowey and @paregorios I am making progress on this. However both https://github.com/DCLP/idp.data/blob/dclp/DCLP/70/69006.xml and https://github.com/DCLP/idp.data/blob/dclp/DCLP/120/119317.xml have `tei:listBibl` in the `div[@type='commentary'][@subtype='frontmatter']` which are causing display issues. Can y'all please let me know if this is an encoding issue (i.e., `tei:listBibl` is not allowed

[2015-10-05 21:22] jcowey commented on #156
Maybe have a look at
https://github.com/papyri/idp.data/blob/master/DDB_EpiDoc_XML/p.got/p.got.54dgtl.xml#L77
which with papyri.info XSLT can be seen to display in
http://papyri.info/ddbdp/p.got;;54dgtl

[2015-10-07 12:29] jcowey commented on #108
Global change to
```<authority>Digital Corpus of Literary Papyri</authority>```

[2015-10-07 12:38] jcowey commented on #106
Example with absolute url:

[code]
Example with enumeration:

[code]

[2015-10-07 12:55] jcowey commented on #50
List of values for form:

codex
fragment
inscription
loose leaves, bound together
offsets
roll
sheet (sheer)
tablet
unknown
vessel

[2015-10-07 13:45] jcowey commented on #50
In the example above:

[code]
e.g. DCLP TM no. [99549](https://github.com/DCLP/idp.data/blob/dclp/DCLP/100/99549.xml)

clean up the values of form columns and written lines. On the basis that all the infomation is in the p tag.

It would now look like

[code]

[2015-10-07 14:30] Edelweiss commented on #108
[add authority (Digital Corpus of Literary Papyri) to publication statement](https://github.com/DCLP/idp.data/commit/3049456793f2758accc1306d478377e47d727668)

[2015-10-07 14:35] jcowey commented on #108
Great. Finished for now.

[2015-10-07 14:35] #108 closed

[2015-10-07 14:36] jcowey commented on #48
#108 now closed, so closing this one too!

[2015-10-07 14:37] #48 closed

[2015-10-08 10:26] jcowey commented on #145
see comment from 20 May on where to get the relevant information to add to the files

[2015-10-08 13:27] Edelweiss commented on #106
Another possibility might be to collect all references to images - be it online or printed material - in one div

[code]

[TM No. 62107](https://github.com/DCLP/idp.data/blame/dclp/DCLP/63/62107.xml)

[2015-10-08 13:34] Edelweiss commented on #106
Decision. All graphics contained within div type="figure" will be moved to facsimile section. Then the files will vaildate. If later we decide to change then all we have to do is reverse the commit or run another xslt change over it.

[2015-10-08 20:50] HolgerEssler commented on #106
For Anagnosis we have inserted all references to images to <custEvent>,
since it was at a specific moment in time when the image was taken - and
this gives an easy way to attach name, date etc. to it.

[2015-10-11 23:49] leoba commented on #156
@jcowey please check out the branch issue156 (both dclpxsltbox and navigator) and see if that works as expected.

[2015-10-11 23:51] leoba commented on #55
@HolgerEssler if you can update the TM 62419 in master to include the Greek (or if it's in another branch you can point me to, or if you can point to another text that is in master) I will work on this. Unfortunately I can't do much without the Greek.

[2015-10-11 23:53] leoba commented on #26
@paregorios for this (and #51) are these both open to be worked on?

[2015-10-11 23:57] leoba commented on #106
I'm going to ask @paregorios to ping me here if he needs me to modify the xslt to handle the new facsimile section.

[2015-10-12 00:06] leoba commented on #141
@paregorios has an official decision been made about this suggestion?

[2015-10-12 00:18] HolgerEssler commented on #55
The text was encoded quite a while ago, but unfortunately is still in
the pipeline (we are waiting for the processing by Daniel Riano). If the
Leiden+, xml and preview output quoted above are not sufficient, I think
the quickest way would be to look for other examples in the texts where
the  sequence of <gap reason="lost" extent="unknown"
unit="character"/><gap reason="lost" quantity="X" unit="cha

[2015-10-12 08:08] jcowey commented on #106
As facsimile is completely new to the code, it seems to me to follow that the xslt will have to be modified.

[2015-10-12 12:03] rla2118 commented on #141
Ι would be fine following Gabby on this and changing underlined/overlined,
but combining supraline+underline would be difficult on most keyboards, I
fear.  What about something like ¯abc_?  James, what do you think?

On Sun, Oct 11, 2015 at 8:06 PM, Dot Porter <notifications@github.com>
wrote:

[2015-10-12 13:05] paregorios commented on #141
@jcowey please see query from @rla2118 immediately above.

[2015-10-12 13:10] paregorios commented on #106
@leoba yes, I think this is one we need to do. I've shared a private repository (Campa Inscriptions) with you. It includes a fork of the EpiDoc stylesheets used to produce the HTML for the inscriptions that one sees here: http://isaw.nyu.edu/publications/inscriptions/campa/. It caters for facsimile, though perhaps not in the way we're doing it here.

Only reason the repos is private is because the

[2015-10-12 13:13] paregorios commented on #26
@leoba if you see a path forward, then yes.

[2015-10-12 13:14] paregorios commented on #156
fyi I aim to look at this myself this week, but it might be later in the week before I get to it.

[2015-10-12 13:29] jcowey commented on #156
Using
https://github.com/DCLP/idp.data/blob/dclp/DCLP/70/69006.xml
as a test case
I looked at
http://dclp.github.io/dclpxsltbox/output/dclp/70/69006.html
There I do not see either Front Matter or Commentary.
Maybe there needs to be a rerun of the output before changes are visible.

[2015-10-12 13:32] paregorios commented on #156
Yes, if you want to see it now you'd need to run the transforms locally. I'll update after I test.

[2015-10-12 13:36] paregorios commented on #50
@jcowey so, do you think we're ready to implement then?

[2015-10-12 13:51] jcowey commented on #50
These have been implemented in
https://github.com/DCLP/idp.data/tree/hd
with the commit
https://github.com/DCLP/idp.data/commit/b2d37ab288441dc74f0cd44c856fbc72c9daa4b7

I would be happy to see this and the other commits
https://github.com/DCLP/idp.data/commits/hd
of October 2015 folded into our dclp branch
https://github.com/DCLP/idp.data/tree/dclp
once you have had a look and found the changes a

[2015-10-12 14:30] andreabernini opened #158 "Symbol resembling the acute accent"
In P.Oxy. 67.4570 fr. 3 ll. 1 and 9 a symbol resembling an acute accent is used for indicating a pause:

Line 1: https://github.com/DCLP/idp.data/blob/dclp/DCLP/68/67830.xml#l130
Comment of the ed.pr. (p. 82): “Unexplained ink in the form of an acute accent above the line after ι in κ̣ύκλω, presumably indicating a pause before the following clause (similar one in 9).

Line 9 (after ὅλ]ας)
https://

[2015-10-12 14:37] HolgerEssler commented on #26
We have now added corresp-nos to both the <custEvent> and the
corresponding <div> in the text. (Some files still need updating, but in
general that should be the way to relate them).

[2015-10-12 14:48] jcowey commented on #26
I looked at
https://github.com/DCLP/idp.data/blob/dclp/DCLP/63/62400.xml
which does not seem to have corresps in the text ```<div>```
@HolgerEssler can you please give us an example where the corresps have been added to the text ```<div>```

[2015-10-12 14:53] HolgerEssler commented on #26
Examples are TM:
59436
59491
59506
62460

[2015-10-12 15:07] jcowey commented on #26
Taking
https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59436.xml
as a working examples
https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59436.xml#L633
refers to the following
https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59436.xml#L496
and
https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59436.xml#L481

by virtue of
#FR2754

[2015-10-13 13:53] rla2118 opened #159 "merge from upstream: editor supraline fix code"
http://dclp.github.io/dclpxsltbox/output/dclp/131/130167.html
The display of overstrokes on the first two characters (ιη) of the first line in this record is not right. The line should be continuous over both iota and eta.

XML doesn't appear to be correct:
It currently has
`< lb n="1"/><num value="18">ῑ<hi rend="supraline">η</hi></num> δ<unclear>ι</unclear>’ ὅλης ἡ<unclear>μέρας</unclear>.`

But

[2015-10-13 14:02] rla2118 opened #160 "Does the editor really allow us to specify which page in an article was the page on which the text was presented?"
If you look at http://dclp.github.io/dclpxsltbox/output/dclp/131/130167.html you will see that the page on which the edition appears is not included (it's also not in the XML).  With a lengthy article containing many editions this makes it difficult to find the text in question.  Where should this information go and is it already somewhere in the LDAB data?

[2015-10-13 14:19] rla2118 commented on #158
This sort of semantic insufficiency we're going to face with other
standard symbols (e.g., grave accent used to prevent division of compound
words).  At this stage, I'm reluctant to spend time on rare exceptions, and
sometimes we might want to encode in a way that reflects the function of
the mark (e.g., as punctuation) rather than to imitate it graphically.  In
other words, I would be inclined no

[2015-10-13 14:27] paregorios commented on #159
I've just updated comment from @rla2118 above using three continuous grave accents before and after code snippets so all pointy brackets show up in view

[2015-10-13 14:28] paregorios commented on #159
And, FWIW, the encoding recommendation/fix from @rla2118 looks correct to me.

[2015-10-13 14:31] paregorios commented on #158
Two issues here, if I may:

1. What character (or glyph) should be used in the text.
2. Should there be any associated/encompassing XML/TEI markup to indicate the editors' judgment concerning the semantics and function of that mark at that point in the text.

If it's visually indistinguishable from a standard accent, then I'd lean toward answering question 1 by putting an accent in the XML. If you

[2015-10-13 14:45] jcowey commented on #159
This is a known problem with the editor.
In Leiden+ if one adds a supraline to the letters alpha or iota it is not written as proper xml mark up. One can change to proper xml mark up in the xml tab and then preview is correct and subly different from when supraline is added via Leiden+. (The overstroke sits higher when correct).
Ryan has a fix for it which has not yet been implemented on papyri.in

[2015-10-13 14:47] paregorios commented on #159
@ryanfb can you point us to a ticket (if one exists) as discussed by @jcowey above? I'd prefer to close this ticket with a pointer to wherever it's being tracked across the larger effort. thanks.

[2015-10-13 14:50] HolgerEssler commented on #158
I agree with Rodney not to introduce new Leiden+ syntax at this stage
and would follow Tom's solution of using markup directly in the xml to
indicate special functions (if determined without doubt).

[2015-10-13 14:53] rla2118 commented on #158
Wrapping in the <pc> element sounds like a good way of dealing with this.
As for the follow-up question, this should probably be on our Leiden+
desiderata list, but I would give it lower priority than other things. Can
you add it @andreabernini?

On Tue, Oct 13, 2015 at 10:31 AM, Tom Elliott <notifications@github.com>
wrote:

[2015-10-13 15:31] andreabernini commented on #158
By using markup directly in the xml, should I write something like:
hi rend="pause" ?

[2015-10-13 19:12] ryanfb commented on #159
See discusion at sosol/sosol#121 (and linked), and particularly now-passing tests in `rails-3-nfd` branch of [papyri/xsugar](https://github.com/papyri/xsugar) at: https://github.com/papyri/xsugar/compare/rails-3...rails-3-nfd#diff-a4da66e842ac3a281fe18b9ea50a3345R1069

[2015-10-14 10:18] jcowey opened #161 "Remove any remaining instances of bad overline on iota and alpha in the DCLP files"
Check and clean any remaining examples of ῑ or alpha with a supraline on it in the dclp files. Wait until all new xml has been produced before doing this to avoid conflicts. This is reference to #159

[2015-10-14 10:19] jcowey commented on #159
ryanfb has made the fix on production in papyri.info, tested it and it is fine. I have cross checked and confirm that it is working for me on production in papyri.info.
This means that this should now no longer happen. That is great. There probably remain a few instances to be fixed. Once that is done everything should be fine.
Closing this and opened a new issue: #161

[2015-10-14 14:28] jcowey commented on #106
Now committed:
https://github.com/DCLP/idp.data/commit/9a269087f33d228a12d17ad27051528ad9663935
and can be viewed on
[https://github.com/DCLP/idp.data/tree/hd hd branch]

[2015-10-15 16:04] paregorios commented on #106
I'm taking this ticket temporarily to have a look at the now-valid XML.

[2015-10-15 16:11] paregorios commented on #159
Reopening this ticket as we will need to pull changes made by @ryanfb into our fork and branch if we want to see the fix working when we get our version of editor up and running. Taking assignment of this ticket for now ahead of coordination with @Edelweiss to schedule that update/merge.

[2015-10-21 22:58] paregorios commented on #50
The referenced commit has greatly improved validation performance and brought our content into a more standard TEI convention with regard to object and layout description; however, a number of validation errors relevant to these sections still seem to obtain. These are:

 * empty ```writtenLines``` attribute (only one case: [TM 102244](https://github.com/DCLP/idp.data/blob/hd/DCLP/103/102244.xml#L

[2015-10-22 07:56] Edelweiss commented on #50
* [TM-No. 102244](https://github.com/DCLP/idp.data/blob/hd/DCLP/103/102244.xml#L29) (numbers separated by space for writtenLines)
* [TM-No. 67268](https://github.com/DCLP/idp.data/blob/hd/DCLP/68/67268.xml#L28) and [TM-No. 98044](https://github.com/DCLP/idp.data/blob/hd/DCLP/99/98044.xml#L28) (numbers separated by space for columns)

We didn’t take into account that TEI only allows up to two numbe

[2015-10-22 14:16] paregorios commented on #50
Sounds good to me!

[2015-10-22 15:05] jcowey commented on #106
possibly now tending to prefer the

[code]
solution
because the urls are often .htm / .html sites
or
jpgs
not controlled or strictly speaking part of the project

[2015-10-27 23:47] HolgerEssler commented on #55
The Greek text has now been included in the file of TM 62419.

[2015-10-28 07:43] jcowey commented on #55
In TM 62419 the beginning of col. 15, 2 in the edition reads:
--- ̣ ̣ ̣ ̣ ̣ φ]αῦλον
Leiden+ encoding would be
[.?][.5] [φ]αῦλον
XML :
<gap reason="lost" extent="unknown" unit="character"/><gap reason="lost" quantity="5" unit="character"/> <supplied reason="lost">φ</supplied>αῦλον
However, preview is grouping the gaps in the wrong way:
[ -ca.?- ][φ]αῦλον
https://github.com/DCLP/idp.data/blob/dclp/D

[2015-10-28 13:11] paregorios commented on #128
@HolgerEssler pre-existing code wraps the entire ```custEvent``` content in a link to the URL. Do you want this behavior for the ```graphic``` URL as well, or would you prefer that we append the link to the end of the ```custEvent``` information, using a word like "graphic" or "illustration"?

[2015-10-28 13:37] HolgerEssler commented on #128
Could it be wrapped around the type-attribute? E.g. in
"Sketched by Giuseppe Casanova (1802-1803)"
could the link be underlying "Sketched"?

[2015-10-28 13:50] paregorios commented on #128
I'll undertake to do that.

[2015-10-28 13:53] paregorios commented on #128
In work at https://github.com/DCLP/navigator/tree/issue128

[2015-10-28 14:20] paregorios commented on #128
Results of transform using new code (DCLP/navigator/cb1208e0af90d1505c76150cf07743e50ca1c1ad) are presently up at http://dclp.github.io/dclpxsltbox/output/dclp/, e.g., http://dclp.github.io/dclpxsltbox/output/dclp/81/80754.html

@HolgerEssler if this is OK with you I will merge into primary branch and close this issue.

[2015-10-28 14:48] HolgerEssler commented on #128
Perfect. Many thanks.

[2015-10-28 14:51] paregorios commented on #128
Complete. Changes merged into dclpxsltbox/master and into idp.data/xslt-master

[2015-10-28 14:51] #128 closed

[2015-10-28 16:47] jcowey commented on #106
[code]
is probably preferable.
Other possibilities would be
[code]
OR

[code]

I think ```bibl``` inside ```listBibl``` seems better. And ```ptr``` within ```bibl``` also better.

[2015-10-28 17:30] paregorios commented on #106
What about something like:

[code]

The ```ptr``` is pointing to an illustration in the ed. princ., no? Therefore a single bibliographic reference, rather than two separate ones. Or am I confused?

[2015-10-28 18:22] jcowey commented on #106
For the above reasons I like:

[code]

[2015-10-28 18:31] paregorios commented on #106
Right. That makes better sense. The only additional questions I have is whether there's existing data that could be used to:

 * link the "ed. princ." bibl to a full(er) bibliographic citation
 * describe the bibliograhic context of the ```target``` in the second ```bibl```, maybe linking it to a fuller bibliographic record as well (not for the individual image, but for the site in question, perha

[2015-10-28 18:36] jcowey commented on #106
* link the "ed. princ." bibl to a full(er) bibliographic citation:
- almost certainly, yes! probably with a corresp to the main bibliographical entry (```div type="bibliography" subtype="publication"```)
 * describe the bibliograhic context of the ```target``` in the second ```bibl```:
- would certainly be possible (more accurate), but low priority IMO

[2015-10-28 18:41] paregorios commented on #106
I think we have a consensus here.

[2015-11-06 14:59] rla2118 opened #162 "Incomplete MSI image content in PHerc"
https://dclp.github.io/dclpxsltbox/output/dclp/60/59754.html

If you look at this record you'll see that there are 4 image links.  They lead to two distinct photos.  Photos of the other fragments are missing.  Is this because we never got these image links from Chartes, or is there a problem with the linking?

[2015-11-06 18:41] HolgerEssler commented on #162
The reason is that for each inventory number there is only one image on
chartes. Thus we got links to all the images there, but these images
cover just a small percentage of the fragments.

[2015-11-17 14:51] andreabernini opened #163 "strip accents from Unicode characters if they are not wrapped in corresponding <hi rend> elements"
P.Oxy. 67.4554 back (TM 68627) ln. 2 https://github.com/DCLP/idp.data/blob/master/DCLP/69/68627.xml#L106 (back, line 2)
The word has two accents, but only the first one was written by the scribe. However, in the apparatus both are displayed

Leiden+:  ```Λαπ̣[ ί(´)]θ̣[αισ]ί̣. ```
Text: ```Λαπ̣[ί(*)]θ̣[αισ]ί̣ ```
App.: ```π̣ίθ̣[αισ]ί̣ papyrus```

Expected in the apparatus: ```π̣ίθ̣[αισ]ι̣ papyr

[2015-11-19 16:17] andreabernini commented on #114
Two symblols, to be tagged as ||:*check?*|| appear in P.Oxy. 67.4577 (TM 67837), before the beginnings of:
Frr. 1-3, col. II https://github.com/DCLP/idp.data/edit/dclp/DCLP/68/67837.xml#l172
Fr. 4, col. I https://github.com/DCLP/idp.data/edit/dclp/DCLP/68/67837.xml#l246

[2015-11-24 20:06] jcowey commented on #159
Blocked until our editor is up and usable.

[2015-12-09 14:27] HolgerEssler opened #164 "Credit BYU for MSI"
In order to credit the team from BYU for the MSI of Herculaneum papyri,
their name should be added to all `<custEvent type="MSI">`, by
inserting `<surname>CPART, Brigham Young University</surname>`.
Example after:
https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59752.xml#L150
`<surname>CPART, Brigham Young University</surname>` should be added, in analogy to the indication of the responsible in

[2015-12-09 15:45] paregorios commented on #164
I'm looking at impact if we use ```<name>``` instead of ```<surname>```.

[2015-12-18 22:08] paregorios commented on #156
I've had a first pass at reviewing the results of the changes made by @leoba at DCLP/navigator@ 01b06f5, but I'm going to need to dig a little deeper. In my test run, at least some of the commentary sections had extraneous navigator-related nav in the middle, possibly caused by examples getting processed by unexpected templates. This is really just a note to myself to know where to pick up when I

[2016-01-08 10:52] leoba commented on #156
Thanks, this is helpful. I'll take another look myself.

[2016-01-13 15:58] HolgerEssler commented on #26
The intended layout and the places where the information from the custEvent-elements should be displayed are illustrated in our old google doc, page 3-5:
https://drive.google.com/open?id=1q8uAl6sNzop0JyRwIrbk4NgZ1zrTQtr20q7SEfycPRY

[2016-01-13 17:06] andreabernini opened #165 "Symbols indicating the long and the short vowel"
Maybe with a syntax like hi rend="longum" and hi rend="breve" ?

Such symbols occur in some papyri, also together with accents, as in:
- P.Oxy. 9.1179,4 κεάσθη https://github.com/DCLP/idp.data/edit/dclp/DCLP/60/59170.xml#l93
- P.Oxy.75.5027,6 Ἡρακλεῖα https://github.com/DCLP/idp.data/edit/dclp/DCLP/60/59170.xml#l111

[2016-01-13 17:17] jcowey commented on #165
This would entail new Leiden+ xSugar grammar (relatively) straightforward, I think. Then also changes to XSLT to accommodate displaying the mark up effectively.

[2016-01-14 12:52] andreabernini commented on #165
See also #125

[2016-01-14 14:02] andreabernini commented on #114
As for the text in the lower margin, see also the last line of P.Oxy. 67.4557 (TM 59838), that I wrote it as 56a
- https://github.com/DCLP/idp.data/edit/dclp/DCLP/60/59838.xml#l175

[2016-01-14 15:22] andreabernini commented on #165
Another case, P.Oxy. 72.4849 (TM 113264)
- verso line 1 https://github.com/DCLP/idp.data/edit/dclp/DCLP/114/113264.xml#l92
- verso line 6 https://github.com/DCLP/idp.data/edit/dclp/DCLP/114/113264.xml#l97

[2016-01-15 14:04] paregorios commented on #26
@leoba this issue has been identified by the papyrology team members as being very high on the wish list. I wonder if we should collaborate on mocking up something for review, before trying to code it. What do you think?

[2016-01-17 19:33] leoba commented on #156
Tom, I'm not sure what you mean by "navigator-related nav in the middle" but I have noted (and mentioned above in comments from October 4 and following) that there is an issue with the display of `listbibl` - is that what you're referring to? I didn't see anything else amiss when I ran the transform locally. Assuming that is the issue, I was able to fix it by modifying navigator/epidoc-xslt/htm-te

[2016-01-23 21:37] leoba commented on #146
@paregorios if you can add an example pointing to a specific file that would be very helpful.

[2016-01-23 22:25] leoba commented on #55
If I'm reading the documentation in the XSLT correctly this is the way the process is supposed to work - it's a feature not a bug. See `tpl-reasonlost.xsl` (this line and throughout):

https://github.com/DCLP/dclpxsltbox/blob/master/xslt/pn-xslt/tpl-reasonlost.xsl#L17

For a gap from `y` to `x`, "If `y` is a `text()` then output `'['` If `y` is `'lost'` then nothing"

So it seems the gaps are desi

[2016-01-23 22:56] HolgerEssler commented on #55
I think it should be changed to a display that omits square brackets in
between, but does not lump together the content/extent of different
gap-elements following each other (i.e. I would like to avoid that
[---...] simply becomes [ -ca.?- ].
However there is an additional issue: the preview [ -ca.?- ][φ]αῦλον
also contains superfluous square brackets in the middle. It should in
any case read [ -c

[2016-01-24 23:05] leoba commented on #55
@HolgerEssler can you show me how exactly you would expect / would like to see `<gap reason="lost" extent="unknown" unit="character"/><gap reason="lost" quantity="5" unit="character"/> <supplied reason="lost">φ</supplied>αῦλον` in preview?

[2016-01-24 23:11] leoba commented on #141
@paregorios @jcowey checking again to see if there's a change to make yet to the XSLT.

[2016-01-24 23:17] HolgerEssler commented on #55
My preferred display would be everything in one set of square brackets:
[ -ca.?- ̣ ̣ ̣ ̣ ̣  φ]αῦλον

[2016-01-25 10:20] andreabernini commented on #121
See also P.Oxy. 26.2442 (TM 62564)
- fr. 1/2 https://github.com/DCLP/idp.data/edit/dclp/DCLP/63/62564.xml#l104
- fr. 32 https://github.com/DCLP/idp.data/edit/dclp/DCLP/63/62564.xml#l524
- fr. 34,4 https://github.com/DCLP/idp.data/edit/dclp/DCLP/63/62564.xml#l583
- fr. 39,5 https://github.com/DCLP/idp.data/edit/dclp/DCLP/63/62564.xml#l641
- fr. 39,7 https://github.com/DCLP/idp.data/edit/dclp/DCLP/6

[2016-01-25 10:22] andreabernini commented on #114
For marginalia in the lower margin see P.Oxy. 26.2442 (TM 62564)
- fr. 39 https://github.com/DCLP/idp.data/edit/dclp/DCLP/63/62564.xml#l653

[2016-01-25 10:50] andreabernini commented on #165
Several cases in TM 62562, where the symbols indicating the long and the short vowel may appear together with other symbols

P.Oxy. 26.2442
- fr. 2, 1 https://github.com/DCLP/idp.data/edit/dclp/DCLP/63/62564.xml#l116
- fr. 3, 2 https://github.com/DCLP/idp.data/edit/dclp/DCLP/63/62564.xml#l126
- fr. 7, 3 https://github.com/DCLP/idp.data/edit/dclp/DCLP/63/62564.xml#l170
- fr. 7, 14 https://github.co

[2016-01-25 15:57] andreabernini opened #166 "Linking drawings to images"
In PGM (2) 2.8 (TM 59324) the following drawings may be linked to images:

col. I
-	21 ὀνόματα https://github.com/DCLP/idp.data/edit/dclp/DCLP/60/59324.xml#l98
-	37 ὄνομα https://github.com/DCLP/idp.data/edit/dclp/DCLP/60/59324.xml#l114
-	41 ὄνομα https://github.com/DCLP/idp.data/edit/dclp/DCLP/60/59324.xml#l118

col. II
-	43 ὄνομά https://github.com/DCLP/idp.data/edit/dclp/DCLP/60/59324.xml#l124

[2016-01-31 21:45] leoba commented on #55
Making a note for record: There is a bug where `<gap>`s with `@reason='lost'` next to each other don't display correctly. When there are two, the first displays correctly and then closes, and the second is ignored (that's what we are seeing here). When there are three [I don't know if this ever happens irl] the first displays, the second is ignored, and the third displays as a set of closed bracke

[2016-01-31 22:38] leoba commented on #146
@paregorios I've been trying to find an example of this and I can't. I am however finding other issues:

In Bibl files, if page numbers for journal articles are only in @from and @to values on biblScope and not in the content of biblScope, they do not display. Compare:

https://github.com/DCLP/idp.data/blob/master/Biblio/81/80929.xml#L7 (HTML: https://github.com/DCLP/dclpxsltbox/blob/master/output

[2016-02-12 14:05] paregorios commented on #146
@leoba I think we should break each of the concerns [you've identified above](https://github.com/DCLP/dclpxsltbox/issues/146#issuecomment-177643786) out as separate tickets.

I am looking for a whitespace example for you.

[2016-02-12 14:13] paregorios commented on #146
Original ticket is actually two separate issues, so I'm going to split them out along with the two new ones identified by @leoba

[2016-02-12 14:24] paregorios opened #167 "missing whitespace between "pp." or "pl." and the number(s) in some bibliographic citations"
This ticket was split out from #146.

Examples showing the problem (TM108441):

Example where there is no problem (TM59494):

A search like this in `dclpxsltbox/output/dclp` turns up relevant examples:

[code]

The main question, it seems to me, is to determine whether this is creeping in in processing structured XML bibliography (i.e., an XSLT whitespace management issue) or if these are just str

[2016-02-12 14:33] paregorios opened #168 "whitespace inside parentheses around years in bibliographic citations"
split out from #146

examples can be found with:

[code]

e.g. TM109360:

[2016-02-12 14:39] paregorios opened #169 "no whitespace in bibliographic citations between parentheses and page numbers"
seems to occur in many of the same citations that are affected by #168:

e.g., TM109360:

found with:

[code]

[2016-02-12 14:39] paregorios commented on #168
see also the apparently co-occurring #169

[2016-02-12 14:41] paregorios opened #170 "inconsistencies in biblScope markup not handled by XSLT"
found by @leoba and split out from #146:

In Bibl files, if page numbers for journal articles are only in @from and @to values on biblScope and not in the content of biblScope, they do not display. Compare:

https://github.com/DCLP/idp.data/blob/master/Biblio/81/80929.xml#L7 (HTML: https://github.com/DCLP/dclpxsltbox/blob/master/output/dclp/65/64713.html#L46)
http://litpap.info/dclp/64713

with

h

[2016-02-12 14:43] paregorios commented on #170
So this is perhaps a question for @jcowey: should we undertake to fix/standardize all the XML, or should we paper it over by making the XSLT fault tolerant? Or both?

[2016-02-12 14:44] paregorios opened #171 "date repetition in some bibliographic citations"
found by @leoba and split out from #146:

the date displays twice (once in parenthesis, once out) and although there are page numbers indicated they are not displaying (there is an empty "pp. ." instead):

https://github.com/DCLP/idp.data/blob/master/Biblio/79/78209.xml#L12-L23 (HTML: https://github.com/DCLP/dclpxsltbox/blob/master/output/dclp/101/100062.html#L46)

[2016-02-12 14:48] paregorios commented on #146
closing this ticket as all separate issues herein have been broken out as separate issue tickets.

[2016-02-12 14:48] #146 closed

[2016-02-12 14:51] paregorios commented on #164
@jcowey we should discuss

[2016-02-12 14:52] paregorios commented on #159
@jcowey @Edelweiss is this still blocked or should we put it back in motion

[2016-02-12 14:57] paregorios commented on #156
@leoba the files in ```navigator/epidoc-xslt/``` are a subversion checkout not controlled by git, which is why they are listed in ```.gitignore``` ([viz step 6 in the dclpxsltbox setup instructions](https://github.com/DCLP/dclpxsltbox#setup)).

You should be able to ```cd``` into ```navigator/epidoc-xslt``` and then use ```svn add``` and ```svn commit``` to publish the changes back to sourceforge.

[2016-02-12 14:59] paregorios commented on #143
This appears to be an XML problem; the bibliographic entry for reference edition appears twice in the XML:

https://github.com/DCLP/idp.data/blob/dclp/DCLP/62/61438.xml#L188

[2016-02-12 15:00] paregorios commented on #143
@jcowey how best to fix?

[2016-02-12 15:01] paregorios commented on #112
@HolgerEssler can you provide a marked up example?

[2016-02-12 15:04] paregorios commented on #26
The desired output looks like this (pulled from Googledoc referenced by @HolgerEssler):

[code]

[2016-02-12 15:05] paregorios commented on #26
instead of what we have now; namely, all custodial events together at the top of the file.

[2016-02-12 15:14] paregorios commented on #41
@jcowey status?

[2016-02-12 15:16] paregorios commented on #141
@jcowey?

[2016-02-12 15:17] paregorios commented on #140
note to self: the issue here is how to mark these up in xml

[2016-02-12 15:19] paregorios commented on #106
@jcowey I think we should discuss status on this issue

[2016-02-12 15:20] paregorios commented on #103
@jcowey I'm inclined to close this old ticket and focus instead on working the individual encoding and validation questions that stil remain. What do you think?

[2016-02-12 15:21] paregorios commented on #51
closing as duplicate for #26

[2016-02-12 15:23] paregorios commented on #34
@jcowey given #108 is this issue now resolved?

[2016-02-14 11:33] HolgerEssler commented on #112
https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59920.xml#L108
There <ab> is replaced by <lg>. The potential problems pointed out by me
above do not seem to occur.

[2016-02-17 15:45] jcowey commented on #6
Possibly add : archived to :observed, :destroyed, :'not-found', :reused, :moved, :acquired, :sold, :composed, :sent, :executed, :received, :located

[2016-02-17 16:13] paregorios opened #172 "merge "hd" branch of DCLP/idp.data into "dclp" branch in same repos"
There are conflicts that will need to be investigated and resolved manually:

[code]

[2016-02-17 16:13] paregorios commented on #172
What do we think the urgency is on doing this merge? @jcowey @Edelweiss @rla2118

[2016-02-17 16:20] paregorios opened #173 "address encoding updates from Feb 2016 "editor mask" meetings"
There are a number of encoding changes envisioned as a result of discussions, which have been being discussed in email. This "epic" ticket will bind together the various subordinate issues (surfacing them from the email thread), some of which will no doubt drive XSLT and other changes, not just XML re-encoding or expansion.

Next steps:
- [ ] Create a separate issue for each "NEW" section in [5974

[2016-02-20 14:23] leoba commented on #26
Sorry, I somehow missed this when I was tagged on January 15. I will put hours to this tomorrow (2/20).

[2016-02-21 20:19] leoba commented on #156
@paregorios I am unable to commit to svn (`Transmitting file data .svn: E000013: Commit failed (details follow):
svn: E000013: Can't open file '/svn/p/epidoc/code/db/txn-current-lock': Permission denied`) - guessing that I don't have permission to commit? Can you check on this?

[2016-02-28 22:25] leoba commented on #156
Committed.

[2016-02-28 22:30] leoba commented on #26
I have moved code from metadata.xsl to htm-teidivedition.xsl and added a bit more to display the custodial events at the top of each column. I've also commented out the code that was in metadata.xsl that displayed everything at the top of the file. This is messy - everything displays, so if there are a bunch of references for one column, they all display. It will also be obvious when codes are mis

[2016-02-29 16:24] HolgerEssler commented on #26
I suppose in order to see the results, we will have to wait for the next
round of transform. Otherwise, I would be very grateful, if somebody
could point me to the latest output files.

[2016-02-29 16:27] paregorios commented on #26
I will undertake to post a new set of transform results as soon as
possible, but perhaps not before Tuesday 1 March.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Mon, Feb 29, 2016 at 10:24 AM, Holger Essler <notifications@github.com>
wrote:

[2016-02-29 16:46] rla2118 commented on #26
That would be helpful.  Thanks, Tom.

On Mon, Feb 29, 2016 at 5:27 PM, Tom Elliott <notifications@github.com>
wrote:

[2016-03-09 21:55] paregorios commented on #156
I've done a transform run with this, and I see that my "navigator nav" comment is about the same thing @leoba noted above concerning ```listBibl``` in front matter. The presence of the ```listBibl``` wrapping a single bibl is, per @jcowey, a oddity introduced by the in-browser editor, for which I will certainly be opening a ticket. Meanwhile, I'm going to take this ticket temporarily and see how h

[2016-03-11 15:50] paregorios commented on #156
I'm still chasing the listBibl problem. There's now [an open ticket against the papyri.info navigator for it](https://github.com/papyri/sosol/issues/11).

[2016-03-13 20:27] leoba commented on #171
This issue has two parts:
1. date displaying twice: Not a bug. In this case (and others) the issue number of the article is the date of publication. What's displaying is "issue (date)". Nothing to change! I'll add that it looks especially odd in this case because the name of the journal isn't getting pulled in from the Biblio citation, because it's not there. In cases where the journal name displa

[2016-03-13 22:15] leoba commented on #169
It appears that this is a problem specifically with Biblio files containing `bibl@subtype='book'`, so that's a start.

[2016-03-24 16:25] HolgerEssler commented on #26
I finally got to have a look a the results which are great. May I ask
for one addition and one change?

a) could the display of custEvents follow the following order of types:
1) "unrolled" 2) "sketched" 3) "engraved" 4) "MSI" 5) "imaged"?

b) Previously we had links to the images underlying the entries which
have now disappeared. I would prefer to add them after the relative
entry (e.g. "Sketched

[2016-03-24 20:54] HolgerEssler commented on #26
Taking up from
https://github.com/DCLP/dclpxsltbox/issues/51
I would also suggest that we add the content of the corresponding idno
element at the top of the entries thus created, i.e. before the content
of custEvent type="unrolled".
   Thus in the example
https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59436.xml
   for the first column ("#FR365") we would have:
"P.Herc. 1027 col. 1" from
https

[2016-04-03 17:00] leoba commented on #168
I have updated htm-teibibl.xsl to fix both this issue and issue #169.

There was a [slash missing in this line](https://github.com/DCLP/navigator/blob/master/pn-xslt/htm-teibibl.xsl#L106), and a space needed to be added between xsl:if statements on the same line.

This seems to fix both.

[2016-04-03 17:00] leoba commented on #169
See comment at https://github.com/DCLP/dclpxsltbox/issues/168#issuecomment-205009509

[2016-04-03 17:37] leoba commented on #167
I looked up several (by no means all) examples that come up from the search in Tom's previous comment, and all I looked at are in t:bibl[@type='illustration'], which is not structured ([for example](https://github.com/DCLP/idp.data/blob/dclp/DCLP/109/108104.xml#L78)). I can keep looking for it appears to be a "won't fix" ticket.

[2016-04-07 17:45] paregorios commented on #140
@HolgerEssler would it be difficult to scan and post an example of how these appear in print?

[2016-04-07 17:47] paregorios commented on #140
note: @hcayless suggests we also consider ```<floatingText>``` for dealing with these.

[2016-04-07 20:25] HolgerEssler commented on #140
I have selected two specimens. The convention is always:
sottopposti/sovraposti are printed in bold in the text. In the apparatus
we have the sequence of letters as lemma and then elevated "+" for
sovraposti "2+" for a double sovraposto, "3+" for tripple etc.
Sottoposti are marked with "-" in an analogous way. Sometimes the
physical fragment where these bits come from is indicated: e.g. "]φη -
frg

[2016-06-01 13:10] jcowey opened #174 "create dclp-hybrid idnos for journal articles"
Create dclp-hybrid idnos for journal articles which are the source of literary files in litpap.info

Not top priority but important non the less.

[2016-06-22 14:23] HolgerEssler opened #175 "Add identifiers to text fragments"
For purposes of cross referencing we would like an identifier for text fragments. Thus:

For each element ``<div subtype="column" type="textpart">`` or ``<div subtype="fragment" type="textpart">`` etc. an xml:id should be added -> <div subtype="column" type="textpart" xml:id="1496">``.
The operation would be twofold:
a) Add ids to all existing fragments, columns (running number?)
b) enhance the ed

[2016-06-27 13:27] jcowey opened #176 "Add urn:cts numbers to ancient authors where they are missing"
On the basis of the spreadsheet DCLP Biblio
https://docs.google.com/spreadsheets/d/1zS8D859XVja4XaI-2G-5BDe3t63cJ_N4ldjUHDCkoTc/edit#gid=0

add the relevant urn:cts numbers to the relevant place in the DCLP files.

[2016-07-06 20:02] HolgerEssler opened #177 "Include @corresp in Leiden+"
In most of the Herculaneum and other files text-divs have a corresp-Attribute, e.g.
https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59436.xml#L646
This currently prevents transformation to Leiden+.
Thus we want to transform and display the corresp-attribute also in Leiden+:
Suggested solution:
In the example
`<div n="1" subtype="column" type="textpart" corresp="#FR365"><ab>`
should transform to

[2016-07-14 14:16] jcowey commented on #50
carry necessary fixes using script fix35

[2016-08-04 09:33] Edelweiss opened #178 "Invalid DCLP EpiDoc files: element "q" not allowed here (3 cases / text part)"
- [62460](https://github.com/DCLP/idp.data/blob/dclp/DCLP/63/62460.xml#L1714) (expected the element end-tag, text or element "abbr", "add", "addSpan", "am", "anchor", "app", "c", "cb", "certainty", "choice", "corr", "damage", "del", "delSpan", "ex", "expan", "figure", "fw", "g", "gap", "gb", "handShift", "hi", "index", "interp", "interpGrp", "join", "lb", "link", "linkGrp", "listTranspose", "m", "

[2016-08-04 09:36] Edelweiss opened #179 "Invalid DCLP EpiDoc files: value of attribute "cert" is invalid (2 cases / text part)"
- [59754](https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59754.xml#L845) (must be a floating-point number or must be equal to "high", "low", "medium" or "unknown")
- [62450](https://github.com/DCLP/idp.data/blob/dclp/DCLP/63/62450.xml#L343) (must be a floating-point number or must be equal to "high", "low", "medium" or "unknown")

[2016-08-04 09:44] Edelweiss opened #180 "Invalid DCLP EpiDoc files: element "orig" not allowed here (2 cases / text part)"
- [59754](https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59754.xml#L845) (expected the element end-tag or element "lem", "note", "rdg", "rdgGrp" or "wit")
- [62450](https://github.com/DCLP/idp.data/blob/dclp/DCLP/63/62450.xml#L343) (expected the element end-tag or element "lem", "note", "rdg", "rdgGrp" or "wit")

[2016-08-04 09:46] Edelweiss opened #181 "Invalid DCLP EpiDoc files: element "num" not allowed here (2 cases / text part)"
- [62460](https://github.com/DCLP/idp.data/blob/dclp/DCLP/63/62460.xml) (expected the element end-tag, text or element "abbr", "add", "addSpan", "am", "anchor", "app", "c", "cb", "certainty", "choice", "corr", "damage", "del", "delSpan", "ex", "expan", "figure", "fw", "g", "gap", "gb", "handShift", "hi", "index", "interp", "interpGrp", "join", "lb", "link", "linkGrp", "listTranspose", "m", "metama

[2016-08-04 12:03] Edelweiss opened #182 "Invalid DCLP EpiDoc files: attribute "type" not allowed here (7161 cases / biblScope)"
* [555](https://github.com/DCLP/idp.data/blob/dclp/DCLP/1/555.xml#L87) (expected attribute "ana", "cert", "change", "copyOf", "corresp", "exclude", "facs", "from", "n", "next", "prev", "rend", "rendition", "resp", "sameAs", "select", "style", "synch", "to", "unit", "xml:base", "xml:id", "xml:lang" or "xml:space")
* [99548](https://github.com/DCLP/idp.data/blob/dclp/DCLP/100/99548.xml#L85) (expecte

[2016-08-05 12:34] Edelweiss opened #183 "Invalid DCLP EpiDoc files: value of attribute of type ID contained multiple tokens (17 cases / custEvent)"
- [59749](https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59749.xml#L631) (example with line number)
- [59506](https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59506.xml)
- [59436](https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59436.xml)
- [62500](https://github.com/DCLP/idp.data/blob/dclp/DCLP/63/62500.xml)
- [62499](https://github.com/DCLP/idp.data/blob/dclp/DCLP/63/62499.xml)
- [62477

[2016-09-07 15:21] Edelweiss commented on #106
Currently we have a _tei:div_ with its attribute _@subtype_ set to ‘illustrations' which comprises two types of _tei:bibl_ elements, printed images and links to online resources.

Here an example:
https://github.com/DCLP/idp.data/blob/3b8d73b0f6c8571e4d6d5a188aa3bd09ff06f545/DCLP/63/62913.xml

While printed images are marked by having their _@type_ attribute set to ‘illustration’ there is no such

[2016-10-06 08:05] Edelweiss commented on #182
[example file old](https://github.com/DCLP/idp.data/blob/dclp/DCLP/1/555.xml#L87)

[code]

[example file new](https://github.com/DCLP/idp.data/blob/hd/DCLP/1/555.xml#L87)

[code]

[2016-10-06 08:18] Edelweiss commented on #106
[example file old](https://github.com/DCLP/idp.data/blob/dclp/DCLP/63/62913.xml#L128)
[code]

[example file new](https://github.com/DCLP/idp.data/blob/hd/DCLP/63/62913.xml#L128)
[code]

[2016-10-06 08:31] Edelweiss commented on #50
[example file old](https://github.com/DCLP/idp.data/blob/dclp/DCLP/103/102244.xml#L23)
[code]
[example file new](https://github.com/DCLP/idp.data/blob/hd/DCLP/103/102244.xml#L23)
[code]

[2016-10-19 15:00] rla2118 opened #184 "corresp choking x-sugar"
The presence of corresp numbers seems to choke up x-sugar.  Here is an example:

http://litpap.info/editor/publications/1/dclp_text_identifiers/2/edit

[2016-10-24 15:54] paregorios commented on #182
The three examples above come through the current transform just fine into the HTML because the transform for principal edition just takes the text content of the subtree at the ```<bibl>``` level, ignoring any subordinate tagging (e.g., ```<biblScope>```), but including the subordinate text nodes.

There are other portions of the XSLT, however, that do pay attention to the ```<biblScope>``` tag a

[2016-10-24 19:36] paregorios commented on #182
Over to @jcowey @rla2118 and @HolgerEssler for review on the basis of items posted at http://dclp.github.io/dclpxsltbox/output/dclp/, including:

- [555](http://dclp.github.io/dclpxsltbox/output/dclp/1/555.html) (NB principal edition)
- [59436](http://dclp.github.io/dclpxsltbox/output/dclp/60/59436.html) (NB ancient work)
- [63748](http://dclp.github.io/dclpxsltbox/output/dclp/64/63748.html) (NB i

[2016-10-24 21:10] paregorios commented on #50
[navigator/@81edcc1](https://github.com/DCLP/navigator/commit/81edcc1b4f16a7dba842cf44d001489e933a20cf) is an attempt to address this change. Note that underlying data in some cases may still leave something to be desired, but the files are all validating and that valid content is being serialized into the HTML. The following examples were considered in the preceding comments:

- [555](http://dclp

[2016-10-24 22:20] paregorios commented on #106
This has been addressed with commits up through [navigator/issue106/c899ae4](https://github.com/DCLP/navigator/commit/c899ae4615620c80929b5a97cea0677ad43f706d). Consider the following examples (NB: over half the links I tried clicking resulted in "not found" or other server errors, or DNS errors, but the HTML contains the URLs as encoded in the XML):

- [62913](http://dclp.github.io/dclpxsltbox/ou

[2016-10-24 22:21] paregorios commented on #106
Note also that there are thousands of ```bibl``` tags still with type="illustration" instead of "printed" or "online" scattered throughout the hd branch of idp.data. The code currently treats them the same as type="printed", passing them through as plain text, but it represents inconsistent encoding.

[2016-10-24 22:25] paregorios opened #185 "ERROR: local file "null" is not available."
A large number of files in transform using the latest bibliographic branches of code are emitting this error via xsl:message, with no additional information. It's likely a failed bibliographic lookup, and needs investigation and remediation.

[2016-10-25 18:56] paregorios commented on #185
Commit https://github.com/DCLP/navigator/commit/7e473dcf00d004ca5deaca4253221bf871c8b5c7 seems to have resolved this error.

[2016-10-25 18:56] #185 closed

[2016-10-25 20:07] #106 closed

[2016-10-25 20:08] #182 closed

[2016-10-25 20:08] #50 closed

[2016-10-25 20:12] paregorios opened #186 "image links missing from custodial events"
Per @HolgerEssler: when a custodial event is of type "imaged" and contains a `<graphic>` element, the output HTML must include a link to that image. Presently (recently) they don't. Consider, for example, [62931](http://dclp.github.io/dclpxsltbox/output/dclp/63/62931.html).

[2016-10-25 20:14] paregorios opened #187 "repetitive, indistinguishable custodial events"
Consider [62931](http://dclp.github.io/dclpxsltbox/output/dclp/63/62931.html), concerning which @HolgerEssler has written:

[2016-10-25 20:23] #156 closed

[2016-10-25 21:13] paregorios commented on #187
@HolgerEssler please have a look at the latest posted files ([62931](http://dclp.github.io/dclpxsltbox/output/dclp/63/62931.html) and some others of your choice!) and see what you think.

cc @rla2118 @jcowey

[2016-10-25 21:14] paregorios commented on #186
@HolgerEssler see latest comments on #187

cc @rla2118 @jcowey

[2016-10-26 15:42] HolgerEssler commented on #187
TM 62931 (and other examples) looks great. I have come across only
one problem:
In TM 62400:
http://dclp.github.io/dclpxsltbox/output/dclp/63/62400.html
   the other entries of custEvent ("Sketched", "Engraved") seem to be
distributed correctly, but there are no underlying links for these.
   Could these be added?

[2016-10-26 15:55] paregorios commented on #187
@HolgerEssler I'll see if I can change the logic that it uses to decide whether or not to make a link

[2016-10-26 18:05] paregorios commented on #187
@HolgerEssler how is it now?

[2016-10-26 18:07] paregorios commented on #187
note now also e.g. http://dclp.github.io/dclpxsltbox/output/dclp/60/59744.html (at "fragment 46" etc).

[2016-10-27 13:08] rla2118 commented on #51
I would like to reopen this issue, because it never addressed the original desideratum:

Can we put Fragments in a collapsible window? It would make examples like this easier to ignore,
http://dclp.github.io/dclpxsltbox/output/dclp/63/62400.html, if one isn't interested in seeing all of the fragment info.

[2016-11-09 14:10] rla2118 opened #188 "DDbDP texts in DCLP"
There are some texts in DCLP that have come via the DDbDP.  Here are two examples:

http://litpap.info/dclp/58918

http://litpap.info/dclp/16422

Opening them, you'll notice that there is no DCLP/LDAB metadata, only that of HGV.

My preference would be to see both the HGV and DCLP/LDAB data.

[2016-11-09 15:44] paregorios commented on #34
reassigned to @Edelweiss per discussion in weekly call on 9 November

[2016-11-09 16:14] jcowey commented on #34
We have authority statements throughout the corpus (otherwise the files would not validate)
here is an example:
https://github.com/DCLP/idp.data/blob/dclp/DCLP/109/108003.xml#L9-L10
[code]

[2016-11-09 16:19] paregorios commented on #34
So, will everyone be happy if that is the only thing that surfaces (i.e., without any explicit mention of copyright or license)?

[2016-11-09 16:20] jcowey commented on #34
What we need to add is the licensing info in the `<availability>` tag
[code]
which has to be added just before the closing `<publicationStmt>`tag
for example
https://github.com/papyri/idp.data/blob/master/DDB_EpiDoc_XML/bgu/bgu.1/bgu.1.2.xml#L19-L21

[code]

[2016-11-10 08:42] Edelweiss commented on #34
[add licensing information](https://github.com/DCLP/idp.data/commit/9817d514b3c8d2308a33ed533eb777defb9ce639)

The one ‘line deleted’ comes from file [102801.xml](https://github.com/DCLP/idp.data/blob/dclp/DCLP/103/102801.xml)

something to do with the closing tag of the publication statement
[code]

[2016-11-10 09:26] jcowey commented on #34
OK. This should be solved once and for all now.

[2016-11-10 09:26] #34 closed

[2016-11-10 09:30] jcowey commented on #172
Pretty sure that this is now solved!

[2016-11-10 09:30] #172 closed

[2016-11-10 10:06] jcowey commented on #184
This is very similar to #177.

[2016-11-10 10:06] jcowey commented on #177
See also #184

[2016-11-10 11:07] jcowey commented on #145
This has now be added to the XML through commit:
https://github.com/DCLP/idp.data/commit/3eb60d7ec831ef02f03c548c61d0bd2a9aa23337

[2016-11-10 11:11] jcowey commented on #145
The XML now looks like this:

https://github.com/DCLP/idp.data/blob/dclp/DCLP/106/105709.xml#L61-L71
[code]

[2016-11-10 11:11] jcowey commented on #145
[code]

[2016-11-10 11:14] jcowey commented on #145
The XSLT will have to retrieve and display the content of
https://github.com/DCLP/idp.data/blob/dclp/DCLP/1/555.xml#L78

`<term type="overview">hymns to Sobek-Re and Hathor</term>`

[2016-11-10 15:14] jcowey commented on #145
Here is an example.
http://litpap.info/dclp/62823
Display is:
[code]

[2016-11-10 16:48] paregorios commented on #145
Right, so once someone decides what the rubric should be, we can undertake to implement this.

[2016-11-10 17:14] jcowey commented on #145
exactly I have to talk to Rodney and Holger then I can let you know what we would like to have done

[2016-11-11 14:14] rla2118 commented on #145
I'm fine with "content" as the rubric.

[2016-11-11 14:53] HolgerEssler commented on #145
I agree with Rodney and James' suggestion of how to proceed.

[2016-11-11 14:57] HolgerEssler commented on #187
I looked at several examples and all seem to be correct now. Suggest closing the issue.

[2016-11-11 15:40] paregorios commented on #187
Thanks @HolgerEssler

[2016-11-11 15:45] jcowey commented on #145
Tom, would you please go ahead and make the relevant XSLT change to display the data.

[2016-11-11 15:48] jcowey commented on #145
Rubric `Content` is filled with the content of the tag `<term type="overview">`
`Content` comes after `Work` if Work is present, otherwise `Content` takes first position.

[2016-11-11 15:50] paregorios commented on #145
Rock and roll big daddy!

[2016-11-11 17:13] jcowey commented on #170
I think it would be better to change the XML. It would neither hard nor particularly time consuming to do. I think that the XML would then also be "better" XML, don't you think?

[2016-11-11 17:24] paregorios commented on #170
@jcowey I would agree with you 100%. That said, I did put some fallback into the XSLT behaviors that got built a couple of weeks ago.

[2016-11-17 11:27] jcowey commented on #170
The XML will be changed by Carmen.

[2016-11-17 11:32] jcowey commented on #103
@paregorios I agree and am closing

[2016-11-17 11:32] #103 closed

[2016-11-17 11:42] jcowey commented on #171
Related to #170

[2016-11-17 11:44] jcowey commented on #171
The problem of double date display should be fixed, so possibly this issue should remain open, what do you think @paregorios ?

[2016-11-17 11:49] jcowey commented on #160
Pretty sure that this will be something that the editor will be able to handle. I reckon that this is the type of information that we did not try to parse from the LDAB information. We said that it would have to wait until the editor could manage it.

[2016-11-17 11:54] HolgerEssler commented on #186
To me the problem seems to be solved thanks to #187. Suggest closing.

[2016-11-17 12:04] HolgerEssler commented on #175
I should add that for the purpose of cross-referencing we are currently
using @corresp as in
https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59744.xml/#L664
Fragment 48 is linked by corresp FR5848 to the CustEvent in
https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59744.xml/#L84
   The new automated ID would eventually replace these manually
introduced numbers - with the XSLT needing to be c

[2016-11-17 12:22] rla2118 commented on #187
It looks like the links are being distributed correctly.  I see, though, that the image links next to individual fragments at http://dclp.github.io/dclpxsltbox/output/dclp/63/62931.html are broken.  Is this a problem on our end or on Berlin's?

[2016-11-17 14:56] Edelweiss commented on #170
Pushed results to papyri’s [biblio](https://github.com/papyri/idp.data/commit/ac7d0672131c7971d4619edcc8f901dea49e279d) branch

[2016-11-17 15:06] jcowey commented on #170
Super, thanks @Edelweiss. I reckon that this can now be closed @paregorios. If you do too the please close. I suppose you may have to do some tweaking to the XSLT.

[2016-11-18 14:46] paregorios commented on #170
I will merge down from papyri to DCLP and then test prior to closing.

[2016-11-18 14:47] paregorios commented on #145
I will undertake to make the XSLT work accordingly.

[2016-11-18 15:19] jcowey opened #189 "Check for URL which lead nowhere or return 404 errors"
The following question was posed by @rla2118 in #187. I have separated it out in order to be able to close #187.
It looks like the links are being distributed correctly. I see, though, that the image links next to individual fragments at http://dclp.github.io/dclpxsltbox/output/dclp/63/62931.html are broken. Is this a problem on our end or on Berlin's?

[2016-11-18 15:19] jcowey commented on #189
Not particularly urgent but could you, Carmen, use a script to return for us a list of non functioning links to images?

[2016-11-18 15:21] jcowey commented on #187
Closing with reference to #189.

[2016-11-18 15:21] #187 closed

[2016-11-23 11:13] Edelweiss opened #190 "titleStmt"
[titleStmt](
https://github.com/DCLP/idp.data/commit/322a2a6b0c66cf2a1a35eaa2e011381cbe48b393) is currenty populated with general information generated on the basis of the dclp-hybrid id, e.g.

- P.Oxy. 62 3567
- TM 101207

It’s currently not displayed in the HTML pages, but there was the idea to populate the title tag of the titleStmt with some useful stuff, such as information about the author o

[2016-11-23 13:46] HolgerEssler commented on #190
Several examples I have been looking at, e.g.
http://www.trismegistos.org/tm/detail.php?quick=102108 (Hieratic)
and
http://www.trismegistos.org/tm/detail.php?quick=316817 (Syriac)

appear to be neither Greek nor Latin texts. I suggest putting these
aside for the time being.

[2016-11-30 16:50] Edelweiss commented on #183
Please look at these two examples. If
[code]
could become

[code]
or perhaps this would be preferable

[code]

without busting any of your possible XSLTs
or if it still makes sense

then that would make these files validate

Can you please let us know.

[2016-12-02 12:12] HolgerEssler commented on #183
I would opt for the second solution, i.e. having only one, combined xml:id:

[code]

------------------------------------
Dr. Holger Essler, AR
Institut für Klassische Philologie I
Residenzplatz 2 (Südflügel)
D-97070 Würzburg

Tel.:            +49-931-31-85632
email:           Holger.Essler@uni-wuerzburg.de
Institutsseite:  www.klassphil.uni-wuerzburg.de
Epikurzentrum:   www.epikur-wuerzburg.de

[2016-12-02 12:21] HolgerEssler commented on #189
I learned that BerlPap have changed file names for their images. If I can get a list of all broken links in
`` <graphic> starting with url="http://ww2.smb.museum/berlpap/Original/" ``, they agreed to provide me with a concordance of the new links.

[2016-12-13 16:22] paregorios commented on #189
@HolgerEssler has anyone been able to provide you with such a list yet?

[2016-12-13 16:23] paregorios commented on #183
I will undertake to have a look at the XSLT files to see if there are any consequences.

[2016-12-13 16:43] HolgerEssler commented on #189
@paregorios No, your question is the first reaction on my comment.

[2016-12-13 16:45] paregorios commented on #189
OK @HolgerEssler I'll undertake to get you a list.

[2016-12-14 15:43] paregorios commented on #189
@HolgerEssler
Attached here please find a CSV file (zipped) in two columns: XML filename and Berlin image URL.
[berlin-gfx.csv.zip](https://github.com/DCLP/dclpxsltbox/files/652123/berlin-gfx.csv.zip)

[2016-12-14 16:15] paregorios commented on #145
@jcowey @HolgerEssler @rla2118 does the output now available for review at http://dclp.github.io/dclpxsltbox/output/dclp/ reflect, in your view, the changes we were seeking above? Some examples (but has been applied throughout):

 - http://dclp.github.io/dclpxsltbox/output/dclp/1/555.html
 - http://dclp.github.io/dclpxsltbox/output/dclp/100/99548.html
 - http://dclp.github.io/dclpxsltbox/output/dc

[2016-12-14 16:52] HolgerEssler commented on #145
I have checked a random sample and the results look fine to me.

[2016-12-14 16:52] HolgerEssler commented on #189
Thanks for the list. I have sent it to the colleagues in Berlin and will
get back once I receive their data.

[2016-12-14 16:58] jcowey commented on #145
http://dclp.github.io/dclpxsltbox/output/dclp/100/99548.html
Principal Edition 	514 P. Lond. Copt.
should be
Principal Edition 	P. Lond. Copt. 514

https://github.com/DCLP/idp.data/blob/dclp/DCLP/100/99548.xml#L88-L92

has changed because the biblio id

https://github.com/DCLP/idp.data/blob/dclp/DCLP/100/99548.xml#L89

has been added instead of

<title level="s" type="abbreviated">P. Lond. Copt.</

[2016-12-14 17:01] paregorios commented on #145
What @jcowey has identified [here](https://github.com/DCLP/dclpxsltbox/issues/145#issuecomment-267089950) is, to my mind, an issue separate from that of displaying the "overview" terms as "content", which is the point of the present thread. OK if I go ahead and create a new issue for it?

[2016-12-15 11:25] rla2118 commented on #145
I agree with Tom that this is a different topic requiring a new issue.

The sample files I checked seem fine for 'content'.

On Wed, Dec 14, 2016 at 6:01 PM, Tom Elliott <notifications@github.com>
wrote:

[2016-12-15 13:39] paregorios opened #191 "adjust order of components in principal edition display"
@jcowey raised the following issue during review of content associated with #145:

http://dclp.github.io/dclpxsltbox/output/dclp/100/99548.html
Principal Edition 514 P. Lond. Copt.
should be
Principal Edition P. Lond. Copt. 514

https://github.com/DCLP/idp.data/blob/dclp/DCLP/100/99548.xml#L88-L92

has changed because the biblio id

https://github.com/DCLP/idp.data/blob/dclp/DCLP/100/99548.xml#L89

[2016-12-15 13:41] paregorios commented on #145
I will merge the code changes for this issue to the appropriate branch for production. Meanwhile, I have created a new issue (#191) for the problem with order in principal edition components [as identified above](https://github.com/DCLP/dclpxsltbox/issues/145#issuecomment-267089950) by @jcowey .

[2016-12-15 14:07] jcowey commented on #191
Super thanks. And yes of course this is a separate issue

[2016-12-15 14:13] jcowey commented on #145
This issue was about adding the data from the tag
```<term type="overview">...</term>```
to what we call ```content```in the display.
That has been done fine. We are satisfied, so I would suggest closing this issue. We now have #191 to work on.

[2016-12-15 15:55] paregorios commented on #145
I would like to keep this issue open until the code has been merged for deployment.

[2016-12-15 17:40] jcowey commented on #145
OK fine

[2016-12-16 17:32] paregorios commented on #145
This was deployed to production stream with [navigator XSLT commit 880fcec](https://github.com/DCLP/navigator/commit/880fcecf8078ba516893502238bec0de9e6a8831). To see these changes at http://litpap.info/, the navigator XSLT will need to be updated to at least the above-referenced commit.

Updated XSLT review files were pushed to http://dclp.github.io/dclpxsltbox/output/dclp/ with dclpxslt gh-pages

[2016-12-21 13:51] rla2118 opened #192 "Implement support for structured dimensions in metadata editor"
We need to allow for dimension values in the metadata (height, width, and thickness), both for single objects/fragments and for multiple.

[2016-12-30 16:08] Edelweiss opened #193 "SoSOL Metadata Editor: save open tabs"
When using the editor to save metadata, the entry mask should remember all tabs that are currently open and reopen them after saving

Available tabs are:
* Editions & Bibliography
* Author & Work
* Physical Description (Collection, Dimension, Layout, Material)
* General Notes
* Date
* Mentioned Dates
* Provenance

[2016-12-30 16:14] Edelweiss opened #194 "SoSOL Metadata Editor: DCLP drop down menu opens behind Janrain login panel"
change CSS style of DCLP browse menu

[2016-12-30 16:17] Edelweiss opened #195 "SoSOL Metadata Editor: link to DCLP doesn’t work »View in PN«"
»View in PN« button doesn’t work for DCLP files

[2016-12-30 16:18] Edelweiss opened #196 "SoSOL translations"
button »create new translation« missing when loading a DCLP file

[2016-12-30 16:22] Edelweiss opened #197 "SoSOL Metadata Preview"
Display metadata that is specific to DCLP, such as ancient bibliography and information about layout and foliation. (ruby ka? xslt ka?)

[2017-01-03 11:35] rla2118 opened #198 "Aggregated HTML files"
When generating HTML files for DDbDP, make sure that DCLP is also included.

[2017-01-11 15:38] paregorios opened #199 "XSLT display in editor preview is wonky"
e.g., crosses replacing underdots

[2017-01-11 21:49] paregorios commented on #199
cc @m-k-r , @ryanfb , @hcayless , @rla2118 , @jcowey

[2017-01-12 15:51] #186 closed

[2017-01-12 15:56] paregorios commented on #171
@jcowey I'm confused. Do you think this issue should be closed, or is there still something to do?

[2017-01-12 15:57] paregorios commented on #168
@leoba can you point me to the code commit for this fix? Thank you.

[2017-01-12 16:10] paregorios commented on #199
@m-k-r please indicate in a comment which repository, branch, and commit number of the SOSOL code is being run on the editor instance that is causing problems. In particular, I want to be able to check the exact contents of the following files and directories:

 - /config/externals.yml
 - /app/views
 - /app/models

[2017-01-13 15:10] paregorios commented on #199
Confirmed oddities after looking at test instance. Have requested via email to @m-k-r pointers to code (as above) and access to the running instance so I can further diagnose. Here's what I think I see at this point:

 - The metadata editor "preview" links are using a bespoke XSLT, rather than the XSLT we developed for the navigator.
 - The text editor "preview" is invoking the baseline EpiDoc sty

[2017-01-13 16:05] jcowey commented on #171
As you can see from the comment above, the commit has now been made to master biblio, e.g.
https://github.com/papyri/idp.data/blob/master/Biblio/80/79621.xml#L7

As long as everything in DCLP is operating from
https://github.com/papyri/idp.data/tree/master/Biblio
(as I think it is)
then everything should now be fine.
That would mean this issue can be closed. Hope this goes some way to clarifying t

[2017-01-18 16:06] jcowey opened #200 "March Workshop in Wuerzburg 08-10.03.2017"
Entry of texts in litpap.info.
08-10 March 2017

[2017-01-18 16:19] paregorios opened #201 "make finalization work"
per @rla2118

[2017-01-18 16:35] jcowey commented on #200
Everything marked with the Label Wuerzburg is marked as high priority for this meeting.

[2017-01-18 16:35] rla2118 opened #202 "Search Engine Functionality"
Allowance for searching (and filtering?) DCLP only _and_ DCLP with DDbDP.  Here we will need input from Hugh and Ryan.

[2017-01-25 15:20] HolgerEssler commented on #175
Related to #177.

[2017-01-25 15:20] HolgerEssler commented on #177
Related to #175

[2017-01-28 20:16] leoba commented on #171
A clarifying question for @paregorios - is DCLP operating from papyri (as indicated by @jcowey above)? So I shouldn't be concerned that important changes in papyri aren't reflected in DCLP? Compare the examples from #170 :

https://github.com/papyri/idp.data/blob/master/Biblio/81/80929.xml#L7
with
https://github.com/DCLP/idp.data/blob/master/Biblio/81/80929.xml#L7

If yes then both #170 and this o

[2017-01-28 20:53] leoba commented on #168
Unable to commit, have emailed @paregorios to check on permissions (not sure why it wasn't committed back in April but will get the code in asap)

[2017-01-28 21:08] leoba commented on #167
We might consider adding "Tweak XML Encoding" here if we want to to through and change the unstructured instances of "pp.xx" or "pl.xx" to include spaces, or to otherwise add structure to those entries.

[2017-01-28 22:18] leoba commented on #168
I have just committed the code (in navigator/pn-xslt/htm-teibibl.xsl) on the master branch.

[2017-01-29 00:16] leoba commented on #191
I have fixed this by changing a line in navigator/pn-xslt/metadata-dclp.xsl (which is in my checkout but not listed in https://github.com/DCLP/navigator/tree/master/pn-xslt for some reason). The default action had been to dump the value of everything in the "Principal Edition" (so if the title was listed after the number, that's how it would be displayed). So I broke it up to display `t:title` fol

[2017-02-02 14:12] jcowey commented on #171
https://github.com/DCLP/idp.data/blob/master/Biblio/81/80929.xml#L7
look at
https://github.com/DCLP/idp.data/blob/dclp/Biblio/81/80929.xml#L7
instead

[2017-02-02 14:13] jcowey commented on #171
https://github.com/papyri/idp.data/blob/master/Biblio/81/80929.xml#L7
and
https://github.com/DCLP/idp.data/blob/dclp/Biblio/81/80929.xml#L7
are in sync

[2017-02-02 14:24] paregorios commented on #171
Agree this is completely resolved, so closing.

Reiterating here that the deployable, production branch of idp.data for litpap.info is "dclp", not "master".

Noting and agreeing also with @leoba's [comment above](https://github.com/DCLP/dclpxsltbox/issues/171#issuecomment-196046675) that apparent repetitions like "2008 (2008)" are the consequence of identical values occurring in both ```<issue>```

[2017-02-02 14:24] #171 closed

[2017-02-02 14:35] paregorios opened #203 "date repetition in some bibliographic HTML"
refactoring of one aspect of #171, which is now closed.

In some bibliographic citations where the issue number is the same as the date year, the HTML output is redundant from the human point of you. CRAI is one publication series that will produce this sort of problem, for example in the HTML output for TM we read:

We could undertake to suppress the display of the date -- e.g., "(2008)" when its

[2017-02-02 14:38] jcowey commented on #167
Needs XML fixing which is not a small undertaking. Not in the scope of the project at present

[2017-02-02 14:38] #167 closed

[2017-02-02 14:39] paregorios commented on #168
I'll take a look at this.

[2017-02-02 14:40] paregorios commented on #191
I'll take a look at this.

[2017-02-06 15:19] paregorios commented on #203
@paregorios test

[2017-02-06 15:25] paregorios opened #204 "test issue please ignore"

[2017-02-06 15:33] paregorios commented on #204
foo!

[2017-02-06 16:06] #204 closed

[2017-02-07 12:50] rla2118 commented on #203
I agree that it's best to defer this.

On Mon, Feb 6, 2017 at 4:19 PM, Tom Elliott <notifications@github.com>
wrote:

[2017-02-07 21:01] paregorios commented on #168
commit is here: https://github.com/DCLP/navigator/commit/c905a78f4c36dce3bcce80c419f4707167cbfea9

[2017-02-07 21:17] paregorios opened #205 "empty parentheses in some bibliographic citations"
See, for example:

TM109360:

There are others.

[2017-02-07 21:17] #168 closed

[2017-02-07 21:23] paregorios commented on #191
hi @leoba I can't seem to find the change you're referencing. Can you provide a link to the file in github showing your change? metadata-dclp.xsl should not be in the "master" branch, but rather you should see it in "dclp-master".

[2017-02-07 21:40] jcowey commented on #205
Can you point me, please, to the XSLT that is used to transform this, preferably with the lines highlighted if it is not too much bother

[2017-02-07 21:49] paregorios commented on #205
@jcowey when I get a chance to hunt for it, I will. First updating the biblio data we're using for transforms to make sure it really is a problem (viz #170)

[2017-02-07 21:50] jcowey commented on #205
@paregorios OK thanks

[2017-02-07 21:59] paregorios commented on #170
verified good and latest transforms are up with https://github.com/DCLP/dclpxsltbox/commit/7063b0338dd319459901d88276384227fbe37646

[2017-02-07 21:59] #170 closed

[2017-02-09 21:39] paregorios commented on #205
Looking at [the bibliographic XML in question here](https://github.com/DCLP/idp.data/blob/dclp/Biblio/84/83603.xml), I bet what's happening is when the XSLT processes the bibliographic entry for the article (83603) it's trying also to resolve and process the parent bibliography content (9202) via the ```<ptr target="http://papyri.info/biblio/9202"/>```, which is not necessary. So we'll need to int

[2017-02-09 21:57] paregorios commented on #205
The template that's called to process the bibliographic item starts at https://github.com/DCLP/navigator/blob/xslt-master/pn-xslt/htm-teibibl.xsl#L45

It's called from inside this splendid template: https://github.com/DCLP/navigator/blob/xslt-master/pn-xslt/metadata-dclp.xsl#L192

which, in this case, is getting invoked here: https://github.com/DCLP/navigator/blob/xslt-master/pn-xslt/metadata-dclp

[2017-02-09 23:13] paregorios commented on #205
New transforms are up, reflecting fixed code. Examples of papyri with principal edition citations that have been fixed by this change include:

 - [TM59435](http://dclp.github.io/dclpxsltbox/output/dclp/60/59435.html)
 - [TM109360](http://dclp.github.io/dclpxsltbox/output/dclp/110/109360.html)

In all, HTML views for 903 DCLP papyri are affected by this change.

Turning over to @jcowey and @rla211

[2017-02-10 13:26] leoba commented on #168
This should have fixed issue 168 too, so you can check and then close that issue too.

[2017-02-10 14:16] paregorios commented on #168
done, thanks!

[2017-02-10 19:41] paregorios commented on #120
@leoba would you please put this ticket at the top of your list for xslt things to look at next? The issue is clearly laid out in [this comment above](https://github.com/DCLP/dclpxsltbox/issues/120#issuecomment-97955271). Contra my 2015 self's additional comments, I cannot find any code changes I made relevant to this issue.

This one will, I think, require intervention in the EpiDoc stylesheets,

[2017-02-10 19:50] paregorios commented on #183
Having looked at the XSLT, I do not see any reason why [the change proposed above by @HolgerEssler](https://github.com/DCLP/dclpxsltbox/issues/183#issuecomment-264441250) would break things. I suggest that @Edelweiss proceed with implementation in the XML, then we can test.

[2017-02-10 19:57] paregorios commented on #188
@hcayless We're wondering if you can give us some guidance as to where to intervene in the navigator code base to get a combined HTML display when a given papyrological text appears in both DDBDP/HGV and DCLP. @rla2118 has [spotted a couple](https://github.com/DCLP/dclpxsltbox/issues/188#issue-188256426) where we're not getting what we expect.. Do you suppose this is about mapping, or should be lo

[2017-02-10 19:59] paregorios commented on #161
This issue seems to be blocked for completion of #159.

[2017-02-10 20:01] paregorios commented on #159
Adding this issue to the WBWorkshop milestone since it is a blocker for #161, which is already in that milestone.

[2017-02-10 20:02] paregorios commented on #159
I gather that this issue is no longer blocked, since we now have a working editor. I'm going to remove the "blocked" tag, bump the priority (since it's a blocker for another item in the current milestone), and reassign to @Edelweiss

[2017-02-10 20:05] paregorios commented on #202
@Edelweiss and @m-k-r do you have an idea of where to start with this? If not, I can try to bring in @hcayless and @ryanfb for questions.

[2017-02-10 20:07] paregorios commented on #192
I am currently researching this.

[2017-02-10 21:19] paregorios commented on #192
The *EpiDoc Guidelines* follow the *TEI Guidelines* in providing [guidance for the markup of dimensions](http://www.stoa.org/epidoc/gl/latest/supp-description.html) like height, width, and thickness and does so with respect to the physical text-bearing object, the "campus" (writing field), and letters.

I've done some spelunking in idp.data and I find that none of the collections make use of this

[2017-02-10 21:23] paregorios commented on #184
@jcowey and/or @rla2118 can we set up a time for me to watch you dealing with this in the editor using screen sharing?

[2017-02-10 21:33] paregorios commented on #192
I note now that dimensions marked up were specified in the February 2016 "editor mask" example file. viz #173

[2017-02-10 21:35] paregorios commented on #173
I've gisted the file mentioned above: https://gist.github.com/paregorios/be8e927d366129e1e0f605a5b6959e9d

[2017-02-10 21:37] paregorios commented on #192
@Edelweiss has editor support been implemented for dimensions as described above?

[2017-02-10 22:12] paregorios opened #206 "use "title" element as name for display"
[In February 2016](https://github.com/DCLP/dclpxsltbox/issues/173), it was envisioned that the contents of the ```<title>``` element in the TEI header would be used as the "display name", presumably in the HTML output. Presently, the ```<h3>``` element on the HTML page for a DCLP text uses

For example, [in the xml for TM59749](https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59749.xml#L7), we f

[2017-02-10 22:42] HolgerEssler commented on #206
I suggest a hybrid solution, similar to papyri.info where we would have e.g.
p.wuerzb.5 = HGV P.Würzb. 5 = Trismegistos 5533

Thus on litpap.info we should have something like

<h3 style="text-align:center">P.Herc. 419, 697, 1634 = Trismegistos <a
href="http://www.trismegistos.org/text/59749">59749</a>
             = <a
href="http://www.trismegistos.org/ldab/text.php?quick=853">LDAB
             8

[2017-02-10 22:43] paregorios commented on #206
@HolgerEssler thanks, that will work well and will be easy to implement.  Do you think this is a priority for the Wb Workshop?

[2017-02-10 22:53] HolgerEssler commented on #206
For me it is not a priority for WB, but I am happy to leave the decision
to James and Rodney.

[2017-02-10 22:56] paregorios commented on #206
nudge @rla2118 @jcowey ^^^

[2017-02-10 22:59] paregorios opened #207 "use "material" tag in <supportDesc><support>"
[In February 2016](https://github.com/DCLP/dclpxsltbox/issues/173), it was thought important to highlight the use of the ```<material>``` element in the support description.

Display of the ```<material>``` tag [had been suppressed in 2014](https://github.com/DCLP/dclpxsltbox/issues/47) at direction of @rla2118 because it was judged to be redundant in the HTML transform. Said transform presents th

[2017-02-10 23:05] paregorios commented on #192
cc @HolgerEssler @jcowey

[2017-02-10 23:17] paregorios opened #208 "Information about writing style (handDesc)"
[Per discussions in February 2016](https://github.com/DCLP/dclpxsltbox/issues/173), ```<handDesc>``` has been employed in the ```<physDesc>``` and may now be found in a large number of DCLP XML files. For example, consider [TM107852](https://github.com/DCLP/idp.data/blob/dclp/DCLP/108/107852.xml#L44):

[code]

The HTML transform does not yet cater for this additional information ([viz](http://dclp

[2017-02-10 23:54] HolgerEssler commented on #208
OK with adding, suggest after WbW.

[2017-02-11 07:57] rla2118 commented on #206
This is good.  I agree with Holger, though, that it's not a priority.

On Fri, Feb 10, 2017 at 11:56 PM, Tom Elliott <notifications@github.com>
wrote:

[2017-02-11 08:07] rla2118 commented on #207
I don't fully understand this.  Support/dimensions is displaying, as here
http://litpap.info/dclp/62823 and here http://litpap.info/dclp/61910. Are
we talking about repeating information about the material or surfacing
something else?

On Fri, Feb 10, 2017 at 11:59 PM, Tom Elliott <notifications@github.com>
wrote:

[2017-02-11 10:49] #207 closed

[2017-02-11 10:50] paregorios commented on #206
ok let's leave it on the backlog for now

[2017-02-12 13:44] jcowey commented on #208
Fine by me to leave adding it until after WbW

[2017-02-12 14:00] rla2118 commented on #208
I'd like to see it added but there's no pre-WbW urgency.

On Sun, Feb 12, 2017 at 2:44 PM, James M.S. Cowey <notifications@github.com>
wrote:

[2017-02-14 00:04] leoba commented on #191
Like a n00b, I neglected to push my commit. It's in there now:

https://github.com/DCLP/navigator/blob/xslt-master/pn-xslt/metadata-dclp.xsl#L203

[2017-02-14 02:05] leoba commented on #120
Done as requested and committed to Sourceforge.

[2017-02-14 17:50] paregorios commented on #191
thanks @leoba

[2017-02-15 09:32] Edelweiss commented on #183
ok → [github](https://github.com/DCLP/idp.data/commit/623676c4f2ce2495047a2a4e1d15f6c974e117d8)

[2017-02-15 13:50] Edelweiss commented on #181
Vorgeschlagene Lösung von Holger Essler zur Lösung von Tickets #178, #179 und #181:

[2017-02-15 13:51] Edelweiss commented on #178
see ticket #181

[2017-02-15 16:08] paregorios commented on #197
Tom to do code review to determine how/where XSLT is invoked. Email thread with subject line "XSLT".

[2017-02-15 16:10] paregorios commented on #198
Related to #188 and should be addressed in tandem.

[2017-02-15 16:23] paregorios commented on #184
Per discussion with @jcowey and @rla2118 this is a duplicate for #177, so closing this one.

[2017-02-15 16:23] #184 closed

[2017-02-15 16:24] paregorios commented on #183
@paregorios to review and post new transforms

[2017-02-16 08:48] jcowey commented on #202
I am pretty sure that this involves code that also affects #188.

[2017-02-16 09:22] Edelweiss commented on #188
In order to display DCLP meta data alongside HGV, Apis and DDbDP, the relations between DDbDP and DCLP need to be passed on to the script that creates the static HTML files:

https://github.com/papyri/navigator/blob/master/pn-xslt/MakeHTML.xsl#L75

https://github.com/papyri/navigator/blob/master/pn-xslt/MakeHTML.xsl#L85

MakeHTML.xsl currently handles only the following relations:
* apis
* hgv
* t

[2017-02-16 09:40] jcowey commented on #199
Dealing with a similar problem #197 is also important.

[2017-02-16 09:40] jcowey commented on #197
Dealing with a similar problem #199 is also important.

[2017-02-16 09:50] Edelweiss commented on #192
material
[code]
width
[code]
height
[code]
pagination
[code]

Add two text fields to SoSOL’s DCLP metadata editor under “Physical Description”.

[2017-02-16 13:40] paregorios commented on #201
@jcowey why have you assigned this to me?

[2017-02-16 14:26] jcowey commented on #201
simply to keep you in the loop about this, that was all, unassign yourself if you prefer

[2017-02-16 15:04] paregorios commented on #145
This code is clearly on production and producing output as expected, so closing ticket.

[2017-02-16 15:04] #145 closed

[2017-02-17 15:42] paregorios commented on #201
@jcowey thanks; since I"m a previous correspondent on the issue thread, github will continue to alert me about updates without my being assigned.

[2017-02-17 15:45] paregorios commented on #188
@Edelweiss as this is principally an XSLT task, should the NYU team pick it up?

[2017-02-17 15:46] paregorios commented on #202
I assume that @Edelweiss and @m-k-r would respond positively to [my query above](https://github.com/DCLP/dclpxsltbox/issues/202#issuecomment-279052122), so I will undertake to set up a consultation with the Duke team. I'm taking assignment of this ticket for that reason.

[2017-02-22 07:27] Edelweiss commented on #188
Thank you, Tom. Yes, this is principally an XSLT task. It mainly concerns the html files that are created by the indexing process, but as it may also be something to do with the relations that are stored in the number server and/or with the parametrisation of the script (I’m not quite sure here). I think it’d be best if we try solve this issue here at Heidelberg, so that Marcel can put all the cha

[2017-02-22 09:25] Edelweiss commented on #197
Am I understanding this correctly? You want the current table view to be replaced with an XSLT preview similar to the one you see under »text>preview«, just that the focus will be on metadata and that the text will omitted.

Current display:

![bildschirmfoto 2017-02-22 um 10 18 02](https://cloud.githubusercontent.com/assets/612862/23204946/97f27b76-f8e8-11e6-9605-e587962376fb.png)

[2017-02-22 10:03] Edelweiss commented on #159
The master branch of our xsugar repository is now up-to-date with papyri’s master branch.

https://github.com/DCLP/xsugar/commits/master

Is there anything else we need to take into account (rails-3, rails-3-nfd), or does master comprise all the changes that are necessary for the desired feature to work properly?

[2017-02-22 11:00] paregorios commented on #188
@Edelweiss ok.

[2017-02-22 11:03] paregorios commented on #159
I think [that's a question](https://github.com/DCLP/dclpxsltbox/issues/159#issuecomment-281624178) for @ryanfb ...

[2017-02-22 11:31] rla2118 commented on #197
That's exactly right, Carmen. The table you provided looks good.  Could you
please move Author & Work up higher, to just after Title?

Thanks!
Rodney

On Wed, Feb 22, 2017 at 10:58 AM, James M.S. Cowey <notifications@github.com

[2017-02-22 14:47] Edelweiss opened #209 "SoSOL Metadata Editor: invalid xml (physDesc not allowed here)"
http://litpap.info/dclp/143318

reproduce by adding biblio number 80609 before saving file

[2017-02-22 15:08] jcowey opened #210 "Provenance: Editing existing data or adding new data throws error 404"
TM 59148

Instead of "U" under "nome" I tried changing "U" to "Oxyrhynchites"

[2017-02-22 15:21] Edelweiss commented on #188
The xslt part of aggregating the data seems to be working. All that needed to be done was make sure that dclp paths are built correctly and that ddbdp knows how to deal with incoming dclp relations.

The parameter _related_ must be set to something like _http://papyri.info/dclp/58918 http://papyri.info/hgv/58918_. Only then will the script scoop secondary information from the corresponding HGV and

[2017-02-22 15:42] paregorios opened #211 "fatal error with latest EpiDoc XSLT"
per @m-k-r

[2017-02-22 16:59] paregorios commented on #205
I have seen no objections to this from those to whom it was assigned for review, so I will be merging it to master shortly.

[2017-02-22 17:03] #205 closed

[2017-02-22 17:19] paregorios opened #212 "Principal editions without ptr are borked in HTML"
This seems to have been a knock-on consequence of recent changes to the citation handling code, e.g., #205. Some example diffs:

[code]

and

[code]

Tags like ```<biblScope>``` inlined like this seem now to be ignored:

[code]

[2017-02-22 17:23] paregorios commented on #212
Here's a list affected files (up to max github comment length):

    modified:   output/dclp/1/555.html
    modified:   output/dclp/100/99548.html
    modified:   output/dclp/100/99576.html
    modified:   output/dclp/100/99590.html
    modified:   output/dclp/100/99609.html
    modified:   output/dclp/101/100111.html
    modified:   output/dclp/101/100113.html
    modified:   output/dclp/101/1001

[2017-02-22 17:27] paregorios commented on #120
Code commit on EpiDoc sourceforge SVN was https://sourceforge.net/p/epidoc/code/2495/

[2017-02-22 17:28] #120 closed

[2017-02-22 17:28] paregorios opened #213 "ambiguous rule match "recoverable error" with EpiDoc XSLT"
When running transforms, we see console message like this from the XSL engine:

[code]

Reported verbally by @m-k-r . Verified by @paregorios.

This is clearly related to code changed for #120.

[2017-02-22 17:29] paregorios commented on #213
This does not appear to be fatal in any way. Will need to research what the output is, since we may not be privileged the correct template.

[2017-02-22 17:32] paregorios commented on #211
I have done a complete run of transforms.

 - I see the "ambiguous rule match" error reported by @m-k-r and have opened a separate ticket for it: #213.
 - I do not see any fatal errors.

@m-k-r please provide more details, like the text of the full error message, referenced files, etc. Also, please verify repositories and branches used and provide that detail as well.

[2017-02-23 08:10] rla2118 opened #214 "We're sorry but something went wrong"
I opened this metadata file and tried saving it without making any changes. This generated a white page with the familiar "We're sorry but something went wrong" error

http://147.142.225.248/editor/publications/39

[2017-02-23 08:38] Edelweiss commented on #214
@rla2118, can you please tell me the TM number of the respective record so that I can try reproduce this error in my development environment?

[2017-02-23 09:40] Edelweiss commented on #210
ok, [github](https://github.com/DCLP/sosol/commit/9028205924f29a7f2d1f5d69f4560c49a36d72af)

@m-k-r, can you please make this change available for testing.

[2017-02-23 09:44] Edelweiss opened #215 "SoSOL Text Editor: undefined method `force_encoding' for nil:NilClass"
error occurs for dclp file with TM number _59922_ in _sosol/app/views/dclp_text_identifiers/edit.haml_ where on line #162

[2017-02-23 09:57] rla2118 commented on #214
TM 61818.  The link I sent directs to it.

[2017-02-23 10:03] Edelweiss commented on #214
Ah, I wasn’t aware that I can view the publications in your account. I just tried again, and once I created a new account, I was able to see them. Thanks!

[2017-02-23 10:11] Edelweiss commented on #209
I found that an [empty inventory number](https://github.com/DCLP/idp.data/blob/master/DCLP/144/143318.xml#L23) is causing this problem.

There are 498 files without proper inventory numbers.

I wonder as to how best deal with these files. TEI considers this information mandatory. Is there a way to provide some useful information for affected files.

[2017-02-23 10:27] Edelweiss commented on #215
Xsugar conversion is unable to produce Leiden+ from given xml.

Error message I get on our development server:

[2017-02-23 10:30] Edelweiss commented on #215
Is there something wrong with the text?

[code]

[2017-02-23 10:30] Edelweiss commented on #215
Can anyone make sense of this strange behaviour?

[2017-02-23 10:47] Edelweiss commented on #194
[blind fix](https://github.com/DCLP/sosol/commit/84fed2bd331906de0241176da0fa30fae011e059), because janrain is not working on my machine

@m-k-r, please deploy for testing

[2017-02-23 11:43] jcowey opened #216 "Make sure that canonical URI is correct"
http://litpap.info/dclp/62823
offers the canonical URI as
`Canonical URI: http://papyri.info/dclp/62823`

[2017-02-23 13:08] jcowey commented on #215
Leiden+ cannot deal with corresps, as far as I know.
`<div n="1" subtype="column" type="textpart" corresp="#FR7834">`