[2017-02-23 13:56] Edelweiss commented on #215
@jcowey, thank you very much, your hint put me on the right track. After getting rid of the [corresp](https://github.com/DCLP/idp.data/blob/master/DCLP/60/59922.xml#L101) and deleting the [surplus text div](https://github.com/DCLP/idp.data/blob/master/DCLP/60/59922.xml#L132), the file can now be opened in the editor.

[2017-02-23 13:59] Edelweiss commented on #215
These corresp attributes appear in 175 files.

[2017-02-23 15:07] Edelweiss commented on #214
This file works fine for me. Might have been related to issue #210. I’m closing this ticket. Please re-open it if the error keeps occurring after the latest editor changes haven been deployed to our test server.

[2017-02-23 15:07] #214 closed

[2017-02-23 15:14] Edelweiss commented on #193
this [commit](https://github.com/DCLP/sosol/commit/4d896d32be88ed7451387aecd1f6b92fd4310850) should see to that

[2017-02-23 16:20] rla2118 commented on #214
When will the changes be deployed to the test server?

On Thu, Feb 23, 2017 at 4:07 PM, Elemmire <notifications@github.com> wrote:

[2017-02-23 20:29] m-k-r commented on #214
Probably next monday. At the weekend I will work on the indexing.

[2017-02-23 20:38] m-k-r commented on #210
It was tested and it seems to work

[2017-02-23 21:09] jcowey commented on #210
I tested it for existing provenance data and can confirm that it worked. So I will close this issue in the hope that it does not have to re-appear

[2017-02-23 21:09] #210 closed

[2017-02-23 21:17] paregorios commented on #215
blocked for #177

[2017-02-23 21:18] paregorios commented on #215
@jcowey @rla2118 is this ticket truly a requirement for the Wb milestone? If so, then we'll need to bump priority on #177 and hope we can pull that off.

[2017-02-23 21:21] paregorios commented on #209
I think [that's a question for the papyrologists](https://github.com/DCLP/dclpxsltbox/issues/209#issuecomment-281951030), so reassigning to @jcowey @rla2118 and @HolgerEssler

[2017-02-23 21:29] jcowey commented on #209
Surely instead of `<idno type="invNo"/>`
We could have `<idno type="invNo">unknown</info>`
The tag is no longer empty and the information is "correct". If acceptable to others and OK in EpiDoc then the problem could be solved very quickly.

[2017-02-23 21:34] jcowey commented on #215
You are right Tom. I am pretty sure we said that we would avoid calling up such texts. @HolgerEssler that is correct, is it not? (they are Herculaneum texts)

[2017-02-23 22:19] paregorios commented on #213
fixed with [epidoc xslt commit r2500 at sourceforge](https://sourceforge.net/p/epidoc/code/2500/).

[2017-02-23 22:19] #213 closed

[2017-02-23 22:34] HolgerEssler commented on #215
All Herculaneum papyri should have corresp-attributes, but also some dozens of other texts we entered. There should still be enough other material to avoid calling up these.

[2017-02-23 22:49] paregorios commented on #215
Thanks @jcowey and @HolgerEssler. I'm changing the milestone for this ticket to April.

[2017-02-24 06:24] Edelweiss commented on #209
This is how HGV deals with its unknowingness concerning tei:msIdentifier

[code]
Example for »inventory number unknown«:
https://github.com/DCLP/idp.data/blob/master/HGV_meta_EpiDoc/HGV78/77499.xml#L20

Examples for inventory number:
https://github.com/DCLP/idp.data/blob/master/HGV_meta_EpiDoc/HGV1/371.xml#L19

But I prefer jcoweys suggestion, both cases sharing the same xpath.

[2017-02-24 08:17] HolgerEssler commented on #209
Would ``<idno type="invNo">unknown</info>`` not be against the semantics of TEI?
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-idno.html
I understood that an idno should be a unique identifier (as URI, ISBN etc.) within a given database, whereas "unknown" would refer to many items. Please ignore, if you think I am mistaken.

[2017-03-01 08:36] Edelweiss commented on #192
ok, [github](https://github.com/DCLP/sosol/commit/f41677cac848576ac3f8054569e263558ff74c0e), will soon be ready for testing on our development server (sometime today).

[2017-03-01 14:52] Edelweiss commented on #196
Create translation doesn’t work for new publications, either.

- Go to »Advanced Create«
- There click on »Create New Publication«
- Call »Overview« of new publication
- Click on »Create New Translation«

First error (white page with text):
```RuntimeError (Called id for nil, which would mistakenly be 4 -- if you really wanted the id of nil, use object_id):```

- Hit the refresh button

Next error

[2017-03-01 14:57] jcowey commented on #188
http://litpap.info/dclp/16422

now looks good

[2017-03-01 15:00] jcowey commented on #188
So I am now closing this for now

[2017-03-01 15:00] #188 closed

[2017-03-01 15:15] jcowey commented on #144
Closed for now as through #188 this is probably no longer applicable

[2017-03-01 15:15] #144 closed

[2017-03-01 15:15] jcowey commented on #201
Pretty sure that we can call this closed now

[2017-03-01 15:15] #201 closed

[2017-03-01 15:17] jcowey commented on #193
Not yet tested as such but probably fine now

[2017-03-01 15:18] jcowey commented on #198
Through closing #188 we can now close this one

[2017-03-01 15:18] #198 closed

[2017-03-01 15:18] jcowey commented on #192
Still to be tested

[2017-03-02 11:33] jcowey commented on #192
Tested and works fine. Is not displayed.

[2017-03-02 11:33] #192 closed

[2017-03-02 11:46] jcowey opened #217 "On saving make sure that new data is in the "right" XML order"
Example file is
http://litpap.info/editor/publications/45/dclp_meta_identifiers/90/edit
For TM 63804
Under General Notes
MP3 I added 2364.
Saved and everything was fine. This saves an idno.
If one looks at the XML
http://litpap.info/editor/publications/45/dclp_meta_identifiers/90/editxml
one finds
[code]

The `<idno type="MP3">2364</idno>` should be ordered in front of availability along with the

[2017-03-02 15:35] Edelweiss opened #218 "Push upstream, Biblio & HGV"
**HGV**

HGV_meta_EpiDoc/HGV20/19804.xml |     1 +
HGV_meta_EpiDoc/HGV20/19811.xml |     1 +
HGV_meta_EpiDoc/HGV20/19833.xml |     1 +

[2017-03-02 15:41] Edelweiss commented on #218
**Deleted Biblio file**

 delete mode 100644 Biblio/82/81955.xml

https://github.com/papyri/idp.data/commit/667f8b71157334a4cb9d38c20608ca36fd3e780b

[2017-03-02 15:45] Edelweiss commented on #218
**New Bilbio Files (578)**

Biblio/13/12906.xml
Biblio/18/17985.xml
Biblio/3/2294.xml
Biblio/3/2295.xml
Biblio/3/2296.xml
Biblio/3/2297.xml
Biblio/3/2298.xml
Biblio/3/2299.xml
Biblio/3/2300.xml
Biblio/3/2301.xml
Biblio/3/2302.xml
Biblio/3/2303.xml
Biblio/3/2304.xml
Biblio/3/2305.xml
Biblio/3/2306.xml
Biblio/84/83327.xml
Biblio/84/83328.xml
Biblio/84/83329.xml
Biblio/84/83330.xml
Biblio/84/83331.xm

[2017-03-02 16:24] Edelweiss commented on #196
Translations can now be created, but they cannot be loaded into the editor

http://litpap.info/editor/publications/xxx/hgv_trans_identifiers/yyy/edit

produces XML parsing error

[2017-03-03 08:04] Edelweiss commented on #209
Temporary solution until final decision as to how best markup unknown inventory numbers

https://github.com/DCLP/idp.data/commit/90a69d7f6e7788b7fea6e685b9bce46cb390b29b

[2017-03-03 08:48] Edelweiss opened #219 "Duplicate text divs"
get rid of duplicate text divs by removing the empty ones and keeping the others

[2017-03-03 08:49] Edelweiss opened #220 "SoSOL Editor: Overview Tab"
The overview tab doesn’t seem to work on this file

http://www.litpap.info/editor/publications/146/dclp_text_identifiers/294/edit

[2017-03-03 08:53] Edelweiss commented on #209
Test file: TM 143318

[2017-03-03 08:55] Edelweiss opened #221 "DCLP HTML files: no volume or text number under Principal Edition"
With this file, there is no volume or text number under Principal Edition.

http://www.litpap.info/dclp/64001

[2017-03-03 08:57] Edelweiss opened #222 "DCLP html pages: XML links don’t work"
Example:

http://www.litpap.info/dclp/64001

the XML links don’t seem to work

[2017-03-03 09:01] Edelweiss opened #223 "SoSOL editor: Finalize tab does not work"
Perhaps it’s the same problem observed with the Overview tab:

http://litpap.info/editor/publications/165

[2017-03-03 09:02] Edelweiss commented on #223
see also issue #220

[2017-03-03 09:08] jcowey commented on #222
because of the changes to the DCLP branches

[2017-03-03 09:10] jcowey commented on #221
This is basically a duplicate of #191.

[2017-03-03 09:15] Edelweiss commented on #221
Then let’s close this one, it’s referenced in ticket #191

[2017-03-03 09:15] #221 closed

[2017-03-03 09:44] Edelweiss commented on #219
https://github.com/DCLP/idp.data/commit/fde4230738913627f6a9e10bbbf8ffc76b38fbb3

[2017-03-03 09:44] #219 closed

[2017-03-03 13:33] m-k-r commented on #222
I made a [commit](https://github.com/DCLP/navigator/commit/1402c93e05573c1449e53931d474080836a82496) to development which should fix that but for some reason it didn't change the link.

[2017-03-03 13:40] m-k-r commented on #211
At the last indexing I didn't get any fatal error. I think we can close this ticket.

[2017-03-03 13:40] #211 closed

[2017-03-03 14:47] paregorios commented on #222
@m-k-r did you re-run generation of the HTML?

[2017-03-03 14:54] paregorios commented on #192
@jcowey what do you mean by "is not displayed." Is that a good thing or a bad thing?

[2017-03-03 15:13] jcowey commented on #192
@paregorios "is not displayed" = when one clicks on preview, what is shown does not surface the entered data on width and height.
This will, I am almost certain, involve a XSLT tweak. I would imagine that the present XSLT would also not display width and height in your output files.
I am assuming that @rla2118 and @HolgerEssler  want to be able to see this data in HTML and in preview.

[2017-03-03 15:51] m-k-r commented on #220
The links for overview and finalize are still in the html-sourcecode. It is working in master.
I checked the files changed in development and as soon as [editor.css](https://github.com/DCLP/sosol/blob/development/public/stylesheets/editor.css) from development is used the tabs aren't working.

[2017-03-03 15:54] m-k-r commented on #222
I used lein run in navigator/pn-indexer/ and stopped after html and texts were generated

[2017-03-03 16:30] paregorios commented on #192
@jcowey so, we probably need a new ticket for review and modification as necessary in the HTML view, yes?

[2017-03-03 16:49] jcowey commented on #192
Yes that sounds right to me.

[2017-03-05 12:44] Edelweiss commented on #196
XSLT file that might be resonsible for this error

```…/sosol/data/xslt/translation/ddb_to_translation_xsl.xsl```

this file belongs to the SoSOL project

[ddb_to_translation_xsl.xsl](https://github.com/DCLP/sosol/blob/development/data/xslt/translation/ddb_to_translation_xsl.xsl)

[2017-03-05 12:53] Edelweiss commented on #196
Transformation Scenario for DCLP 59922

[code]

[2017-03-05 12:54] Edelweiss commented on #196
Transformation Scenario for BGU 1 3

[code]

[2017-03-05 13:02] Edelweiss commented on #196
Differences DCLP || DDB

- n=1 || n="r"
- subtype="column" || n/a
- corresp="#FR7834" || n/a

[2017-03-05 13:28] Edelweiss commented on #196
Differences in the resulting xml `rewritten_xml` DCLP || DDB (in order of appearance within xml file)

- n/a || xml:lang="en"
- xml:id="m59922" || xml:id="bgu.1.3"
- n/a || n="0001;1;3"
- <title>TM 59922</title> || <title>bgu.1.3</title>
- <idno type="filename">59922</idno> || <idno type="filename">bgu.1.3</idno>
- <idno type="dclp-hybrid">na;;59922</idno> || <idno type="ddb-hybrid">bgu;1;3</idno>

[2017-03-05 13:28] Edelweiss commented on #196
`rewritten_xml` for DCLP

[code]

[2017-03-05 13:30] Edelweiss commented on #196
`rewritten_xml` for DDB

[code]

[2017-03-05 13:46] Edelweiss opened #224 "Paptrac manual for DCLP servers"
#####################
##### Structure #####
#####################

/srv/data/papyri.info/
	- corpusoverview	# generates dclp-dropdown
	- git
		- navigator-new
			- pn-dispatcher	# creates dispatcher
			- pn-indexer	# indexing
			- pn-mapping	# mapping
			- pn-site	# apache root
			- pn-solr	# structure for solr
			- pn-sync	# creates sync
			- pn-xslt	# used in indexing
		- navigator-old(only dclp

[2017-03-05 15:05] Edelweiss commented on #196
The error occurs here:

[Indentifiers Controller](https://github.com/DCLP/sosol/blob/development/app/controllers/identifiers_controller.rb#L40)

and here

[HGVTrans Model](https://github.com/DCLP/sosol/blob/development/app/models/hgv_trans_identifier.rb#L60)

[2017-03-05 16:39] Edelweiss commented on #220
@rla2118, yes, any geistesblitz will be most welcome but the issue relates to the DCLP version of the editor, which added a hierarchy level to the menu bar. I think it’s just like m-k-r said, we need to tweak the css.

[2017-03-05 17:27] Edelweiss commented on #196
[almost](https://github.com/DCLP/sosol/commit/4dfbaa141c0a64de1c62c2fb2aacf96ea34f9980)

[2017-03-06 05:37] Edelweiss commented on #220
This could be a solution. I cannot test it, though.

https://github.com/DCLP/sosol/commit/dde4dac773c41c54be7d21493efdab8c79038568

@m-k-r, can be you please test it?

[2017-03-06 09:08] m-k-r commented on #220
Tested on dclp-test and litpap. Overview is working again and the dclp dropdown menu is in front of janrain.
@rla2118  @jcowey , can you test finalization?

[2017-03-06 10:54] jcowey commented on #223
now works on Litpap.info

[2017-03-06 11:24] jcowey commented on #223
http://litpap.info/editor/publications/169

was finalized

[2017-03-06 11:24] jcowey commented on #220
http://litpap.info/editor/publications/169

was finalized

[2017-03-06 12:27] #223 closed

[2017-03-06 18:44] paregorios commented on #222
I'm going co-assign myself to this ticket so I can run this transform in our test harness and see if we get the problem with statically-generated HTML outside the navigator framework.

[2017-03-07 14:16] Edelweiss commented on #224
DCLP Server in [PapTrac](http://147.142.225.252/paptrac/wiki/dclpServer)

[2017-03-07 15:43] paregorios opened #225 "ensure XSLTs work with new dimensions markup"
Editor support for new, more detailed markup on dimensions was added with completion of issue #192. Now we need to check to see if the XSLTs handle that well and, if not, upgrade them to do so.

Adding to Würzburg workshop milestone since #192 was assigned in that milestone.

[2017-03-07 15:44] paregorios commented on #192
I have now created issue #225 to address the XSLT concerns.

[2017-03-07 16:14] jcowey commented on #191
I notice that @leoba pushed a commit. Did you @paregorios take that commit as a basis for new HTML files? I could not check on the xslt change, because the link
https://github.com/DCLP/navigator/blob/xslt-master/pn-xslt/metadata-dclp.xsl#L203
does not work (branch changes presumably caused this not to work)

[2017-03-07 16:31] m-k-r commented on #222
The XML links are working [now](https://github.com/DCLP/navigator/commit/0b663a12cf3075559516a670d9076f0e11ea62df).

[2017-03-07 16:37] jcowey commented on #222
They are indeed. That is fantastic. Many thanks. I am now closing this issue.

[2017-03-07 16:37] #222 closed

[2017-03-07 16:38] paregorios commented on #191
@jcowey yes, that was fixed and incorporated, but some of our other changes seem to have had an unpleasant side effect, see #212, which I hope to address shortly.

[2017-03-07 16:39] paregorios commented on #191
This ticket can be closed in my opinion, but #212 should be left active.

[2017-03-07 16:39] paregorios commented on #221
Actually a duplicate for #212

[2017-03-07 16:53] m-k-r commented on #194
is working

[2017-03-07 16:53] #194 closed

[2017-03-08 14:23] Edelweiss opened #226 "SoSOL Meta Editor: CWKB numbers are not saved"
make sure URL is assembled correctly

[2017-03-08 14:24] Edelweiss opened #227 "SoSOL Meta Editor: Edition & Bibliography: generic passages"
Alongside Page, Number, Volume etc. add possibility to enter free text, like HGV’s generic extra field

[2017-03-08 14:26] Edelweiss opened #228 "SoSOL Meta Editor: sign in text"
When signing in for the first time, you’re prompted to use your papyri.info account. Should read »litpap.info« of course.

[2017-03-08 14:27] Edelweiss opened #229 "Display "Ancient Archive" with Link in HTML"
Make the archive name clickable so that it takes you to the website of the archive

[2017-03-08 14:28] Edelweiss opened #230 "SoSOL Meta Editor: Hide fragments in »author and work«"
https://github.com/DCLP/sosol/blob/master/app/views/dclp_meta_identifiers/_work.haml#L100

[2017-03-08 14:29] Edelweiss opened #231 "SoSOL Meta Editor: keywords cannot be saved"
Keywords are lost after pressing the »save« button.

[2017-03-08 14:38] paregorios commented on #229
@Edelweiss is this for the navigator HTML?

[2017-03-08 14:51] Edelweiss commented on #229
Yes, the information is already displayed in the preview of the metadata editor:

https://github.com/DCLP/sosol/blob/master/app/views/hgv_meta_identifiers/preview.haml#L136

The data can be scooped from these xpaths:

archiveName
/TEI/teiHeader/fileDesc/sourceDesc/msDesc/msIdentifier/collection[@type='ancient']

archiveLink
/TEI/teiHeader/fileDesc/sourceDesc/msDesc/msIdentifier/collection[@type='a

[2017-03-08 14:56] paregorios commented on #229
@Edelweiss thanks. I've added the "tweak XSLT" label. I think we need to leave this issue on the backlog until there is actual data. Do you agree @jcowey ?

[2017-03-08 15:01] jcowey commented on #229
Yes I agree @paregorios

[2017-03-08 15:02] paregorios commented on #229
Shall we un-assign from @Edelweiss for the time being?

[2017-03-08 15:07] paregorios commented on #225
There seems to be only one XML file in idp.data/DCLP (master) that makes use of this markup at present: TM143318.

[2017-03-08 15:28] paregorios commented on #225
TM143318 has markup like:

[code]

The current XSLTs produce:

![support-dimensions](https://cloud.githubusercontent.com/assets/263285/23710050/05b7562e-03e1-11e7-837e-4c956821c6ab.png)

The question for @rla2118 now is, what do you want to see for dimensions? Would you like to keep it all on one line (as now), but perhaps add something helpful so you get something like:

[code]

or

[code]

Alter

[2017-03-08 15:40] rla2118 commented on #225
I would opt for
Support material: ostracon; pottery
Support dimensions: 13 cm wide x 23.3 cm high
It's important to be explicit about the axis (width and height) that the measures describe.

[2017-03-08 15:41] paregorios commented on #225
OK, we'll undertake to make that happen.

[2017-03-08 15:45] jcowey commented on #229
Yes unassign @Edelweiss

[2017-03-08 16:15] Edelweiss opened #232 "SoSOL metadata editor: author and work XOR"
Add functionality to mark works as mutually exclusive.

[2017-03-08 18:57] paregorios commented on #225
Reassigning to @rla2118 for review.

New transform results look like: http://dclp.github.io/dclpxsltbox/output/dclp/144/143318.html

Note that files without ```<dimensions>``` included are handled gracefully, e.g., http://dclp.github.io/dclpxsltbox/output/dclp/144/143337.html

[2017-03-09 09:30] rla2118 commented on #225
Dimensions looks fine.  I see, however, that "title", https://github.com/DCLP/idp.data/blob/master/DCLP/144/143318.xml#L7, is not displaying.

[2017-03-09 11:41] jcowey opened #233 "SoSOL metadata editor: display Checklist short titles"
When a biblio entry includes the following section:
[code]
please display the content of the title tag underneath what is displayed on the basis of the biblio number.

[2017-03-09 12:10] paregorios commented on #233
@jcowey is there any similar requirement where the navigator HTML is concerned, or is that already working ok?

[2017-03-09 13:09] paregorios commented on #206
Somehow this is working on navigator master branch. But somehow (as reported by @rla2118), #225 breaks that functionality despite the fact that it was cloned from master. I'm taking this to investigate.

[2017-03-09 13:10] paregorios commented on #206
blocker for #225

[2017-03-09 13:17] paregorios commented on #206
This is not to be confused with the rendering of ```<titleStmt><title>``` under the "Content" rubric, which currently works.

[2017-03-09 13:56] paregorios commented on #225
@rla2118 the contents of the ```<title>``` element are not displayed in the page header because #206 has not yet been implemented per previous prioritization discussion, q.v.

The content "Dactylic octameters on Pallas Athena" is not anywhere on the HTML review page  now because [three days ago you removed it from the ```<term type="overview">``` element and moved it to the ```<titleStmt><title>``

[2017-03-09 14:03] rla2118 commented on #225
OK. We do not plan to populate "Contents" going forward. Right, @jcowey?

[2017-03-09 14:05] paregorios commented on #206
Moved this comment from @rla2118 here from #225:

[2017-03-09 14:06] paregorios commented on #225
@rla2118 I moved your query to @jcowey to #206; @jcowey please answer there

[2017-03-09 14:10] paregorios commented on #225
I'm taking this ticket to merge ```<dimensions>``` code change into master.

[2017-03-09 14:22] paregorios commented on #225
This code is now in master on navigator at [@3f7091b](https://github.com/DCLP/navigator/commit/3f7091bb94b1c32128e530ec5116c392250e3e89)

[2017-03-09 14:22] #225 closed

[2017-03-09 16:21] HolgerEssler commented on #26
At the moment the display of the information as created in February 2016 is not visible any more in the static html file on litpap.info (e.g. http://litpap.info/dclp/62400)?
@m-k-r, is this a server problem?

[2017-03-09 16:36] Edelweiss commented on #26
The missing revision is:

(```svn://svn.code.sf.net/p/epidoc/code/branches/dcl```, ```svn log -v -r {2016-02-19}:{2016-03-01}```)

[2017-03-09 16:41] Edelweiss commented on #26
Make sure that the EpiDoc sources in the following folders comprise the revision mentioned above

EpiDoc for indexer

- /srv/data/papyri.info/git/navigator/epidoc-xslt
- /srv/data/papyri.info/git/navigator/epidoc-xslt-dclp/papyri

EpiDoc for SoSOL editor

- /srv/data/papyri.info/sosol/shared/externals/data/xslt/epidoc/1755
- /srv/data/papyri.info/sosol/shared/externals/data/xslt/epidoc/dclp
- /srv

[2017-03-10 10:20] HolgerEssler opened #234 "Error message after voting"
After voting I often get the error message "We are sorry, but something went wrong". The text seems to be processed correctly, with my comments intact. Example: http://litpap.info/editor/publications/328, DCLP Meta 140276, voted on Fri Mar 10, 2017 09:57:20.

[2017-03-10 17:01] paregorios commented on #26
@Edelweiss I don't think there's anything for me to do here, so I'm un-assigning myself. Let me know if you need me to do something.

[2017-03-10 17:05] paregorios commented on #137
@jcowey and @HolgerEssler can you clarify what exactly you wish to see in the HTML output? Above examples seem to use backticks (`), but discussion seems to imply an actual horizontal line (like a macron). Can you clarify?

[2017-03-10 17:07] paregorios commented on #206
assigning to @jcowey for response to @rla2118, which will clarify what we need to do with the XSLT

[2017-03-10 17:11] paregorios commented on #158
What I was advocating was something like:

[code]

See: http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-pc.html

[2017-03-10 17:12] paregorios commented on #141
pinging @jcowey for comments so that we can queue this item for work

[2017-03-10 17:14] paregorios commented on #126
@leoba please review the above old discussion and look at output to see if the behavior indicated is still happening. If so, please see if you can address the deficiencies described above. If the situation is fixed or changed, please update here with explanatory comment and links to examples. Thanks.

[2017-03-10 17:17] paregorios commented on #140
Next steps:

 - research (```<floatingText>``` in TEI Guidelines to see if we think it really will work for these cases, and
 - (if we think it will work) markup an example for consideration on the basis of the foregoing examples.

[2017-03-10 17:19] paregorios opened #235 "merge down the current HEAD revision of EpiDoc Example Stylesheets into the "dclp" branch"
So we can pick up all the latest goodness. Note that this is likely to be a non-trivial merge, due to the addition of tunnel parameters and other structural changes in trunk.

[2017-03-10 18:03] paregorios opened #236 "merge upstream epidoc stylesheet changes into our branch"
We want to catch up our branch (dclp) to trunk:HEAD on the epidoc stylesheets.

[2017-03-10 18:04] paregorios commented on #236
deuplicate #235

[2017-03-10 19:37] paregorios opened #237 "upgrade/reboot regression/bleedover tests for xslt"
investigate using the xpec framework (and oxygen integration of same) in place of the current, non-functional, bespoke python script.

[2017-03-10 22:15] paregorios commented on #235
Confirm that epidoc trunk:HEAD has been merged into dclp branch and that everything runs as expected. Revision pins for production with epidoc-xslt should be updated to r2519.

[2017-03-10 22:15] #235 closed

[2017-03-12 14:42] paregorios opened #238 "transforms no longer producing apparatus"
Spotted by @leoba:

Commit 72f474c99b73acb878707436949a3cffe28c6778 of master output no longer includes ```<div id="apparatus">```. This likely results from changes that @sarcanon and I merged from epidoc-xslt master on Friday ([r2516](https://sourceforge.net/p/epidoc/code/2516/) - [r2519](https://sourceforge.net/p/epidoc/code/2519/)); somehow we missed the effective change.

I'll undertake to try

[2017-03-12 14:46] paregorios commented on #238
@leoba stepping back your epidoc-xslt workspace to [r2500](https://sourceforge.net/p/epidoc/code/2500/) should allow you to run dclpxsltbox/bin/2html.sh and get a set of HTML that has the apparatus.

[2017-03-12 17:09] jcowey commented on #224
I am closing this as I am pretty sure that all the info is now in paptrac as stated above

[2017-03-12 17:09] #224 closed

[2017-03-12 17:16] paregorios commented on #238
In work on svn branch https://sourceforge.net/p/epidoc/code/HEAD/tree/branches/dclp-issue238/

[2017-03-12 17:40] paregorios commented on #238
I suspect that this is due to the fact that the epidoc stylesheets now use two apparatus-related parameters (```internal-app-style``` and ```external-app-style```) instead of the one that DCLP expects: ```apparatus-style```.

[2017-03-12 17:48] paregorios commented on #238
And if that is the case, it's pretty clear that papyri.info is depending on a down version of the EpiDoc stylesheets, because [MakeHTML.xsl on papyri.info/master](https://github.com/papyri/navigator/blob/master/pn-xslt/MakeHTML.xsl#L290) still only uses the single ```apparatus-style``` variable.

So, by stepping up to the latest version of the EpiDoc stylesheets, DCLP will be making the back-integ

[2017-03-12 17:51] paregorios commented on #238
The change to the EpiDoc stylesheets that introduced this change is over two years old: [r2275](https://sourceforge.net/p/epidoc/code/2275/). This implies that papyri.info is relying on epidoc xsl code that is at least that old.

[2017-03-12 17:57] jcowey commented on #238
Just something to bear in mind @paregorios. We still have not solved the business of deploying the XSLT you use to produce the static HTML transforms in the litpap.info navigator and editor environment.
This is one of the things that I regard as highest priority for the next weeks.
If it were in place that we could meaningfully test all new stuff in the live environment.
I hope my thoughts are rel

[2017-03-12 18:03] paregorios commented on #238
@jcowey understood, and I agree with your prioritization. I'm trying to make sure we have clean code in the repos in order to support that effort.

[2017-03-12 18:10] paregorios commented on #238
As I inferred above, [the last change to MakeHTML.xsl](https://github.com/papyri/navigator/blob/4a841f5fbcf624c845eac79ff3d53d09254a73c6/pn-xslt/MakeHTML.xsl) predates the EpiDoc xslt parameters change at issue here.

Given that means anything subsequent on the EpiDoc side is untested in production papyri.info, I think we need to revert the merge from EpiDoc master to our DCLP branch until we can

[2017-03-12 19:00] paregorios commented on #238
@leoba this should be resolved (i.e., no longer blocking #126). To proceed, please first:

- do a ```git pull origin master``` in dclpxsltbox
- do an ```svn update``` in navigator/epidoc-xsl

Sorry for the hassle.

[2017-03-12 19:03] paregorios commented on #236
I'm resurrecting this ticket, because I've had to roll back the merge because I failed to spot the effects of a major change (see #238). I'm also downgrading the priority, and re-assigning to myself because I think we need to coordinate this change with the DC3 team (@hcayless and @ryanfb) since there are implications for collections other than DCLP (see comments on #238).

[2017-03-12 19:12] paregorios opened #239 "improve branch use on epidoc svn repos"
We recently got our ducks in a row on branch naming and management procedures for our github-hosted git repos (i.e., using "master", "development", and numbered "issue" branches in a sane manner). But we didn't do anything similar with the one svn repos that we use from sourceforge (for the epidoc example xslts). Recent events (#238) make it clear to me that we should address that omission sooner

[2017-03-12 21:02] leoba commented on #126
After looking over the examples, I think this is three different issues:

[https://github.com/DCLP/idp.data/blob/master/DCLP/129/128960.xml#L162](https://github.com/DCLP/idp.data/blob/master/DCLP/129/128960.xml#L162) (Displayed in the apparatus: ϊσ̣χ̣ωσι papyrus : ϊίϊσ̣χ̣ωσι papyrus): Is tagged `<hi rend="diaeresis"><hi rend="acute">ἴ</hi></hi><unclear>σχ</unclear>ωσι` so there is a nested `<h

[2017-03-12 22:10] paregorios commented on #126
@leoba thanks, that sounds like a good plan; shall I undertake to create the two new issues you enumerate above?

[2017-03-13 10:46] paregorios opened #240 "unwanted accent included in apparatus entry"
*Splitting out from original issue #126. Block this issue for completion of #126.*

@andreabernini originally reported:

The corresponding XML reads:

[code]

which is what I would have expected from the Leiden+. So, as @leoba noted, the acute accent in the final text node is coming along for the ride in the apparatus.

I think this ticket needs some clarification from papyrologists ( @rla2118 , @

[2017-03-13 10:56] paregorios opened #241 "multiple incorrect apparatus entries for single word with multiple diacritics"
*Splitting out from issue #126; block this issue for completion of #126*

@andreabernini originally reported:

After initial analysis, @leoba observed:

So, I'll restate (and ask @rla2118 @jcowey @HolgerEssler to confirm) that the desired behavior is as follows:

Yes? No? Otherwise?

[2017-03-13 10:59] paregorios commented on #126
Per @leoba's suggestion above, this ticket is now solely about:

It has been retitled to reflect the narrowing of scope. The other two concerns originally included by @andreabernini have been split out as #240 and #241.

[2017-03-13 11:03] paregorios commented on #238
@leoba was able to get back to work on #126, so closing this issue.

[2017-03-13 11:03] #238 closed

[2017-03-13 11:05] paregorios commented on #215
I don't think we can plan for addressing this issue until #177 is resolved, therefore I am removing assignments (but leaving in the April Milestone for now).

[2017-03-13 11:06] paregorios commented on #200
@jcowey does this issue now serve any purpose, or can it be closed?

[2017-03-13 11:10] jcowey commented on #200
Closing it now

[2017-03-13 11:10] #200 closed

[2017-03-13 11:20] paregorios commented on #26
As far as I can see, this issue is resolved as far as required XSLT changes. I therefore am removing the "blocker" label, which marked this issue as a prerequisite for #51.

I am also removing the "tweak XSLT" label and adding a "task" label.

@jcowey and @Edelweiss please review this ticket to determine what the appropriate priority label is (it is currently marked "urgent").

[2017-03-13 11:27] paregorios commented on #41
This is a "high priority" ticket that is also a "blocker" for #42, therefore I would like to resolve it as soon as possible.

To recap: structured encoding for dates has been added to custodial events in the XML, but the suggestion above of @hcayless that date (and related) information be added in prose and tagged accordingly has not been addressed here nor, to my eye, resulted in any XML changes.

[2017-03-13 11:30] paregorios commented on #159
@ryanfb can you answer [the question @Edelweiss poses above](https://github.com/DCLP/dclpxsltbox/issues/159#issuecomment-281624178)? I'd like to get this ticket resolved.

[2017-03-13 11:39] paregorios commented on #197
If I may, I think the issues are still tangled here. These seem to me to be the options:

1. Replace the current, bespoke "table" mechanism for displaying metadata in the editor preview with something that exploits the metadata portions of the XSLT used in the navigator.
2. Keep the current, bespoke "table" mechanism for displaying metadata in the editor preview and commit to updating/modifying/ma

[2017-03-13 11:41] paregorios commented on #143
@jcowey what should the priority for this task be and to whom should it be assigned? Does it really belong in the April 2017 milestone, or should it be moved to the backlog and higher priority items addressed first (i.e., those that affect many files instead of a single file)?

[2017-03-13 11:58] paregorios commented on #141
We cannot work on this ticket until the following issues are resolved:

 1. What display do we want to see in HTML for e.g., ```<orig>φες</orig>```? The options are:

    a. ```φες``` -- this is current behavior, as in TM63138, fragment 10, line 11:
```<lb n="11" break="no"/><orig>ν</orig></w> <w n="1000010000011001" lemma="ὁ">τὸ</w> <w n="1000010000011002" type="incomplete"><orig>συλ</orig><gap n

[2017-03-13 12:00] paregorios commented on #112
@HolgerEssler are you comfortable with closing this issue, or is there still a concern to be addressed?

[2017-03-13 13:51] wsalesky commented on #212
This is an xpath bug introduced into navigator/pn-xslt/metadata-dclp.xsl by https://github.com/DCLP/dclpxsltbox/issues/191.

`t:biblStruct['volume']` and `t:biblStruct['numbers']`

Should be:

`t:biblScope['volume']` followed by `t:biblScope['numbers']`

[2017-03-13 14:00] wsalesky commented on #212
@paregorios
The initial change addresses the xpath error, however limiting biblScope to @unit='volume' and @unit='numbers' will suppress other inline biblScope information.

ex: dclp/98/97885.xml
Also includes additional `t:biblScope` elements. I would think we want to include these. Do we want to control the order the variouse `t:biblScope` units appear in, or can we use document order, (but appe

[2017-03-13 14:03] paregorios commented on #212
@wsalesky I think document order works here

[2017-03-13 14:12] wsalesky commented on #212
@paregorios
Would we want any indication of the unit? Otherwise the output looks like this:
`<td>P. Ness. 111 V descr. 3</td>`

Which seems rather opaque.
This might be more clear:

`<td>P. Ness. No. 111, side V, descr., vol. 3</td>`

[2017-03-13 14:28] jcowey commented on #212
Hello @wsalesky (and welcome aboard!) What we want to see in the case mentioned above is
`<td>P. Ness. 3 111 V descr.</td>`

I wanted to draw attention to the following point. If one were to use the content of the tag
`<title level="m" type="short-Checklist" n="1">` in the relevant biblio file (i.e. `<ptr target="http://papyri.info/biblio/5700"/>` )
https://github.com/papyri/idp.data/blob/master/B

[2017-03-13 14:31] paregorios commented on #212
@jcowey and @wsalesky so this ticket was about ```<bibl>``` tags within the DCLP xml files that *don't* have ```<ptr>``` tags inside them.

Is there a bigger issue here?

[2017-03-13 14:35] jcowey commented on #212
As far as I see it, XSLT has to deal with two scenarios: `<bibl>` tags with `<ptr>` in them
*and*
`<bibl>` tags without any `<ptr>` in them.
IN the course of time there will be increasingly few without `<ptr>` in them

[2017-03-13 14:36] jcowey commented on #212
Sorry if I have messed up the wrong thread with my thoughts.

[2017-03-13 14:37] paregorios commented on #212
@jcowey yes, agreed.

I opened the ticket because I noticed that we were ignoring ```biblScope``` in the DCLP XML files always. I assumed that we needed to pick it up when there was no ```ptr``` but carry on otherwise.

Are we ignoring local ```biblScope``` that **must** be handled even when there is ```ptr``` present?

Worth a brief skype between the 3 of us to get this clear?

[2017-03-13 14:38] wsalesky commented on #212
@jcowey @paregorios
I may still be working out the kinks in my setup, when I run the XSLT on this xml: dclp/98/97885.xml And it does not seem to be pulling in the bibl record via the ptr. However, I do think the current code does fix this particular bug.

Sorry for the excess noise.

[2017-03-13 14:39] jcowey commented on #212
Noise will, I hope help to get this solved. Would both of you be free for a skype later today. I am really not fully on the DCLP job just now.

[2017-03-13 14:40] wsalesky commented on #212
I am free until 2 EST.

[2017-03-13 14:41] jcowey commented on #212
I could suggest 18.00 central European time i.e. in just under 2 and a half hours

[2017-03-13 14:43] paregorios commented on #212
That works for me.

[2017-03-13 14:44] wsalesky commented on #212
Yes, that works for me as well.

[2017-03-13 14:46] jcowey commented on #212
OK that is great

[2017-03-13 18:07] jcowey opened #242 "Display of principal edition biblio"
When a DCLP file has
[code]

and the biblio file does *not* have

[code]

What sort of biblio files are we going to have to process? It will be necessary to try to be clear about the different categories.

[2017-03-13 18:09] paregorios commented on #242
@wsalesky as discussed in our Skype call, can you write a script to hunt down some/any examples of this?

[2017-03-13 19:12] paregorios commented on #239
If I do not see any opposition to this idea, I will implement on 14 March.

[2017-03-14 01:52] wsalesky commented on #212
@paregorios please review

Changes:
I have added a parameter `<xsl:param name="biblType"/>` to the named template `buildCitation` in pn-xslt/htm-teibibl.xsl.

This enables different handling for titles in the display principal editions. Namely they should use the first occurrence of  `t:title[@type='short-Checklist']` (sometimes a nested title, sometimes a top level title).  This parameter can be

[2017-03-14 02:39] wsalesky commented on #242
Here is a list of matching bibl records:
[code]

[2017-03-14 09:47] paregorios commented on #242
over to you for analysis @jcowey

[2017-03-14 12:56] rla2118 commented on #240
Yes, only diacriticals within <hi rend> should display.  I don't understand why there is an apostrophe here and with ἠ’ in the Leiden+.  It should be [ἢ Ἀχι]λ η(^) = XML <supplied reason="lost">ἢ Ἀχι</supplied>λ<hi rend="circumflex">ῆ</hi>

[2017-03-14 14:24] paregorios commented on #240
@rla2118 just to make sure I understand: the acute accent as final character in this string is, in your view, just an error. Or should we check the original publication?

[2017-03-14 14:36] jcowey commented on #240
I have had a brief look at the original edition. Not really sure what has happened here. I need more time to see what has happened. It looks as if unnecessary diacritical signs have found their way into the text strings.

[2017-03-14 14:41] jcowey commented on #240
What I think I would expect is:
[code]

instead of
[code]
In
http://litpap.info/dclp/128960
This is the image:

http://163.1.169.40/gsdl/collect/POxy/index/assoc/HASHa2b8/bc5cf739.dir/POxy.v0075.n5032.a.01.hires.jpg

not located the position yet

[2017-03-14 15:30] HolgerEssler commented on #141
From the above I think that @rla2118 and I agree to use b. ΦΕΣ for HTML-display and to have =φες= as the corresponding Leiden+.
The only question is about how to change Leiden+ for "underlined and overlined". I have no problems with the suggestion by @rla2118 to use something like ¯abc_ , except that it is not symmetric. My suggestion of a combination of the single tags supraline + underline, i.e.

[2017-03-14 15:39] HolgerEssler commented on #112
This means that at the moment we have no Leiden+ solution for encoding verses, but can do it only in XML. I leave it to @rla2118 and @jcowey to decide, whether we should leave it like this and state the XML-solution in the guide-lines, or whether we should implement it completely. In any case I wonder, whether display is affected.

[2017-03-14 16:19] paregorios commented on #212
Review observations:

I've spot-checked and diffed the following papyri:

 - TM 555: [xml](https://github.com/DCLP/idp.data/blob/master/DCLP/1/555.xml) [html](http://dclp.github.io/dclpxsltbox/output/dclp/1/555.html)
 - TM 1170: [xml](https://github.com/DCLP/idp.data/blob/master/DCLP/2/1170.xml) [html](http://dclp.github.io/dclpxsltbox/output/dclp/2/1170.html)
 - TM 7899: [xml](https://github.com/

[2017-03-14 16:29] wsalesky commented on #212
@paregorios
No, it should not be difficult. In fact, I think I know exactly where I went wrong. I can have a new version up tonight.

[2017-03-14 16:31] paregorios commented on #242
A note on how cases like this are currently (subsequent to changes now in review for #212) handled.

Consider [TM 99590](https://github.com/DCLP/idp.data/blob/master/DCLP/100/99590.xml), where the following encoding is found:

[code]

Because [biblio 11862](https://github.com/DCLP/idp.data/blob/master/Biblio/12/11862.xml) does not have ```<title level="s" type="short-Checklist">```, we get the fol

[2017-03-14 16:33] wsalesky commented on #242
@paregorios @jcowey
This is why I build in the bibl type parameter to the buildCitation template, this should make conditional displays a little easier.

[2017-03-14 16:42] jcowey commented on #242
It does not help that in the particular case of
https://github.com/DCLP/idp.data/blob/master/Biblio/12/11862.xml
the entry of the data is messed up. That will not be the only case of messed up data. The best of XSLTs cannot make sense of bad data. ;)
I will sort that particular biblio file.

[2017-03-15 02:39] wsalesky commented on #212
@paregorios
Updated with better handling for t:bibl without t:ptr. Also adds conditional for cases where t:bibl does or does not contain a comment  containing 'ignore.'

Some t:bibl elements contain the ignore comments, and some do not. Current code will check for those comments, and ignore everything after the ignore comment.

ex 65992.xml:
[code]
Will output:
[code]

[2017-03-15 13:31] paregorios commented on #212
That's got it. I've run this version of the transform across the whole dataset and checked for regressions (none) and changes (exactly what we wanted). Here's an example:

[code]

I will undertake to issue and merge the pull request to master for this change, to generate a new set of transformed HTML, and to post same to the review site.

[2017-03-15 15:30] paregorios commented on #212
This is resolved and deployed.

 - XSLT changes merged to master with [navigator pull request 13](https://github.com/DCLP/navigator/issues/13)
 - HTML transforms for review & test were updated in dclpxsltbox:master with @e4b6633 and in dclpxsltbox:gh-pages with @bc31d31

[2017-03-15 15:47] paregorios commented on #240
Per discussion with @rla2118 and @jcowey I will undertake to fix this mistake in XML to read as follows:

[code]

[2017-03-15 16:05] paregorios commented on #112
per @rla2118 I will refactor this ticket to reflect the desire to add Leiden+ support for encoding verses.

[2017-03-15 16:14] paregorios commented on #141
per discussion @rla2118 and @jcowey I will take charge of this ticket to split for XSLT and Leiden+ concerns and to make a suggestion about resolving the latter.

[2017-03-15 16:18] paregorios commented on #143
per @jcowey this is an issue for @HolgerEssler to check and resolve

[2017-03-15 16:19] paregorios commented on #159
/me to ping @ryanfb about this

[2017-03-15 16:28] paregorios commented on #41
punting to the backlog per conversation with @jcowey and @rla2118

[2017-03-15 16:28] paregorios commented on #42
assigned @jcowey @HolgerEssler and @Edelweiss per discussion with @jcowey and @rla2118 ; leaving on the backlog

[2017-03-15 16:36] #193 closed

[2017-03-15 16:37] paregorios commented on #140
moving to backlog per @rla2118

[2017-03-15 18:10] paregorios opened #243 "XSLT: emit all uppercase characters for clear, but incomprehensible letters"
*split out from #141, which will now only be about Leiden+ support for incomprehensible letters*

In TEI+EpiDoc, we encode letters clearly read but incomprehensible using the ```<orig>``` element as in this simplified example, drawn from [TM63138, fragment 10, line 11](https://github.com/DCLP/idp.data/blob/master/DCLP/64/63138.xml#L135):

[code]

We desire HTML output for same with all letters ins

[2017-03-15 18:18] paregorios commented on #141
Now that #243 has been split out to address the XSLT aspects of this matter, this ticket (#141) remains the locus for discussing Leiden+ modifications related to "clear but incomprehensible letters"

[2017-03-15 18:24] paregorios commented on #141
The task now on this ticket is to look at what's already spoken for in terms of characters in Leiden+ and suggest something intuitive for this purpose.

[2017-03-15 18:26] paregorios commented on #112
There are two tasks here:

- [ ] Figure out what the stylesheets currently do with verse markup (```<lg>```, ```<l>```, etc). Is an XSLT ticket needed?
- [ ] Refactor this ticket to focus on the need for Leiden+ support.

[2017-03-15 18:29] paregorios commented on #240
This is now in work in DCLP/idp.data branch "issue240"

[2017-03-15 18:34] paregorios commented on #240
Waiting for review of the XML modification by @jcowey or @rla2118 on https://github.com/DCLP/idp.data/pull/4

[2017-03-15 18:36] paregorios commented on #239
I have decided to defer making this change until @Edelweiss is back and I can coordinate with her, @m-k-r and the NYU team on a date and time for the switchover ... I don't want to break review and production.

[2017-03-15 18:42] paregorios commented on #183
Confirm these validate, are in DCLP/idp.data master branch, and current review transforms have been generated and posted from same.

[2017-03-15 18:42] #183 closed

[2017-03-15 18:43] paregorios commented on #52
Un-assigning myself to make this one available for others to work on.

[2017-03-15 18:45] paregorios commented on #209
Task:

 - [ ] research "best" TEI-conformant solution.

[2017-03-15 18:47] paregorios commented on #51
Task:

 - [ ] consult with @hcayless on whether there is any current JavaScript in the build that we might be able to use for this purpose.

[2017-03-15 19:08] paregorios commented on #175
It seems to me that the basic functionality here is editor-related. Do you concur @jcowey ?

[2017-03-15 19:15] paregorios commented on #53
Switching back and forth as envisioned would require not only XSLT work, but also new Javascript and CSS work. Recommend we mark "priority: low (defer)" and leave this on the backlog for now.

[2017-03-15 19:17] paregorios commented on #56
Task:

 - [ ] sort out actually what we are looking for here.

[2017-03-15 19:18] paregorios commented on #104
@rla2118 please see question above

[2017-03-15 19:34] paregorios commented on #229
It appears that there is now corresponding data in idp.data/DCLP, i.e., [TM 59946](https://github.com/DCLP/idp.data/blob/master/DCLP/60/59946.xml#L28), so we can move forward to implementation.

To restate the ask:

When ```<collection type="ancient">``` appears in ```<msIdentifier>```, emit a new "Archive" rubric in the DCLP metadata area (immediately before "Fragments") and populate it with the

[2017-03-15 19:48] paregorios opened #244 "TM 59946 has invalid @ref value on collection element"
In [TM 59946](https://github.com/DCLP/idp.data/blob/master/DCLP/60/59946.xml#L28), one encounters:

[code]

[According to the *TEI Guidelines*](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.canonical.html#tei_att.ref), the value of ```@ref``` must be "one or more URIs, separated by whitespace." In order to be a valid URI, a string must begin with a [Registered URI Scheme](http://www.

[2017-03-15 19:52] paregorios commented on #229
There's a problem with the data in ```@ref``` on this document. I've created a new ticket for that issue: #244

[2017-03-15 19:54] paregorios commented on #165
I'll raise this on the markup list to see if there are any objections to the strings "longum" and "breve" for ```<hi rend="">```. There will probably be a suggestion to use English, rather than Latin, as that's what's done for other such values.

[2017-03-15 19:56] jcowey commented on #244
[TM 59946](https://github.com/DCLP/idp.data/blob/master/DCLP/60/59946.xml#L28) was indeed entered via the editor.
Enforcing valid URIs. I am not sure. This is question for @Edelweiss

[2017-03-15 19:59] paregorios commented on #163
The corresponding XML is:

[code]

[2017-03-15 20:03] paregorios commented on #163
Current transform gives us:

```[πείθομαι καὶ σὺ]ν̣ Λαπ̣[ί(*)]θ̣[αισ]ί̣ σ̣ε̣ Κ̣ε̣ν̣ ``` etc.

with apparatus:

```back.2. π̣ίθ̣[αισ]ί̣ papyrus```

In other words, it looks to me like this is working now.

@jcowey and @rla2118 please confirm?

[2017-03-15 20:06] paregorios commented on #163
The first task, it seems to me, is to investigate whether apparatus creation is presently smart enough to strip accents from Unicode characters if they are not wrapped in corresponding ```<hi rend>``` elements.

[2017-03-15 20:07] paregorios commented on #244
reassigning to @Edelweiss to ask if it is possible to validate URIs on entry

[2017-03-15 20:12] paregorios commented on #149
@HolgerEssler @jcowey I'd like to schedule a time for one of you to demonstrate the behavior in question to me with screen sharing turned on. I think I'll need that to understand the problem fully.

[2017-03-15 20:15] paregorios commented on #148
[This is still happening in current transforms (column ii, ll. 4-5)](http://dclp.github.io/dclpxsltbox/output/dclp/113/112363.html).

[2017-03-15 20:57] paregorios commented on #136
Tasks, as I see them in order:

 - [ ] Determine appropriate TEI/EpiDoc encoding for this and verify that it validates.
 - [ ] Get one or more texts in idp.data that conform to the XML encoding expectations so we can test.
 - [ ] Test and modify XSLT as necessary to produce desired HTML display of the markup.
 - [ ] Determine appropriate Leiden+ syntax and implement in XSugar

[2017-03-15 21:33] paregorios opened #245 "cannot change "principal" to "reference" editions in editor"
*see related issue #313*

[2017-03-15 21:34] paregorios commented on #133
I think we ought to try to answer #245 before we dig any further into this one, so I'm leaving it unassigned on the backlog for now.

[2017-03-15 21:37] paregorios commented on #245
[Here, incidentally, is the distinction that @rogerbagnall drew between "principal edition" and "reference edition"](https://github.com/DCLP/dclpxsltbox/issues/135#issuecomment-98377388) when confusion erupted previously. It doesn't provide an answer for my question above, but it is relevant.

[2017-03-15 21:39] paregorios commented on #56
Elsewhere, @andreabernini has written "round brackets" where it's clear from context that "square brackets" were meant. Could that be the case here as well?

[2017-03-15 21:40] paregorios commented on #140
marking it priority low for now to facilitate identification of issues that affect more than only PHerc.

[2017-03-15 22:00] paregorios commented on #119
I have just worked through the first example that opens this issue. My guess is that there are several conflated problems presented here; however, one thing is clear and needs addressing first:

Line breaks inside ```<choice><sic></sic><corr></corr></choice>``` are not being handled correctly by the XSLT.

I recommend we fix that first, then have papyrologists look closely at all of the above exam

[2017-03-15 22:18] paregorios opened #246 "unwanted whitespace inside (())"
For some values of the ```type``` attribute on the ```<g>``` element, the XSLT renders and opening double-parentheses "((" followed by the value of the ```type``` attribute and closed with an opposite double-parentheses "))".

In some, perhaps all, cases, extra whitespace is getting produced after the value of the ```type``` attribute, but before the closing double-parentheses "))".

Here's an exa

[2017-03-15 22:19] paregorios commented on #246
Marking this with priority: high because it's just so deeply wrong ...

[2017-03-16 11:05] rla2118 opened #247 "Restore "Open in Editor" button"
The "open in editor" button, through which one could access the editor, has disappeared. Can it please be restored?

[2017-03-16 14:06] paregorios commented on #247
This is an XSLT issue.

To find the code area, search for "editthis" in MakeHTML.xsl.

[2017-03-16 14:08] paregorios commented on #247
As I look at [the code history](https://github.com/DCLP/navigator/blame/master/pn-xslt/MakeHTML.xsl#L270), this seems never to have been available for DCLP (although a todo comment was added 3 years ago).

@rla2118 : what's the priority on this?

[2017-03-16 20:08] wsalesky commented on #246
There is actually a `<text>` element in the XSLT (epidoc-xslt/htm-teig.xsl), I'm guessing it is just a typo.

[2017-03-16 20:16] paregorios commented on #246
yeah, in teig.xsl lines 304 and 307 we should have ```<xsl:text>``` instead of ```<text>```

[2017-03-16 20:21] paregorios commented on #246
as @wsalesky said last night in email ;)

[2017-03-16 20:23] wsalesky commented on #246
@paregorios So, what is the workflow for the epidoc xslt? Should I create an svn branch?

[2017-03-16 20:34] paregorios commented on #246
@wsalesky yes, I think that's the way to go ... create a branch like ```/branches/dlcp-issue246``` from ```/branches/dclp```.

[2017-03-16 21:17] wsalesky commented on #246
@paregorios
Not sure I have permissions to create branches. I'm getting a permissions denied error when creating the new branch:
`svn: E000013: Can't open file '/svn/p/epidoc/code/db/txn-current-lock': Permission denied`

[2017-03-17 03:00] wsalesky commented on #246
@paregorios
Okay, change committed to `/branches/dclp-issue246`

[2017-03-17 11:43] paregorios commented on #246
This fix was merged to ```/branches/dclp``` in the EpiDoc example-p5-xslt svn repos at [r2532](https://sourceforge.net/p/epidoc/code/2532/) and new review files generated and posted to the web with @cd6ef5a

[2017-03-17 11:43] #246 closed

[2017-03-17 12:40] wsalesky commented on #229
I can make this change independent of the data issues.

[2017-03-17 14:07] wsalesky commented on #229
@paregorios
Added a test for `t:collection[@type="ancient"]` in `pn-xslt/metadata-dclp.xsl`

Test includes handling for `t:collection`  adds HTML link if `@ref` is present.  Would it be useful to test for valid @refs? (ie, only those starting with "http://" or "https://")

[2017-03-17 14:18] paregorios commented on #229
I'm not a huge fan of papering over bad data in the transform, though there are certainly other places in this project where we do that. More immediately, I think it might be better to go ahead and emit the ```@ref``` value in an ```<a href>``` in this case because it will probably just work anyway in some browsers and, if it doesn't, it's a mistake that most users will be able to fix manually.

[2017-03-17 14:23] wsalesky commented on #229
Okay. That matches current behavior.

[2017-03-17 14:24] paregorios commented on #166
I've updated the preceding comment so that the links work, but I have no idea what @andreabernini means by "the following drawings may be linked to images" nor what the development action (if any) should be as a result.

@HolgerEssler @rla2118 @jcowey can any of you clarify this issue for us?

[2017-03-18 12:22] wsalesky commented on #163
@paregorios
In the above comment does 'apparatus creation' refer to the XSLT transformation? If so I do think the XSLT can be tweaked to correctly strip accents. Currently this output is handled by `epidoc-cslt/teiunclear.xsl` in the following template ` <xsl:template match="t:unclear">`

This template uses `normalize-unicode($text-content)` and is currently not specifying a unicode normalization

[2017-03-19 15:22] HolgerEssler commented on #143
XML corrected. Suggest closing.

[2017-03-19 15:22] #143 closed

[2017-03-19 17:45] jcowey commented on #242
http://papyri.info/biblio/4/3034.xml: M.P.E.R., N.S. I
http://papyri.info/biblio/4/3073.xml: P.S.I. X, 1
http://papyri.info/biblio/4/3335.xml: O. Mich. I
http://papyri.info/biblio/4/3394.xml: P.S.I. XI
http://papyri.info/biblio/4/3889.xml: M.P.E.R., N.S. III
http://papyri.info/biblio/5/4258.xml: M.P.E.R., N.S. IV
http://papyri.info/biblio/5/4392.xml: P.Lugd.Bat. IV
http://papyri.info/biblio/5/4494

[2017-03-21 02:32] wsalesky commented on #148
@paregorios
I think I could use a little regex help here. I have tracked the problem down:

The current rule to suppress preceding adjacent gap of the same kind.
`<xsl:if test="not(preceding::node()[1][self::text()][normalize-space(.)=''][preceding-sibling::node()[1][self::t:gap[@reason='lost']]]) and not(preceding::node()[1][self::t:gap[@reason='lost']])">`

This rule perhaps inadvertently also s

[2017-03-21 03:43] wsalesky commented on #147
@paregorios @andreabernini
I have checked the listed records and this seems to have been resolved. Would you mind double checking for me?

See:
http://dclp.github.io/dclpxsltbox/output/dclp/129/128952.html
http://dclp.github.io/dclpxsltbox/output/dclp/129/128972.html
http://dclp.github.io/dclpxsltbox/output/dclp/113/112363.html

If it has been resolved we can close the ticket, if not, can we add s

[2017-03-21 18:00] wsalesky commented on #148
@paregorios
Never mind, I figured it out.
Changes are on:
http://svn.code.sf.net/p/epidoc/code/branches/dclp-issue148-b

Let me know how it looks. I did run a git diff, and there were a large number of changed files, the 10 or so I checked looked okay.

[2017-03-22 02:30] wsalesky commented on #119
Added `<br id="a{$div-loc}l{$line}"/>` when `$parm-leiden-style = 'ddbdp'` and when  `@break='no' ` or `@type='inWord'` to `epidoc-xslt/htm-teilb.xsl`

Branch:
http://svn.code.sf.net/p/epidoc/code/branches/dclp-issue119/example-p5-xslt/

@paregorios  Ready for review.

[2017-03-22 11:42] rla2118 commented on #247
I would say that this is high priority.  Without it, it's not obvious to users how to access the editor.

[2017-03-22 11:47] rla2118 commented on #245
I don't know if this is related to the problem that users have experienced of not being able to save reference editions.  The default seems to be "principal edition."  I'm drawing @Edelweiss into the conversation.

[2017-03-22 12:30] rla2118 commented on #163
Question about <supplied reason="lost"><hi
    rend="acute">ί</hi></supplied>

Hi rend isn't likely to be supplied.  How do we know that it was lost?  What TM number is this?

[2017-03-22 14:01] wsalesky commented on #163
I think this is the line in the data:
https://github.com/DCLP/idp.data/blob/master/DCLP/69/68627.xml#L98

[2017-03-22 14:27] jcowey commented on #163
If you @rla2118 look on
http://163.1.169.40/gsdl/collect/POxy/index/assoc/HASHd676/fccbe4ae.dir/POxy.v0067.n4554.a.across.hires.jpg
you will see an acute accent visible over a supplemented letter (which is not visible).
Not sure whether the XML is brilliant for this. But it works in Leiden+ and is validated by the editor.

[2017-03-22 15:25] #240 closed

[2017-03-22 15:29] paregorios commented on #163
Ignoring for the moment the XML question raised by @rla2118 which is tangential to the focus on this ticket ...

Regarding [the question above](https://github.com/DCLP/dclpxsltbox/issues/163#issuecomment-287542051) from @wsalesky I'd like to pull in @hcayless : what is the assumed normalization form for papyri.info content?

[2017-03-22 15:31] paregorios commented on #245
@rla2118 is the "unable to save reference editions" problem ticketed somewhere?

[2017-03-22 15:37] rla2118 commented on #245
No, because I wondered if this ticket is related.

[2017-03-22 15:48] paregorios commented on #245
@rla2118 if you have (or can get) a good step-by-step description of what's happening to users when they try to do that, can you paste it in here?

[2017-03-22 16:04] rla2118 commented on #245
Here is what Thomas Backhuys reports in submission notes for http://litpap.info/editor/publications/378# = TM 59221.

"Text according to edition P.Köln II 58 (cannot save this biblio reference as "reference edition": editor changes name to "principal edition")"

When he tries to change the biblio reference from "reference edition" to "principal edition" the system defaults to "principal edition".

[2017-03-23 12:56] wsalesky commented on #51
@paregorios
Can't we just use a jquery toggle() function to show/hide this information?

[2017-03-23 14:18] paregorios commented on #51
@wsalesky if you have an idea about how to implement (with jquery or otherwise) I'm happy to let you run with this one! :)

[2017-03-23 14:20] wsalesky commented on #51
@paregorios
Sure I can do that. The site already uses jquery, so a simple toggle should do the trick.

@rla2118
Can you clarify the behavior you would like to see?
i.e. would you like to see X number of fragments with 'Show all' button?

Thanks!

[2017-03-23 14:38] wsalesky commented on #52
@paregorios
Can I get some explanation of the logic that should produce the desired output?
Here is the XML fragment which currently outputs:
[code]

XML (pretty printed for legibility only):
[code]

Can you explain why the '-' (denoting a milestone break ) should be in the '[]' which denote  supplied text, as opposed to being after the supplied text?

I can edit the XSLT to supply the correct vie

[2017-03-23 15:55] hcayless commented on #163
The assumed normalization is NFC. That may no longer be necessary—fonts and font rendering have gotten a lot more sophisticated since we first made that decision. So NFD might be fine. I believe we were afraid NFK(C|D) might erase distinctions that the papyrologists care about.

[2017-03-23 19:52] paregorios commented on #52
@wsalesky the hyphen ('-') is actually meant to have nothing to do with the ```<milestone>```; rather, it's an aid to the reader meant to indicate that the editor thinks there's a word being split by the ```<lb>``` that has a ```break="no"``` attribute on it. The convention is to bind that "keep reading because the word is not done" signal as closely as possible to the characters themselves, even

[2017-03-23 20:18] wsalesky commented on #52
@paregorios
So how should `t:milestone` elements within a `t:w` be treated? Should it be treated differently within a t:w then within other elements? Currently the milestone outputs a '-' if
`following-sibling::node()[not(self::text() and normalize-space(self::text())='')][1]/self::t:lb[@break='no']`. Which is the behavior we are seeing here.  What does the`t:milestone ` indicate here?  (Just tryi

[2017-03-23 21:33] paregorios commented on #245
From what @rla2118 reports above, this sounds indeed like something that stems from an editor behavior. I'm tagging it accordingly and leaving it assigned to @Edelweiss.

[2017-03-23 21:55] paregorios commented on #163
@wsalesky by "apparatus" above I meant to call out  a particular section of the HTML output created by the XSLT, specifically ```<div id="apparatus">```.

I think that what's triggering generation of an apparatus entry in the case of this particular word (πίθαισι) is the presence of ```<hi rend="acute">```. That's interesting to the papyrologists because, although the Greek accent marks were inve

[2017-03-23 22:25] paregorios commented on #93
See also enthesis #90

[2017-03-23 22:25] paregorios commented on #90
see also "ekthesis" #93

[2017-03-23 22:41] paregorios commented on #93
The TEI Guidelines already envision encoding ```rend="indent"``` on verse lines, so by analogy we should probably use "[outdent](https://en.wiktionary.org/wiki/outdent)" (a neologism that is nonetheless in wide technical use to reflect this feature of layout).

[2017-03-23 22:42] paregorios commented on #93
@rla2118 @HolgerEssler @jcowey how should ekthesis be represented in HTML output?

[2017-03-23 22:57] paregorios commented on #90
The "LitPapText" spreadsheet (line 29) envisions the following:

XML: ```<lb n="1" rend="eisthesis"/>```

Leiden+ : ```(1, eisthesis)```

and reports that these "work", but XSLT doesn't handle them as desired.

[2017-03-23 22:58] paregorios commented on #90
The TEI Guidelines already envision encoding ```rend="indent"``` on verse lines, so we should probably use the same term, rather than a subdiscipline-specific term.

[2017-03-23 22:59] paregorios commented on #90
@rla2118 @HolgerEssler @jcowey how should eisthesis be represented in HTML output?

[2017-03-23 23:14] paregorios commented on #93
See also [EpiDoc Feature Request 79](https://sourceforge.net/p/epidoc/feature-requests/79/).

[2017-03-23 23:14] paregorios commented on #90
See also [EpiDoc Feature Request 79](https://sourceforge.net/p/epidoc/feature-requests/79/).

[2017-03-23 23:27] leoba commented on #208
@paregorios: Requested mods have been made, see branch issue208 in navigator. There don't appear to be any instances of more than one handDesc in a file, but in case I included a feature to put ';' between multiple values.

[2017-03-23 23:29] leoba commented on #169
This should have been closed after issue 169 was closed, so I am closing it now.

[2017-03-23 23:29] #169 closed

[2017-03-24 07:34] Edelweiss commented on #176
- Antiphanes	0410
- Aristodemus	2148
- Eusebius	2018
- Hecataeus of Miletus	0538
- Hieronymus of Rhodus	1430
- Manetho	2583
- Menander	0541
- Palladius of Galatia	2111
- Philemon	0487
- Philiscus	0491
- Satyrus of Callatis	0608

[2017-03-24 07:43] Edelweiss commented on #176
There’s a phi number for Gaius, who at the same time is flagged as »nicht eindeutig identifizierbar«

- Gaius, nicht eindeutig identifizierbar, http://data.perseus.org/catalog/urn:cts:latinLit:phi1251

Should this url be added, nontheless?

[2017-03-24 07:51] Edelweiss commented on #176
[code]

[2017-03-24 09:54] Edelweiss commented on #176
https://github.com/DCLP/idp.data/commit/09353a45274e581f7bfd74ad076eb60b1033a19a

[2017-03-24 10:00] Edelweiss commented on #245
google sheet for [duplicate biblio refs](https://docs.google.com/spreadsheets/d/1JUDWSgsxUZvndGuOG1hmEL5_ENCQmeI_L3G-5B-DZ9A/edit#gid=1058211202)

[2017-03-24 10:33] Edelweiss commented on #244
Yes, of course this is possible. I’m wondering, though, whether we want special treatment for just this particular field in order to enforce valid collection links while leaving all other entry fields as free text and therefore prone to invalid data or whether this might be the right time to remodel the entry mask as a whole and somehow ensure that each field is pre-checked (for instance by compar

[2017-03-24 12:49] paregorios commented on #244
I propose the following:

 [ ] Manually fix this entry (I'll do it momentarily).
 [ ] Hunt down and fix other examples in the data manually (also me).
 [ ] Close this ticket as resolved once the preceding two items are complete.
 [ ] Create a new "enhancement" ticket for pre-save validation in the editor and include the above use case in the description (also me).

Is that OK with you @Edelweiss,

[2017-03-24 12:50] paregorios commented on #148
I am working on checking this, being slow and careful to hunt for unexpected side-effects ...

[2017-03-24 14:13] paregorios commented on #147
@rla2118 @jcowey @HolgerEssler would one of you please have a look at the 3 links provided above by @wsalesky, as well as any other examples you know of and care to check ... are you happy with the results of the transform as far as "text added above the line" is concerned?

[2017-03-24 15:04] Edelweiss commented on #244
Yes, that sounds great. I looked at it this morning, it seems that this is the only case of ref="www…". I think it’s strange that it didn’t cause any validation errors. Does that mean that the EpiDoc scheme is a little lax there? For other definition violations, such as a missing msIdentifier, validation does a good job, though.
Thank you very much, paregorios

[2017-03-24 15:17] wsalesky commented on #247
@paregorios I'm happy to add. What is the link to the editor?

[2017-03-24 15:22] jcowey commented on #247
If you go to
papyri.info/ddbdp/p.aberd;;16
(which is of course papyri.info)
you will see just below the title the following:
![bildschirmfoto 2017-03-24 um 16 20 42](https://cloud.githubusercontent.com/assets/612992/24300794/e4ac25f2-10ad-11e7-8e11-7ed08a06eb50.png)
That is the open in editor button. I think that there are mapping dependencies involved. Pretty sure that at one stage Marcel did hav

[2017-03-24 15:23] wsalesky commented on #247
@jcowey Great, I will take a look. Thanks.

[2017-03-24 15:41] jcowey commented on #247
@wsalesky if you are taking a look at pn-mapping and clojure and all that stuff please let us know. I say this because the whole business of indexing and mapping has been a constant cause of concern for building HTML pages in DCLP. It would be most helpful to have another person to ask for assistance

[2017-03-24 16:01] paregorios commented on #247
jcowey: I think that's a separate concern to this, which is just about enabling link generation on the basis of existing information, but we should address the concern you raise here.

[2017-03-24 16:04] paregorios commented on #247
based on [code analysis here](https://github.com/DCLP/navigator/blame/master/pn-xslt/MakeHTML.xsl#L270), we need to know which```idno[@type]``` should be thrown at ```/editor/publications/create_from_identifier/papyri.info/dclp/``` in order to open the editor properly.

@jcowey @Edelweiss @m-k-r can any of you advise?

[2017-03-24 16:19] jcowey commented on #247
I would have thought:
https://github.com/DCLP/idp.data/blob/master/DCLP/59/58911.xml#L11
rather than
https://github.com/DCLP/idp.data/blob/master/DCLP/59/58911.xml#L14
i.e. ``<idno type="dclp">\d+</idno>
but you had better get confirmation from @Edelweiss and @m-k-r
before ploughing ahead

[2017-03-24 17:35] wsalesky commented on #163
Can I get some other problematic records to test this on?

[2017-03-24 17:38] #244 closed

[2017-03-24 17:45] paregorios opened #249 "pre-save validation in the editor"
There are a number of values that could be checked or validated before committing to XML that would improve data quality. This idea arose during discussion of #244 q.v.

Discussion is needed about whether this approach would be better than, e.g., customizing the EpiDoc schema by adding more schematron rules or whatever. We would also then need to prioritize vis-a-vis other requirements.

Putting o

[2017-03-24 17:46] paregorios commented on #244
I've created a new ticket #249 in which to discuss more generally the idea of "pre-save validation."

[2017-03-24 18:08] paregorios commented on #163
These have ```<hi rend``` immediately following ```<supplied reason="lost">```:

[idp.data/DCLP/371/370041.xml](https://github.com/DCLP/idp.data/blob/master/DCLP/371/370041.xml#L113):
[code]
[idp.data/DCLP/371/370041.xml](https://github.com/DCLP/idp.data/blob/master/DCLP/371/370041.xml#L121):
[code]
[idp.data/DCLP/60/59961.xml](https://github.com/DCLP/idp.data/blob/master/DCLP/60/59961.xml#L281):

[2017-03-24 18:45] paregorios commented on #163
Here's a potentially more comprehensive set of comparanda... the following ```<hi rend>``` elements occur somewhere within ```<supplied reason="lost">```. In the preceding batch, they only immediately followed the supplied tag; here there may be intervening text. Only the first such occurrence in each file is shown:

[idp.data/DCLP/120/119313.xml](https://github.com/DCLP/idp.data/blob/master/DCLP/

[2017-03-24 18:56] paregorios commented on #163
I"m working on a more helpful set of test items.

[2017-03-24 19:55] paregorios commented on #163
I find only two examples in DCLP of this particular behavior involving the acute accent:

1. TM68627 (the one that triggered this ticket)

2. TM62564, where on the back, line 2 we find:

[code]

There are no examples involving grave or circumflex accents (there are a few further such ```<hi rend``` elements inside ```<supplied reason="lost">```, but they have ```<gap>``` inside them
instead of an

[2017-03-24 19:55] paregorios commented on #163
I'm working on revising the preceding comment ...

[2017-03-25 00:22] m-k-r commented on #247
It was already [solved](https://github.com/DCLP/navigator/blob/issue188/pn-xslt/MakeHTML.xsl#L319), but never pushed to master. All our changes should be in navigator/sosol master now.

I am reindexing this weekend and "open in editor" should be back next week.

[2017-03-27 18:30] paregorios commented on #247
Open in editor appears to be back at this time. @rla2118 can you confirm that it is working as you expect?

[2017-03-27 19:08] jcowey commented on #247
I went to
http://litpap.info/dclp_authors.html
Under Achilles Tatius the first number is
http://litpap.info/dclp/58911
It does NOT offer "Open in editor". The button is not there.
If you scroll down to
Acta Alexandrinorum
and choose
http://litpap.info/dclp/78911
(sb;22;15203)
then "open in editor" is available and works.
I am pretty sure that this is connected with a long standing problem. DCLP of

[2017-03-27 19:20] paregorios commented on #247
So that sounds like mapping issues. Perhaps @m-k-r can give as an update on where things stand in that regard ...

[2017-03-28 10:29] HolgerEssler commented on #147
The examles look fine to me. Suggest closing.

[2017-03-28 12:40] paregorios commented on #147
Thanks @HolgerEssler

[2017-03-28 12:40] #147 closed

[2017-03-28 13:29] m-k-r commented on #247
The files hadn't been copied from the development server yet. With the last indexing, "open in editor" is [back](http://dclp-test.zaw.uni-heidelberg.de/dclp/58911) but the problem @jcowey described still [exists](http://dclp-test.zaw.uni-heidelberg.de//dclp/78911).
For comparison I recreated the html files with the branch [issue188](https://github.com/DCLP/navigator/tree/issue188) again where this

[2017-03-28 17:48] wsalesky commented on #147
Thanks @HolgerEssler and @paregorios

[2017-03-28 19:32] m-k-r commented on #247
The problem is [solved](http://dclp-test.zaw.uni-heidelberg.de/dclp/78911).

[2017-03-29 08:00] Edelweiss commented on #197
I don’t assume that there should be any tech problems with solution #1. I will take a look at the implementation for ddb files to find out how best to deal with this issue.

[2017-03-29 15:27] paregorios commented on #52
@wsalesky please let me know if I've misread your question and the following is orthogonal to what you need.

We use ```<milestone>``` for any number of different things in papyrological EpiDoc, so I'm hesitant to say more about how we should treat it without qualifying the remarks to the level of a particular ```type``` or ```rend``` value.

In this particular case, we use ```<milestone rend="par

[2017-03-29 16:48] paregorios opened #250 "litpap.info metadata HTML does not match dclpxsltbox metadata HTML"
As discussed with @jcowey and @m-k-r in tagup today. I have run a new set of transforms (now visible online), and this picked up @m-k-r's latest changes to navigator code; however, we can still see a difference regarding the principal edition bibliography.

Compare [dclpxsltbox for TM62103](http://dclp.github.io/dclpxsltbox/output/dclp/63/62103.html):

![screen shot 2017-03-29 at 11 41 44 am](http

[2017-03-29 16:52] paregorios commented on #250
I have just noticed that there is another divergeance. Litpap is still showing us a "Support/dimensions" rubric, instead of the newer, separate "Support Material" and (when present) "Support Dimensions" rubrics. That means that litpap HTML not only does not reflect fixes to #212 but also #225.

[2017-03-29 16:58] paregorios commented on #250
I cannot myself any longer ssh into litpap to inspect the repository clones and pursue this issue further. The credentials provided me in January by @m-k-r no longer work ("connection refused" on the port previously specified). Therefore assigning this ticket to @m-k-r for followup.

cc @jcowey

[2017-03-29 18:10] wsalesky commented on #52
@paregorios Thanks, I will see what I can do.

[2017-03-29 18:16] paregorios commented on #250
With help from @m-k-r I have now logged in to litpap.info and had a look at some of the relevant repositories. I cannot tell (perhaps @m-k-r can advise) which "navigator" clone is being used for the production instance that we see. I spotted two of them:

 - ```/srv/data/papyri.info/git/navigator```
 - ```/srv/data/papyri.info/git/navigator-new```

If either of these directories is the clone being

[2017-03-29 19:34] paregorios commented on #152
@rla2118 @jcowey what do you want to see when a line is marked as inverse?

[2017-03-29 19:37] paregorios opened #251 "word division hyphen is wrongly placed when <lb> has rend="inverse""
split out from #152 because this is a separate issue:

See ll. 3-4
https://github.com/DCLP/idp.data/blob/master/DCLP/129/128952.xml
https://github.com/DCLP/idp.data/blob/master/DCLP/129/128952.xml

Leiden+

[code]

XML

[code]

Displayed

[code]

Expected:

[code]

[2017-03-29 19:42] m-k-r commented on #250
The problem was that the html files were generated with the branch issue188. The last commit there is from 22.02. I hadn't thought of that earlier. Sorry for that. At our development server the metadata was correct. I copied these files and litpap should show now the [correct metadata](http://litpap.info/dclp/62103).

Litpap is just our public server. Indexing and mapping is done on our dev-server

[2017-03-29 19:46] paregorios commented on #250
Thanks for the clarification. Recommend we close this issue as resolved.

[2017-03-29 19:57] jcowey commented on #250
Just looked at
http://litpap.info/dclp/63294
works very well
Many thanks for the investigation and analysis @paregorios and for the extremely swift action by @m-k-r

Magnificent!

[2017-03-29 20:00] jcowey commented on #250
Hang on.
litpap.info/dclp/142503
only reads P.Bagnall
and not P.Bagnall 1
https://github.com/DCLP/idp.data/blob/master/DCLP/143/142503.xml#L236
seems to have the info.
Not quite sure what is wrong here

[2017-03-29 20:12] paregorios commented on #250
@jcowey yes ... happily (if I can use that word) the presentation on litpap.info is exactly what one sees on dclpxsltbox: http://dclp.github.io/dclpxsltbox/output/dclp/143/142503.html

[2017-03-29 20:14] paregorios commented on #52
@wsalesky I've just noticed that #251 and #151 also address hyphen-placement issues across word breaks, so at least involve the same portion of code ..

[2017-03-29 20:16] jcowey commented on #250
Indeed, should have thought to check that. Further indication that the problem of display of the "Prinicpal Edition" in litpap.info is now solved.
Splendid!

[2017-03-29 22:02] paregorios commented on #250
Closing as resolved, with much joy, but little overt fanfare.

[2017-03-29 22:02] #250 closed

[2017-03-29 22:09] paregorios commented on #63
XML markup:
[code]

@rla2118 @jcowey @HolgerEssler please indicate what you would like to see in the HTML output for this ...

[2017-03-29 22:44] paregorios commented on #67
The LitPapText spreadsheet indicates that encodings like the following "work", producing the corresponding outputs.

[code]

[code]

The spreadsheet seems to imagine that somehow this presentation should be altered. @rla2118 @jcowey @HolgerEssler can you clarify?

[2017-03-29 22:49] paregorios commented on #70
The LitPapText spreadsheet notes that ```<g type="dicolon"/>``` "already works" in XML and that one sees ```((dicolon))``` in corresponding output. But the spreadsheet seems to imagine that some change will be made to XSLT presentation. @rla2118 @jcowey @HolgerEssler can you clarify?

[2017-03-29 22:55] paregorios commented on #74
The LitPapText spreadsheet indicates that ```<milestone rend="diple" unit="undefined"/>``` "works in XML" but makes no statement as to XSLT effectiveness. I can find no examples of ```<milestone rend="diple" unit="undefined"/>``` in DCLP texts at present. @rla2118 @jcowey @HolgerEssler is this still a going concern, or should we close this ticket?

[2017-03-29 22:58] paregorios commented on #78
[The LitPapText spreadsheet](https://docs.google.com/spreadsheets/d/1F6_Du8DIjixRD4mnvfpbkcn3E0H2_SfBIztCO6Vl6gQ/edit#gid=1879498412) says that ```<milestone rend="diple-obelismene" unit="undefined"/>``` "works in XML" and that one gets ```((diple-obelismene))``` in HTML output. @rla2118 @jcowey @HolgerEssler is this acceptable result or should we implement something else?

[2017-03-29 23:59] paregorios commented on #82
[In the LitPapText Spreadsheet](https://docs.google.com/spreadsheets/d/1F6_Du8DIjixRD4mnvfpbkcn3E0H2_SfBIztCO6Vl6gQ/edit#gid=1879498412), ```<milestone rend="coronis" unit="undefined"/>``` is said to "work in XML" and to produce the output ```((coronis))``` in HTML transform. The question for @rla2118 @jcowey @HolgerEssler is: what do you want to see in HTML output?

[2017-03-30 00:02] paregorios commented on #85
[In the LitPapText Spreadsheet](https://docs.google.com/spreadsheets/d/1F6_Du8DIjixRD4mnvfpbkcn3E0H2_SfBIztCO6Vl6gQ/edit#gid=1879498412), ```<g type="diastole"/>``` is said to "work in XML" and to produce the output ```((diastole))``` in HTML transform. The question for @rla2118 @jcowey @HolgerEssler is: what do you want to see in HTML output?

[2017-03-30 00:32] paregorios opened #252 "encoding monograms properly"
In the the LitPapText spreadsheet, a (perceived? anticipated?) problem with XSLT encodings of strings of monograms is discussed. In the examples, monograms are constructed like ```<g type="monogram">σχι</g>```, but I believe this may be tag abuse. Or hypothetical.

[The TEI Guidelines say](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/WD.html#D25-40):

The supposition, clear from context in

[2017-03-30 08:38] rla2118 commented on #104
Yes, that's better

[2017-03-30 08:48] Edelweiss commented on #197
I came up with a solution that seems to be doing the job. The [code](https://github.com/DCLP/sosol/blob/development/data/xslt/metadata/preview.xsl) looks somewhat cluttered and hacked, though. For instance, I’m not sure wether we really need to call the biblio template (see lines 15-16, 20 and 24-35). And what about the path variables in lines 12-14? What are they needed for? Do they need to point

[2017-03-30 10:39] paregorios commented on #104
OK, I'm going to split out the consolidation of "works" under a single "Works" rubric as a separate ticket, leaving this one to address the as-yet-unanswered question about augmentation from LDAB content.

[2017-03-30 10:40] paregorios commented on #104
So this ticket is now solely about XSLT modifications to consolidate multiple "works" found in source XML as an unordered list (vel sim) under a single "Works:" rubric.

[2017-03-30 10:57] rla2118 commented on #241
Yes, that's right.

[2017-03-30 11:00] rla2118 commented on #206
This needs some discussion, since I'm confused by the term "display name," which is a rubric in the editor. Can we look at it next Wednesday? @HolgerEssler @jcowey @paregorios

[2017-03-30 12:23] paregorios commented on #197
XSLT code review needed on a new [Papyrological Editor metadata preview stylesheet](https://github.com/DCLP/sosol/blob/development/data/xslt/metadata/preview.xsl), which leverages our existing XSLT in order to provide on-demand previews of texts being edited in the editor. @Edelweiss indicates her concerns in the preceding comment. Would wone of @wsalesky @leoba @sarcanon be in a position to self-

[2017-03-30 12:24] paregorios commented on #241
Thanks. We'll put this in the queue to address.

[2017-03-30 12:26] paregorios commented on #206
@jcowey could this issue be added please to the wiki agenda for next week's meeting?

[2017-03-30 13:01] jcowey commented on #206
Done.
http://147.142.225.252/paptrac/wiki/dclpRegSkypeMeetings

[2017-03-30 14:01] paregorios commented on #206
Thanks!

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Thu, Mar 30, 2017 at 8:01 AM, James M.S. Cowey <notifications@github.com>
wrote:

[2017-03-30 21:40] rla2118 commented on #166
The papyrus has symbols for the words that Bernini notes.  He's suggesting that we link to these symbols in the appropriate places on the image. So, in line 21, we could link to the symbol for ὀνόματα at
![grafik](https://cloud.githubusercontent.com/assets/6115249/24527344/f5df369a-15a1-11e7-973e-97da54901a8d.png).

[2017-03-30 21:52] rla2118 commented on #152
I'm not sure how to display this.  A marginal note saying that text in the indicated lines is inverted? @HolgerEssler ?

[2017-03-30 21:55] paregorios commented on #166
Do we have any facility yet for such linking? If so, I'm not aware of it.

[2017-03-31 05:40] rla2118 commented on #166
Not that I'm aware of.

2017-03-30 23:55 GMT+02:00 Tom Elliott <notifications@github.com>:

[2017-03-31 06:35] rla2118 commented on #85
@HolgerEssler Do you want to see the symbol, or are we OK with ((diastole)) ?

[2017-03-31 06:38] rla2118 commented on #82
Holger, here too what is your preference?  Are we wanting a visual representation of these symbols, or is it OK to present them in words, in this case as ((coronis))?

[2017-03-31 09:02] rla2118 commented on #74
@paregorios  I've put discussion of the XSLT representation of these "milestone rend" characters on the agenda for the next meeting.  I want to note though that we do not have Leiden+ for many of them. This seems to me more important than the XSLT concerns.

[2017-03-31 10:04] paregorios commented on #166
Ok, how high a priority is this? Adding such facility would, I think, be a rather significant undertaking in both the editor and the navigator.

[2017-03-31 10:06] paregorios commented on #74
@rla2118 yes, there are open tickets that Chirag made from the spreadsheet for the Leiden+ issues. I'm trying to at least get discussion going on resolution for all XSLT tickets this week so I can turn to resuscitating the Leiden+ tickets next week.

[2017-03-31 13:00] rla2118 commented on #166
Not high.  I wonder if Anagnosis might have an interest in this type of work. @HolgerEssler ?

[2017-03-31 13:04] rla2118 commented on #63
g types don't appear in the apparatus, right?  Anyway to make them into high rends and display like other diacriticals in the app.crit.? @jcowey

[2017-03-31 13:08] paregorios commented on #63
@rla2118 I'd be inclined to keep them as ```<g type="apostrophe"/>``` since they are separate characters, rather than additive like accents and breathings. That would save us churning the data and instead just add handling in the XSLT for this particular type of ```<g>```.

[2017-03-31 13:10] rla2118 commented on #63
OK.  As for display, I would opt for the modern apostrophe.

[2017-03-31 13:25] paregorios commented on #63
@rla2118 what do you want the corresponding apparatus entry to look like?

The way that TM64437 is marked up:

[code]

there is whitespace before and after the ```<g type="apostrophe"/>```, but there is also a hard-coded apostrophe unicode character post-fixed to the rho immediately preceding. Is this redundant, or something else?

[2017-03-31 14:28] wsalesky commented on #52
Okay, I think I have this sorted out.

Stylesheets changed:

1. epidoc-xslt/htm-teimilestone.xsl
2. epidoc-xslt/teig.xsl

A few diff examples:

[code]

[code]

[code]

I don't see any obvious side effects. So I am turning it over to @paregorios for review.
(Code Changes: svn.code.sf.net/p/epidoc/code/branches/dclp-issue52/example-p5-xslt)

[2017-03-31 14:42] wsalesky commented on #251
@paregorios in this case, the hyphen is actually in the XML data:
https://github.com/DCLP/idp.data/blob/master/DCLP/129/128952.xml#L167

I can add a hyphen before the line break for this condition, but I think we need some other use cases.

[2017-03-31 15:24] wsalesky commented on #104
Added multiple titles as an unordered list.
Updated xslt:

1. /pn-xslt/metadata-dclp.xsl
2. /pn-xslt/metadata.xsl

A few sample records affected:

[code]

[code]

[code]

[2017-03-31 16:44] wsalesky commented on #151
@paregorios
There is a difference in how the XML is generated for the two examples listed above.

The correctly rendering xml (https://github.com/DCLP/idp.data/blob/master/DCLP/129/128970.xml#l302) has the `<add place="left">` after the `<lb>`.  In the problematic file (https://github.com/DCLP/idp.data/blob/master/DCLP/129/128970.xml#L302) the `<add place="right">` comes before the `<lb>` if you c

[2017-03-31 18:22] HolgerEssler commented on #166
For us it is not a priority. We hope to create these data automatically in the future - and we would always keep this kind of information in a separate file, since it is image-(not object-)specific.

[2017-03-31 18:28] paregorios commented on #166
Thanks all. I am marking this ticket "priority: low (defer)" and leaving it on the backlog.

[2017-04-01 20:14] wsalesky commented on #203
@paregorios  Done and ready for review.

XSLT edited:
pn-xslt/htm-teibibl.xsl

Sample diff:
[code]

[code]

[2017-04-01 21:04] wsalesky commented on #150
@andreabernini is this still an issue? It appears to be displaying as expected here:
http://dclp.github.io/dclpxsltbox/output/dclp/69/68628.html

[2017-04-01 21:27] wsalesky commented on #155
@paregorios I can do this, can you elaborate on what browse criteria you would like to have?

[2017-04-02 14:57] paregorios commented on #150
@rla2118 @jcowey @HolgerEssler could you please see [the request for confirmation from @wsalesky, above](https://github.com/DCLP/dclpxsltbox/issues/150#issuecomment-290947155), and reply accordingly?

[2017-04-02 14:59] paregorios commented on #155
@wsalesky I'll raise the question with the papyrologists. I'm not sure that this is a needed thing anymore, but we'll see.

[2017-04-02 15:53] HolgerEssler commented on #178
XML corrected. Suggest closing.

[2017-04-02 15:54] HolgerEssler commented on #181
XML corrected. Suggest closing.

[2017-04-03 00:44] wsalesky commented on #155
@paregorios okay, thanks.

[2017-04-03 10:05] #178 closed

[2017-04-03 10:05] #181 closed

[2017-04-05 12:47] Edelweiss commented on #226
URL patterns for authors

- tlg (Greek)
  - http://data.perseus.org/catalog/urn:cts:greekLit:tlg2200
- phi (Latin)
  - http://data.perseus.org/catalog/urn:cts:latinLit:phi2200
- stoa (Latin)
  - http://catalog.perseus.org/catalog/urn:cts:latinLit:stoa0040
- cwkb
  - http://cwkb.org/author/id/2402/rdf

URL patterns for works

- tm
  - http://www.trismegistos.org/authorwork/1146
- tlg (Greek)
  - ht

[2017-04-05 13:27] jcowey commented on #252
`<g type="monogram"/>` is used extensively in DDbDP. It is displayed as
_monogr._

[2017-04-05 15:14] rla2118 commented on #85
Desired output ((diastole))

[2017-04-05 15:14] rla2118 commented on #82
Desired output = ((coronis))

[2017-04-05 15:18] rla2118 commented on #74
This needs further discussion because the diple can be used for different purposes, e.g., for quotation marks, line filler, deletion, section breaks, etc.  Do we want to make semantic distinctions?

[2017-04-05 15:21] rla2118 commented on #78
Desired output =   >---

[2017-04-05 15:21] HolgerEssler commented on #78
(analogous to paragraphos)

[2017-04-05 15:25] rla2118 commented on #70
output = ((dicolon))

[2017-04-05 15:34] HolgerEssler commented on #67
The decision is to transfer these to
*low-punctus* for kato-stigme
*middot* for mese-stigme
*high-punctus* for ano-stigme
This will be done by the Würzburg-team.

[2017-04-05 19:44] rla2118 opened #253 "add Book and Line to Editor"
The categories 'Book' and 'Line' should be added to the drop-down menu in the Passage section of the Editor.  These can be displayed as 'Bk. and l.'

[2017-04-06 08:44] Edelweiss commented on #226
[ generate refs for TLG, TM, STOA, PHI and CWKB (Ticket #226, SoSOL Meta Editor: CWKB numbers are not saved)](https://github.com/DCLP/sosol/commit/ea46b26fd4ed50832097d3c04a2af702e14e6d24)

[2017-04-06 08:54] Edelweiss commented on #253
xpath for principal publication biblScope[@unit='lines'], see…

https://github.com/DCLP/idp.data/blob/master/DCLP/110/109262.xml#L89
https://github.com/DCLP/idp.data/blob/master/DCLP/131/130206.xml#L86
https://github.com/DCLP/idp.data/blob/master/DCLP/28/27298.xml#L93
https://github.com/DCLP/idp.data/blob/master/DCLP/60/59818.xml#L96
https://github.com/DCLP/idp.data/blob/master/DCLP/66/65004.xml#L

[2017-04-06 09:00] Edelweiss commented on #253
already there (biblScope[@unit='xyz'] where xyz can be any of the following):

- volume
- vol
- pp
- no
- col
- tome
- fasc
- issue
- plate
- numbers
- pages
- page
- side
- generic
-

new:

- book
- line or lines ?!

[2017-04-06 09:05] Edelweiss commented on #253
all, in alphabetical order

- book
- chapter
- col
- fasc
- fragment
- generic
- issue
- line
- lines
- no
- numbers
- page
- pages
- plate
- poem
- pp
- side
- tome
- vol
- volume

[2017-04-06 11:12] rla2118 commented on #127
I would call it what it is, "tetrapunct". @HolgerEssler @jcowey @paregorios Do others agree?  If so, then I guess we need XSLT to display four stacked dots.

[2017-04-06 14:01] Edelweiss commented on #253
[add Book and Line to Editor, ticket #253](https://github.com/DCLP/sosol/commit/6ed0038ef5f39f2a86ea76de98147b2db21ce647)

[2017-04-06 14:33] Edelweiss commented on #233
Example biblio file

[BKT 2](https://github.com/DCLP/idp.data/blob/master/Biblio/96/95050.xml#L10)

[2017-04-06 14:53] Edelweiss commented on #233
@jcowey & Co., is that what you would expect to see?

[95050](http://papyri.info/biblio/95050). Diels Hermann, BKT 2 (1905)

Underlying html:

[code]

[2017-04-06 16:20] wsalesky commented on #163
Restating the problem

XML Changes:

- epidoc-xslt/tpl-apparatus.xsl
  - in template: recurse_forward
  - added a call to `<xsl:call-template name="trans-string">` to handle all non-specified elements.

NOTE:  We may also need to add it to 'recurse_back' if this code does seem to act as expected.

Some results:
From the triggering record:
https://github.com/DCLP/idp.data/blob/master/DCLP/69/68627.

[2017-04-06 17:56] wsalesky commented on #138
It looks like there is currently only one file marked up with `<supplied reason="undefined" evidence="apograph">`

xml: `/dclp/63/62433.xml`

XSLT:
Added a new template for `t:supplied[@evidence='apograph']` in `epidoc-xslt/teisupplied.xsl`

HTML:
A few examples in the html:
[code]

@paregorios  this one is ready for review.

[2017-04-06 18:41] HolgerEssler commented on #127
I agree to call it "tetrapunct", but would also be fine with
((tetrapunct)) as display.

[2017-04-06 21:14] rla2118 commented on #252
I'm fine with DDbDP practice--<g type="monogram"/>

[2017-04-06 21:16] rla2118 commented on #247
@m-k-r @paregorios Can we close this?

[2017-04-06 22:54] paregorios commented on #247
Fine by me.

[2017-04-06 22:54] #247 closed

[2017-04-06 22:55] paregorios commented on #252
So this is no action. Closing.

[2017-04-06 22:55] #252 closed

[2017-04-06 22:57] paregorios commented on #127
@rla2118 @rogerbagnall what is your preference regarding display of tetrapunct in the navigator.

[code]

or

[code]

(see comments above)

[2017-04-07 04:49] rla2118 commented on #127
I prefer ⁞

[2017-04-07 08:33] Edelweiss commented on #228
Does that solve the problem?

[papyri.info -> litpap.info ](https://github.com/DCLP/sosol/commit/6e40ab19d9d8eee790c6036d8437121ef2730784)

The e-mail button has Hugh Cayless as a receiver, though.

Furthermore I noticed that the footer mentions papyri.info as responsible for the site and Hugh Cayless as contact for feedback:

![bildschirmfoto 2017-04-07 um 10 00 18](https://cloud.githubuserconten

[2017-04-07 08:45] Edelweiss commented on #227
»Edition & Bibliography« and »Ancient Authors and Works« share the same drop menu for passages, which now contains the full spektrum, see ticket #253.

[2017-04-07 08:56] Edelweiss commented on #230
[ok](https://github.com/DCLP/sosol/commit/034d89db614cc062e1b72031fca)

[2017-04-07 10:16] paregorios commented on #127
OK, so we need to do two things:

 1. Re-encode TM65258 with ```<g type="tetrapunct"/>```
 2. Implement XSLT support to emit the Unicode character "⁞" when this encoding is encountered.

To whom should the data update be assigned?

[2017-04-07 10:18] paregorios commented on #163
@wsalesky yeah, well spotted. Something's changing a final sigma (ς) in the XML into a medial sigma (σ) and that's not going to fly with the papyrologists. More soon.

[2017-04-07 10:37] rogerbagnall commented on #127
Now that I've zoomed in so that I can see it, I agree with Rodney's view
on this.

On 4/6/17 6:57 PM, Tom Elliott wrote:

--
Roger S. Bagnall
Leon Levy Director emeritus and Professor of Ancient History
Institute for the Study of the Ancient World
New York University
15 East 84th St.
New York, NY  10028
1-212-992-7833

[2017-04-07 13:02] wsalesky commented on #163
It is here: epidoc-xslt/global-varsandparams.xsl

[code]

Replaced by (using translate()):

[code]

Position 290 in the first string is 'ς' and the corresponding place in the second, replacement string is 'σ' I don't know if changing this here will cause mayhem elsewhere, as this does seem to be a deliberate substitution.

[2017-04-07 13:16] wsalesky commented on #118
The first example in this issue seems to be resolved:
See: http://dclp.github.io/dclpxsltbox/output/dclp/113/112359.html

`^ v.3-4. l. εἱ|στήκει : |[στηκει]ϊ papyrus`

@andreabernini  @paregorios  Can you confirm?

[2017-04-07 15:26] wsalesky commented on #118
@andreabernini @paregorios
Regarding the second example:

This is handled by an entirely different part of the XSLT. As I see it there is a bug in the XSLT that fails to add the contents of the preceding t:lem when it exists.

XML:
`<app type="alternative"><lem>Ἶσι</lem><rdg><hi rend="diaeresis">Ἶ</hi>σι</rdg></app>`

Should output ` Ἶσι or Ἶ(ϊ)σι`, which it does in the title attribute:
`<span ti

[2017-04-07 15:30] wsalesky commented on #139
There are currently no records with this encoding. I'm will hold off on XSLT changes until there are some records to test on.

[2017-04-12 08:03] Edelweiss commented on #160
I have the feeling that all of these tickets are somehow related

- add Book and Line to Editor #253
- SoSOL Meta Editor: Edition & Bibliography: generic passages #227
- Does the editor really allow us to specify which page in an article was the page on which the text was presented? #160

all to do with what values we allow for TEI:biblScope/@unit (in modern bibliography and ancient works)

[2017-04-12 08:57] Edelweiss commented on #217
DCLP elements in TEI:publicationStmt:

- authority
- idno
- availability

HGV elements in TEI:publicationStmt

- authority
- idno

[code]

[2017-04-12 09:55] Edelweiss commented on #217
https://github.com/DCLP/sosol/commit/77926b9cf3f172bb17fb36871c433d4ed32e2e5f

[2017-04-12 10:04] Edelweiss commented on #232
This is how HGV deals with exclusive locations

https://github.com/DCLP/idp.data/blob/master/HGV_meta_EpiDoc/HGV12/11376.xml#L38
[code]

[2017-04-12 10:58] Edelweiss commented on #232
As [TEI:bibl](http://www.tei-c.org/release/doc/tei-p5-doc/de/html/ref-bibl.html) allows @xml:id and @exclude the new encoding for DCLP’s ancient authors and works could look like this:

[code]
@xml:id and @exclude

[code]

[2017-04-14 13:02] rla2118 commented on #155
In general, generating indices is an interesting idea.  Would it allow browsing by, e.g., genre?  Can we discuss possibilities, @paregorios ?

[2017-04-14 13:05] rla2118 commented on #150
Yes, this does seem to be the expected display.  I suggest closing this ticket.

[2017-04-14 13:11] rla2118 commented on #151
Sorry, I don't understand this question. @paregorios, can you clarify?

[2017-04-14 13:21] rla2118 commented on #125
@paregorios The supralinear stroke appears on the papyrus and is combined with a diacritical mark.

[2017-04-14 13:43] rla2118 commented on #127
I updated the file and finalized it via the Editor.

[2017-04-15 08:35] rla2118 commented on #118
The first example (http://dclp.github.io/dclpxsltbox/output/dclp/113/112359.html) still doesn't display properly.  It should look like this:

ϊ|[στηκει] papyrus

With the "ϊ" at the beginning of the word, not at the end.

As for the second example, there appears to be an encoding error. It's unclear what alternative is being proposed.

[2017-04-15 21:04] wsalesky commented on #118
@rla2118, thanks for the clarification. I will revisit the issue in the first example.

As for the second example I do think there may be a bug in the way the the apparatus handles the
`<app type="alternative">` elements, but am not familiar enough with the expected output to say for sure. @paregorios perhaps you could go over this with me at some point to I can get some clarification on the expec

[2017-04-17 12:00] #150 closed

[2017-04-17 13:17] wsalesky commented on #197
@Edelweiss @paregorios
I reviewed the XSLT. As far as I can tell the <xsl:template name="biblio"> is never used. I did a search of the html files in `dclpxsltbox/output` and none of them have a Citation section. I believe this is because the makeHTML is not run with the $biblio parameter set. (@paregorios may know the reason behind this)

At any rate that means you could safely eliminate it from t

[2017-04-19 09:26] Edelweiss commented on #232
https://github.com/DCLP/sosol/commit/952c1c93f8141de1cb85cb4ac120f38e8e6f92fb

[2017-04-19 10:10] Edelweiss commented on #216
The canonical URI is determined by the parameter ‘selfUrl’

parameter definition
https://github.com/DCLP/navigator/blob/development/pn-xslt/MakeHTML.xsl#L82

HTML output for canonical URI
https://github.com/DCLP/navigator/blob/development/pn-xslt/MakeHTML.xsl#L293

[2017-04-19 10:34] Edelweiss commented on #216
https://github.com/DCLP/navigator/commit/8b84f76e10bb9868d7a2159d0617b0908881aa2e

[2017-04-19 10:55] Edelweiss commented on #195
Changed the way dclp identifiers (meta and text) assemble their links

Meta:
[app/models/dclp_meta_identifier.rb](https://github.com/DCLP/sosol/blob/development/app/models/dclp_meta_identifier.rb#L61)

Text:
[app/models/dclp_text_identifier.rb](https://github.com/DCLP/sosol/blob/development/app/models/dclp_text_identifier.rb#L16)

Displayed in file
[app/views/identifiers/_pn_link.haml](https://git

[2017-04-19 10:58] Edelweiss commented on #195
https://github.com/DCLP/sosol/commit/747a7fec0a2c046154951a01084945be7016b678

[2017-04-19 12:23] Edelweiss commented on #26
[Commits](https://sourceforge.net/p/epidoc/code/2573/log/?path=/branches/dclp) in [dclp](https://sourceforge.net/p/epidoc/code/HEAD/tree/branches/dclp/) branch

missing commit r2389 by leoba on 2016-02-28:

[Moved code from metadata.xsl to htm-teidivedition.xsl to display custodial history at top of each column](https://sourceforge.net/p/epidoc/code/2389/)

[2017-04-19 13:55] Edelweiss commented on #26
Is that what’s supposed to be missing?

![bildschirmfoto 2017-04-19 um 15 53 05](https://cloud.githubusercontent.com/assets/612862/25183634/7034b764-2518-11e7-9332-e28739d5fef5.png)

→ [59436](http://litpap.info/dclp/59436)

[2017-04-19 17:42] paregorios commented on #26
That's my impression. @HolgerEssler how does this look to you now?

[2017-04-19 17:46] paregorios commented on #232
So I assume we're going to have to have some XSLT to deal with this, yes? Are there yet any examples in idp.data that have this arrangement?

[2017-04-19 17:50] paregorios commented on #197
@wsalesky that sounds right to me. I think that named "biblio" template is there to handle the bibliography collection (http://papyri.info/bibliosearch).

[2017-04-19 18:05] paregorios commented on #127
Confirm, the data fix made by @rla2118 is now in master DCLP/idp.data. Adjusting labels to put this back in the mix for XSLT work (cc @wsalesky @leoba @sarcanon).

[2017-04-19 18:13] paregorios commented on #125
Thanks @rla2118.

It appears that @andreabernini's problem was that he couldn't enter it in the editor using Leiden+. I've inspected the encoding in the XML and there's no indication of the "supralinear stroke" in the XML at this point. Before we can address the Leiden+ question (and any attendant XSLT issues), we need to decide what encoding is wanted here. The baseline option would be to use the

[2017-04-19 18:23] paregorios commented on #151
@wsalesky thanks ... I'll undertake to look more closely at this one.

[2017-04-19 18:29] paregorios commented on #139
@HolgerEssler @rla2118 @rogerbagnall @jcowey if we want this feature worked on, we're going to need an example text with appropriate encoding added to the master branch on DCLP/idp.data.

[2017-04-19 18:32] paregorios commented on #163
@wsalesky can you conduct a code census to see where else in the XSLT the named "trans-string" template is called? That would give us the visibility necessary to figure out (hopefully) whether this is just a universal bug or if making the change we're contemplating would break something else.

[2017-04-19 19:14] HolgerEssler commented on #26
Excellent. I am closing this issue.

[2017-04-19 19:14] #26 closed

[2017-04-19 19:36] paregorios commented on #67
@HolgerEssler am I to assume that the following XSLT output would be ok?

[code]

or is something different sought?

[2017-04-19 19:39] paregorios commented on #70
thanks @rla2118. No further action needed.

[2017-04-19 19:39] #70 closed

[2017-04-19 19:40] paregorios commented on #78
Right, so we want a right-pointing-pointy bracket, followed by three hyphens. Adjusting assignment and labels to make this one available for implementation (cc @wsalesky @leoba @sarcanon).

[2017-04-19 19:44] paregorios commented on #74
@rla2118 ok I'll put this on the list for discussion at our next ticket review, which is on my calendar for 26 April (since we didn't get to this at the previous one). So, yes, there's the business of indicating the diple qua diple (as a mark or a character), then there's the question of encoding interpretation (an analogous case: line above indicating numerals).

Meantime, if @rogerbagnall @jcowe

[2017-04-19 19:45] paregorios commented on #82
Great! No further action.

[2017-04-19 19:45] #82 closed

[2017-04-19 19:45] paregorios commented on #85
No further action. Thanks.

[2017-04-19 19:45] #85 closed

[2017-04-19 20:41] HolgerEssler commented on #179
XML-Corrected in pull-request #6

[2017-04-19 20:43] HolgerEssler commented on #233
I would expect to see just "BKT 2".

[2017-04-19 20:59] rogerbagnall commented on #233
I know only what I see in the string of comments, but if it's short Checklist then I agree with Holger that BKT 2 would be all you would expect.

[2017-04-19 21:02] rogerbagnall commented on #125
Supralinear strokes are indeed of different types, and if we want to preserve the ability to search in the XML for macrons as opposed to Coptic short vowel supralinear strokes, then we need the ability to say that this is a macron. This isn't in a sense any different from distinguishing an acute accent from a similar-shaped stroke of different meaning.

[2017-04-19 21:05] rogerbagnall commented on #74
As with the macron, I do think we want to code things like this semantically. Isn't that what your presentation at ISAW on Friday would demand--tagging for meaning rather than arbitrary strings?

[2017-04-20 06:10] rla2118 commented on #74
I think so, too.

[2017-04-20 08:13] Edelweiss commented on #232
change caption from »xor« to »alternative work«

[2017-04-20 08:20] Edelweiss commented on #230
@jcowey, @rla2118, @HolgerEssler, please test

[2017-04-20 08:24] Edelweiss commented on #228
Instead of Hugh Cayless use Rodney’s e-mail address

Rodney Ast <ast@uni-heidelberg.de>

[2017-04-20 08:25] Edelweiss commented on #228
Produced by

The Duke Collaboratory for Classics Computing
& the Institute for the Study of the Ancient World
& the Institute of Papyrology Heidelberg

[2017-04-20 08:26] Edelweiss commented on #228
About:
    BP
    Trismegistos
    HGV
    DDbDP
    APIS
    Papyri.info -> Litpap.info

[2017-04-20 08:27] #227 closed

[2017-04-20 08:28] Edelweiss commented on #226
@jcowey, @rla2118, @HolgerEssler, please test

[2017-04-20 08:32] Edelweiss commented on #217
@jcowey, @rla2118, @HolgerEssler, please test

Test scenario: add an MP3 number to an already existing DCLP file. The idno should save alongside the other idnos in the XML.

[2017-04-20 08:43] Edelweiss commented on #216
@jcowey, @rla2118, @HolgerEssler, please review

[2017-04-20 08:47] Edelweiss commented on #197
Doesn’t work on http://litpap.info

[2017-04-20 08:49] Edelweiss commented on #196
@jcowey, @rla2118, @HolgerEssler, please test

[2017-04-20 08:52] rla2118 commented on #217
@Edelweiss This works for me.  I added an MP3 number to http://litpap.info/editor/publications/91/dclp_meta_identifiers/183/editxml and it saved to the XML.

[2017-04-20 08:57] Edelweiss opened #254 "Change explanation for advance create function"
A PN ID example is "papyri.info/ddbdp/bgu;7;1510"

A PN ID example is "papyri.info/ddbdp/bgu;7;1510" or "litpap.info/dclp/58911"

[2017-04-20 08:57] Edelweiss commented on #195
@jcowey, @rla2118, @HolgerEssler, please test

[2017-04-20 09:00] Edelweiss commented on #176
@HolgerEssler, please review that this is correct

[2017-04-20 09:04] Edelweiss commented on #174
Something like zpe;2010;126
126 is the page on which the text is printed/starts (if it extends beyond one page)

Another possibility is zpe;2008;212_1
_1 means the first text of two or more on this page

[2017-04-20 09:28] Edelweiss commented on #174
use dclp biblio reference (<ptr target="http://papyri.info/biblio/75697"/>) to scoop information from biblio

beforehand generate spreadsheet with columns tm no., biblio ref, journal, year, page

**journal**
for publication, like ZPE, and change to lower case
bibl/relatedItem/bibl/title[@level="j"][@type="short-BP"]

**year**
bibl/date

**page**
bibl/biblScope

[2017-04-20 09:29] #160 closed

[2017-04-20 09:31] Edelweiss commented on #113
make new branch in sosols github repo, fix and ask Ryan to merge

[2017-04-20 09:46] Edelweiss commented on #42
@HolgerEssler, please find a solution that works with both dclp and anagnosis.

[2017-04-20 12:54] Edelweiss commented on #113
Fix this in model class for [biblio_identifier](https://github.com/sosol/sosol/blob/master/app/models/biblio_identifier.rb#L556).

[2017-04-20 13:14] Edelweiss commented on #113
Fix in new git branch [biblio_pagination](https://github.com/sosol/sosol/tree/biblio_pagination)

https://github.com/sosol/sosol/commit/dfd0fe8c7309c68fe2a7568165b4aa5e759edbec

[2017-04-20 13:20] Edelweiss commented on #113
also part of DCLP’s version of the SoSOL editor

https://github.com/dclp/sosol/commit/dfd0fe8c7309c68fe2a7568165b4aa5e759edbec

[2017-04-20 13:55] wsalesky commented on #163
@paregorios
Sure. I ran a search across all the stylesheets for the use of the "$all-grc" variable. This variable is used exclusively in the translate() function either via the "trans-string" template or as part of the text processing of other templates. Here is where these variables are used:

XSLT
**epidoc-xsl/tpl-apparatus.xsl**
 Makes heavy use of this via Line 1400:
[code]
 This named templat

[2017-04-20 13:57] Edelweiss commented on #232
@paregorios: Yes, changing the xslt to reflect the underlying changes in the XML makes sense. There are, however, currently no files with this kind of information, so unfortunately there are no test cases against which the new xslt could be tested.

[2017-04-20 14:25] Edelweiss commented on #232
https://github.com/DCLP/sosol/commit/931ca97d8342c11491afbc748af39f839b0a863d

[2017-04-20 14:43] Edelweiss commented on #197
https://github.com/DCLP/sosol/commit/2544763725fdb3ac18614878101b727cff23ddd6

[2017-04-20 14:48] Edelweiss commented on #197
Some include files dont’t exist:
[code]

[2017-04-20 15:14] m-k-r commented on #197
../pn/navigator is a symlink to /srv/data/papyri.info/sosol/shared/externals/data/xslt/pn/navigator/c03dd1a2a21ca2cfe72eb0b2cc4306a02db5b4fa which is specific version of the navigator.

@hcayless
what is the reason for using this version instead of the regular navigator?

[2017-04-20 17:55] paregorios commented on #74
Yes, of course we're tagging semantics. The point is not to conflate two related but distinct editorial decisions: the basic reading of a particular sign (which might be certain or less so) and the interpretation of that sign's function/significance in context (which might be separately contestable). Both are semantic concerns and both are worthy of clear expression in the encoding.

EpiDoc alread

[2017-04-21 13:23] wsalesky commented on #118
This change only effects one xml file.
**New branch:**  `svn.code.sf.net/p/epidoc/code/branches/dclp-issue118/example-p5-xslt`
**Problem:**  t:hi parent elements such as orig, erroneously being passed to recurse_back and recurse_forward templates.

**XSLT Changes:**
Add `<xsl:if test="not(parent::t:orig)">` to text-before and text-after variables.

**Note:** The output is not quite what is request

[2017-04-21 13:28] wsalesky commented on #241
@paregorios I have a fix for this, should I wait for https://github.com/DCLP/dclpxsltbox/issues/126 to be resolved before filing it?

[2017-04-21 14:11] wsalesky commented on #51
@rla2118
Can you clarify the behavior you would like to see?
i.e. would you like to see the first 3 number of fragments with 'Show all' button? Something else?
Thank.

[2017-04-21 14:18] wsalesky commented on #93
@rla2118 @HolgerEssler @jcowey
I can work on this ticket if I can get some feed back on how should ekthesis be represented in HTML output.

[2017-04-21 14:26] jcowey commented on #93
@rla2118 @HolgerEssler please you two make the decision about how you want this to appear. Providing real life examples will be very helpful to test against.

[2017-04-21 14:56] wsalesky commented on #127
@paregorios ready for review.

XSLT Changes: `epidoc-xslt/teig.xsl`
branch `http://svn.code.sf.net/p/epidoc/code/branches/dclp-issue127/example-p5-xslt/`
line: 274
Changed
[code]

to:

[code]

One XML file effected: `https://github.com/DCLP/idp.data/blob/master/DCLP/66/65258.xml`

[2017-04-21 15:11] jcowey commented on #127
This affects
https://github.com/DCLP/idp.data/blob/master/DCLP/66/65258.xml#L159
where we now have encoded:
```<g type="tetrapunct"/>```

So

[code]

must remain

and

[code]

should be added
Then everything should be fine.

[2017-04-21 15:24] wsalesky commented on #127
Fixed.

XSLT Changes: epidoc-xslt/teig.xsl
branch http://svn.code.sf.net/p/epidoc/code/branches/dclp-issue127/example-p5-xslt/
line: 278
Put  this back
[code]

And added:
[code]
One XML file effected: https://github.com/DCLP/idp.data/blob/master/DCLP/66/65258.xml

[2017-04-21 15:34] jcowey commented on #127
Splendid that looks great to go, I reckon.

[2017-04-21 18:49] paregorios commented on #127
I'm presently doing a review run.

[2017-04-21 19:13] paregorios commented on #127
This looks good to me. reassigning to @wsalesky to merge changes back into ^/branches/dclp/example-p5-stylesheets

[2017-04-21 19:14] paregorios commented on #93
cc @rogerbagnall

[2017-04-21 19:15] paregorios commented on #51
cc @rogerbagnall

[2017-04-21 19:17] paregorios commented on #241
@leoba can you please coordinate with @wsalesky about this issue and #126, which is currently assigned to you? I'd like to get these knocked out and if necessary we can hand off #126 to @wsalesky as well. Thanks.

[2017-04-24 13:27] paregorios commented on #243
This can be implemented as described above. @wsalesky

[2017-04-24 13:48] paregorios commented on #165
I chatted with @gabrielbodard about this on IRC and he thinks "longum" and "breve" for the values are fine. We need to check to see if there are any examples actually encoded in the data now for testing before we implement in xslt.

[2017-04-27 16:28] wsalesky commented on #127
Great. This has been merged into ^/branches/dclp/example-p5-stylesheets

@paregorios do I need to do anything else? Update the dclpxsltbox repo?

[2017-04-27 16:28] #127 closed

[2017-04-29 16:28] leoba commented on #126
I'm very sorry this has taken so long; most of that time has been figuring out were exactly I needed to change code. I think I have fixed this. I have made changes to two files in navigator/epidoc-xslt.

1. htm-tpl-apparatus.xsl: Added a bit of code to the xsl:for-each instructing that the stylesheet not take any `hi` that have ancestors that are also `hi`. The immediate effect is that the second

[2017-04-29 16:36] leoba commented on #241
Sorry @wsalesky and @paregorios  I didn't see that I was tagged here. I've just sent changes to epidoc-xslt that handle #126 and I think have the effect of handling #241 as well. Have just added an edit to my note over there.

[2017-04-29 20:28] leoba commented on #55
@HolgerEssler cc: @jcowey @paregorios  I have a potential fix for this but before I upload the code I want to make sure it really does what you want it too - it may be too broad.

Looking at 62419.html, column 15 now displays as:

[ -ca.?- ]πε̣ρ λ[  ̣  ̣  ̣]π[ -ca.?- ]
[ -ca.?- ] [φ]α̣ῦλον [ἦ]θο̣[ς -ca.?- ]
[ -ca.?- ]ο̣[0-1]ρ̣[0-1]η [ἐ]κθ[ -ca.?- ]
[ -ca.?- ]τ̣ε[  ̣  ̣  ̣  ̣]ο̣ς̣[ -ca.?- ]
5[ -ca.

[2017-04-29 21:24] leoba commented on #78
Added a new test `<xsl:when test="@rend = 'diple-obelismene' and @unit='undefined'">` to epidoc-xslt/htm-teimilestone.xsl to give the requested output.

Check 175282.html as the example file.

[2017-05-01 13:15] rla2118 commented on #51
Yes, something like that: the first few fragment numbers and then a "show
all" button, which when clicked would roll out all the other numbers.

2017-04-21 21:15 GMT+02:00 Tom Elliott <notifications@github.com>:

[2017-05-01 13:22] rla2118 commented on #93
For "indent," as in line 2 below, I would just tab in a few characters

Cynthia prima suis miserum me cepit ocellis,
   contactum nullis ante cupidinibus.

For "outdent," as in line 1, the same, but in the other direction.

What do you think, @HolgerEssler ?

[2017-05-01 19:19] rla2118 commented on #93
Seems that the formatting of the Propertius poem was lost above....  Let's discuss on Wednesday.

[2017-05-02 14:44] paregorios commented on #93
@rla2118 if you surround formatted text with paired set of three backticks as I've just done to the Propertius example you supplied above, it will preserve whitespace.

@now the question for @HolgerEssler can be addressed.

[2017-05-02 14:47] paregorios commented on #165
@wsalesky can you trawl through the data and see if the strings "longum" or "breve" occur in any "rend" attributes on ```<hi>``` elements? Thx.

[2017-05-02 14:48] paregorios commented on #55
@jcowey @HolgerEssler @rla2118 @rogerbagnall please review per Dot's comment above. cc. @wsalesky

[2017-05-02 14:55] paregorios commented on #125
Well, then, we're talking about ```<hi rend="longum">```, i.e., issue #165, yes?

[2017-05-02 14:55] paregorios commented on #125
Closing as duplicate for #165.

[2017-05-02 14:55] #125 closed

[2017-05-02 15:11] HolgerEssler commented on #93
I agree with the suggestion by @rla2118.

[2017-05-02 15:34] HolgerEssler opened #255 "PHerc.-nos as short title"
Once #233 is in place we would like to add also the PHerc.nos as short-titles. Strictly speaking they are not "Checklist" short titles, but have the same function of referring to texts. If @paregorios, @Edelweiss, @jcowey and @rla2118 agree, we would add the relevant section to the xml-file.

[2017-05-02 15:56] paregorios commented on #255
So, there's probably knock-on XSLT requirements here, yes?

[2017-05-02 16:00] paregorios commented on #93
@wsalesky can you trawl through idp.data to see if we have any ```<lb rend="ekthesis"``` or ```<lb rend="outdent"``` at present? Thx.

[2017-05-02 16:04] HolgerEssler commented on #255
As far as I can see, for PHerc. no additional XSLT is required. The only
possible problem is the slightly misleading @type="short-Checklist", but
I think it is much easier to keep this than to introduce something else
for PHerc.

[2017-05-02 16:08] paregorios commented on #255
ok thanks

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Tue, May 2, 2017 at 11:05 AM, Holger Essler <notifications@github.com>
wrote:

[2017-05-02 16:09] paregorios commented on #90
consensus via #93 seems to be indent three spaces, but first @wsalesky can you see if we have any texts currently containing ```<lb rend="eisthesis"``` or ```<lb rend="indent"``` in idp.data?

[2017-05-03 09:18] rogerbagnall commented on #55
Holger's desideratum does not seem to correspond to any situation that I have had reason to deal with in a papyrus. If the intention is to say that a lacuna is a minimum of (say) 5 characters long but is in fact greater by some unknown amount, then this looks OK to me. But since it was Holger's query, I don't think I have any independent wisdom on it.

[2017-05-03 09:52] HolgerEssler commented on #55
I am happy with the fix by @leoba and suggest to commit and close the issue.

[2017-05-03 12:58] paregorios commented on #163
I'm taking this to do a code review.

[2017-05-03 13:01] paregorios commented on #118
@wsalesky is this on hold while you investigate apparatus refactoring, or is there something else I should be doing here?

[2017-05-03 13:04] wsalesky commented on #118
@paregorios it is on hold. I want to  review @leoba's recent changes first.

[2017-05-03 13:05] paregorios commented on #149
Per discussion with @HolgerEssler @jcowey and @rla2118 this is just about Leiden+, removing XSLT label.

[2017-05-03 13:10] paregorios commented on #137
per @jcowey @HolgerEssler @rla2118 discussion: What we want to see in this case is an underdot with an overstroke (i.e., macron) on it.

[2017-05-03 13:16] paregorios commented on #74
/me to research whether this is best encoded as milestone or g (note functions indicated by @rla2118 above, which should be expanded to include "uncertain" or "undefiined" or "not known" per @HolgerEssler ).

[2017-05-03 13:26] paregorios commented on #67
per @jcowey @rla2118 middot should be output (as presumably already) as a middle dot, but double-bracketed output for the other two:

[code]

[2017-05-03 13:27] paregorios commented on #67
No XSLT changes are required, but XML encoding needs to be changed for the ```type``` attribute values on ```<g>```.

[2017-05-03 13:29] paregorios commented on #55
@leoba please merge your changes

[2017-05-03 13:43] paregorios commented on #255
Blocked for resolution of #206

[2017-05-03 13:50] leoba commented on #55
@paregorios changes merged. I did leave that bit of code that originally kept the adjacent gaps from displaying, commented out, along with a comment of my own that I removed it for issue 55, in case this causes issues later.

[2017-05-03 13:50] paregorios commented on #251
@wsalesky the XML has been fixed by @jcowey . Please run the transform again and see if we get the  expected output; I think that we will and this will be resolved without XSLT changes.

[2017-05-03 13:56] jcowey commented on #119
Another test case
https://github.com/DCLP/idp.data/blob/master/DCLP/129/128952.xml#L103-L104

[2017-05-03 14:02] paregorios commented on #155
Per discussion with @rla2118: we would like to be able to:

 - browse by genre and keyword
 - narrow/filter search results by genre and/or keyword

[2017-05-03 14:08] paregorios commented on #152
Per discussion with @jcowey and @rla2118, we probably need to address this in context with related indicators, which probably are not comprehensively or consistently addressed at this time in the XSLT. So, the following steps:

 - conduct a census of existing data to determine all values currently in use of the "rend" attribute on ```<lb>```
 - look at how (if at all) those values are addressed by

[2017-05-03 14:15] paregorios commented on #117
per @rla2118 works fine

[2017-05-03 14:15] #117 closed

[2017-05-03 14:17] jcowey commented on #152
Here are the values from papyri.info
rend="perpendicular"
rend="inverse"

same values + break="no"
rend="perpendicular" break="no"
rend="inverse" break="no"

same values + xml:id
rend="perpendicular" xml:id="div1-lb21"
rend="inverse" xml:id="lb14"

and another one
rend="msup"

[2017-05-03 14:18] paregorios commented on #152
per @jcowey "msup" may mean "manuscript superior" but we should ask Sosin. Also need to check full DCLP for these or other values.

[2017-05-04 09:14] Edelweiss commented on #233
ok, can be tested with the next [eXist](https://github.com/Edelweiss/papyXillio/commit/a65a9d525b3391cd1a36d2d53c9cf424e2db093c) server update

[2017-05-04 09:45] Edelweiss commented on #228
can be tested with the next updates of the [navigator](https://github.com/DCLP/navigator/commit/1b30216b1040458aeb46c5112ecb7c7ae93ddbf8) and [sosol](https://github.com/DCLP/sosol/commit/9d89f58286889582eac8fed7f7b313a000170f4f)

[2017-05-04 10:31] jcowey commented on #231
This still seems to be a problem.

[2017-05-04 12:20] rla2118 opened #256 "MP3 idno not displaying in the HTML"
The issue concerns http://litpap.info/dclp/65740. The MP3 idno visible in the XML

< idno type="MP3">2348</idno>

is not appearing in the HTML. For the HTML display I would suggest inserting a field after "Principal Edition" called "Catalog(s)" where the MP3 number would appear. E,g,

Catalog(s)   MP3 2348

@HolgerEssler @jcowey @paregorios, does this seem reasonable?

[2017-05-04 12:26] rla2118 opened #257 "handDesc not appearing in HTML"
The issue concerns  http://litpap.info/dclp/65740

Information provided in the XML under `<handDesc>` is not being displayed in the HTML.

<handDesc>

                     <p>
                        <term>upright square book-hand</term>
                     </p>
</handDesc>

I propose inserting a field in the HTML after "Form and Layout" called "Script Type." In this case it would read

Script Ty

[2017-05-04 12:32] rla2118 opened #258 "General Notes not displaying in HTML"
The issue concerns http://litpap.info/dclp/65740.

Information entered in the General Notes field of the Editor is not appearing in the HTML, although it is present in the XML as
[code]

I propose that it appear after "Religion" in the HTML

**General Notes**     Descriptum; six fragments. Back = document (official letter-book)

@paregorios @HolgerEssler @jcowey, please say whether this seems OK.

[2017-05-04 12:42] jcowey commented on #212
There appears to be a problem that has arisen in the display of
http://litpap.info/dclp/65740.
**Principal Edition** 	P.Hib. 2

P.Hib. 2 appears to come from
https://github.com/papyri/idp.data/blob/master/Biblio/6/5284.xml#L10

That is good and as designed.

However within
https://github.com/DCLP/idp.data/blob/master/DCLP/66/65740.xml#L108-L124

the number of the text in question encoded at
https:

[2017-05-04 12:43] jcowey commented on #212
@paregorios not sure whether it was right to re-open this issue and make a new one

[2017-05-04 12:58] Edelweiss opened #259 "Reuse"
In the **editor**

Checkbox that tells whether the piece of papyri has been reused or not (yes/no)
Free text where the editor can give information about what type of reuse
Free text where the editor can give a reference to an already existing idp.data record (e.g. ddbdp or another DCLP record)

Find appropriate **TEI/EpiDoc** xpaths where to store this information

suggestion for possible xpath fo

[2017-05-04 15:20] wsalesky commented on #251
This appears to be resolved with the new xml, no changes necessary to XSLT:

New HTML output:
[code]
Previous output:
[code]
I will mark this as resolved.

[2017-05-04 15:20] #251 closed

[2017-05-04 15:31] Edelweiss commented on #231
can be tested in the next [version](https://github.com/DCLP/sosol/commit/edfbd75b7be7642ea2b38db0b47fe4436be7667e) of the editor

[2017-05-04 15:47] wsalesky commented on #212
@jcowey The XSLT was not correctly processing child elements following the ignore comment in the XML. i.e:

[code]
Was not processing the biblScope. I have updated the XSLT, this seems to also effect the display of 'Reference Edition' as well:

[code]

Is that expected/desired behavior for Reference Editions?

[2017-05-04 16:19] wsalesky commented on #241
@leoba  this ticket handles a slightly different issue. Your code addresses nested tei:hi elements, this issue is triggered by multiple tei:hi elements within a single apparatus, so they could be siblings or nested in some other way. Current code probably cuts down on dups that are produced by nested tei:hi, but the sample xml above still produces duplicates.

Will integrate my fix with @leoba cod

[2017-05-04 17:22] wsalesky commented on #90
I found 129 occurrences of `<lb rend="eisthesis">` and 0 for `<lb rend="indent">`

[2017-05-04 17:23] wsalesky commented on #93
I found 78 hits for `<lb rend="ekthesis">` and 0 for `<lb rend="outdent">`

[2017-05-04 17:29] wsalesky commented on #165
@paregorios
0 hits for `//tei:hi[@rend='longum']`
0 hits for `//tei:hi[@rend='breve']`

[2017-05-05 14:21] wsalesky commented on #51
@paregorios where do I make changes to javascript or css files?

[2017-05-05 14:28] paregorios commented on #51
@wsalesky I assume that's somewhere in DCLP/navigator repos ... like subdirectories here: https://github.com/DCLP/navigator/tree/master/pn-site

Maybe also @hcayless and/or @ryanfb can provide some guidance ...

[2017-05-05 14:32] wsalesky commented on #51
@paregorios That looks right to me. Thanks.

[2017-05-05 15:12] paregorios commented on #165
@jcowey @rla2118 @HolgerEssler @rogerbagnall reassigning ticket to you all with request that some texts be committed to DCLP/idp.data/DCLP master branch containing markup for longum and breve so that we have data to test against. Please re-assign this ticket to @wsalesky when that data is available.

[2017-05-05 15:14] paregorios commented on #93
@jcowey @rla2118 @HolgerEssler @rogerbagnall do you want us to do the cleanup on idp.data, converting ```<lb rend="ekthesis">``` to ```<lb rend="outdent">```? Or would you prefer to do it yourselves?

[2017-05-05 15:15] paregorios commented on #90
@jcowey @rla2118 @HolgerEssler @rogerbagnall would you like us to make the change from "eisthesis" to "indent" in the idp.data XML, or would you like to do it yourselves?

[2017-05-05 15:22] paregorios commented on #259
@wsalesky @leoba @hcayless have any of you seen in other TEI projects the sort of reuse notes/indicators called out by @Edelweiss above? If so, where/how have they been encoded?

[2017-05-05 15:23] paregorios commented on #258
Makes sense to me. Labeling for XSLT work and adding to the May milestone. Unassigning from everyone to permit @wsalesky @leoba or @sarcanon to pick it up and self-assign as workload permits.

[2017-05-05 15:24] paregorios commented on #257
Works for me. Labeling for XSLT work, adding to May milestone, and unassigning others so that @wsalesky, @leoba, or @sarcanon can pick up the work as able.

[2017-05-05 15:33] paregorios commented on #256
Concur. Adding to may milstone, labeling for XSLT work, and unassigning so that @wsalesky, @leoba, or @sarcanon can pick it up as one has bandwidth.

[2017-05-05 15:35] paregorios commented on #152
@wsalesky can you do a census of all files in idp.data (not just idp.data/DCLP) to see what all values appear in the "rend" attribute on ```<lb```?

[2017-05-05 16:00] wsalesky commented on #152
I ran a distinct values on `//tei:lb/@rend` over all the data in idp.data the results are:

- eisthesis
- ekthesis
- inverse
- minf
- perpendicular
- msup

[2017-05-05 16:09] wsalesky commented on #51
@paregorios @rla2118
Ready for review.

Added a toggle function for records with more then 10 fragments in metadata display.
**XSLT:** pn-xslt/metadata-dclp.xsl

**New branch:** https://github.com/DCLP/navigator/tree/issue51

[2017-05-05 16:16] paregorios commented on #152
@wsalesky thanks, can you give us a link to an example of each? That will allow @jcowey, @rla2118, @HolgerEssler, and @rogerbagnall to see how each is currently handled in HTML output, so that they can decide whether that's ok or whether something else should be done. If you get me the xml file links, I'll add links to the navigator HTML results.

[2017-05-05 16:49] wsalesky commented on #152
Here you go:
eisthesis : https://github.com/DCLP/idp.data/blob/master/DCLP/120/119317.xml#L125
`<lb n="33" rend="eisthesis"/>`

ekthesis : https://github.com/DCLP/idp.data/blob/master/DCLP/120/119322.xml#L93
`<lb  n="3" rend="ekthesis"/>`

inverse : https://github.com/DCLP/idp.data/blob/master/DCLP/129/128952.xml#L164
`<lb n="1" rend="inverse"/>`

minf : https://github.com/DCLP/idp.data/blob/maste

[2017-05-05 16:52] wsalesky commented on #258
@paregorios ready for review.

**XSLT:**  pn-xslt/metadata-dclp.xsl
**Branch:** https://github.com/DCLP/navigator/tree/issue258

**Changed HTML files:**
[code]

Sample git diff:
[code]

[2017-05-05 17:27] wsalesky commented on #256
@paregorios ready for review:

**XSLT:** pn-xslt/metadata-dclp.xsl
**Branch:** https://github.com/DCLP/navigator/tree/issue256

**Changed HTML files:**

[code]
**Sample git diff:**
[code]

[2017-05-05 17:48] wsalesky commented on #257
@paregorios ready for review:

**XSLT:** pn-xslt/metadata-dclp.xsl
**Branch:** https://github.com/DCLP/navigator/tree/issue257

**Sample git diff:**

[code]

[2017-05-08 01:42] leoba commented on #259
I have a bit of experience thinking about palimpsests, but usually that's thinking about how to encode palimpsestic texts and not describing the reuse of the parchment (or papyri) itself. I found this discussion from last year on the TEI listserv, which doesn't have an answer to this query, but shows other people are thinking about it (and realizing the TEI doesn't deal well with reuse): http://te

[2017-05-08 16:57] paregorios commented on #259
Thanks @leoba. I think ```<condition>``` is a good locus for this information. I've searched through the papyrological data, and the only collection in which that element is used is APIS, where it's a catch-all container within ```<supportDesc>```.

I think we probably need something pretty strictly structured for indicating the fact (or not) of re-use. Sometimes we won't know both the before and

[2017-05-08 17:50] ryanfb commented on #159
@paregorios @Edelweiss Papyri's master branch should have everything we know of for supraline. I believe there may still be some outstanding issues we haven't resolved in any branch:

https://github.com/papyri/xsugar/issues/4
https://github.com/papyri/xsugar/issues/5
https://github.com/papyri/xsugar/issues/10

[2017-05-08 20:55] paregorios commented on #159
thanks @ryanfb

@Edelweiss back to you ... perhaps best to ask @jcowey to confirm that the "it's working" notice he provided above holds true on the current deployment of litpap.info?

[2017-05-08 21:35] leoba commented on #259
Yes to both creating categories in the taxonomy section, and to using @corresp instead of <ptr>.

[2017-05-09 14:29] paregorios commented on #259
@ Edelweiss, do items 1 and 2 below seem like a good way to accomplish the agenda you set above?

1. Within ```/TEI/teiHeader/encodingDesc``` and immediately following ```<p>``` therein, add the following static subtree:

[code]

2. When a papyrus is reused, add the following child to ```/TEI/teiHeader/fileDesc/sourceDesc/msDesc/physDesc/objectDesc/supportDesc```:

[code]

I would like (after @leo

[2017-05-09 15:07] paregorios commented on #55
This change has been committed and newly-generated HTML posted at http://dclp.github.io/dclpxsltbox/output/dclp/

[2017-05-09 15:07] #55 closed

[2017-05-09 15:18] #258 closed

[2017-05-09 19:14] rla2118 commented on #51
@paregorios I'm sorry, but I don't understand where I should look if I want to review this.

[2017-05-09 19:28] paregorios commented on #51
@rla2118 I'll alert you when I've posted versions for your review.

[2017-05-09 20:45] #257 closed

[2017-05-09 21:32] #256 closed

[2017-05-09 21:57] #229 closed

[2017-05-10 10:56] paregorios commented on #126
I see these changes were committed to the dclp branch on the epidoc stylesheets subversion repos with [r2588](https://sourceforge.net/p/epidoc/code/2588/) and [r2599](https://sourceforge.net/p/epidoc/code/2589/), so their effects are already reflected in latest demo transforms ... e.g. (for examples listed above):

 - [P.Oxy. 75.5028 (TM 128956)](http://dclp.github.io/dclpxsltbox/output/dclp/129/1

[2017-05-10 10:56] #126 closed

[2017-05-10 11:26] HolgerEssler opened #260 "Display Fragment idnos together with text"
This issue is in some way analogous to #26. There we display together the text fragment and information form custEvent by virtue of the corresp-attribute. To take James' example:
In
https://github.com/DCLP/idp.data/blob/development/DCLP/60/59436.xml
as a working example
https://github.com/DCLP/idp.data/blob/development/DCLP/60/59436.xml#L740
refers to the following
https://github.com/DCLP/idp.data

[2017-05-10 13:03] paregorios opened #261 "XML for TM59946 has malformed MP3 idno"
In [TM 59946](https://github.com/DCLP/idp.data/blob/master/DCLP/60/59946.xml) we find:

[code]

but all other appearances of the MP3 idno look like this:

 - [TM 139884](https://github.com/DCLP/idp.data/blob/master/DCLP/140/139884.xml):  - ```<idno type="MP3">0343.01</idno>```
 - [TM 140284](https://github.com/DCLP/idp.data/blob/master/DCLP/141/140284.xml):  - ```<idno type="MP3">1407.31</idno>```

[2017-05-10 13:03] paregorios commented on #261
Assigning to papyrologists to prioritize and so they can decide who should fix this data entry.

[2017-05-10 15:38] paregorios opened #262 "XML schema problem: @unit is invalid"
In accordance with the TEI Guidelines, we are using ```@unit``` on ```<biblScope>```, but this usage fails validation against the version of the EpiDoc guidelines we have hard-coded into our files: [8.13](http://www.stoa.org/epidoc/schema/8.13/tei-epidoc.rng). This is 10 minor versions down (current is 8.23). Recommend we assess whether we can step up to 8.23.

Assigning myself to run validation t

[2017-05-10 17:19] jcowey commented on #261
[code]
is now

[code]

as we would expect
https://github.com/DCLP/idp.data/blob/master/DCLP/60/59946.xml#L23

So everything should now be fine, @paregorios

[2017-05-10 17:23] paregorios commented on #261
Looks good, thanks! Changes deployed to test HTML.

[2017-05-10 17:23] #261 closed

[2017-05-10 17:42] paregorios commented on #51
@wsalesky this is slick. Is it possible (without too much work) to tweak as follows?

1. Add ellipsis (...) before the ```<span id="fragmentsMetadata">``` when toggle is in the more abbreviated setting (i.e., ```<span id="fragmentsMetadata" style="display: none">```), but don't add it when all fragments are shown.

2. When all fragments are shown, avoid introducing a line break before ```<span id=

[2017-05-10 17:42] paregorios commented on #51
NB: I have rebased the issue51 branch against master, so you'll want to do a pull on it.

[2017-05-10 17:59] paregorios commented on #208
@rla2118 recently opened #257 and I did not catch the fact that it was a duplicate for this ticket until now. Although the specific implementation committed by @wsalesky at @5f67454d149f80152e73acfe81d273873b316048 is different from that introduced here, the functionality appears to be the same. Therefore I'm closing this ticket, with apologies for the duplicated work, without merging the change.

[2017-05-10 17:59] #208 closed

[2017-05-10 18:12] rogerbagnall commented on #259
Yes, both 3 and 4 seem potentially useful to me.

[2017-05-10 18:31] paregorios commented on #52
This is resolved with [r2602 on epidoc-xslt](https://sourceforge.net/p/epidoc/code/2602/).

[2017-05-10 18:31] #52 closed

[2017-05-10 19:00] jcowey commented on #262
@paregorios I would prefer to step up to 8.23. I have this in mind for papyri.info too. Some months back I had Carmen make a commit for the `@unit` change and also one for the `graphic url` old stuff we still have in papyri.info. I simply failed to get everything organised with Ryan and Hugh in order to prepare for testing and then making a release of new code.
We do those things "properly" now in

[2017-05-10 19:03] paregorios commented on #78
This change is already merged to dclp branch on epidoc-xslt and it is working as designed.

[2017-05-10 19:03] #78 closed

[2017-05-10 19:16] #104 closed

[2017-05-10 22:06] paregorios commented on #119
@wsalesky I've had a look at what this change produces and, unless I've done something wrong, I think we've had a miscommunication. Here are a few restated examples showing what we are currently seeing and what we would like to see:

# In the main body of the text:

## [TM 128952, flesh A, lines 1-5](https://github.com/DCLP/idp.data/blob/master/DCLP/129/128952.xml#L101-L105)

### Current transform

[2017-05-11 14:57] wsalesky commented on #51
Okay, I changed the slideToggle() function to a plain toggle(), less fancy but also less buggy. (https://github.com/jquery/jquery/issues/2071) If you want the fancy animation I can add it back in, it will require slightly more involved JavaScript.

Also added an ellipsis '..' that should toggle with the fragments.

[2017-05-11 16:04] wsalesky commented on #243
**XSLT changed:** epidoc-xslt/teiorig.xsl

**Branch:** svn.code.sf.net/p/epidoc/code/branches/dclp-issue243/example-p5-xslt

**HTML change:**
[code]

**Sample diff:**
[code]

**Possible unintended consequences:**
Current XSLT uses uppercase to distinguish `tei:unclear` (see `epidoc-xslt/teiunclear.xsl`) This code causes `tei:unclear`  (when nested within tei:orig) to lose any distinction/differenc

[2017-05-11 17:33] wsalesky commented on #241
**XSLT:**  epidoc-xslt/htm-tpl-apparatus.xsl
Changes: added a xsl:for-each-group to apparatus generation to suppress duplicates.

**Branch:** svn.code.sf.net/p/epidoc/code/branches/dclp-issue241/example-p5-xslt

**HTML pages changed:**

[code]

[2017-05-11 18:19] wsalesky commented on #119
@paregorios Is the logic based on the XML structure or the physical structure? i.e. I see actual line breaks `\n` in the XML file where a `<br/>` is desired in the output. Is the desired output based on this physical structure or is it based on the `tei:lb`.

Put another way: What is the expectation for   `<lb n="4" break="no"/>`  in the text body, should it be producing a `<br/> `?

Current rule

[2017-05-11 18:24] wsalesky commented on #124
I think this may be addressed by:
https://github.com/DCLP/dclpxsltbox/issues/241

[2017-05-12 10:38] paregorios commented on #119
We treat whitespace in the XML in the standard way, i.e., regardless of the specific whitespace character used, it's just whitespace. A newline (```\n```) has no meaning/function different than a simple space, tab, or contiguous sequence of whitespace.

When processing the main text (i.e., NOT the apparatus entries down below) ```<lb``` should always trigger a ```<br```. There should be no vertica

[2017-05-12 10:39] paregorios commented on #119
@wsalesky ^^^

[2017-05-12 16:34] HolgerEssler commented on #67
XML updated and committed as agreed on Apr 5. I am thus closing this issue.

[2017-05-12 16:34] #67 closed

[2017-05-12 16:43] HolgerEssler commented on #189
I had sent the list with the updated links to @paregorios and @Edelweiss on December 31. Perhaps it was lost during the holidays. Should I reemail it?

[2017-05-12 16:45] HolgerEssler commented on #180
I suspect that this has been resolved through recent xml-updates. Could you check @Edelweiss?

[2017-05-12 16:47] HolgerEssler commented on #179
I suggest closing this issue, but perhaps @Edelweiss wants to check validity first.

[2017-05-12 16:50] HolgerEssler commented on #162
Since there is no additional image data available, I suggest closing this issue, but leave the decision to @rla2118.

[2017-05-12 17:00] wsalesky commented on #119
**XSLT:** epidoc-xsl/htm-teilb.xsl
**Branch:**   svn.code.sf.net/p/epidoc/code/branches/dclp-issue119/example-p5-xslt

I commented out this rule:
[code]
Now all `tei:lb` (which are not in the apparatus) should have a `<br/>`.

Unintended consequences, it does not look like all the `tei:lb` called by the apparatus code are passing in the `$location='apparatus'` parameter, which leaves us with some

[2017-05-12 17:47] paregorios commented on #119
Let's keep it on this ticket.

On Fri, May 12, 2017 at 12:00 PM Winona Salesky <notifications@github.com>
wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2017-05-13 01:19] wsalesky commented on #119
Updated to handle `<br>` tags that may appear in the apparatus.
Ready for review.

[2017-05-14 14:05] m-k-r opened #263 "Editorial History is messing up the layout of the html-files"
A few days ago I changed the MakeHTML.xls to get Editorial History for dclp but the output is messed up.

Without Editorial History it looks like this: [http://litpap.info/dclp/59137](http://litpap.info/dclp/59137) (Transcription und Apparatus are new)
With Editorial History it looks like this:
![dclp-59137](https://cloud.githubusercontent.com/assets/24894427/26034488/8ea3d0dc-38bd-11e7-9258-fed0a

[2017-05-16 16:13] paregorios commented on #263
@rla2118 @HolgerEssler @jcowey @rogerbagnall what are you expecting to see for editorial history?

[2017-05-16 16:15] paregorios commented on #162
@rla2118 please indicate whether you concur with, or demur from, @HolgerEssler above. cc @rogerbagnall @jcowey

[2017-05-16 16:23] paregorios commented on #189
Yes, the message had subject line "Links Berlin (issue #189)". I can forward again also if necessary. cc @jcowey

[2017-05-16 16:25] paregorios commented on #259
@Edelweiss can you comment on how difficult it would be to implement support for suggestions 3 and 4, above, in the editor mask? cc @jcowey @rla2118 @HolgerEssler

[2017-05-16 16:27] paregorios commented on #260
This seems sensible and "do-able" to me. What priority shall we assign to this work @rla2118 @HolgerEssler @jcowey @rogerbagnall ?

[2017-05-16 16:53] m-k-r commented on #263
I did a bit further investigation and it seems this error occurs not only with dclp editorial history but with every editorial history when dclp is involved. For example [http://litpap.info/ddbdp/sb;22;15203](http://litpap.info/ddbdp/sb;22;15203). 649 ddbdp-files files contain "Provisional papyri.info output"

The changes responsible for this have to be in the last 2 month.

[2017-05-16 16:59] paregorios commented on #263
Ah, so this is a pre-existing papyri.info feature that is not working right with DCLP content?

[2017-05-16 17:09] m-k-r commented on #263
It seems that way. This commit [https://github.com/DCLP/navigator/commit/bf1c2a81907fb1a2c074c68a2bc3c751871d0510](https://github.com/DCLP/navigator/commit/bf1c2a81907fb1a2c074c68a2bc3c751871d0510) looks like a good starting point. As far as I remember the error wasn't there yet and has to be introduced later.

[2017-05-16 17:10] paregorios commented on #263
thanks @m-k-r I will ask @wsalesky @leoba or @sarcanon to have a look

[2017-05-17 13:43] #51 closed

[2017-05-17 14:05] jcowey commented on #263
Using this as an example:
http://papyri.info/ddbdp/sb;28;17209

This is what we would like to see:
![bildschirmfoto 2017-05-17 um 16 04 02](https://cloud.githubusercontent.com/assets/612992/26157830/7f41272a-3b1a-11e7-8dbd-4d91d58d4682.png)

which is displaying the contents of
https://github.com/papyri/idp.data/blob/master/DDB_EpiDoc_XML/sb/sb.28/sb.28.17209.xml#L32-L37

[2017-05-17 14:07] jcowey commented on #263
For http://litpap.info/dclp/59137

I would hope to see the contents of

https://github.com/DCLP/idp.data/blob/master/DCLP/60/59137.xml#L106-L123

[2017-05-17 14:23] paregorios commented on #212
ping @jcowey regarding question from @wsalesky immediately preceding. cc @rla2118 @HolgerEssler @rogerbagnall

[2017-05-17 14:58] paregorios commented on #116
Problem is word breaking across a div, especially if there's supplement or other tagging.

[2017-05-17 15:06] paregorios commented on #41
Per discussion with @jcowey @rla2118 @HolgerEssler we are deferring implementation of this issue indefinitely.

[2017-05-17 15:08] paregorios commented on #43
No longer blocked by #41 but waiting for #42.

[2017-05-17 15:20] rla2118 opened #264 "Searching Across and Within DCLP - DDbDP Divide"
This ticket is meant to kick-start discussion re: search functionality between DCLP and the Duke Databank. Currently, a text search conducted at litpap.info covers by default all texts in DCLP and the Duke Databank. It is impossible to search only the DCLP or the DDbDP. Corpus-specific searching of this type is a desideratum.

[2017-05-17 15:40] paregorios commented on #243
Resolved with SVN [r2623](https://sourceforge.net/p/epidoc/code/2623/)

[2017-05-17 15:48] paregorios commented on #212
Discussed  today in weekly tagup. @jcowey to address.

[2017-05-17 15:59] paregorios commented on #148
@wsalesky I attempted to rebase this against ```/branches/dclp/example-p5-stylesheets``` and ran into a conflict in ```teigap.xsl``` that would appear to be due to modifications made by @leoba for issue #55. Would you please have a look at what's going on there and attempt to resolve the conflict in a way that doesn't undermine the current behavior for #55?

[2017-05-17 16:44] paregorios commented on #119
@wsalesky thanks, that has addressed the problems with line breaks in the main text. I note a couple of other aspects we should try to address:

## line numbering

1. When the line break includes a line that should be numbered in the main text (i.e., a multiple of 5), the line number gets emitted in the apparatus instead of in the main text (See line 5 in TM 128953):

### main text, lines 1-10 (no

[2017-05-17 20:10] jcowey opened #265 "Header Display"
Separate issue for each section of the vexed question of Header/Title/Work/Content/PrincipalEdition.
This is presented in the Googlespreadsheet:
https://docs.google.com/spreadsheets/d/17CsmPyiV9zL_bn7mqYHop5cutLtreHXVZp8ZuNwRvro/edit#gid=1324973521

By Header we mean the centred statement of Trismegistos and LDAB  numbers e.g.:
**Trismegistos 92863 = LDAB 92863**
http://dclp.github.io/dclpxsltbox/

[2017-05-17 20:20] jcowey opened #266 "Title Display"
Separate issue for each section of the vexed question of Header/Title/Work/Content/PrincipalEdition.
This is presented in the Googlespreadsheet:
https://docs.google.com/spreadsheets/d/17CsmPyiV9zL_bn7mqYHop5cutLtreHXVZp8ZuNwRvro/edit#gid=1324973521

Up until now we have **NOT** displayed Title.
So far we have displayed
Header
Work* (* = when it is available, otherwise not)
Content* (* = when it is

[2017-05-17 20:24] jcowey commented on #266
This attempts to separate out into individual issues some of the stuff that we grappled with in #206.

[2017-05-17 20:24] jcowey commented on #265
This attempts to separate out into individual issues some of the stuff that we grappled with in #206.

[2017-05-17 20:40] jcowey opened #267 "Work Display"
Separate issue for each section of the vexed question of Header/Title/Work/Content/PrincipalEdition.
This is presented in the Googlespreadsheet:
https://docs.google.com/spreadsheets/d/17CsmPyiV9zL_bn7mqYHop5cutLtreHXVZp8ZuNwRvro/edit#gid=1324973521

This seems to be performing perfectly.
http://dclp.github.io/dclpxsltbox/output/dclp/60/59749.html

Taking info from `<div type="bibliography" subtype

[2017-05-17 20:40] jcowey commented on #267
Possibly slightly unnecessary, but I think helpful as a reference.

[2017-05-17 20:51] jcowey opened #268 "Content Display"
Separate issue for each section of the vexed question of Header/Title/Work/Content/PrincipalEdition.
This is presented in the Googlespreadsheet:
https://docs.google.com/spreadsheets/d/17CsmPyiV9zL_bn7mqYHop5cutLtreHXVZp8ZuNwRvro/edit#gid=1324973521

This seems to be performing perfectly.
http://dclp.github.io/dclpxsltbox/output/dclp/59/58911.html

Taking info from `keywords/<term type="overview">`

[2017-05-17 20:52] jcowey commented on #268
Possibly slightly unnecessary, but I think helpful as a reference.

[2017-05-17 21:13] jcowey opened #269 "Principal Edition Display"
Separate issue for each section of the vexed question of Header/Title/Work/Content/PrincipalEdition.
This is presented in the Googlespreadsheet:
https://docs.google.com/spreadsheets/d/17CsmPyiV9zL_bn7mqYHop5cutLtreHXVZp8ZuNwRvro/edit#gid=1324973521

I think there are still some problems here.
Taking info from `<div type="bibliography" subtype="principalEdition">`
It has to take info from the bibli

[2017-05-17 21:13] jcowey commented on #269
This is related to #242 and #212.

[2017-05-18 08:45] jcowey commented on #265
Tweak one!
When the content titleStmt/title **start with** ''P\.\s*Herc\.'' then display the whole content of title in the first position of the Header.

[2017-05-18 10:23] jcowey commented on #220
There seems to be regression on this. When one uses the "x" to delete the field `overview` and then clicks save, the field does not disappear. The same applies when one deletes in the XML.

[2017-05-18 10:24] jcowey commented on #220
Is
DCLP/sosol@dde4dac
included in the XSLT that we are using at present, @m-k-r ?

[2017-05-18 10:47] rla2118 opened #270 "Display of HGV alongside DCLP metadata"
This issue concerns http://litpap.info/dclp/64347

DCLP data is not being shown alongside HGV data. Elsewhere it does (e.g., http://litpap.info/dclp/61247)

[2017-05-18 10:58] rla2118 opened #271 "Biblio id still not saving"
This issue concerns http://litpap.info/editor/publications/534/dclp_meta_identifiers/1092/edit

If one enters the biblio id (95251), the system recognizes the number and it previews the bibl. correctly.  Still, the file will not save. Instead, the system generates this error message:

Error updating file: element "profileDesc" not allowed here; expected the element end-tag. This file was NOT SAVED

[2017-05-18 13:04] wsalesky commented on #119
Okay, I will take a look today.

[2017-05-18 13:08] wsalesky commented on #148
I will take a look today.

[2017-05-18 17:09] wsalesky commented on #119
Okay.
Updates to:
1. htm-teilb.xsl
2. tpl-apparatus.xsl

I added tunnel capabilities to location parameter in `tei:lb` template and to all template calls within the apparatus xslt. This will allow the location parameter to be 'inherited' by recursively called templates.

This seems to have had the added benefit of also resolving this issue:
https://github.com/DCLP/dclpxsltbox/issues/118

[2017-05-18 17:24] wsalesky commented on #148
I think #55 resolves this issue. So we can just delete this branch and close this ticket if you agree.

[2017-05-18 17:33] wsalesky commented on #118
Resolved by #119

[2017-05-18 18:05] wsalesky commented on #265
**Edited:** pn-xslt/MakeHTML.xsl

**XSLT:** added to `xsl:template name="get-references"`
[code]
**Sample diff:**
[code]

[2017-05-18 18:11] jcowey commented on #265
That looks good to me. P.Herc. Stub was indeed meant as a place holder. It looks a bit strange but is I am pretty sure what is wanted. Great. I am taking off the review label

[2017-05-18 18:12] paregorios commented on #265
I'm putting the "review" label back on (no offence intended) and reassigning to myself for merge.

[2017-05-18 18:13] jcowey commented on #265
OK no problem, great and thanks.

[2017-05-18 18:17] wsalesky commented on #266
**XSLT edited:** `pn-xslt/metadata-dclp`
Added new template for title/@mode='metadata'

**Git diff:**
[code]

[2017-05-18 18:18] jcowey commented on #265
Tweak two. And just as well we still have the review label (it is getting late here).
In the case of
litpap.info/dclp/128923
https://github.com/DCLP/idp.data/blob/master/DCLP/13/128923.xml
Where there is a principal edition of the type
P.Oxy. 75 5021
We would like to see  	P.Oxy. 75 5021 = Trismegistos 128923 = LDAB 128923
in the header
The trigger in this case should be:
if you find a dclp-hybrid

[2017-05-18 18:26] wsalesky commented on #269
@jcowey Can you clarify what needs to happen here? An example file with current behavior and expected behavior would be  helpful.

Also, does #212 resolve any of the issues here?

[2017-05-18 18:26] jcowey commented on #266
Also looking good. Many thanks.

[2017-05-18 19:40] jcowey commented on #269
OK
http://litpap.info/dclp/143318
displays
`Principal Edition 	Den syngende korporal. [Le caporal chantant.]`
which it presumably gets from
https://github.com/papyri/idp.data/blob/master/Biblio/81/80609.xml#L2
cf. also for the same behaviour
http://dclp.github.io/dclpxsltbox/output/dclp/144/143318.html

What I would like to see displayed in
`Principal Edition 	Den syngende korporal. [Le caporal ch

[2017-05-22 06:52] Edelweiss commented on #271
TM No. 219238

[2017-05-22 11:19] Edelweiss commented on #271
reason for this malfunction is that profileDesc is appended after revisionDesc

it must come after fileDesc and before revisionDesc

[code]

(profileDesc being part of teiHeaderPart)

[2017-05-22 11:44] Edelweiss commented on #271
children of DCLP’s teiHeader

- fileDesc
- encodingDesc
- profileDesc
- revisionDesc

[2017-05-22 11:54] Edelweiss commented on #271
https://github.com/DCLP/sosol/commit/11456d0723e7849767c8214305a1c9e0c75e43f4

[2017-05-22 16:15] wsalesky commented on #263
**XSLT Changes:**  pn-xslt/MakeHTML.xsl
Add template to include `t:revisionDesc`

**Example diff:**

[code]
**Question**
I used the logic from history display used by the other data repositories, however I'm not sure "All History" behaves as expected, perhaps due to a difference in data encoding?

Current logic:
Editorial History is designated by the a 'T' in the change date: `t:change[contains(@w

[2017-05-22 16:26] wsalesky commented on #269
Yes, that does make sense. This is handled by the changes made in https://github.com/DCLP/dclpxsltbox/issues/212

[2017-05-22 18:21] wsalesky commented on #155
@paregorios

What are the TEI elements I need for genre?
`teiHeader/profileDesc/textClass/keywords/term`

Keyword?

[2017-05-22 18:28] paregorios commented on #155
So, to clarify the ticket in general: this is no longer about our static browse functionality at http://dclp.github.io/dclpxsltbox/output/dclp/. Rather, it's about new functionality for the Papyrological Navigator code running at http://litpap.info.

Genre values are encoded as ```teiHeader/profileDesc/textClass/keywords/term``` with no ```type``` attribute on ```<term>```.

I suspect that similar

[2017-05-22 19:05] paregorios commented on #119
Fixed with [r2631](https://sourceforge.net/p/epidoc/code/2632/).

[2017-05-22 19:12] paregorios commented on #118
Unfortunately, after merging changes for #119 and regenerating, I see this for TM 112359:

![screen shot 2017-05-22 at 2 09 09 pm](https://cloud.githubusercontent.com/assets/263285/26324423/533df194-3ef8-11e7-8894-c74f92197b28.png)

instead of ```v.3-4. l. εἱ|στήκει : ϊ papyrus``` or ```v.3-4. l. εἱ|στήκει : ϊ[στηκει] papyrus``` as discussed above.

I.e., the iota with diaeresis is still (again?

[2017-05-22 19:33] paregorios opened #272 "some orig content getting erroneously capitalized"
Fixes for issue #243 were intended to force capitalizations of all "clear-but-incomprehensible letters"; however, some other cases involving different semantics are getting capitalized as well.

For example, see the second apparatus line in HTML for TM 112359, lines 3-4:
![screen shot 2017-05-22 at 2 09 09 pm](https://cloud.githubusercontent.com/assets/263285/26325147/618d8220-3efb-11e7-95ff-d661f

[2017-05-22 19:34] paregorios commented on #272
The code in question, in teiorig.xsl, includes a test that looks like it should isolate ```<orig>``` not inside choice; however, it is either not working as expected, or is not getting invoked, in apparatus cases such as this example.

[2017-05-22 20:46] wsalesky commented on #272
Should I edit the branch for this issue: https://github.com/DCLP/dclpxsltbox/issues/243

Or should I wait for you to merge it into the trunk?

[2017-05-22 21:03] paregorios commented on #272
The updates are already in the DCLP-production branch (^/branches/dclp/example-p5-stylesheets), unless I'm horribly confused.

[2017-05-22 21:06] wsalesky commented on #272
Hum, must be a problem on my side. I use svn up . to pull in changes, and am at rv: 2633 but do not see the change to teiorig.xsl. Let me try again.

[2017-05-22 21:09] paregorios commented on #272
@wsalesky something is wrong with my rebase-and-merge process in this case

[2017-05-22 21:23] wsalesky commented on #272
**XSLT changed:** epidoc-xslt/teiorig.xsl
Added better testing for` tei:orig `with` tei:choice` parent elements.

**Branch:** svn.code.sf.net/p/epidoc/code/branches/dclp-issue243/example-p5-xslt

[2017-05-23 13:18] wsalesky commented on #118
@paregorios  Could this possibly be a merge issue? When running the xslt from the issue119 branch:

It produces:
<img width="331" alt="screen shot 2017-05-23 at 9 17 11 am" src="https://cloud.githubusercontent.com/assets/1168206/26356009/a5aba638-3f98-11e7-8505-7c4c4bb6d3c4.png">

Which matches expected behavior. The above screen shot looks like a merge of #243, maybe not #119?

[2017-05-23 13:21] wsalesky commented on #260
@HolgerEssler I can take over this ticket, can you give me an example of the desired output, using:
https://github.com/DCLP/idp.data/blob/development/DCLP/60/59436.xml#L740

Thanks.

[2017-05-23 13:59] HolgerEssler commented on #260
@wsalesky great.
current output is:

column 6
Sketched by Giovanni Battista Malesci
Engraved by Vincenzo Orsini

desired output (with addition in bold for ease of reference):

column 6
**P.Herc. 1027 col. 6**
Sketched by Giovanni Battista Malesci
Engraved by Vincenzo Orsini

Does that help?

[2017-05-23 14:01] wsalesky commented on #260
@HolgerEssler thanks that is what I needed!

[2017-05-23 15:57] wsalesky commented on #260
**XSLT Changed:**  `epidoc-xslt/htm-teidivedition.xsl`
**Branch:** ` ../branches/dclp-issue260/example-p5-xslt`
Added corresponding tei:idno:
[code]
Adjusted logic for custEvent to handle multiple values in the corresp attribute.
(Example: https://github.com/DCLP/idp.data/blob/development/DCLP/60/59502.xml#L1126 )

**Sample diff:**
[code]

[2017-05-23 18:41] HolgerEssler commented on #42
Since we do not implement the suggested solution of using ´´´<date>´´´ in ´´´<custEvent>´´´ in #41, I would stick to our current - and legitimate - use of ´´´@cert´´´ with ´´´<custEvent>´´´.

[2017-05-23 20:40] paregorios commented on #118
I'm investigating

[2017-05-23 20:53] paregorios commented on #118
When I switch to the issue119 branch (in svn), I get the result @wsalesky, but when I create a copy of "dclp" branch and merge issue119 into it, I get the screenshot shown above. Currently trying to work out a diff mechanism so I can see what's getting stomped, but [svn is lame](https://stackoverflow.com/questions/3210700/subversion-how-to-difference-between-modified-working-copy-and-alternate-bra

[2017-05-24 13:52] paregorios commented on #118
I am actively working on fixing the mess I made here.

[2017-05-24 13:54] wsalesky commented on #118
Okay, let me know if you want me to do anything.

[2017-05-24 19:48] paregorios commented on #119
Merge errors have led to regression. Reopening for repair.

[2017-05-24 21:42] #119 closed

[2017-05-24 21:46] paregorios commented on #119
this is now truly fixed, code changes originally made by @wsalesky have been properly incorporated into (new) production at https://github.com/DCLP/epidoc-xslt/commit/0cd981b600f9173c9572c3c7f99eb3be5b2595bd

[2017-05-24 22:03] paregorios commented on #243
This functionality seems to have been lost in the great merge failure. I'm reopening the ticket while I try to fix.

[2017-05-24 22:08] wsalesky commented on #243
If you want I can redo it. The change is fairly small

Sent from my iPhone

[2017-05-24 22:22] #243 closed

[2017-05-24 22:25] paregorios commented on #243
@wsalesky thanks but I found the code! It was just the merge to production that had got borked.

[2017-05-24 23:07] paregorios commented on #118
[The new epidoc-xslt git repos](https://github.com/DCLP/epidoc-xslt) is ready to go.

Unfortunately, I have been unable to get the code in https://github.com/DCLP/epidoc-xslt/tree/issue118 to produce the target output expected for this ticket, so I fear I'm going to have to ask you @wsalesky to try to recreate your fixes for this issue.

Specifically, I note the following regressions for apparatus

[2017-05-24 23:13] paregorios commented on #93
per conversation with papyrologists, they would like us to undertake this data modification in idp.data/DCLP

[2017-05-24 23:14] paregorios commented on #90
per conversation with the papyrologists, they would like us to do this data update

[2017-05-24 23:22] paregorios commented on #260
Code is working and has been merged to https://github.com/DCLP/epidoc-xslt master.

[2017-05-24 23:22] #260 closed

[2017-05-24 23:27] #148 closed

[2017-05-24 23:30] paregorios commented on #272
@wsalesky this last change must have got stomped by my failed merge process ... see https://github.com/DCLP/dclpxsltbox/issues/118#issuecomment-303877406

I think you'll have to recreate the fix. Apologies.

[2017-05-24 23:45] #263 closed

[2017-05-24 23:54] paregorios commented on #241
The merge reports above do not seem to have been successful. I'm working on resurrecting these changes.

[2017-05-25 00:27] #241 closed

[2017-05-25 00:39] paregorios commented on #124
Agree that the problems of repetition addressed here have been resolved with fixes for #241. Closing as resolved.

[2017-05-25 00:39] #124 closed

[2017-05-25 00:48] #138 closed

[2017-05-25 01:21] #203 closed

[2017-05-25 16:09] wsalesky commented on #93
Resoves #93 and #90 display issues. Still need to handle data issues.

**XSLT changed:**` epidoc-xslt/example-p5-xslt/htm-teilb.xsl`
Added an empty span with css class for tei:lb with a rend attribute. (A span was necessary because a html br element can not have styles directly attached to it.)

**CSS changed:** `navigator/pn-site/css/master.css`
**CSS changed:** `dclpxsltbox/output/css/master.css

[2017-05-25 17:12] wsalesky commented on #272
**See branch for the fix:** https://github.com/DCLP/epidoc-xslt/tree/issue272

[2017-05-25 17:14] wsalesky commented on #118
See branch for the fix: https://github.com/DCLP/epidoc-xslt/tree/issue272

[2017-05-25 17:16] wsalesky commented on #63
@paregorios @rla2118
I can update the XSLT, can you clarify what the HTML output should be?
Thanks.

[2017-05-25 17:22] wsalesky commented on #152
I can move forward with XSLT changes if I can get some examples of desired HML displays. Note: for a previous issue (#93 and #90) I added a class attribute to all `tei:lb` elements with a rend attribute, so all we need to do is add the appropriate CSS styles for each of the rend types listed above.

Thanks.

[2017-05-25 20:02] paregorios commented on #165
ping @jcowey @rla2118 @HolgerEssler @rogerbagnall we will need this data soon if we are to address this particular issue while funding remains.

[2017-05-25 20:13] paregorios commented on #159
ping @jcowey @Edelweiss

[2017-05-25 21:29] wsalesky commented on #93
**Changes to data:** converted `<lb rend="ekthesis">` to `<lb rend="outdent">`
**Branch:**  https://github.com/DCLP/idp.data/tree/issue93
**Data files updated:**
[code]

[2017-05-25 21:32] wsalesky commented on #90
**Changes to data:** converted <lb rend="eisthesis"> to <lb rend="indent">
**Branch:** https://github.com/DCLP/idp.data/tree/issue90

**XML files changed**
[code]

[2017-05-25 21:48] paregorios commented on #149
The example provided above by @HolgerEssler is about TM 62500.

The XML in the repository does not have extra spaces within the problematic word ἰατρικῆς:

[code]

The HTML output from current transforms faithfully produces Leiden-style output that faithfully renders this markup:

[code]

XSugar coverage testing on this segment of code runs clean on a round-trip from XML to Leiden+ back to XML, re

[2017-05-25 21:52] paregorios commented on #177
Bumping this to high priority, because it is a blocker for testing any and all Leiden+ issues in the editor for files that have corresps.

[2017-05-25 21:54] paregorios commented on #177
blocker for #149

[2017-05-25 21:54] paregorios commented on #149
Blocked by #177

[2017-05-31 15:06] rla2118 opened #273 "CWKB numbers not being deleted"
Residual CWKB numbers are not being deleted from the XML whenever an attempt is made to save a new number.

[2017-05-31 23:19] paregorios commented on #177
[This](https://github.com/DCLP/xsugar/compare/master...DCLP:issue177) is ready for review in an editor instance.

@Edelweiss what do you think is the best way to let @HolgerEssler test this functionality in the editor? Is there a development version of the editor for which the xsugar branch could be switched from "master" to "issue177"?

What I've done:

 - Modified the grammar to support this opt

[2017-06-01 06:58] HolgerEssler commented on #177
@paregorios The problems you are pointing to at the end of your last comment seem to originate from bad encoding. I have undertaken to have it corrected and will let you know, once it is uploaded. This is not to prevent @Edelweiss from pointing me to a development version, but correcting the xml might be the quicker way - and it needs to be done in any case.

[2017-06-01 12:42] rla2118 opened #274 "Problem with saving comments"
On voting, submitting and finalization, contents of comment text are saved multiple times.

For an example, see
http://litpap.info/editor/publications/563
[code]

We need this comment only once.

[2017-06-01 18:00] paregorios commented on #149
Additional tests are running without error:

 - https://github.com/DCLP/dclpxsltbox/blob/master/tests/xsugar-issues/149.xml
 - https://github.com/DCLP/xsugar/blob/issue149/test/test_grammar.rb#L1376

[2017-06-01 18:05] paregorios commented on #149
This cannot be tested further in the editor until @Edelweiss and I figure out how to let @HolgerEssler test the solution for #177 in the editor and then accept those changes and roll them out in the editor. Re-marking this issue as blocked until then. cc @jcowey @rla2118

[2017-06-01 19:57] paregorios commented on #265
@jcowey I need some clarification with regard to [your second tweak](https://github.com/DCLP/dclpxsltbox/issues/265#issuecomment-302498411), above. There are XML files in which one finds ```<idno type="dclp-hybrid">``` for which the principal edition is not of the form ```P.Blah 1 2```. For example, TM 61352 has ```<idno type="dclp-hybrid">na;;61352</idno>``` and a ZPE principal edition.

Which of

[2017-06-01 20:42] #266 closed

[2017-06-01 21:02] paregorios commented on #118
@wsalesky I have inspected the changes in epidoc-xslt branch issue272 and, after verifying that I have them locally, have run transforms with them. They make no changes to the HTML output. I am still seeing [the incorrect output I noticed previously](https://github.com/DCLP/dclpxsltbox/issues/118#issuecomment-303877406).

Can you please check to see whether you have local changes that have not bee

[2017-06-01 21:19] jcowey commented on #265
Just collecting some examples here, before commenting and trying to sort out.
http://dclp.github.io/dclpxsltbox/output/dclp/64/63868.html

[2017-06-01 21:33] paregorios commented on #93
This issue is resolved. You may need to clear cache and reload to see changes (force CSS loading).

[2017-06-01 21:33] #93 closed

[2017-06-01 21:33] paregorios commented on #90
This issue is resolved. You may need to clear cache and reload to see changes (force CSS loading).

[2017-06-01 21:33] #90 closed

[2017-06-01 21:39] paregorios commented on #269
It looks to me as if #212 in its current state addresses all of this, but I will try to make sure during review.

[2017-06-01 21:40] paregorios commented on #212
Discussion in #269 confirms that @jcowey's answer to @wsalesky's question above is "yes."

[2017-06-01 22:00] #212 closed

[2017-06-01 22:00] #269 closed

[2017-06-02 10:27] HolgerEssler commented on #177
@paregorios updated XML under https://github.com/DCLP/idp.data/blob/dclp/DCLP/60/59436.xml
Does this allow us to move on?

[2017-06-02 12:22] jlougovaya opened #276 "error message 'operation not permitted'"
[operation_not_permitted_message.docx](https://github.com/DCLP/dclpxsltbox/files/1047630/operation_not_permitted_message.docx)
I got the error message 'operation not permitted' when accessing and trying to save in the following file
http://litpap.info/editor/publications/585/dclp_meta_identifiers/1203/edit

[2017-06-02 13:03] paregorios commented on #177
@HolgerEssler I will run a coverage test using XSugar Standalone today on the updated file, which should give us more confidence in the result (or point to additional work).

Meantime, I am still waiting to hear from @Edelweiss as to how we can get you a way to test this fix in an instance of the editor.

cc @jcowey @rla2118

[2017-06-02 16:05] paregorios commented on #265
Per convo with @jcowey:

output principal edition info at beginning of heading line if ```<idno type="dclp-hybrid"``` exists and its content does not begin with ```"na;"```.

[2017-06-02 17:01] paregorios commented on #163
I talked to @hcayless about this and he thinks that the sigma substitution may reflect intentional practice. He suggests we consult papyrologists, which I will do via email.

[2017-06-02 17:17] paregorios commented on #163
I've written to @rla2118 @rogerbagnall @jcowey and @jds15 as follows:

[2017-06-02 18:19] rogerbagnall commented on #163
I agree with Josh; but it is a good argument for lunate sigma in apparatus.

Sent from my iPhone

On Jun 2, 2017, at 1:17 PM, Tom Elliott <notifications@github.com> wrote:

I've written to @rla2118 <https://github.com/rla2118> @rogerbagnall
<https://github.com/rogerbagnall> @jcowey <https://github.com/jcowey> and
@jds15 <https://github.com/jds15> as follows:

Is there any sort of established pract

[2017-06-02 18:42] #265 closed

[2017-06-02 19:08] paregorios commented on #177
@HolgerEssler 59436 was committed to the deprecated "dclp" branch of idp.data. I have "cherry-picked" that commit (which also included a new file "DCLP/63/Untitled1.xml") into the "master" branch. This allowed me to run the test. The old fragment parse errors are indeed gone, so I think this issue is resolved. In the absence of any response to my queries about a mechanism for a way to let you test

[2017-06-02 19:13] #177 closed

[2017-06-02 19:25] paregorios opened #277 "unmerged commits on deprecated "dclp" branch of DCLP/idp.data repository"
While working on #177, I discovered that @kirchnerf and @anagnosis have made 5 commits to [the "dclp" branch of DCLP/idp.data](https://github.com/DCLP/idp.data/tree/dclp) since 31 March that have not been merged to [the "master" branch](https://github.com/DCLP/idp.data/tree/master). The "dclp" branch was deprecated in February. This change was coordinated with Heidelberg, but we failed to inform W

[2017-06-02 19:39] paregorios commented on #163
@jds15 responded via email as follows (to which @rogerbagnall refers above):

[2017-06-02 19:40] paregorios commented on #163
To which I replied:

[2017-06-02 19:43] paregorios commented on #177
Note that this capability will not be available in the editor at litpap.info until @Edelweiss or @m-k-r pulls the latest changes from DCLP/xsugar "master" branch.

[2017-06-02 19:46] paregorios commented on #242
XSLT modifications to display all this were implemented with issue #269.

[2017-06-02 19:48] paregorios commented on #206
A different solution, pulling in the principal edition, P.Herc reference, etc. was proposed by @jcowey and has been implemented with #269 and #212. Closing as superseded by those tickets.

[2017-06-02 19:48] #206 closed

[2017-06-02 19:51] paregorios commented on #255
#206 has been superseded by #212 and #269, which have added P.Herc info (when it occurs) to the heading line at the top of the page.

@HolgerEssler @jcowey @rla2118 is this now no longer necessary?

[2017-06-02 19:55] paregorios commented on #239
Closing this ticket as "superseded." We moved DCLP EpiDoc XSLT development to github: https://github.com/DCLP/epidoc-xslt

[2017-06-02 19:55] #239 closed

[2017-06-02 20:00] paregorios opened #278 "Leiden+ support for verse"
This request surfaced during the discussion of #112. The assertion is that there is currently no Leiden+ support for xml tags like ```<lg>``` and ```<l>```, which are used for verse line groups and lines in TEI/EpiDoc.

[2017-06-02 20:01] paregorios commented on #112
See now #278 for the Leiden+ aspect.

[2017-06-02 20:04] paregorios commented on #112
The EpiDoc stylesheets currently do include support for handling verse-related elements like ```<lg>``` and ```<l>``` (see [htm-teilgandl.xsl](https://github.com/DCLP/epidoc-xslt/blob/master/example-p5-xslt/htm-teilgandl.xsl) and [txt-teilgandl.xsl](https://github.com/DCLP/epidoc-xslt/blob/master/example-p5-xslt/txt-teilgandl.xsl), with other tests checking for their presence passim).  Closing thi

[2017-06-02 20:04] #112 closed

[2017-06-02 20:07] paregorios commented on #197
@hcayless could you please respond to @m-k-r's question, immediately preceding? Thx.

[2017-06-02 20:07] jds15 commented on #163
no.

--
Associate Professor in Class
ical Studies & History, Duke
University | Duke Collaborat
ory for Classics Computing |
Greek, Roman and Byzantine S
tudies | Duke Data Bank of D
ocumentary Papyri | papyri.i
nfo | people.duke.edu/~jds15<http://people.duke.edu/~jds15>

On Jun 2, 2017, at 3:40 PM, Tom Elliott <notifications@github.com<mailto:notifications@github.com>> wrote:

To which I replied:

[2017-06-02 20:08] paregorios commented on #199
This is resolved, yes? @jcowey @Edelweiss

[2017-06-02 20:10] paregorios commented on #268
Right. This ticket is for reference, and production code is working as designed. Closing.

[2017-06-02 20:10] #268 closed

[2017-06-02 20:11] paregorios commented on #267
Another ticket-for-reference. Production code is working correctly. Closing.

[2017-06-02 20:11] #267 closed

[2017-06-02 20:17] paregorios commented on #135
The working branch for this issue was merged into the branch for #156 with commit https://github.com/DCLP/navigator/commit/095cbfbe6a0993dff3a83bc8185a40afa2401018, which was subsequently merged into other branches (including those for #106 and #185) and ultimately incorporated into master with commit https://github.com/DCLP/navigator/commit/7ff95f39c422c952852ed06e4039e9e6baa4c389.

Now the quest

[2017-06-02 20:27] paregorios commented on #135
Inspection of HTML output demonstrates that references of like type are grouped together, but these groups are not presented in the order specified above. Moreover, I think it would be good to display references of a given type in an unordered list under a single edition-type rubric.

So, two tasks remain:

- [ ] Emit each edition-type group in the order [specified above](https://github.com/DCLP/d

[2017-06-02 20:42] paregorios commented on #135
I have deleted the old, previously merged branch for this ticket and I have created and pushed [a new branch (issue135-bis)](https://github.com/DCLP/navigator/tree/issue135-bis) for the additional work outlined above.

[2017-06-02 20:44] paregorios commented on #236
This turned out to be hard, and we have plenty of other fish to fry. Deferring.

[2017-06-02 21:23] paregorios commented on #151
So, there's a text encoding issue here. And I'd like opinion from @jcowey, @gabrielbodard, and @hcayless if possible.

**Where in a physical line should the markup come for text added at left or right when a word is broken across two lines in the same place, but the addition is marginal and should not be read as part of the main text flow?**

## text added at right next to a wrapped word
**[P.Oxy.

[2017-06-02 21:25] paregorios commented on #151
I note that the EpiDoc Guidelines don't consider this sort of edge case: http://www.stoa.org/epidoc/gl/latest/trans-addition.html

[2017-06-02 21:56] paregorios commented on #164
The [proper XML encoding](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-orgName.html) for this would be:

[code]

rather than using ```<surname>```.

Once we have some files with such markup in them, we'll need to test XSLT behavior.

@HolgerEssler is the scripted change to the XML files something your team can take on, or should it be a Heidelberg responsibility?

[2017-06-02 21:58] paregorios commented on #142
@jcowey @gabrielbodard @hcayless do you know of any examples of this sort of hybrid edition in the wild? Surely some exist in papyri.info!

[2017-06-02 21:59] paregorios commented on #136
@leoba @hcayless @gabrielbodard @wsalesky have any of you seen appropriate markup for this sort of thing in digitzed manuscripts?

[2017-06-02 22:02] paregorios commented on #151
So, I think this might be an edge case of a larger issue about marginalia: #121

[2017-06-02 22:02] paregorios commented on #121
This seems related to #151, and is perhaps the general case.

[2017-06-02 22:03] paregorios commented on #121
Hi @leoba @wsalesky @hcayless @gabrielbodard @jcowey here's another encoding question for you: how and where to markup structured marginalia? Know of any real-world examples in TEI?

[2017-06-02 22:10] paregorios commented on #116
So, I think we need to pursue resolving this one in the following order:

- [ ] Identify cases where word breaks across textpart ```<div``s occur (both with and without additional supplement, if possible)
- [ ] Determine what the XML encoding for each example should be
- [ ] Get some actual data files worked up that use that encoding
- [ ] Evaluate associated HTML output and revise XSLT as necessa

[2017-06-02 22:50] paregorios commented on #116
I've identified 21 DDB files in which there is a word spanning two ```<div type="textpart">``` elements:

 - chr.mitt.88.xml
 - cpr.20.33.xml
 - o.did.312.xml
 - o.did.393.xml
 - o.frange.113.xml
 - o.frange.133.xml
 - o.frange.186.xml
 - o.frange.191.xml
 - o.frange.201.xml
 - o.frange.69.xml
 - o.frange.74.xml
 - o.frange.773.xml
 - o.frange.84.xml
 - o.frange.97.xml
 - o.krok.1.5.xml
 - p.gen.4

[2017-06-02 22:53] hcayless commented on #121
note with @place is the usual method.

Sent from my phone.

[2017-06-04 20:06] leoba commented on #136
Noting that @HolgerEssler's suggestion is:

`<app><orig cert="corruption">ττριννοις</orig></app>`

To display as:

†ττριννοις† ἄνθεσιν Sappho, fr. 2 (with om.)

I don't think `@cert` is right here - it's supposed to describe a degree of certainty the transcriber has in their transcription (usually high, medium, or low). Here, I think, we want to say something about the reading itself - the reading

[2017-06-04 20:10] leoba commented on #121
What @hcayless said. `note` lacks the semantic baggage of `add` (just saying that there's a note here on the page, not saying what it's doing there). `note` may contain `add`, and many other elements, including `lb`, which could allow for structure in presentation.

[2017-06-05 01:57] wsalesky commented on #272
**XSLT:** ` epidoc-xslt/example-p5-xslt/tpl-apparatus.xsl`
Added special for `t:orig[parent::t:choice]` handling to named template `"recurse_down_back"`

**HTML changed:**
`output/dclp/113/112359.html`

**HTML diff:**
[code]

While this works, I feel this is a patch that may unnecessarily complicates the code. Refactoring the tpl-apparatus is a non trivial undertaking.

[2017-06-05 09:08] HolgerEssler commented on #136
I agree with @leoba that `@cert` would be wrong and that `<sic>` is preferable. Since we are currently using `<sic>` only inside `<choice>` (and paired with `<corr>`) to mark mistakes that have been corrected, I am wondering whether we could simply use it on its own without any attribute (thus avoiding custumizing TEI). The logic for XSLT would be:
a) `<sic>` as child of `<choice>` is rendered as

[2017-06-05 14:40] leoba commented on #136
This makes sense to me.

[2017-06-05 18:57] #272 closed

[2017-06-05 19:56] paregorios commented on #141
What about ```!abc!```?

[2017-06-06 04:46] rla2118 opened #279 "Not all Principal Editions displaying"
This issue concerns

http://litpap.info/dclp/61352

The following principalEdition entry is not appearing in the HTML.  The other bibl's with this subtype are, however.

[code]

[2017-06-06 09:00] jcowey commented on #279
This is category of bibliography for which, I think, we do not have the relevant XSLT.

[2017-06-06 13:28] wsalesky commented on #279
@rla2118 @jcowey @paregorios
I wonder if the online version is lagging behind the codebase? When I run the XSLT locally on the master branch of the data I get the following output for Principal Editions:

**Principal Edition**	P. Berol. 10747 Ostrakon = Isokrates, An Demonikos pt. 28.
**Principal Edition**	Corpus dei Papiri filosofici greci e latini (CPF). Testi e lessico nei papiri di cultura gre

[2017-06-06 14:38] wsalesky commented on #279
@rla2118 @jcowey
Okay, back and caffeinated.

The current rule for principalEdition in https://github.com/papyri/navigator/blob/master/pn-xslt/htm-teibibl.xsl first selects `t:title[@type='short-Checklist']` and defaults to` t:title` if `@type='short-Checklist'` is not available. For all other bibl types, there is a more convoluted rule, that also pulls in `t:relatedItem[@type='appearsIn']/t:title

[2017-06-07 16:26] paregorios commented on #279
@rla2118 and @jcowey please provide answers to @wsalesky's questions on this issue. We are blocked on completion until they are addressed. Thanks.

[2017-06-07 16:28] paregorios commented on #96
Closing as duplicate for #136

[2017-06-07 16:28] #96 closed

[2017-06-07 16:30] paregorios commented on #136
Thanks all. I'll undertake to check on that encoding and whether it's spoken for for any other purpose elsewhere in EpiDoc and then we can move forward.

[2017-06-07 17:03] paregorios commented on #121
Thanks all. I'll work up some examples for discussion. This will probably also drive updates to the EpiDoc Guidelines.

[2017-06-07 17:09] paregorios commented on #163
@wsalesky so the upshot is that this sigma substitution is by design and therefore we should not alter the content of the variable ```grc-lower-strip```. Given that's the case, is the relevant issue branch ready for review?

Separately, I'll undertake to keep the discussion moving (under a separate ticket) about whether we should be switching to lunate sigma etc. as suggested by @rogerbagnall abov

[2017-06-07 17:14] paregorios opened #280 "use lunate sigma in apparatus"
In discussing another issue (#163), [@rogerbagnall suggested](https://github.com/DCLP/dclpxsltbox/issues/163#issuecomment-305871829) that we switch from using medial sigma in apparatus (even when we print final sigma in text) to using lunate sigma.

I've created this new issue so we can discuss that suggestion and arrive at a decision about whether to implement and with what urgency.

I've assigne

[2017-06-07 17:14] paregorios commented on #163
For continuation of the lunate sigma discussion, see now #280.

[2017-06-07 17:18] paregorios commented on #152
@jcowey @HolgerEssler @rla2118 @rogerbagnall we need a decision on what you want to see in the HTML when a line is marked as "inverse" in XML (see @wsalesky's request for same, above). Until we get that answer, we cannot resolve this ticket. Thanks.

[2017-06-07 17:21] paregorios commented on #63
@rla2118 @HolgerEssler @jcowey @rogerbagnall please respond to questions above about what you want to see in the HTML for this. Thanks.

[2017-06-07 17:26] rla2118 commented on #152
I'm not sure what to do.  I suggest above that we add a marginal note saying that text in the indicated lines is inverted. Other suggestions welcome!

[2017-06-07 17:28] wsalesky commented on #163
Yes, the branch is ready for review.

[2017-06-07 17:29] paregorios commented on #42
Concur. I'm going to mimic the state of #41 with this ticket, adjusting to "priority low (defer)" and removing from the milestone.

[2017-06-07 17:29] paregorios commented on #163
@wsalesky thanks

[2017-06-07 17:31] paregorios commented on #152
OK, I propose that we leave this ticket open for a day or two to see if there are any other suggestions, then we'll go ahead with what @rla2118 suggests. Meantime, adding an emoji "thumbs up" reaction to @rla2118's suggestion constitutes a "vote for" it (there's also a "thumbs down" option). Some indication by the other papyrologists that you concur, don't care, or demur (with alternate suggestion

[2017-06-07 17:32] rla2118 commented on #63
If we don't want to make this a hi-rend, then I suggest displaying the g-type as an apostrophe and suppressing or removing the typed apostrophe so that we don't get the redundant display.  IOW, it should display as π]αρ’ instead of  π]αρ’ ’ and the g-type should be recorded in the XML. Is that OK?

[2017-06-07 17:44] rla2118 commented on #279
I'm ill versed in the jargon here.  I defer to James.

[2017-06-07 17:56] rogerbagnall commented on #63
To the limits of my understanding of the question, I think Rodney's proposal is fine.

[2017-06-07 17:59] rogerbagnall commented on #152
I would agree that noting the position of the text in question is adequate. It's hard to think of any better way of handling it.

[2017-06-07 18:02] rogerbagnall commented on #280
Just to add a bit of flesh to my suggestion: The great advantage (perhaps the only advantage) of the lunate sigma is to represent text in a way that does not foreclose alternative understandings of word divisions. The terminal and medial sigma both express particular views of what the word is and what the role of sigma is in the word. Lunate sigma is agnostic, and this seems to me useful in the ap

[2017-06-07 18:04] HolgerEssler commented on #152
I agree with @rla2118  and @rogerbagnall on the note. Since the whole text fragment is upside down (cf. http://163.1.169.40/gsdl/collect/POxy/index/assoc/HASH0161/19c34a69.dir/POxy.v0075.n5023.b.01.hires.jpg), we should perhaps have a single note (referring to the whole `<div>`?) instead of marking each line separately.

[2017-06-07 18:08] jds15 commented on #280
agree useful as described but not urgent. have no opinion about use in DCLP, but want to be sure that we dont produce unintended mess in DDbDP apps

--
Associate Professor in Class
ical Studies & History, Duke
University | Duke Collaborat
ory for Classics Computing |
Greek, Roman and Byzantine S
tudies | Duke Data Bank of D
ocumentary Papyri | papyri.i
nfo | people.duke.edu/~jds15<http://people.du

[2017-06-07 18:16] HolgerEssler commented on #63
Another solution would be to handle this g-type in analogy with what we are doing in the case of ancient punctuation (#67), where we have e.g. period next to ((low-punctus)). Thus here we could have π]αρ’ ((apostrophe)) to show that the accent is present in the original.

[2017-06-07 18:39] rla2118 commented on #63
This would mean, I presume, that double consonants divided by an apostrophe would look something like, e.g., Λόγ((apostrophe))γου, which I don't like. I'd in fact prefer redundant apostrophes to that.

[2017-06-07 18:59] paregorios commented on #280
It's trivial to implement output of lunate sigma in apparatus at this point; we've already done the code archaeology. There are other knock-on questions:

  - apply the change only for DCLP, or for all collections (i.e., DCLP and DDB)
  - should we expand coding repertoire (with implications for XML encoding, XSLT, Leiden++) to facilitate markup of the sigma letter form throughout so that this can

[2017-06-07 20:13] paregorios commented on #152
@wsalesky let's proceed with the following:

 - For ```<lb rend="inverse"```, output: "(inverse)" at the beginning of the line.
 - For ```<lb rend="perpendicular"```, output: "(perpendicular)" at the beginning of the line.

I will undertake to create separate tickets for "mimf" and "msup".

[2017-06-08 10:46] rla2118 opened #281 "Translation submitted but not appearing in voting"
This issue concerns http://litpap.info/editor/publications/588

We submitted a translation via the editor, but it does not appear in voting. IOW, it has disappeared.

[2017-06-08 13:25] rogerbagnall commented on #280
I'd suggest we discuss this live with Josh next week. It seems to me that consistency across DCLP and DDBDP would be desirable, but I'm not sure what implications there might be for the latter.

[2017-06-08 13:35] jds15 commented on #280
Sure. With the weeks remaining priority here will have to go to basic functional deployment. So, suggest that all things like this one (helpful but not essential) be arranged in rank order. Have the conversion scripts, XSLT, etc ready to go. Then, we can start marching down that list once we are running smoothly.

--
Associate Professor in Class
ical Studies & History, Duke
University | Duke Colla

[2017-06-08 15:05] wsalesky commented on #118
**XSLT Updated:**  `epidoc-xslt/example-p5-xslt/tpl-apparatus.xsl`
Edited `<xsl:template name="hirend">` to look for `parent::following-sibling/preceding-sibling` axis if there are no `following-sibling/preceding-sibling` of the current element (t:hi).

**Branch:** `https://github.com/DCLP/epidoc-xslt/tree/issue118-refactor`

**HTML files changed:**
[code]

**HTML output:**

^ v.3-4. l. εἱ|στήκει

[2017-06-08 15:22] wsalesky commented on #152
**XSLT Changed:**  `epidoc-xslt/example-p5-xslt/htm-teilb.xsl`
Added xsl:choose for rend='inverse' and rend='perpendicular'

**Branch:**
`https://github.com/DCLP/epidoc-xslt/tree/issue152`

**HTML Changed:**
`modified:   output/dclp/129/128952.html`

**HTML diff:**
[code]

Ready for review. @paregorios

[2017-06-09 15:11] wsalesky commented on #135
@paregorios Is there a group of TEI records that you have been using to test this sort feature on?

[2017-06-09 15:25] wsalesky commented on #130
@paregorios Can I ask for clarification of the logic here? How should `t:hi` elements be rendered in the apparatus when they are children of `t:subst`?

Are the following also rendering incorrectly?
http://dclp.github.io/dclpxsltbox/output/dclp/129/128972.html#to-app-subst01

http://dclp.github.io/dclpxsltbox/output/dclp/155/154385.html#to-app-subst02

http://dclp.github.io/dclpxsltbox/output/dclp

[2017-06-09 20:43] paregorios commented on #277
This was resolved with https://github.com/DCLP/idp.data/pull/9

[2017-06-09 20:43] #277 closed

[2017-06-09 21:11] paregorios commented on #163
this is resolved

[2017-06-09 21:11] #163 closed

[2017-06-09 21:27] paregorios commented on #152
The new code makes the desired change by adding the string (inverse) to the text node inside ```<span class="lb inverse">```. Unfortunately, [there is a rule in master.css](https://github.com/DCLP/navigator/blob/master/pn-site/css/master.css#L383) that sets the display value for this element to "none", so the user doesn't see the effect of this change:

```.lb {display:none;}```

@wsalesky: maybe

[2017-06-09 21:38] paregorios commented on #118
resolved

[2017-06-09 21:38] #118 closed

[2017-06-09 21:39] paregorios commented on #280
Marking "priority: low (defer)" for now, per comment from @jds15

[2017-06-09 21:50] paregorios commented on #135
@wsalesky These have principal edition, reference edition, and previous edition together:

 - 59137
 - 63306
 - 63976
 - 64757
 - 64896

These have everything except principal edition:

 - 59468
 - 59749
 - 59754
 - 62390
 - 62393
 - 62394
 - 62400
 - 62402
 - 62411
 - 62419
 - 62429
 - 62433
 - 62436
 - 62437
 - 62439
 - 62445
 - 62448
 - 62460
 - 62471
 - 62474
 - 62476
 - 62477
 - 62478
 - 6251

[2017-06-09 21:53] paregorios commented on #133
#245 has not yet been addressed, and we are running out of time to start integration testing. As this seems a minor enhancement, recommend defer.

[2017-06-09 22:09] paregorios commented on #130
@wsalesky I will have to get the papyrologists to weigh in on whether the indicated output is what they all want.

[2017-06-13 15:44] paregorios opened #282 "missing diacriticals in multiple texts"
Papyrologists: what is the **right** way to do this?

This issue is a blocker for resolution of #130.

In sorting through issue #130, I believe I have discovered that encoding practice for dealing with lenis, asper, etc. in the original witness is inconsistent across the corpus. Take, for example, lenis. In DDB we find the following examples in 10 texts:

 - [BGU 3.715](https://github.com/DCLP/idp

[2017-06-13 15:45] paregorios commented on #130
further progress on this ticket is blocked for resolution of #282

[2017-06-13 15:55] jds15 commented on #282
I might not follow entirely, but… Do not expect consistency between unicode and Hi@. <hi rend="lenis”> represents what the scribe wrote in antiquity on the papyrus. The Unicode chars, whether they agree with what the scribe wrote or not, represent what the modern editor printed in the edition.

this help?

--
Associate Professor in Class
ical Studies & History, Duke
University | Duke Collaborat
or

[2017-06-14 15:05] rla2118 commented on #282
Josh is right.  Spot-checking some of the TM numbers that were said to have inconsistent elements didn't turn up any real inconsistencies. They were cases where <hi rend="lenis”> and the Unicode lenis did not coincide.

[2017-06-14 16:34] paregorios commented on #282
Thanks both for explaining and checking. Your answers will help us narrow down what the real issue is for #130.

[2017-06-14 17:50] jds15 commented on #282
At #130 I see:
= = =

Leiden+: <:<# Α( ᾿)σμβ=1242#>|subst|<# Α( ᾿)σμγ=1243#>:>

Displayed
corr. ex Α(ἀ)σμγ : ἀσμβ papyrus

Expected to see:
corr. ex Ασμγ : ἀσμγ papyrus : ἀσμβ papyrus
= = =

For last I think *I* expect to see:
Text: Aσμβ
app: corr. ex Ασμγ ; Α᾿σμγ papyrus

*Really* I don’t expect to see ancient lenis on numbers at all. But if there were an analogous example with words rather t

[2017-06-15 13:48] wsalesky commented on #135
@paregorios
Just to clarify, we want a single heading with each item in the group in a `<ul>` and sorted by date? Or just output in document order?

[2017-06-15 15:20] wsalesky commented on #152
Okay I added additional styles to the css.
See branches:
https://github.com/DCLP/dclpxsltbox/tree/issue152
https://github.com/DCLP/navigator/tree/issue152

[2017-06-15 16:10] wsalesky commented on #158
@paregorios
What is the status of this ticket? Has there been a resolution on the desired display, and the underlying XML? Any data available that I can use to test?

[2017-06-15 16:33] wsalesky commented on #63
@paregorios
A few clarifying questions:

- The original question is for

- Is this in the editor, or is this the XSLT that handles the following output: http://dclp.github.io/dclpxsltbox/output/dclp/65/64473.html

- Also is the intention to change the display in the apparatus (adding it to the apparatus), or in the text display?

- Is the consensus to have the example output as: π]αρ’ instead of π